{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div>
                <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                    <div class="breeder-column__main_section_body">
                        <h2>{{ breeder.licenseHouseName }}</h2>
                        <div class="d-flex">
                            {{ include('animalline/components/_rating_block.twig', { 'point': breeder.breederRank() }, ignore_missing = false) }}
                        </div>
                        <div>
                            <div class="row mb-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <img src="{{ app.request.schemeAndHttpHost ~ (breeder.thumbnailPath | default | length > 0 ? breeder.thumbnailPath : '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                         class="w-100">
                                    <div class="d-block d-sm-none m-2 p-2"></div>
                                </div>
                            </div>
                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                基本情報
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        運営者氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederName }}({{ breeder.breederKana }})
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        取扱ペット種別
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if breeder.handlingPetKind == 0 %}犬・猫
                                        {% elseif breeder.handlingPetKind == 1 %}犬
                                        {% elseif breeder.handlingPetKind == 2 %}猫
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {# <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        電話番号
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederTel }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.breederFax %}
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            FAX番号
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederFax }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %} #}
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        住所
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederPref }}
                                        {{ breeder.breederCity }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.handlingPetKind == 0 or breeder.handlingPetKind == 1 %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    犬舎情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            運営者名
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederHouseNameDog }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            犬舎住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ dogHouse.breederHousePref }}
                                            {{ dogHouse.breederHouseCity }}
                                            {{ dogHouse.breederHouseAddress }}
                                            {{ dogHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if breeder.handlingPetKind == 0 or breeder.handlingPetKind == 2 %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    猫舎情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            運営者氏名
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederHouseNameCat }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            猫舎住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ catHouse.breederHousePref }}
                                            {{ catHouse.breederHouseCity }}
                                            {{ catHouse.breederHouseAddress }}
                                            {{ catHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                登録証情報
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        運営責任者氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        登録証番号
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseNo }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        事業所名称
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseHouseName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        事業所所在地
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licensePref }}
                                        {{ breeder.licenseCity }}
                                        {{ breeder.licenseAddress }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        動物取扱者証氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseManagerName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        登録日
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseRegistDate| date('Y/m/d') }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        期限
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseExpireDate| date('Y/m/d') }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.prText %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    自己PR
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 contents_col_normal">
                                            {{ breeder.prText | nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if breeder.regalEffort %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    動物愛護法改正への対応
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 contents_col_normal">
                                            {{ breeder.regalEffort | nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="breeder-column__main_section_title">
                    <h3>このブリーダーが扱うペット一覧</h3>
                </div>
                <div class="breeder-column__main_section_body">
                    <ul>
                        {% for pet in pets %}
                            <li>
                                <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                                    <figure>
                                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                             class="card-img-top" alt="Pet-image">
                                    </figure>
                                    <h4>{{ pet.getBreedsType().getBreedsName() ?? '' }}</h4>
                                    <div class="birthday">{{ pet.petBirthday|date('Y年m月d日') }}生</div>
                                    <div class="type">
                                        <span>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</span><span>{{ pet.coatColor ?? '' }}</span>
                                    </div>
                                    <div class="publish">掲載日：{{ pet.releaseDate|date('Y年m月d日') }}</div>
                                    <div class="price">{{ pet.price|number_format(0) }}円（税込）</div>
                                    <p>{{ pet.prComment|nl2br }}</p>
                                </a>
                            </li>
                        {% else %}
                            <span class="mb-2">結果が０件です。</span>
                        {% endfor %}
                    </ul>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pets) }}
                </div>
                <div class="breeder-column__main_section_title">
                    <h3>{{ breeder.breederName }}ブリーダーの評価({{ evaluationCount }}件)</h3>
                </div>
                <div class="breeder-column__main_section_body">
                    {% for evaluation in evaluations %}
                        <div class="evl">
                            <div class="evlHeader">
                                お迎えいただいた子犬：
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : evaluation.Pet.BreedsType.id }) }}">
                                    {{ evaluation.Pet.BreedsType.BreedsName }}
                                </a>
                            </div>
                            <div class="evlData d-flex">
                                <span class="mr-3">
                                    評価：
                                    <!-- 0 star or 1 star -->
                                    <i class="{{ evaluation.EvaluationValue == 0 ? 'far fa-star' :  'fas fa-star' }}"></i>
                                    <!-- 2 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 2 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 3 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 3 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 4 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 4 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 5 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 5 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    {{ evaluation.EvaluationValue }}
                                </span>
                                <span class="mr-3">評価者：{{ evaluation.Customer.name01 }}{{ evaluation.Customer.name02 }}様</span>
                                <span>評価日時：{{ evaluation.createDate|date('Y/m/d H:i') }}</span>
                            </div>
                            <div class="evlMessage">
                                <div>{{ evaluation.EvaluationMessage|nl2br }}</div>
                                {% if evaluation.ImagePath %}
                                    <img class="mt-2" alt="..." img src="{{ evaluation.ImagePath}}">
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <span class="mb-2">結果が０件です。</span>
                    {% endfor %}
                    {% if evaluationCount > 3 %}
                        <a class="evlMoreButton" href="{{ url('breeder_evaluation', {'breeder_id': breeder.id}) }}">もっと見る</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
