{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div>
                <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                    <div class="breeder-column__main_section_body">
                        <h2>{{ breeder.licenseHouseName }}</h2>
                        <div class="d-flex">
                            {{ include('animalline/components/_rating_block.twig', { 'point': breeder.breederRank() }, ignore_missing = false) }}
                        </div>
                        <div>
                            <div class="row mb-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <img src="{{ app.request.schemeAndHttpHost ~ (breeder.thumbnailPath | default | length > 0 ? breeder.thumbnailPath : '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                         class="w-100">
                                    <div class="d-block d-sm-none m-2 p-2"></div>
                                </div>
                            </div>

                            <div class="btn btn-breeder__inquiries">
                                <a href="{{ url('breeder_nopet_contact', {'breeder_id': breeder.Id}) }}">{{ breeder.breederName }}ブリーダーへのお問い合わせ</a>
                            </div>

                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                基本情報
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        運営者氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederName }}({{ breeder.breederKana }})
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        取扱ペット種別
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if breeder.handlingPetKind == 0 %}犬・猫
                                        {% elseif breeder.handlingPetKind == 1 %}犬
                                        {% elseif breeder.handlingPetKind == 2 %}猫
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        飼育犬種・猫種
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breedingPets }}
                                    </div>
                                </div>
                            </div>
                            {# <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        電話番号
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederTel }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.breederFax %}
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            FAX番号
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederFax }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %} #}
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        住所
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.breederPref }}
                                        {{ breeder.breederCity }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.handlingPetKind == 0 or breeder.handlingPetKind == 1 %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    犬舎情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            運営者名
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederHouseNameDog }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            犬舎住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ dogHouse.breederHousePref }}
                                            {{ dogHouse.breederHouseCity }}
                                            {{ dogHouse.breederHouseAddress }}
                                            {{ dogHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    見学地情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            見学地住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ dogHouse.breederHousePref }}
                                            {{ dogHouse.breederHouseCity }}
                                            {{ dogHouse.breederHouseAddress }}
                                            {{ dogHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            見学の方法
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            取り扱いペット詳細画面よりお問い合わせの上見学日程の調整を行ってください。
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                            {% if breeder.handlingPetKind == 0 or breeder.handlingPetKind == 2 %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    猫舎情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            運営者氏名
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ breeder.breederHouseNameCat }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            猫舎住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ catHouse.breederHousePref }}
                                            {{ catHouse.breederHouseCity }}
                                            {{ catHouse.breederHouseAddress }}
                                            {{ catHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                </div>

                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    見学地情報
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            見学地住所
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            {{ catHouse.breederHousePref }}
                                            {{ catHouse.breederHouseCity }}
                                            {{ catHouse.breederHouseAddress }}
                                            {{ catHouse.breederHouseBuillding ?? '' }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-4 contents_col_bold">
                                            見学の方法
                                        </div>
                                        <div class="col-12 col-md-8 contents_col_normal">
                                            取り扱いペット詳細画面よりお問い合わせの上見学日程の調整を行ってください。
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                登録証情報
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        登録証氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        登録証番号
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseNo }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        事業所名称
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseHouseName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        事業所所在地
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licensePref }}
                                        {{ breeder.licenseCity }}
                                        {{ breeder.licenseAddress }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        動物取扱責任者の氏名
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseManagerName }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        登録日
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseRegistDate| date('Y/m/d') }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        期限
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ breeder.licenseExpireDate| date('Y/m/d') }}
                                    </div>
                                </div>
                            </div>
                            {% if breeder.prText %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    自己PR
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 contents_col_normal">
                                            {{ breeder.prText | nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if breeder.regalEffort %}
                                <div class="breeder_section_header">
                                    <i class="fas fa-paw"></i>
                                    動物愛護法改正への対応
                                </div>
                                <div class="col-12 breeder_section_detail">
                                    <div class="row">
                                        <div class="col-12 contents_col_normal">
                                            {{ breeder.regalEffort | nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="btn btn-breeder__inquiries">
                    <a href="{{ url('breeder_nopet_contact', {'breeder_id': breeder.Id}) }}">{{ breeder.breederName }}ブリーダーへのお問い合わせ</a>
                </div>

                <div class="ec-select" style="margin-top: 10px" id="pets">
                    <select name="filter_status" onchange="location.href = `?filter_status=${this.value+'#pets'}`">
                        <option value="1">全件</option>
                        <option value="2" {{ filter_status == 2 ? 'selected' }}>
                            販売中
                        </option>
                        <option value="3" {{ filter_status == 3 ? 'selected' }}>
                            検査中
                        </option>
                        <option value="4" {{ filter_status == 4 ? 'selected' }}>
                            成約済
                        </option>
                    </select>
                </div>
                <div class="breeder-column__main_section_title">
                    <h3>このブリーダーが扱うペット一覧</h3>
                </div>
                <div class="breeder-column__main_section_body">
                    <ul>
                        {% for pet in pets %}
                            <li>
                                <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                                    {% if pet.isContract == 1 or pet.isDelete == 1 %}
                                    <div class="tags">
                                    <ul>
                                        <li class="tag_contract"><span>成約済</span></li>
                                    </ul>
                                    </div>
                                    {#
                                    {% elseif pet.dnaCheckResult == 0 %}
                                    <div class="tags">
                                    <ul>
                                        <li class="tag_new"><span>検査中</span></li>
                                    </ul>
                                    </div>
                                    #}
                                    {% elseif pet.isContact == 1 %}
                                    <div class="tags">
                                    <ul>
                                        <li class="tag_popular"><span>商談中</span></li>
                                    </ul>
                                    </div>
                                    {% endif %}

                                    <figure>
                                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                             class="card-img-top" alt="Pet-image">
                                    </figure>
                                    <h4>{{ pet.getBreedsType().getBreedsName() ?? '' }}</h4>
                                    <div class="birthday">{{ pet.petBirthday|date('Y年m月d日') }}生</div>
                                    <div class="type">
                                        <span>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</span><span>{{ pet.coatColor ?? '' }}</span>
                                    </div>
                                    <div class="publish">掲載日：{{ pet.createDate|date('Y年m月d日') }}</div>
                                    {% if pet.isContract == 1 or pet.isDelete == 1 %}
                                        <div class="price">---円（税込）</div>
                                    {% else %}
                                        {% if pet.getPriceNoDisplay() %}
                                            <div class="price">応相談</div>
                                        {% else %}
                                            <div class="price">{{ pet.price|number_format(0) }}円（税込）</div>
                                        {% endif %}
                                    {% endif %}
                                    <p>{{ pet.prComment|nl2br }}</p>
                                </a>
                            </li>
                        {% else %}
                            <span class="mb-2">結果が０件です。</span>
                        {% endfor %}
                    </ul>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
                <div class="breeder-column__main_section_title">
                    <h3>{{ breeder.breederName }}ブリーダーの評価({{ evaluationCount }}件)</h3>
                </div>
                <div class="breeder-column__main_section_body">
                    {% for evaluation in evaluations %}
                        <div class="evl">
                            <div class="evlHeader">
                                お迎えいただいた子犬：
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : evaluation.Pet.BreedsType.id }) }}">
                                    {{ evaluation.Pet.BreedsType.BreedsName }}
                                </a>
                            </div>
                            <div class="evlData d-flex">
                                <span class="mr-3">
                                    評価：
                                    <!-- 0 star or 1 star -->
                                    <i class="{{ evaluation.EvaluationValue == 0 ? 'far fa-star' :  'fas fa-star' }}"></i>
                                    <!-- 2 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 2 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 3 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 3 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 4 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 4 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    <!-- 5 star  -->
                                    <i class="{{ evaluation.EvaluationValue >= 5 ? 'fas fa-star' : 'far fa-star' }}"></i>
                                    {{ evaluation.EvaluationValue }}
                                </span>
                                <span class="mr-3">評価者：{{ evaluation.Customer.name01 }}{{ evaluation.Customer.name02 }}様</span>
                                <span>評価日時：{{ evaluation.createDate|date('Y/m/d H:i') }}</span>
                            </div>
                            <div class="evlMessage">
                                <div>{{ evaluation.EvaluationMessage|nl2br }}</div>
                                {% if evaluation.ImagePath %}
                                    <img class="mt-2" alt="..." img src="{{ evaluation.ImagePath}}">
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <span class="mb-2">結果が０件です。</span>
                    {% endfor %}
                    {% if evaluationCount > 3 %}
                        <a class="evlMoreButton" href="{{ url('breeder_evaluation', {'breeder_id': breeder.id}) }}">もっと見る</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section id="breeder-column">
        <section id="page-detail-content02" class="page-detail-content02_breeder">
            わんちゃん・ねこちゃんのお迎えには必ず対面をしていただきます。動物愛護法の定めにより、直接犬舎などに行く必要があります。<br />
            <div style="background-color: #dcedc8;margin:1rem 0;padding: 0.5rem 0.5rem"><h2>お迎えの手順</h2></div>


            <div class="page-detail-content02__body">
                <article id="content03">
                    <div class="text">
                        <h3 class="color03">1.探す</h3>
                        <p>「犬を探す」「猫を探す」から条件を指定して検索し、お気に入りのわんちゃん・猫ちゃんを見つけましょう。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img04.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>

                <article id="content03">
                    <div class="text">
                        <h3 class="color03">2. お問い合わせ</h3>
                        <p>気になるわんちゃん・ねこちゃんが見つかったら、詳細ページからブリーダーへ問い合わせましょう。問い合わせをすると、マイページよりブリーダーから連絡が来ます。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img05.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>

                <article id="content03">
                    <div class="text">
                        <h3 class="color03">3. 見学</h3>
                        <p>動物愛護法の定めにより、直接犬舎などに行く必要があります。マイページより見学日時の予約をしましょう。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img06.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>

                <article id="content03">
                    <div class="text">
                        <h3 class="color03">4. ご成約</h3>
                        <p>見学後、わんちゃん・ねこちゃんを迎えることを決めたら、ブリーダーへ購入意思をお伝えください。その際、支払い方法や引き渡し日を確認しましょう。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img07.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>

                <article id="content03">
                    <div class="text">
                        <h3 class="color03">5. 特典の申請</h3>
                        <p>ご成約後、マイページよりプレミアムフード等をプレゼントする「ご成約特典」のお申し込みができます。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img08.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>

                <article id="content03">
                    <div class="text">
                        <h3 class="color03">6. お迎え</h3>
                        <p>ブリーダーとお約束の日時にわんちゃん・ねこちゃんをお迎えします。</p>
                    </div>
                    <figure><img src="{{ asset('assets/img/breeder/breeder-img09.jpg') }}" alt="健康面での安心・安全"/></figure>
                </article>
            </div>
        </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
