{% set site_type = 'breeder' %}
{% set params = app.request.query.all %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="section-search">
        <div class="main">
            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                <nav class="nav nav-pills search-nav m-2 d-none d-flex">
                    <a class="nav-item nav-link active bg-breeder col-md-3"
                    href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h2 class="text-white text-align-center">犬を飼育</h2>
                    </a>
                    <a class="nav-item nav-link border bg-white col-md-3"
                    href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                <h2 class="color-gray-300 text-align-center">猫を飼育</h2>
                    </a>
                </nav>
            {% else %}
                <nav class="nav nav-pills search-nav m-2 d-none d-flex">
                    <a class="nav-item nav-link px-5 py-2 border bg-white col-md-3"
                    href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h2 class="color-gray-300 text-align-center">犬を飼育</h2>
                    </a>
                    <a class="nav-item nav-link active bg-breeder px-5 py-2 col-md-3"
                    href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                        <h2 class="text-white text-align-center">猫を飼育</h2>
                    </a>
                </nav>
            {% endif %}
            <div class="m-2 p-2"></div>
            <form action="{{ url('breeder_search') }}" method="get">
                <input type="hidden" name="pet_kind" value="{{ petKind }}">
                <div class="row">
                    <div class="col-md-5 select-container mb-2 mb-sm-none">
                        <select class="form_dropdown w-100" id="formControlSelect1" name="breed_type">
                            <option value="">種類</option>
                            {% for breed in breeds %}
								    <option value="{{ breed.id }}" {% if params.breed_type is defined and params.breed_type== breed.id
								    %} selected {% endif %}>{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 select-container">
                        <select class="form_dropdown w-100" id="formControlSelect3" name="region">
                                <option value="">都道府県</option>
                                {% for region in regions %}
                                    <option value="{{ region.id }}" {% if params.region is defined and params.region == region.id
                                    %} selected {% endif %}>{{ region.name }}</option>
                                {% endfor %}
                        </select>
						<label><input type="checkbox" name="adjacent" value="1" {% if params.adjacent is defined and params.adjacent == 1
							%} checked {% endif %}> 隣の都道府県も検索</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="breeder_house_name" placeholder="ブリーダー名" class="form-control w-80 p-2 h-15" name="license" 
                               {% if params.license is defined %} value="{{ params.license }}" {% endif %}>
                    </div>
                </div>
                <div class="row">
                    <div style="margin: 0 auto;">
                        <a href="#">
                            <button class="search_button bg-accent mt-3">検索する</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="m-4 p-4"></div>
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-500">検索結果</h2>
        </div>
    </div>
    <div class="m-2 p-2"></div>
    {% for breeder in breeders %}
    <div class="row ml-2">
        <div class="breeder-img col-md-3 col-sm-4">
            <img src="{{ app.request.schemeAndHttpHost ~ (breeder.thumbnailPath | default | length > 0 ? breeder.thumbnailPath : '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}" class="w-100 mb-4 mb-sm-0">
        </div>
        <div class="breeder-info col-sm-8">
            <h3 class="font-weight-500 color-gray-500">{{ breeder.licenseHouseName }}ブリーダー</h3>
            <div class="m-1 p-1"></div>
            <div class="d-flex">
                <h4>総合評価</h4>
                <div class="m-1 p-1"></div>
                <img src="/html/template/default/assets/img/star-icon.svg">
                <div class="m-1 p-1"></div>
                <h4>{{ breeder.breederRank }}</h4>
            </div>
            <div class="m-1 p-1"></div>
            <div class="d-flex">
                <h4>動物取扱業登録番号：</h4>
                <h4>{{ breeder.licenseNo }}</h4>
                <div class="m-1 p-1"></div>
                <h4>登録：</h4>
                <h4>{{ breeder.licenseRegistDate | date('Y/m/d') }}</h4>
            </div>
            <div class="m-1 p-1"></div>
            <div class="d-flex">
                <h4>有効期限：</h4>
                <h4>{{ breeder.licenseExpireDate | date('Y/m/d') }}</h4>
                <div class="m-1 p-1"></div>
                <h4>動物取扱責任者：</h4>
                <h4>{{ breeder.licenseManagerName }}</h4>
            </div>
            <div class="m-1 p-1"></div>
            <div class="d-flex">
                <h4>犬舎所在地：</h4>
                {% set breederHouseDog = breeder.getBreederHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                {% set breederHouseCat = breeder.getBreederHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')) %}
                {% if (breeder.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT')) %}
                    <h4>{{ breederHouseDog.breederHousePref ~ breederHouseDog.breederHouseCity ?? '' ~ ' ' ~ breederHouseCat.breederHousePref ~ breederHouseCat.breederHouseCity ?? '' }}</h4>
                {% elseif (breeder.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                    <h4>{{ breederHouseDog.breederHousePref ~ breederHouseDog.breederHouseCity ?? '' }}</h4>
                {% else %}
                    <h4>{{ breederHouseCat.breederHousePref ~ breederHouseCat.breederHouseCity ?? '' }}</h4>
                {% endif %}
            </div>
            <div class="m-1 p-1"></div>
            <div class="d-flex">
                <h4>審査ステータス：</h4>
                {% if breeder.examinationStatus() == constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_NOT_SUBMIT') %}
                    <h4>審査前</h4>
                {% elseif breeder.examinationStatus() == constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_NOT_CHECK') %}
                    <h4>審査中</h4>
                {% elseif breeder.examinationStatus() == constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_CHECK_OK') %}
                    <h4>審査OK</h4>
                {% elseif breeder.examinationStatus() == constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_CHECK_NG') %}
                    <h4>審査NG</h4>
                {% endif %}
            </div>
            <div class="m-2 p-2"></div>
            <a href="{{ url('breeder_detail', {'breeder_id': breeder.Id}) }}">
                <h4 class="color-breeder">ブリーダー詳細ページへ</h4>
            </a>
        </div>
    </div>
    <div class="m-2 p-2"></div>
    <div class="row">
        <div class="col-12">
            <p>
                {{ breeder.prText }}
            </p>
        </div>
    </div>
    {% else %}
        検索条件に該当するブリーダーが存在しません。
    {% endfor %}
    <div class="navigation float-right">
        {{ knp_pagination_render(breeders) }}
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
