{% set site_type = 'breeder' %}
{% set params = app.request.query.all %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    {#
    <section id="breeder-mv">
        <div class="inner">
            <div class="breeder-mv__container">
                <div class="breeder-mv__text">
                    <div class="breeder-mv__text_btn">
                        <ul>
                            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                                <li class="breeder-mv__text_btn_dog">
                                    <span><i>ワンちゃんを飼育</i></span>
                                </li>
                                <li class="breeder-mv__text_btn_cat">
                                    <a href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                                        <i>ネコちゃんを飼育</i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="breeder-mv__text_btn_dog">
                                    <a href="{{ url('breeder_search', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                                        <i>ワンちゃんを飼育</i>
                                    </a>
                                </li>
                                <li class="breeder-mv__text_btn_cat">
                                    <span><i>ネコちゃんを飼育</i></span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <h2></h2>
                    <div class="breeder-mv__text_logo">
                        <img src="{{ asset('assets/img/breeder-mv-logo.png') }}" alt="Animalline Breeder"/>
                    </div>
                    <p>ペットとつながる信頼の絆</p>
                    
                </div>
                <div class="breeder-mv__search">
                    <div class="breeder-mv__search_wrap breeder-mv__search_dog">
                        <div class="breeder-mv__search_title breeder_search">
                            <h2>ブリーダーを探す</h2>
                        </div>
                        <div class="breeder-mv__search_body">
                            <form action="{{ url('breeder_search') }}" method="get">
                                <input type="hidden" name="pet_kind" value="{{ petKind }}">
                                <div class="breeder-mv__search_top">
                                    <div class="select-container">
                                        <select class="form_dropdown w-100" id="formControlSelect1" name="breed_type">
                                            <option value="">種類</option>
                                            {% for breed in breeds %}
                                                <option value="{{ breed.id }}" {% if params.breed_type is defined and params.breed_type== breed.id %} selected {% endif %}>
                                                    {{ breed.breedsName }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="breeder-mv__search_bottom">
                                    <div class="breeder-mv__search_bottom_w50">
                                        <div class="select-container">
                                            <select class="form_dropdown w-100" id="formControlSelect3" name="region">
                                                <option value="">都道府県</option>
                                                {% for region in regions %}
                                                    <option value="{{ region.id }}" {% if params.region is defined and params.region == region.id %} selected {% endif %}>
                                                        {{ region.name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label>
                                            <input type="checkbox" name="adjacent"
                                                   value="1" {% if params.adjacent is defined and params.adjacent == 1 %} checked {% endif %}>
                                            隣の都道府県も検索
                                        </label>
                                    </div>
                                    <div class="breeder-mv__search_bottom_w50">
                                        <div class="select-container">
                                            <input type="text" id="breeder_house_name" placeholder="ブリーダー名"
                                                   class="form_input w-100"
                                                   name="license" {% if params.license is defined %} value="{{ params.license }}" {% endif %}>
                                        </div>
                                    </div>
                                </div>
                                <div class="breeder-mv__search_btn">
                                    <button><i class="bi bi-check2-square"></i>この条件で検索する</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    #}

    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                <div class="breeder-column__main_section_title">
                    <h3>検索結果</h3>
                </div>
                <div class="breeder-column__main_section_body">
                    {% for breeder in breeders %}
                        <div class="row ml-2 mb-4">
                            <div class="breeder-img col-md-3 col-sm-4">
                                {# <a href="{{ url('breeder_detail', {'breeder_id': breeder.Id}) }}"> #}
                                <img src="{{ app.request.schemeAndHttpHost ~ (breeder.thumbnailPath | default | length > 0 ? breeder.thumbnailPath : '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                     class="w-100 mb-4 mb-sm-0">
                                {# </a> #}
                            </div>
                            <div class="breeder-info col-sm-8">
                                <h4 class="font-weight-500 color-gray-500 mb-3">
                                    {{ breeder.licenseHouseName }}
                                </h4>
                                <div class="d-flex mb-1">
                                    {{ include('animalline/components/_rating_block.twig', { 'point': breeder.breederRank() }, ignore_missing = false) }}
                                </div>
                                <div class="d-flex mb-1">
                                    <h6>動物取扱業登録番号：</h6>
                                    <h6>
                                        {{ breeder.licenseNo }}
                                    </h6>
                                    <div class="m-1 p-1"></div>
                                    <h6>登録：</h6>
                                    <h6>
                                        {{ breeder.licenseRegistDate | date('Y/m/d') }}
                                    </h6>
                                </div>
                                <div class="d-flex mb-1">
                                    <h6>有効期限：</h6>
                                    <h6>
                                        {{ breeder.licenseExpireDate | date('Y/m/d') }}
                                    </h6>
                                    <div class="m-1 p-1"></div>
                                    <h6>動物取扱責任者：</h6>
                                    <h6>
                                        {{ breeder.licenseManagerName }}
                                    </h6>
                                </div>
                                <div class="d-flex mb-1">
                                    <h6>犬舎所在地：</h6>
                                    {% set breederHouseDog = breeder.getBreederHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                                    {% set breederHouseCat = breeder.getBreederHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')) %}
                                    {% if (breeder.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT')) %}
                                        <h6>
                                            {{ breederHouseDog.breederHousePref ~ breederHouseDog.breederHouseCity ?? '' ~ ' ' ~ breederHouseCat.breederHousePref ~ breederHouseCat.breederHouseCity ?? '' }}
                                        </h6>
                                    {% elseif (breeder.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                                        <h6>
                                            {{ breederHouseDog.breederHousePref ~ breederHouseDog.breederHouseCity ?? '' }}
                                        </h6>
                                    {% else %}
                                        <h6>
                                            {{ breederHouseCat.breederHousePref ~ breederHouseCat.breederHouseCity ?? '' }}
                                        </h6>
                                    {% endif %}
                                </div>
                                <a href="{{ url('breeder_detail', {'breeder_id': breeder.Id}) }}">
                                    <h5 class="color-breeder font-weight-600 mt-3">ブリーダー詳細ページへ</h5>
                                </a>
                            </div>
                        </div>
                        <div class="btn btn-breeder__inquiries">
                            <a href="{{ url('breeder_nopet_contact', {'breeder_id': breeder.Id}) }}">{{ breeder.breederName }}ブリーダーへのお問い合わせ</a>
                        </div>
                        {% if breeder.prText %}
                            <div class="row ml-2 mb-4">
                                <div class="col-12 p-2" style="background:#fff3dd">
                                    <h6 style="border-bottom: 1px dotted #cd8362; color:#cd8362;">PRコメント</h6>
                                    <h6>{{ breeder.prText |nl2br }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        検索条件に該当するブリーダーが存在しません。
                    {% endfor %}
                </div>
                <div class="navigation float-right">
                    {{ knp_pagination_render(breeders, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
