{% set site_type = 'common' %}
{% set base_template = 'animalline/breeder/frame.twig' %}
{% extends base_template %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/dna/common.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/dna/page.css') }}">
    <style>
    .btn,
    a.btn,
    button.btn {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.5;
      position: relative;
      display: inline-block;
      padding: 1.5rem 2rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 0.1em;
      color: #212529;
      border-radius: 0.5rem;
    }

    .btn--orange,
    a.btn--orange {
      color: #fff;
      background-color: #ED6C00;
    }
    .btn--orange:hover,
    a.btn--orange:hover {
      color: #fff;
      background: #ED6C00;
    }
    </style>
{% endblock %}

{% block main %}
   <div class="page-inner page-inner_dna">
    
    <section id="page-mv__dna" class="page-mv">
      <div class="inner">
        <h2><img src="{{ asset('assets/img/dna/dna-mv-title.png') }}" alt="遺伝子検査"/></h2>
      </div>
    </section>
    
    <section id="dna-content01">
      <div class="dna-content01__title"><h3>ペットと人の絆に安心・安全を!</h3></div>
      <div class="dna-content01__body">
        <p><span>アニマルライン最大の特長は、</span><br>
        <strong>生体に対して遺伝病ＤＮＡ検査を実施し、ペットオーナーが安心して<br />購入・譲受できる環境を整えることです。</strong></p>
      </div>
    </section>
    
    <section id="dna-content02">
      <!--div class="inner"-->
        <div class="dna-content02__body">
          <article class="mh">
            <figure><img src="{{ asset('assets/img/dna/dna-icon01.png') }}" alt="遺伝子検査とは"/></figure>
            <h2>遺伝子検査とは</h2>
            <h3>遺伝子検査とは、<br>
            DNAの変異（突然変異）を<br>
            検出する検査のことを言います。</h3>
            <p>遺伝子検査を行うことで、遺伝子の変異によって発症する<br>
            遺伝性疾患のリスク判定が出来ます。<br>
            親から受け継いだ変異遺伝子を検査し、<br>
            将来発症する遺伝性の病気リスクを判定します。</p>
          </article>
          <article class="mh">
            <figure><img src="{{ asset('assets/img/dna/dna-icon02.png') }}" alt="遺伝子病とは"/></figure>
            <h2>遺伝病とは</h2>
            <h3>遺伝病とは、遺伝子が変異する<br>
            ことで発症する病気のことです。</h3>
            <p>染色体や遺伝子の変異によって発症する病気です。<br>
            親がもつ染色体や遺伝子の変異が子に伝わる（遺伝する）<br>
            場合と、親自身には全く変異がないにもかかわらず、<br>
            突然変異により、子の遺伝子・染色体に変異が生じ<br>
            病気になる場合があります。</p>
          </article>
        </div>
      <!--/div-->
    </section>
    
    <section id="dna-content03">
      <div class="inner">
        <div class="dna-content03__title">
          <h2>なぜ遺伝子検査を行なうのか</h2>
          <p>遺伝子検査を行う意義として大きく以下の3点が挙げられます。</p>
        </div>
        <div class="dna-content03__body">
          <article>
            <div class="wrap" style="margin: 0 auto 0 auto">
            <h3>治療や生活環境の指針を示す</h3>
            <p>例として下記のようなケースが挙げられます。</p>
            <ul>
              <li class="list-desc"><i class="bi bi-check"></i>治療に使う薬によっては<br />副作用が強く出る可能性がある</li>
              <li class="list-desc"><i class="bi bi-check"></i>手術具の止血が難しいため、<br />輸血が必要になる</li>
              <li class="list-desc"><i class="bi bi-check"></i>適切な給餌や検査を知れる</li>
            </ul>
            </div>
          </article>
          <article>
            <div class="wrap">
            <h3>発症リスクを知る</h3>
            <p>遺伝子検査を行うことによって遺伝病の発症リスクを知ることができ、遺伝性疾患に対する備えができます。事前にその病気のリスクを知ることで、定期検診を行うと共に、早期発見につながり、重症化の予防につながります。</p>
            </div>
          </article>
          <article>
            <div class="wrap">
            <h3>変異遺伝子を次世代に残さない</h3>
            <p>遺伝情報は両親から半分ずつ子に伝達されます。次の世代を繁殖する前に両親の遺伝子検査を行うことは、遺伝性疾患を将来の世代に増加させないために重要な意義があります。</p>
            </div>
          </article>
        </div>
        <div class="comment"><p>アニマルラインでは、遺伝子の検査結果によってペットのご成約の可否を判定しています。</p></div>
      </div>
    </section>
    
    <section id="dna-content06">
      <div class="inner">
        <div class="dna-content06__title">
          <h2>遺伝のイメージ</h2>
        </div>
        <div class="dna-content06__body">
          <article class="dna-content06__body_article01">
            <div class="dna-content06__body_article_title">
              <h3>常染色体優性（顕性）遺伝</h3>
            </div>
            <div class="dna-content06__body_article_body">
              <p>遺伝子の変異が1つ（ヘテロ）でも発症する遺伝病です。
              2つ（ホモ）変異が揃うとヘテロより重篤化、高発症率、早期発症する傾向があります。
              優性、劣性という呼び方は、遺伝子自体の優劣を指すものではありません。</p>
              <dl>
                <dt>ノーマル（クリア）</dt>
                <dd>2つの遺伝子がどちらも変異を持っていない場合です。
                その遺伝子変異が原因となる疾患の発症リスクは低く、またその遺伝子変異による疾患は後代に遺伝しません。</dd>
              </dl>
              <dl>
                <dt>ヘテロ接合（アフェクテッド）</dt>
                <dd>2つの遺伝子のうち1つが変異遺伝子の場合です。
                ただし、常染色体優性遺伝のため、その遺伝子変異が原因となる疾患の発症リスクは高いです。 ただし、ノーマル（クリア）の個体と掛け合わせた場合でも、
                対象となる疾患の発症リスクが高い子が生 まれる可能性があることに留意しなければなりません。</dd>
              </dl>
              <dl>
                <dt>ホモ接合（アフェクテッド）</dt>
                <dd>遺伝子が2つとも変異型の場合です。 
                その遺伝子変異が原因となる疾患の発症リスクが高いです。 ノーマル（クリア）の個体と掛け合わせた場合でも、全ての子が対象となる疾患の発症リスクが高くなります。</dd>
              </dl>
            </div>
            <div class="dna-content06__body_article_image">
              <div class="dna-content06__body_article_image_text">
                <p>遺伝子は父親と母親からそれぞれ受け継いだものがペアになっています。<br>
                  右図のように片側に変異を持つ場合はヘテロ接合となり、優性遺伝の場合は片側だけでもアフェクテッドとなります。</p>
                <figure><img src="{{ asset('assets/img/dna/dna-img01.png') }}" alt="変異ヘテロ接合"/></figure>
              </div>
              <figure><img src="{{ asset('assets/img/dna/dna-img03.png') }}" alt="常染色体優性（顕性）遺伝"/></figure>
            </div>
          </article>
          <article class="dna-content06__body_article02">
            <div class="dna-content06__body_article_title">
              <h3>常染色体劣性（潜性）遺伝</h3>
            </div>
            <div class="dna-content06__body_article_body">
              <p>遺伝子の変異が1つ（ヘテロ）の場合は遺伝病を発症しませんが、2つ（ホモ）の変異が揃うと発症するものを劣性遺伝病といいます。
              犬猫には劣性遺伝病が多いですが、変異を1つ持ったヘテロは発症しないために蔓延する可能性があります。
              優性、劣性という呼び方は、遺伝子自体の優劣を指すものではありません。
</p>
              <dl>
                <dt>ノーマル（クリア）</dt>
                <dd>2つの遺伝子がどちらも変異を持っていない場合です。
                その遺伝子変異が原因となる疾患の発症リスクは低いです。
                またその遺伝子変異による疾患は後代に 遺伝しません。</dd>
              </dl>
              <dl>
                <dt>キャリア</dt>
                <dd>2つの遺伝子のうち1つが変異遺伝子の場合です。
                その遺伝子変異が原因となる疾患の発症リスクは低いです。 
                ただし、他のキャリア、もしくはアフェクテッドの個体と掛け合わせると、対象となる疾患の発症リスクが高い 子が生まれる可能性があるため、配慮が必要です。</dd>
              </dl>
              <dl>
                <dt>アフェクテッド</dt>
                <dd>2つの遺伝子がどちらも変異型のみ検出される場合です。 その遺伝子変異が原因となる疾患の発症リスクは高いです。</dd>
              </dl>
            </div>
            <div class="dna-content06__body_article_image">
              <div class="dna-content06__body_article_image_text">
                <p>遺伝子は父親と母親からそれぞれ受け継いだものがペアになっています。<br>
                  右図のように片側に変異を持つ場合はヘテロ接合となり、劣勢遺伝の場合はキャリアと表記します。</p>
                <figure><img src="{{ asset('assets/img/dna/dna-img02.png') }}" alt="変異キャリア"/></figure>
              </div>
              <figure><img src="{{ asset('assets/img/dna/dna-img04.png') }}" alt="常染色体劣性（潜性）遺伝"/></figure>
            </div>
          </article>
        </div>
      </div>
    </section>
    
    <section id="dna-content07">
      <!--div class="inner"-->
        <div class="dna-content07__title">
          <h2>代表的な検査項目</h2>

          <a href="{{ url('breeder_dnacheck') }}" class="btn btn--orange">詳細はこちら</a>
        </div>
      <!--/div-->
    </section>
    
    </div>
{% endblock %}
{% block javascript %}{% endblock %}

    