{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                <div class="breeder-column__main_section_title ">
                    <svg width="24" height="35" class="heart-icon">
                        <path d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z"
                              stroke="#FF424F" stroke-width="1.5"
                              fill="none" fill-rule="evenodd"
                              stroke-linejoin="round"></path>
                    </svg>
                    <h4>お気に入り</h4>
                </div>
                <div class="breeder-column__main_section_body col-sm-10 m-auto">
                    {% for pet in pets %}
                        <div class="row mb-4 mt-4">
                            <div class="col-md-3 col-sm-4">
                                <img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet[0].thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                     class="w-100 mb-4 mb-sm-0 image" alt="...">
                                <span class="span-pet-type btn">
                                    {{ pet[0].petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex mb-2">
                                    <h6>{{ pet['contract_status'] == constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_CONTRACT') ? '売約済み' : '販売中' }}</h6>
                                </div>
                                <h3 class="font-weight-500 color-gray-500 mb-4">{{ pet[0].BreedsType.breedsName ?? '' }}</h3>
                                <div class="d-flex mb-2">
                                    <h6>{{ pet[0].petBirthday|date('Y年m月d日') }}生まれ</h6>
                                </div>
                                <div class="d-flex mb-2">
                                    <h6>{{ pet[0].Breeder.breederName ?? '' }}</h6>
                                </div>
                                <div class="d-flex mb-2">
                                    <h6 class="price">{{ pet[0].price }}円</h6>
                                </div>
                                <div class="d-flex mb-2">
                                    <h6>{{ pref[pet[0].id] ? pref[pet[0].id].breederHousePref : '' }}</h6>
                                </div>
                            </div>
                        </div>
                        {% if pet['contract_status'] is null  or pet['contract_status'] == constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_NONCONTRACT') %}
                            <div class="col-6 btn_center">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        <a href="{{ url('breeder_contact', {'pet_id': pet[0].id}) }}">
                                            <button class="btn basic-btn breeder-btn" style="height:65px;">
                                                この子犬の見学希望／お問い合わせ(無料)
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-6 btn_center contracted">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        <a href="{{ url('breeder_all_message') }}">
                                            <button class="btn basic-btn" style="height:65px;">
                                                問い合わせ済み／取引メッセージを見る
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <span class="mb-2">結果が０件です。</span>
                    {% endfor %}
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pets) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <style>
        .breeder-column__main_section_title h4{
            font-size:30px;
            color:black;
            display:inline-block;
            padding:0 0 0 5px;
            background-position:center left;
            background-repeat:no-repeat;
            background-size:contain;
        }

        .image {
            border-radius: 15%;
        }

        .span-pet-type {
            border: 1px solid #549B35;
            border-radius: 40px;
            position: absolute;
            top: 78%;
            left: -10%;
            background: white;
        }

        .contracted button {
            border: 1px solid #549B35;
            color: #549B35;
        }

        .contracted:hover button {
            color: #549B35;
        }

        .price {
            color: red
        }
    </style>
{% endblock %}
{% block javascript %}{% endblock %}