{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="page-inner">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">アニマルラインTOP</a></li>
                <li><i class="bi bi-chevron-right"></i>マイページ</li>
            </ul>
        </div>
        <div id="mypage-menu">
            <h1><i class="bi bi-heart"></i>お気に入りペット</h1>
        </div>
        <div class="mypage-service_list">
            <div class="mypage-service_list__content">
                <div class="mypage-service_list__content_body">
                    <ul>
                        {% for pet in pets %}
                            <li>
                                <a href="{{ url('breeder_pet_detail', {'id': pet[0].id}) }}">
                                    <div class="image">
                                        <figure>
                                            <img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet[0].thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                                 alt="犬"/>
                                        </figure>
                                        <div class="image-icon">
                                            {% if pet[0].petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') %}
                                                <span class="image-icon_male">男の子</span>
                                            {% else %}
                                                <span class="image-icon_female">女の子</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="text">
                                        <div class="status">
                                            {% if pet['contract_status'] == constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_CONTRACT') %}
                                                <span class="status-gray">売約済み</span>
                                            {% else %}
                                                <span class="status-green">販売中</span>
                                            {% endif %}
                                        </div>
                                        <div class="name">
                                            <h3>{{ pet[0].BreedsType.breedsName ?? '' }}</h3>
                                        </div>
                                        <div class="profile">
                                            <ul>
                                                <li>{{ pet[0].petBirthday|date('Y/m/d') }} 生まれ</li>
                                                <li>{{ pet[0].Breeder.breederName ?? '' }}</li>
                                            </ul>
                                        </div>
                                        <div class="price">
                                            <p>{{ pet[0].price|number_format(0) }}円（税込み)</p>
                                        </div>
                                        <div class="locale">
                                            <p>{{ pet['pref'] ? pet['pref'].breederHousePref : '' }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% if pet[0].Breeder.id != user.id %}
                                {% if pet['contract_status'] is null  or pet['contract_status'] == constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_NONCONTRACT') %}
                                    <div class="col-6 btn_center">
                                        <div class="row">
                                            <div class="col-12 contents_col_normal">
                                                <a href="{{ url('breeder_contact', {'pet_id': pet[0].id}) }}">
                                                    <button class="btn basic-btn breeder-btn" style="height:65px;">
                                                        この子犬の見学希望／お問い合わせ(無料)
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-6 btn_center contracted">
                                        <div class="row">
                                            <div class="col-12 contents_col_normal">
                                                <a href="{{ url('breeder_all_message') }}">
                                                    <button class="btn basic-btn" style="height:65px;">
                                                        問い合わせ済み／取引メッセージを見る
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <span class="mb-2">結果が０件です。</span>
                        {% endfor %}
                    </ul>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
        {#
        <div class="mypage-footer">
            <div class="polocy">
                <figure><img src="{{ asset('assets/img/mypage/privacy_d.gif') }}" alt="プライバシーマーク"/></figure>
                <p>〇〇〇〇は、個人情報の適切な管理をするプライバシーマーク付与事業者として認定されています。</p>
            </div>
        </div>
        #}
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
    <style>
        .contracted button {
            border: 1px solid #549B35;
            color: #549B35;
        }

        .contracted:hover button {
            color: #549B35;
        }
    </style>
{% endblock %}
{% block javascript %}{% endblock %}