{% set title = title|default('') %}
{% set maintitle = maintitle|default('') %}
{% set breadcrumb = breadcrumb|default('') %}
{% set description_add = description_add|default('') %}
{% set header_cnt = repository('Customize\\Entity\\Breeders').getBreederHeaderInfo() %}
{% set breederPet = breederPet|default('') %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    ytag({"type":"ycl_cookie"});
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 10929084835 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10929084835"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-10929084835');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XS8V5VVPRP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XS8V5VVPRP');
    </script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-212594413-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-212594413-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}">

    {% set request_uri = app.request.server.get('REQUEST_URI') %}
    {% set part_uri = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))[1:] %}
    {% set param_count = request_uri|split('pet_breed-area%5B%5D=')|length - 1 %}
    {% if part_uri == 'breeder/' %}
    <title>犬・猫ブリーダー直販サイトのアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルラインです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/info' %}
    <title>アニマルラインとは｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「アニマルラインとは」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/terms' %}
    <title>ブリーダー会員規約｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「ブリーダー会員規約」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=1' in request_uri %}
    <title>超小型犬の一覧｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「超小型犬の一覧」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=2' in request_uri %}
    <title>小型犬の一覧｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「小型犬の一覧」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=3' in request_uri %}
    <title>中型犬の一覧｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「中型犬の一覧」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=4' in request_uri %}
    <title>大型犬の一覧｜犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="犬・猫ブリーダー直販サイトのアニマルライン「大型犬の一覧」ページです。ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% elseif part_uri == 'breeder/pet/search/result' and 'page=' in request_uri %}
    <title>{{title}}の{{request_uri|split('page=')|last}}ページ目 | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="{{title}}の{{request_uri|split('page=')|last}}ページ目です。販売子犬・子猫の遺伝病リスク低減に努め、ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and param_count > 1 %}
    <title>ブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=20' in request_uri %}
    <title>長野県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="長野県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=21' in request_uri %}
    <title>岐阜県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="岐阜県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=22' in request_uri %}
    <title>静岡県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="静岡県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=23' in request_uri %}
    <title>愛知県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="愛知県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=24' in request_uri %}
    <title>三重県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="三重県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=25' in request_uri %}
    <title>滋賀県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="滋賀県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=26' in request_uri %}
    <title>京都府のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="京都府のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=27' in request_uri %}
    <title>大阪府のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="大阪府のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=28' in request_uri %}
    <title>兵庫県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="兵庫県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=29' in request_uri %}
    <title>奈良県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="奈良県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=30' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=31' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=32' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=33' in request_uri %}
    <title>岡山県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="岡山県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=34' in request_uri %}
    <title>広島県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="広島県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=35' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=36' in request_uri %}
    <title>徳島県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="徳島県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=37' in request_uri %}
    <title>香川県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="香川県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=38' in request_uri %}
    <title>愛媛県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="愛媛県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=39' in request_uri %}
    <title>高知県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="高知県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=40' in request_uri %}
    <title>福岡県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="福岡県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=41' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="ブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=42' in request_uri %}
    <title>長崎県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="長崎県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=43' in request_uri %}
    <title>熊本県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="熊本県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=44' in request_uri %}
    <title>大分県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="大分県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=45' in request_uri %}
    <title>宮崎県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="宮崎県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=46' in request_uri %}
    <title>鹿児島のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="鹿児島のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=47' in request_uri %}
    <title>沖縄県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="沖縄県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=10' in request_uri %}
    <title>群馬県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="群馬県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=11' in request_uri %}
    <title>埼玉県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="埼玉県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=12' in request_uri %}
    <title>千葉県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="千葉県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=13' in request_uri %}
    <title>東京都のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="東京都のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=14' in request_uri %}
    <title>神奈川県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="神奈川県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=15' in request_uri %}
    <title>新潟県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="新潟県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=16' in request_uri %}
    <title>富山県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="富山県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=17' in request_uri %}
    <title>石川県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="石川県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=18' in request_uri %}
    <title>福井県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="福井県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=19' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>
    
    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=1' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=2' in request_uri %}
    <title>青森県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="青森県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=3' in request_uri %}
    <title>岩手県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="岩手県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=4' in request_uri %}
    <title>宮城県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="宮城県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=5' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=6' in request_uri %}
    <title>山形県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="山形県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=7' in request_uri %}
    <title>福島県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="福島県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=8' in request_uri %}
    <title>茨城県のブリーダーを探す | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="茨城県のブリーダー検索ページです。販売⼦⽝‧⼦猫の遺伝病リスク低減に努め、ペットオーナーへ安⼼‧安全を提供すべく遺伝⼦検査を実施した⼦⽝‧⼦猫のみを掲載しております。">

    {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=9' in request_uri %}
    <title>{{title}} | 犬・猫ブリーダー直販のアニマルライン</title>

    {% else %}
    <title>{{ title }} | 犬・猫ブリーダー直販のアニマルライン</title>
    <meta name="description" content="{{ title }}ページです。販売子犬・子猫の遺伝病リスク低減に努め、ペットオーナーへ安心・安全を提供すべく遺伝子検査を実施した子犬・子猫のみを掲載しております。">
    {% endif %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/330557fe96.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/base-style.css') }}?v=20230131">

    <link rel="stylesheet" href="{{ asset('assets/css/common.css') }}?v=20230131">
    {% set pre_url = app.request.getUriForPath(app.request.pathInfo) %}
    {% set param_txt = "" %}
    {% set url = app.request.getUri %}
    {% set param = url|split('?') %}

    {% if param and param[1] is defined %}

      {% set params = param[1]|split('&') %}

      {% for p in params %}
        {% set ex = p|split('=') %}
        {% if ex[0] != 'pet_kind' and ex[0] != 'page' %}
          {% set param_txt = param_txt~"&"~p %}
        {% endif %}
      {% endfor %}

      {% if param_txt %}
        {% set pre_url = pre_url ~ "?" %}
      {% endif %}

    {% endif %}
    <link rel="canonical" href="{{pre_url ~ param_txt|slice(1)}}">

    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="wrap">
            <div class="header-left">
                <div class="header-logo header-logo_breeder">
                    <a href="{{url('breeder_top')}}">
                        <img src="{{ asset('assets/img/breeder-logo.png') }}" width="610" height="80" alt="犬・猫ブリーダー直販サイトのアニマルライン"/>
                    </a>
                </div>

                <div class="header-count">
                    <div class="header-count__dogs">
                        <span>子犬掲載数</span>
                        <strong>
                            <i>{{ header_cnt.dogs | number_format  }}</i>頭
                        </strong>
                    </div>
                    <div class="header-count__dogs">
                        <span>子猫掲載数</span>
                        <strong>
                            <i>{{ header_cnt.cats | number_format  }}</i>頭
                        </strong>
                    </div>
                    <div class="header-count__breeders">
                        <span>ブリーダー数</span>
                        <strong><i>{{ header_cnt.breeders | number_format }}</i>件</strong>
                    </div>
                </div>

                {% if part_uri == 'breeder/' %}
                <div class="dna-count-frame">
                    <div class="dna-count-frame-box">
                      {{ today | date('Y年m月d日')  }}時点<br />
                      検査済み頭数： {{ pets_count_inspection | number_format  }}頭
                    </div>
                </div>
                {% endif %}

            </div>
            
            <div class="header-right">
                <ul>
                {% if is_granted('ROLE_USER') %}
                    <li class="logout">
                        <a href="{{url('logout')}}" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <span>ログアウト</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="{{url('breeder_mypage')}}" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <span>マイページ</span>
                        </a>
                    </li>
                {% else %}
                    <li class="breeder">
                        <a href="{{url('aniline_entry')}}?ReturnPath=breeder_mypage" class="btn">
                        <i><img src="{{ asset('assets/img/guide/icon-bone2.png') }}" width="16" height="9" alt="ブリーダー様登録"/></i>
                        <span>ブリーダー様登録</span>
                        </a>
                    </li>
                    <li class="login">
                        <a href="{{url('breeder_login')}}" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        <span>ログイン</span>
                        </a>
                    </li>
                    <li class="member">
                        <a href="{{url('aniline_entry')}}?ReturnPath=breeder_top" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <span>ペットオーナー様会員登録</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
            
            <div class="btn-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
            </div>
        </header>

        <main role="main">
            <div class="header-navi">
            　<ul>
            　　<li>
                    <a href="{{ url('breeder_top') }}#search" class="btn">
                    <span>検索する</span>
                    </a>
                </li>
                {#
                <li>
                    <a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}" class="btn">
                    <span>猫を探す</span>
                    </a>
                </li>
                <li>
                    <a href="{{url('breeder_search')}}" class="btn">
                    <span>ブリーダーを探す</span>
                    </a>
                </li>
                #}
                <li>
                    <a href="{{url('breeder_faq')}}" class="btn">
                    <span>よくあるご質問</span>
                    </a>
                </li>
                <li>
                    <a href="{{url('breeder_firstinfo')}}" class="btn">
                    <span>初めての方へ</span>
                    </a>
                </li>
                <li>
                    <a href="{{url('breeder_guide_dog')}}" class="btn">
                    <span>お迎えガイド</span>
                    </a>
                </li>
            　</ul>
            </div>

            <div class="header-title">
                {% if part_uri == 'breeder/pet/search/result' and 'size_code=1' in request_uri %}
                <h1>超小型犬の一覧</h1>
                {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=2' in request_uri %}
                <h1>小型犬の一覧</h1>
                {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=3' in request_uri %}
                <h1>中型犬の一覧</h1>
                {% elseif part_uri == 'breeder/pet/search/result' and 'size_code=4' in request_uri %}
                <h1>大型犬の一覧</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=47' in request_uri %}
                <h1>沖縄県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=46' in request_uri %}
                <h1>鹿児島のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=45' in request_uri %}
                <h1>宮崎県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=44' in request_uri %}
                <h1>大分県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=43' in request_uri %}
                <h1>熊本県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=42' in request_uri %}
                <h1>長崎県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=41' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=40' in request_uri %}
                <h1>福岡県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=39' in request_uri %}
                <h1>高知県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=38' in request_uri %}
                <h1>愛媛県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=37' in request_uri %}
                <h1>香川県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=36' in request_uri %}
                <h1>徳島県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=35' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=34' in request_uri %}
                <h1>広島県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=33' in request_uri %}
                <h1>岡山県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=32' in request_uri %}
                <h1>のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=31' in request_uri %}
                <h1>のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=32' in request_uri %}
                <h1>のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=31' in request_uri %}
                <h1>のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=30' in request_uri %}
                <h1>のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=29' in request_uri %}
                <h1>奈良県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=28' in request_uri %}
                <h1>兵庫県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=27' in request_uri %}
                <h1>大阪府のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=26' in request_uri %}
                <h1>京都府のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=25' in request_uri %}
                <h1>滋賀県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=24' in request_uri %}
                <h1>三重県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=23' in request_uri %}
                <h1>愛知県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=22' in request_uri %}
                <h1>静岡県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=21' in request_uri %}
                <h1>岐阜県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=20' in request_uri %}
                <h1>長野県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=19' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=18' in request_uri %}
                <h1>福井県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=17' in request_uri %}
                <h1>石川県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=16' in request_uri %}
                <h1>富山県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=15' in request_uri %}
                <h1>新潟県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=14' in request_uri %}
                <h1>神奈川県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=13' in request_uri %}
                <h1>東京都のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=12' in request_uri %}
                <h1>千葉県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=11' in request_uri %}
                <h1>埼玉県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=10' in request_uri %}
                <h1>群馬県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=9' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=8' in request_uri %}
                <h1>茨城県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=7' in request_uri %}
                <h1>福島県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=6' in request_uri %}
                <h1>山形県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=5' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=4' in request_uri %}
                <h1>宮城県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=3' in request_uri %}
                <h1>岩手県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=2' in request_uri %}
                <h1>青森県のブリーダー検索</h1>
                {% elseif part_uri == 'breeder/breeder_search' and 'pet_breed-area%5B%5D=1' in request_uri %}
                <h1>ブリーダー検索</h1>
                {% elseif part_uri != 'breeder/' %}
                <h1>{{ title }}</h1>
                {% else %}
                {% endif %}

                {# ブリーダーTOPページのみパンくずの中にh1タグを仕込む処理 #}
                {% if part_uri == 'breeder/' %}
                <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="ani-breadcrumb">
                    {% set i = 1 %}
                    {% for item in breadcrumb %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href=" {{ item.url }} ">
                            <h1><span itemprop="name"> {{ item.title }}</span></h1></a>
                            <meta itemprop="position" content="{{ i }}" />
                        </li>
                        {% set i = i + 1 %}
                    {% endfor %}
                </ol>
                {% else %}
                <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="ani-breadcrumb">
                    {% set i = 1 %}
                    {% for item in breadcrumb %}
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href=" {{ item.url }} ">
                            <span itemprop="name"> {{ item.title }}</span></a>
                            <meta itemprop="position" content="{{ i }}" />
                        </li>
                        {% set i = i + 1 %}
                    {% endfor %}
                </ol>
                {% endif %}

            </div>

            {% block main %}{% endblock %}
            <div class="pageback">
                <a href="#" onclick="history.back(-1);return false;"><i class="bi bi-arrow-return-left"></i></a>
                {# <button type="button" onclick="history.back()"><i class="bi bi-arrow-return-left"></i></button> #}
            </div>
            <div class="pagetop">
                <a href="#wrapper"><i class="bi bi-arrow-bar-up"></i></a>
            </div>
        </main>

        <div style="text-align:center" class="search-box-text pc-only">
          <script async src="https://cse.google.com/cse.js?cx=263af2c471e974783">
          </script>
          <div class="gcse-search"></div>
          {#
          <form id="text-search" action="{{ url('breeder_pet_search_result') }}" method="post" class="search_container">
            <input type="search-text"></input>
            <input type="submit" value="検索">
          </form>
          #}
        </div>

        <footer id="footer03">
            <div class="inner">
            <div class="footer-row">
                {#
                <div class="footer-link">
                
                <a href="{{url('breeder_company')}}">会社概要</a>｜
                <a href="{{url('breeder_policy')}}">プライバシーポリシー</a>
                </div>
                #}

                <ul class="nav">
                    <li>
                        <ul class="nav-child">
                            <li><a href="{{url('breeder_top')}}"><span>Breeder検索TOP</span></a></li>
                            <li><a href="{{url('breeder_search')}}"><span>ブリーダー検索</span></a></li>
                            <li><a href="{{url('breeder_faq')}}"><span>よくあるご質問</span></a></li>
                            <li><a href="{{url('breeder_firstinfo')}}"><span>初めての方へ</span></a></li>
                            <li><a href="{{url('breeder_buyinfo')}}"><span>ご購入の流れ</span></a></li>
                            <!-- <li><a href="{{url('breeder_transferinfo')}}"><span>お引渡しの流れ</span></a></li> -->
                            <!-- <li><a href="{{url('breeder_costinfo')}}"><span>お迎え時の費用について</span></a></li> -->
                            <li><a href="{{ url('breeder_ani_contact') }}">お問い合わせ</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav-child">
                            <li><a href="/contents/"><span>ワンニャンコラム</span></a></li>
                            <li><a href="{{url('breeder_guide_dog')}}"><span>お迎えガイド</span></a></li>
                            <li><a href="{{ url("ani_dctn_info") }}"><span>ペットの家庭教師</span></a></li>
                            <li><a href="{{ url("homepage") }}"><span>アニマルラインショップ</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav-child">
                            <li><a href="{{url('breeder_company')}}"><span>会社概要</span></a></li>
                            <li><a href="{{url('breeder_policy')}}"><span>プライバシーポリシー</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-logo"><a href="{{url('breeder_top')}}"><img src="{{ asset('assets/img/logo.png') }}" width="305" height="40" alt="犬・猫ブリーダー直販サイトのアニマルライン"/></a></div>
            <div class="copyright"><small>Copyright © 2021 Animallinez All Rights Reserved.</small></div>
        </footer>
    
        <div id="side-menu">
            <div class="side-menu__count">
                <div class="header-count__dogs"><span>子犬掲載数</span><strong><i>{{ header_cnt.dogs | number_format  }}</i>頭</strong></div>
                <div class="header-count__dogs"><span>子猫掲載数</span><strong><i>{{ header_cnt.cats | number_format  }}</i>頭</strong></div>
                <div class="header-count__breeders"><span>ブリーダー数</span><strong><i>{{ header_cnt.breeders | number_format  }}</i>件</strong></div>
            </div>
            <div class="side-menu__list">
                <ul>
                    <li class="logout">
                        <a href="{{ url('breeder_top') }}#search" class="btn">
                        <span>検索する</span>
                        </a>
                    </li>
                    {#
                    <li class="logout">
                        <a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}" class="btn">
                        <span>猫を探す</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="{{url('breeder_search')}}" class="btn">
                        <span>ブリーダーを探す</span>
                        </a>
                    </li>
                    #}
                    <li class="logout">
                        <a href="{{url('breeder_faq')}}" class="btn">
                        <span>よくあるご質問</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="{{url('breeder_firstinfo')}}" class="btn">
                        <span>初めての方へ</span>
                        </a>
                    </li>
                    <li class="logout">
                        <a href="{{url('breeder_guide_dog')}}" class="btn">
                        <span>お迎えガイド</span>
                        </a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="logout">
                            <a href="{{url('logout')}}" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            <span>ログアウト</span>
                            </a>
                        </li>
                        <li class="login">
                            <a href="{{url('breeder_mypage')}}" class="btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                            <span>マイページ</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="breeder">
                            <a href="{{url('aniline_entry')}}?ReturnPath=breeder_mypage" class="btn">
                            <i><img src="{{ asset('assets/img/guide/icon-bone2.png') }}" width="16" height="9" alt="ブリーダー様登録"/></i>
                            <span>ブリーダー様登録</span>
                            </a>
                        </li>
                        <li class="member">
                            <a href="{{url('aniline_entry')}}?ReturnPath=breeder_top" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                <span>ペットオーナー様会員登録</span>
                            </a>
                        </li>
                        <li class="login">
                            <a href="{{url('breeder_login')}}?ReturnPath=breeder_top" class="btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                                <span>ログイン</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script async src="https://s.yimg.jp/images/listing/tool/cv/ytag.js"></script>
    <script>
    window.yjDataLayer = window.yjDataLayer || [];
    function ytag() { yjDataLayer.push(arguments); }
    ytag({
    "type":"yss_retargeting",
    "config": {
        "yahoo_ss_retargeting_id": "1001250419",
        "yahoo_sstag_custom_params": {
        }
    }
    });
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/jquery.matchHeight.js') }}"></script>
<script src="{{ asset('assets/js/common.js') }}"></script>
{% block javascript %}{% endblock %}
</html>