{% set site_type = 'breeder' %}

{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-mv">
      <div class="inner">
        <div class="breeder-mv__container">
          <div class="breeder-mv__text">
            <div class="breeder-mv__text_btn">
              <ul>
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <li class="breeder-mv__text_btn_dog"><span><i>犬を探す</i></span></li>
                    <li class="breeder-mv__text_btn_cat"><a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}"><i>猫を探す</i></a></li>
                {% else %}
                    <li class="breeder-mv__text_btn_dog"><a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}"><i>犬を探す</i></a></li>
                    <li class="breeder-mv__text_btn_cat"><span><i>猫を探す</i></span></li>
                {% endif %}
              </ul>
            </div>
            <h2></h2>
            <div class="breeder-mv__text_logo"><img src="{{ asset('assets/img/breeder-mv-logo.png') }}" alt="Animalline Breeder"/></div>
            <p>ペットとつながる信頼の絆</p>
            
          </div>
          <div class="breeder-mv__search">
            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
              <div class="breeder-mv__search_wrap breeder-mv__search_dog">
                <div class="breeder-mv__search_title">
                  <h2>犬を探す</h2>
            {% else %}
              <div class="breeder-mv__search_wrap breeder-mv__search_cat">
                <div class="breeder-mv__search_title">
                  <h2>猫を探す</h2>
            {% endif %}
          </div>
              <div class="breeder-mv__search_body">
                <form action="{{ url('breeder_pet_search_result') }}" method="get">
                  <input type="hidden" name="pet_kind" value="{{ petKind }}">
                  <div class="breeder-mv__search_top">
                    <div class="select-container">
                      <select class="form_dropdown w-100" id="formControlSelect1" name="breed_type">
                        <option value="">種類</option>
                        {% for breed in breeds %}
                            <option value="{{ breed.id }}">{{ breed.breedsName }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="breeder-mv__search_bottom">
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect2" name="gender">
                          <option value="">性別</option>
                          <option value="1">男の子</option>
                          <option value="2">女の子</option>
                        </select>
                      </div>
                    </div>
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect3" name="region">
                            <option value="">都道府県</option>
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <label><input type="checkbox" name="adjacent" value="1" class="mr-1">隣の都道府県も検索</label>
                    </div>
                  </div>
                  <div class="breeder-mv__search_btn">
                    <button><i class="bi bi-check2-square"></i>この条件で検索する</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
        <div class="inner">
          <div style="text-align: center">
            <img src="{{ asset('assets/img/top_tokuten.jpg') }}" />
          </div>

          <div style="font-size:25px; text-align: center">
            <現在掲載中のペットに関して>
          </div>
          <div style="font-size:20px;padding: 20px;text-align: center"">
          
現在Animallineに掲載中のわんちゃん・ネコちゃんのうち「検査中」と記載のある子は、検査が終わっておりません。<br />
ブリーダー様へお問い合わせは可能ですが、<strong style="color:#F00;font-size:22px">ご成約は検査が終了し、結果に問題がない場合に可能</strong>となります。
          </div>

        </div>
      </div>
    </section>
    <h1 style="display:none"> 犬・猫ブリーダー直販のアニマルライン</h1>
    <section id="breeder-column" class="breeder-column_dog">
      <div class="inner">
        <div class="breeder-column-row">
          <div class="breeder-column__main">
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
            <div class="breeder-column__main_section_title" style="display: none">
              <h3>新着のペット</h3>
              <div class="breeder-column__main_section_title_btn">
                <a href="{{ url('breeder_pet_search_result', {'pet_kind': petKind, 'pet_new': 1}) }}"><i class="bi bi-list"></i>一覧へ</a>
              </div>
            </div>
              <div class="breeder-column__main_section_body">
                <ul>
                  {% for pet in newPets %}
                    <li>
                      <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                        {% if pet.dnaCheckResult == 0 %}
                        <div class="tags">
                          <ul>
                              <li class="tag_new"><span>検査中</span></li>
                          </ul>
                        </div>
                        {% endif %}
                        <!--
                        <div class="tags">
                          <ul>
                            <li class="tag_new"><span>New</span></li>
                            <li class="tag_recommend"><span>注目</span></li>
                            <li class="tag_popular"><span>人気</span></li>
                          </ul>
                        </div>
                        -->
                        <figure><img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}" alt="{{ pet.getBreedsType().getBreedsName() ?? '' }}"/></figure>
                        <h4>{{ pet.getBreedsType().getBreedsName() ?? '' }}</h4>
                        <div class="birthday">{{ pet.petBirthday|date('Y年m月d日') }}生</div>
                        <div class="type">
                          <span>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</span>
                          <span>{{ pet.coatColor}}</span>
                        </div>
                        <div class="publish">掲載日：{{ pet.releaseDate|date('Y年m月d日') }}</div>
                        <div class="price">{{ pet.price|number_format(0) }}円（税込）</div>
                        <p>{{ pet.prComment|nl2br }}</p>
                      </a>
                    </li>
                  {% else %}
                    <span class="mb-2">掲載準備中！</span>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {#
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_recommend">
              <div class="breeder-column__main_section_title">
                <h3>注目のペット</h3>
                <div class="breeder-column__main_section_title_btn">
                  <a href="{{ url('breeder_pet_search_result', {'pet_kind': petKind, 'featured_pet': 1}) }}"><i class="bi bi-list"></i>一覧へ</a>
                </div>
              </div>
              <div class="breeder-column__main_section_body">
                <ul>
                  {% for pet in favoritePets %}
                    <li>
                      <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                        <!--
                        <div class="tags">
                        <ul>
                            <li class="tag_new"><span>New</span></li>
                            <li class="tag_recommend"><span>注目</span></li>
                            <li class="tag_popular"><span>人気</span></li>
                        </ul>
                        </div>
                        -->
                        <figure><img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}" alt="{{ pet.getBreedsType().getBreedsName() ?? '' }}"/></figure>
                        <h4>{{ pet.getBreedsType().getBreedsName() ?? '' }}</h4>
                        <div class="birthday">{{ pet.petBirthday|date('Y年m月d日') }}生</div>
                        <div class="type"><span>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</span><span>{{ pet.getCoatColor() ?? '' }}</span></div>
                        <div class="price">{{ pet.price|number_format(0) }}円（税込）</div>
                        <p>{{ pet.prComment|nl2br }}</p>
                      </a>
                    </li>
                  {% else %}
                    <span class="mb-2">掲載準備中！</span>
                  {% endfor %}
                </ul>
              </div>
            </div>
            #}

            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
              <div class="breeder-column__main_section" id="breeder-column__main_section_dog_popular">
                <div class="breeder-column__main_section_title">
                  <h3>人気の犬種</h3>
                </div>
                <div class="breeder-column__main_section_body breeder-column__main_section_popular_body">
                  <ul>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 9}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img05.jpg') }}" alt="トイプードル"/></figure>
                        <p>トイプードル</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 5}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img01.jpg') }}" alt="チワワ"/></figure>
                        <p>チワワ</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 8}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img02.jpg') }}" alt="ミニチュアダックス"/></figure>
                        <p>ミニチュア<br>ダックス</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 11}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img06.jpg') }}" alt="ポメラニアン"/></figure>
                        <p>ポメラニアン</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 47}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img04.jpg') }}" alt="フレンチブルドッグ"/></figure>
                        <p>フレンチ<br>ブルドッグ</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 40}) }}">
                        <figure><img src="{{ asset('assets/img/breeder-dog-img03.jpg') }}" alt="柴"/></figure>
                        <p>柴</p>
                        </a>
                    </li>
              </ul>
                {% else %}
                  <div class="breeder-column__main_section" id="breeder-column__main_section_dog_popular">
                    <div class="breeder-column__main_section_title">
                      <h3>人気の猫種</h3>
                      <div class="breeder-column__main_section_title_btn">
                        <a href=""><i class="bi bi-list"></i>一覧へ</a>
                      </div>
                    </div>
                    <div class="breeder-column__main_section_body breeder-column__main_section_popular_body">
                    <ul>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 188}) }}">
                            <figure><img src="{{ asset('assets/img/pet/188.jpg') }}" alt="日本猫"/></figure>
                            <p>日本猫</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                            <figure><img src="{{ asset('assets/img/pet/190.jpg') }}" alt="アメリカンショートヘア"/></figure>
                            <p>アメリカンショートヘア</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 193}) }}">
                            <figure><img src="{{ asset('assets/img/pet/193.jpg') }}" alt="シャム"/></figure>
                            <p>シャム</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 191}) }}">
                            <figure><img src="{{ asset('assets/img/pet/191.jpg') }}" alt="ペルシャ"/></figure>
                            <p>ペルシャ</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 221}) }}">
                            <figure><img src="{{ asset('assets/img/pet/221.jpg') }}" alt="チンチラ"/></figure>
                            <p>チンチラ</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                            <figure><img src="{{ asset('assets/img/pet/190.jpg') }}" alt="アメリカンショートヘア"/></figure>
                            <p>アメリカンショートヘア</p>
                            </a>
                        </li>
                    </ul>
                {% endif %}  
              </div>
            </div>

            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                <div class="breeder-column__main_section" id="breeder-column__main_section_dog_type">
                    <div class="breeder-column__main_section_title">
                        <h3>サイズから探す</h3>
                    </div>
                    <div class="breeder-column__main_section_body breeder-column__main_section_size_body">
                        <ul>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_TINNY')}) }}">
                            <figure><img src="{{ asset('assets/img/breeder-dog-fat01.png') }}" alt="超小型犬"/></figure>
                            <p>超小型犬</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_SMALL')}) }}">
                            <figure><img src="{{ asset('assets/img/breeder-dog-fat02.png') }}" alt="小型犬"/></figure>
                            <p>小型犬</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_MEDIUM')}) }}">
                            <figure><img src="{{ asset('assets/img/breeder-dog-fat03.png') }}" alt="中型犬"/></figure>
                            <p>中型犬</p>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_BIG')}) }}">
                            <figure><img src="{{ asset('assets/img/breeder-dog-fat04.png') }}" alt="大型犬"/></figure>
                            <p>大型犬</p>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        {{ include('animalline/breeder/side.twig') }}
      </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ここからinfo結合 -->
    <div class="page-inner">
      <section id="page-mv__breeder_detail" class="page-mv_detail">
          <div class="wrap">
            <div class="text">
              <h2><img src="{{ asset('assets/img/breeder/mv-logo.png') }}" alt="Animalline Breeder"/></h2>
              <p><img src="{{ asset('assets/img/breeder/mv-copy.png') }}" alt="3つの安心・安全"/></p>
              <ul>
                <li><a href="#content01"><img src="{{ asset('assets/img/breeder/mv-img02.png') }}" alt="健康面"/></a></li>
                <li><a href="#content02"><img src="{{ asset('assets/img/breeder/mv-img03.png') }}" alt="価格面"/></a></li>
                <li><a href="#content03"><img src="{{ asset('assets/img/breeder/mv-img01.png') }}" alt="生活面"/></a></li>
              </ul>
            </div>
          </div>
      </section>

      <section id="page-detail-content01">
        <div class="page-detail-content01__title"><h3><img src="{{ asset('assets/img/breeder/title01.png') }}" alt="アニマルラインとは"/></h3>
        </div>
        <div class="page-detail-content01__body">
          <p>健全で優良なブリーダーが愛情を込めて育てた 愛犬・愛猫 と<br />生涯のパートナーとなる貴方との素敵な出会いの場を提供しております<br /><strong>『信頼の絆』</strong> をつなげる 安心・安全 なサイトを目指します。</p>
        </div>
      </section>

      <section id="page-detail-content02" class="page-detail-content02_breeder">
        <div class="page-detail-content02__title">
          <div class="icon"><img src="{{ asset('assets/img/breeder/icon01.png') }}" alt="ブリーダーから購入するメリット"/></div>
          <h3>ブリーダーから購入するメリット</h3>
        </div>
        <div class="page-detail-content02__body">
          <article id="content01">
            <div class="text">
              <h3 class="color01">健康面での安心・安全</h3>
              <p>「Animalline Breeder」では、犬猫の遺伝病発症リスクが分かる遺伝病DNA検査を全頭に実施し、
                発症リスクのない生体のみを掲載しております。</p>
                <p>遺伝子病とは、遺伝子に変異が起こることで発症する病気です。
                疾患のリスクを事前に理解しておくことで、最適な飼育方法や対処法の準備ができます。</p>
                <p>健全なブリーディングの推進により、販売子犬・子猫の遺伝病リスク低減に努め、みなさまに安心・安全を提供し、遺伝病のない世界を目指します。</p>
            </div>
            <figure><img src="{{ asset('assets/img/breeder/breeder-img01.jpg') }}" alt="健康面での安心・安全"/></figure>
          </article>
        </div>
        <div class="dna-content02__body">
          <article class="mh">
            <figure><img src="{{ asset('assets/img/dna/dna-icon01.png') }}" alt="遺伝子検査とは"/></figure>
            <h2>遺伝子検査とは</h2>
            <h3>遺伝子検査とは、<br>
            DNAの変異（突然変異）を<br>
            検出する検査のことを言います。</h3>
            <p>遺伝子検査を行うことで、遺伝子の変異によって発症する<br>
            遺伝性疾患のリスク判定が出来ます。<br>
            親から受け継いだ変異遺伝子を検査し、<br>
            将来発症する遺伝性の病気リスクを判定します。</p>
          </article>
          <article class="mh">
            <figure><img src="{{ asset('assets/img/dna/dna-icon02.png') }}" alt="遺伝子病とは"/></figure>
            <h2>遺伝子病とは</h2>
            <h3>遺伝病とは、<br>
            遺伝子が変異することで発症する<br>
            病気のことです。</h3>
            <p>染色体や遺伝子の変異によって発症する病気です。<br>
            親がもつ染色体や遺伝子の変異が子に伝わる（遺伝する）場合と、<br>
            親自身には全く変異がないにもかかわらず、突然変異によって、<br>
            子の身体の細胞、精子、卵子の遺伝子・染色体に変異が生じ<br>
            病気になる場合があります。</p>
          </article>
        </div>
        <div class="dna-content03__title">
          <h2>なぜ遺伝子検査を行なうのか</h2>
          <p>遺伝子検査を行う意義として大きく以下の3点が挙げられます。</p>
        </div>
        <div class="dna-content03__body">
          <article>
            <div class="wrap">
            <h3>飼い主様とペットの幸せのために</h3>
            <p>遺伝病には、治療が困難な命にかかわる重い遺伝病があります。発症後のさまざまな苦痛は飼い主様、犬猫ともに計り知れません。遺伝病を防ぐための取り組みは重要です。</p>
            {#
            <ul>
              <li><i class="bi bi-check"></i>治療に使う薬によっては副作用が強く出る可能性がある</li>
              <li><i class="bi bi-check"></i>手術具の止血が難しいため、輸血が必要になる</li>
              <li><i class="bi bi-check"></i>適切な給餌や検査を知れる</li>
            </ul>
            #}
            </div>
          </article>
          <article>
            <div class="wrap">
            <h3>発症リスクを知る</h3>
            <p>遺伝子検査を行うことによって遺伝病の発症リスクを知ることができ、遺伝性疾患に対する備えを行うことができます。事前にその病気のリスクを知ることで、定期検診を行うと共に、早期発見につながり、重症化の予防につながります。</p>
            </div>
          </article>
          <article>
            <div class="wrap">
            <h3>変異遺伝子を次世代に残さない</h3>
            <p>遺伝情報は両親から半分ずつ子に伝達されるため、次の世代を繁殖する前に両親の遺伝子検査を行うことは、遺伝性疾患を将来の世代に増加させないために重要な意義があります。</p>
            </div>
          </article>
        </div>
        <div class="page-detail-content02__body">
          <article class="rev" id="content02">
            <div class="text">
              <h3 class="color02">価格面での安心・安全</h3>
              <p>ブリーダー直販価格なので健康で良質な子犬・子猫を、よりお求めやすい価格で購入することができます。</p>
            </div>
            <figure><img src="{{ asset('assets/img/breeder/breeder-img02.jpg') }}" alt="価格面での安心・安全"/></figure>
          </article>
          <article id="content03">
            <div class="text">
              <h3 class="color03">生活面での安心・安全</h3>
              <p>ブリーダーの元で生まれた子は、親や兄弟、誕生日が近い子に囲まれた環境で生まれ育てられていることが多く、高い社会性が身についています。</p>
                <p>動物愛護管理法より、犬や猫の生体販売は生後8週齢からとなっておりますが、この時期は子犬や子猫の母体免疫が切れ始めるので病気にかかやすいです。<br>
                <p>母犬や母猫といることで、犬社会や猫社会の教育をしてもらえます。<br>
                親元にいると健康面でも精神面でも、このようなメリットがあります。</p>
                <p>また、流通過程でかかる感染症や、狭いショーケースに入れられるなどのストレスから生じる免疫力低下などの健康を害するリスクを最大限に抑えることができます。</p>
            </div>
            <figure><img src="{{ asset('assets/img/breeder/breeder-img03.jpg') }}" alt="健康面での安心・安全"/></figure>
          </article>
        </div>
      </section>
    </div>

    <!-- ここまで -->

    <section id="breeder-footer">
      <div class="inner">
        <div class="breeder-footer__bnr">
          <ul>
            <li>
              <a href="{{ url("homepage") }}">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr01.png') }}" alt="Animalline EC"/>
                  <figcaption>しつけから消耗品まで、ペットに関わる様々な商品・サービスを提供しています。</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="{{url('breeder_guide_dog')}}">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr02.png') }}" alt="お迎えガイド"/>
                  <figcaption>新たな家族を迎えるためのお迎えガイド</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="{{ url("ani_dctn_info") }}">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr03.png') }}" alt="ペットの家庭教師"/>
                  <figcaption>パピーのしつけははじめが大切！</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/info/page.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}

{% block javascript %}
    <script>
        let area = ['Hokkaido', 'Tohoku', 'Kanto', 'Tokai', 'Kosinetsu', 'Kansai', 'Shikoku', 'Chugoku', 'Kyushu'];
        for (let i = 0; i < area.length; i++) {
            const area1 = document.getElementById(area[i]);
            area1.addEventListener('mouseover', () => {
                area1.setAttribute('style', 'opacity: 0.5');
            })
            area1.addEventListener('mouseleave', () => {
                area1.setAttribute('style', 'opacity: 1');
            })
        }

        $(function () {
            $("h4:contains('男の子')").css("color", "blue");
            $("h4:contains('女の子')").css("color", "red");
        });
    </script>
{% endblock %}