{% set site_type = 'breeder' %}

{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-mv">
      <div class="inner">
        <div class="breeder-mv__container">
          <div class="breeder-mv__text">
            <h2>テキストが入りますテキストが入りますテキストが入ります</h2>
            <div class="breeder-mv__text_logo"><img src="{{ asset('assets/img/breeder-mv-logo.png') }}" alt="Animalline Breeder"/></div>
            <p>キャッチコピーが入ります。</p>
            <div class="breeder-mv__text_btn">
              <ul>
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <li class="breeder-mv__text_btn_dog"><span><i>犬を探す</i></a></li>
                    <li class="breeder-mv__text_btn_cat"><a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}"><i>猫を探す</i></a></li>
                {% else %}
                    <li class="breeder-mv__text_btn_dog"><a href="{{ url('breeder_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}"><i>犬を探す</i></a></li>
                    <li class="breeder-mv__text_btn_cat"><span><i>猫を探す</i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="breeder-mv__search">
            <div class="breeder-mv__search_wrap breeder-mv__search_dog">
              <div class="breeder-mv__search_title">
                <h2>犬を探す</h2>
              </div>
              <div class="breeder-mv__search_body">
                <form action="{{ url('breeder_pet_search_result') }}" method="get">
                  <input type="hidden" name="pet_kind" value="{{ petKind }}">
                  <div class="breeder-mv__search_top">
                    <div class="select-container">
                      <select class="form_dropdown w-100" id="formControlSelect1" name="breed_type">
                        <option value="">種類</option>
                        {% for breed in breeds %}
                            <option value="{{ breed.id }}">{{ breed.breedsName }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="breeder-mv__search_bottom">
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect2" name="gender">
                          <option value="">性別</option>
                          <option value="1">男の子</option>
                          <option value="2">女の子</option>
                        </select>
                      </div>
                    </div>
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect3" name="region">
                            <option value="">都道府県</option>
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <label><input type="checkbox" name="adjacent" value="1" class="mr-1">隣の都道府県も検索</label>
                    </div>
                  </div>
                  <div class="breeder-mv__search_btn">
                    <button><i class="bi bi-check2-square"></i>この条件で検索する</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="bg-primary">
        <div class="m-2 p-2"></div>
        <div class="row">
            {% include 'side.twig' %}
            <div class="main-container col-md-9">
                {# 新着 #}
                <div class="d-flex justify-content-between align-items-end">
                    <h2>新着</h2>
                </div>
                <div class="section-sub-content">
                    <div class="m-1 p-1"></div>
                    <div class="row pl-3">
                        <ul class="petList">
                        {% for pet in newPets %}
                             <li class="col-sm-6 col-lg-4 border-0 bg-none mb-4">
                                <div class="catalog-card new-band">
                                    <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}"><img class="w-100" src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}" alt="画像説明"></a>
                                </div>
                                <h3 class="color-gray-500 font-weight-600 mt-3 mb-3">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                <p>{{ pet.petBirthday|date('Y年m月d日') }}生</p>
                                {% set breederHouse = pet.Breeder.getBreederHouseByPetType(pet.petKind) %}
                                <p>{{ breederHouse.breederHousePref ~ ' ' ~ breederHouse.breederHouseCity ?? '' }}</p>
                                <div class="d-flex">
                                    <p class="mr-2">{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</p>
                                    <p>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</p>
                                </div>                                   
                                <p>{{ pet.prComment|nl2br }}</p>
                                <h3 class="price color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span></h3>
                            </li>
                        {# {% for pet in newPets %}
                            <div class="card col-sm-6 col-md-4 col-lg-3 border-0 bg-none mb-4">
                                <div class="catalog-card new-band">
                                    <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                            class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body bg-white">
                                        <h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                        <div class="m-4"></div>
                                        <h4 class="mb-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                                        {% set breederHouse = pet.Breeder.getBreederHouseByPetType(pet.petKind) %}
                                        <h4 class="mb-2">{{ breederHouse.breederHousePref ~ ' ' ~ breederHouse.breederHouseCity ?? '' }}</h4>
                                        <div class="d-flex">
                                            <h4 class="mr-2">{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                            <h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
                                        </div>
                                        <div class="m-2"></div>
                                        <h4>{{ pet.prComment|nl2br }}</h4>
                                        <div class="m-2"></div>
                                        <div class="m-4"></div>
                                        <h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
                                        </h3>
                                    </div>
                                </div>
                            </div> #}
                        {% else %}
                            <span class="mb-2">結果が０件です。</span>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {# 新着　END #}
                
                {# 注目のペット #}
                <div class="d-flex justify-content-between align-items-end">
                    <h2>注目のペット</h2>
                </div>
                <div class="section-sub-content">
                    <div class="m-1 p-1"></div>
                    <div class="row pl-3">
                        <ul class="petList">
                        {% for pet in favoritePets %}
                            <li class="col-sm-6 col-lg-4 border-0 bg-none mb-4">
                                <div class="catalog-card new-band">
                                    <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}"><img class="w-100" src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}" alt="画像説明"></a>
                                </div>
                                <h3 class="color-gray-500 font-weight-600 mt-3 mb-3">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                <p>{{ pet.petBirthday|date('Y年m月d日') }}生</p>
                                {% set breederHouse = pet.Breeder.getBreederHouseByPetType(pet.petKind) %}
                                <p>{{ breederHouse.breederHousePref ~ ' ' ~ breederHouse.breederHouseCity ?? '' }}</p>
                                <div class="d-flex">
                                    <p class="mr-2">{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</p>
                                    <p>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</p>
                                </div>                                   
                                <p>{{ pet.prComment|nl2br }}</p>
                                <h3 class="price color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span></h3>
                            </li>
                        {# {% for pet in favoritePets %}
                            <div class="card col-sm-6 col-md-4 col-lg-3 border-0 bg-none mb-4">
                                <div class="catalog-card">
                                    <a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                            class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body bg-white">
                                        <h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                        <div class="m-4"></div>
                                        <h4 class="mb-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                                        {% set breederHouse = pet.Breeder.getBreederHouseByPetType(pet.petKind) %}
                                        <h4 class="mb-2">{{ breederHouse.breederHousePref ~ ' ' ~ breederHouse.breederHouseCity ?? '' }}</h4>
                                        <div class="d-flex">
                                            <h4 class="mr-2">{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                            <h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
                                        </div>
                                        <div class="m-2"></div>
                                        <h4>{{ pet.prComment|nl2br }}</h4>
                                        <div class="m-2"></div>
                                        <div class="m-4"></div>
                                        <h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
                                        </h3>
                                    </div>
                                </div>
                            </div> #}
                            {% else %}
                            <span class="mb-2">結果が０件です。</span>
                        {% endfor %}
                    </div>
                </div>
                {# 注目のペット END #}
                <div class="m-2 p-2"></div>
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <div class="d-flex justify-content-between align-items-end">
                        <h2>人気の犬種</h2>
                    </div>
                    {# 犬種から探す #}
                    <div class="section-sub-content">
                        <div class="m-1 p-1"></div>
                        <div class="row">
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 9}) }}">
                                        <img src="{{ asset('assets/img/pet/9.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 9}) }}">
                                            <h4 class="color-gray-500 font-weight-600">トイプードル</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 5}) }}">
                                        <img src="{{ asset('assets/img/pet/5.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 5}) }}">
                                            <h4 class="color-gray-500 font-weight-600">チワワ</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 8}) }}">
                                        <img src="{{ asset('assets/img/pet/8.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 8}) }}">
                                            <h4 class="color-gray-500 font-weight-600">ミニチュアダックス</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 11}) }}">
                                        <img src="{{ asset('assets/img/pet/11.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 11}) }}">
                                            <h4 class="color-gray-500 font-weight-600">ポメラニアン</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 47}) }}">
                                        <img src="{{ asset('assets/img/pet/47.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 47}) }}">
                                            <h4 class="color-gray-500 font-weight-600">フレンチブルドック</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 40}) }}">
                                        <img src="{{ asset('assets/img/pet/40.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 40}) }}">
                                            <h4 class="color-gray-500 font-weight-600">柴</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# 犬種から探す END #}
                {% else %}
                    <div class="d-flex justify-content-between align-items-end">
                        <h2>人気の猫種</h2>
                    </div>
                    {# 猫種から探す #}
                    <div class="section-sub-content">
                        <div class="m-1 p-1"></div>
                        <div class="row">
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' :188}) }}">
                                        <img src="{{ asset('assets/img/pet/188.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 188}) }}">
                                            <h4 class="color-gray-500 font-weight-600">日本猫</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                                        <img src="{{ asset('assets/img/pet/190.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                                            <h4 class="color-gray-500 font-weight-600">アメリカンショートヘア</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 193}) }}">
                                        <img src="{{ asset('assets/img/pet/193.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 193}) }}">
                                            <h4 class="color-gray-500 font-weight-600">シャム</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 191}) }}">
                                        <img src="{{ asset('assets/img/pet/191.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 191}) }}">
                                            <h4 class="color-gray-500 font-weight-600">ペルシャ</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 221}) }}">
                                        <img src="{{ asset('assets/img/pet/221.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 221}) }}">
                                            <h4 class="color-gray-500 font-weight-600">チンチラ</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                                <div class="breed-card">
                                    <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                                        <img src="{{ asset('assets/img/pet/190.jpg') }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body text-align-center">
                                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT'), 'breed_type' : 190}) }}">
                                            <h4 class="color-gray-500 font-weight-600">アメリカンショートヘア</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# 猫種から探す END #}
                {% endif %}
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <div class="m-2 p-2"></div>
                    {# サイズから探す #}
                    <div class="d-flex justify-content-between align-items-end">
                        <h2>サイズから探す</h2>
                    </div>
                    <div class="section-sub-content">
                        <div class="m-1 p-1"></div>
                        <div class="row">
                            <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                   'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_TINNY')}) }}">
                                    <div class="size-card bg-white">
                                        <div class="card-img w-100 text-align-center">
                                            <img src="{{ asset('assets/img/dog-silhouette-xs.svg') }}" class="d-inline-block  vertical-align-middle">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-align-center font-weight-600 color-gray-500">超小型犬</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                   'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_SMALL')}) }}">
                                    <div class="size-card bg-white">
                                        <div class="card-img w-100 text-align-center">
                                            <img src="{{ asset('assets/img/dog-silhouette-s.svg') }}" class="d-inline-block  vertical-align-middle">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-align-center font-weight-600 color-gray-500">小型犬</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_MEDIUM')}) }}">
                                    <div class="size-card bg-white">
                                        <div class="card-img w-100 text-align-center">
                                            <img src="{{ asset('assets/img/dog-silhouette-m.svg') }}" class="d-inline-block  vertical-align-middle">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-align-center font-weight-600 color-gray-500">中型犬</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="card col-6 col-md-3 border-0 bg-none">
                                <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                                   'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_BIG')}) }}">
                                    <div class="size-card bg-white">
                                        <div class="card-img w-100 text-align-center">
                                            <img src="{{ asset('assets/img/dog-silhouette-l.svg') }}" class="d-inline-block  vertical-align-middle">
                                        </div>
                                        <div class="card-body">
                                            <h4 class="text-align-center font-weight-600 color-gray-500">大型犬</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {# サイズから探す END #}
                {% endif %}
            </div>
        </div>
    </div>
    <section id="breeder-footer">
      <div class="inner">
        <div class="breeder-footer__bnr">
          <ul>
            <li>
              <a href="">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr01.png') }}" alt="Animalline EC"/>
                  <figcaption>（※リンク差し替え予定）しつけから消耗品まで、ペットに関わる様々な商品・サービスを提供しています。</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="{{url('breedr_guide_dog')}}">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr02.png') }}" alt="お迎えガイド"/>
                  <figcaption>新たな家族を迎えるためのお迎えガイド</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src="{{ asset('assets/img/breeder-bnr03.png') }}" alt="ペットの家庭教師"/>
                  <figcaption>パピーのしつけははじめが大切！</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}

{% block javascript %}
    <script>
        let area = ['Hokkaido', 'Tohoku', 'Kanto', 'Tokai', 'Kosinetsu', 'Kansai', 'Shikoku', 'Chugoku', 'Kyushu'];
        for (let i = 0; i < area.length; i++) {
            const area1 = document.getElementById(area[i]);
            area1.addEventListener('mouseover', () => {
                area1.setAttribute('style', 'opacity: 0.5');
            })
            area1.addEventListener('mouseleave', () => {
                area1.setAttribute('style', 'opacity: 1');
            })
        }

        $(function () {
            $("h4:contains('男の子')").css("color", "blue");
            $("h4:contains('女の子')").css("color", "red");
        });
    </script>
{% endblock %}