<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="description" content="安心・安全のペットライフをご提供します">
<meta name="viewport" content="width=device-width">
<title>アニマルライン | ブリーダー新規登録</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" media="all" href="{{ asset('assets/css/reg/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="{{ asset('assets/js/reg/script.js') }}"></script>
</head>

<body id="top">
<div id="mainImg">
	<img src="{{ asset('assets/img/reg/title.png') }}" alt="">
	<img src="{{ asset('assets/img/reg/top_image.jpg') }}" alt="" style="margin-top: 2rem">
</div>
<!-- サイト説明 -->
<section id="sec01" class="top_margin_l">
	<div class="SiteDescription">
		アニマルラインはペットオーナー・ブリーダー・動物保護団体３者すべてに“やさしい”ビジネスモデルを目指します。<br />「ブリーダーの皆さま」には参加メリットを、「ペットオーナー」には安心・安全を提供します。
	</div>
	<div class="animalline-image">
		<img src="{{ asset('assets/img/reg/animalline-image.png') }}" alt="">
	</div>
</section>


<section id="sec01" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/animalline_info_title.png') }}" alt="">
	</div>
	<div class="innerSBlue">
	<h2>犬と人の絆に　安心・安全を！</h2>
		<p>「ブリーダーから登録する」「保護団体から譲受する」犬猫のペットオーナーになるための２つの異なるラインを、それぞれマッチングさせて運営する新しいプラットフォームです。<br /><br />
		アニマルライン最大の特徴は、登録する子犬・子猫、保護犬・保護猫すべての生体に対して遺伝病ＤＮＡ検査を実施し、ペットオーナーが安心して購入・譲受できる環境を整えることです。
		</p>
	</div>
</section>
<section id="sec02" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/animalline_info.png') }}" alt="">
	</div>
</section>
<!-- // STORY -->
<!-- サイト説明 -->

<section id="sec01"  class="top_margin_xl">
	<img src="{{ asset('assets/img/reg/prereg_title.png') }}" alt="">
</section>

<div class="buttonReg" style="margin: 3rem 0 3rem 0">
	<a href="{{url('entry')}}?ReturnPath=breeder_mypage" class="btn btn--orange">新規登録してペットを掲載する</a>
</div>

<!-- MESSAGE -->
<section id="sec01">
	<img src="{{ asset('assets/img/reg/section.png') }}" style="margin-top:2rem" alt="">

	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/breeder_merit_01.png') }}" alt="">
	</div>
	<div class="innerS">
		<p>取引成立時の販売手数料は<b class="strong-text">業界最安値の１５％</b>となっております。ブリーダー様の負担を減らし、気軽に登録して頂き生体販売の機会を増やす事でブリーダー様を応援するマッチング・プラットフォームです。</p>
	</div>
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/campaign.png') }}" alt="">
	</div>
	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/breeder_merit_02.png') }}" alt="">
	</div>
	<div class="innerS">
		<p>マッチング・サービスを利用したペットオーナーに商品販売等の各種サービスを提供。その<b class="strong-text">売上の一部をブリーダー様に還元</b>することで、生体販売時に得られる利益以外の長期的かつ継続的な安定収入につなげます。</p>
	</div>
	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/merit02-image.png') }}" alt="">
	</div>
	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/breeder_merit_03.png') }}" alt="">
	</div>
	<div class="innerS">
		<p>遺伝病発症リスクが分かる遺伝病DNA検査にて、発症リスクのない生体のみプラットフォームに掲載します。検査費用は<b class="strong-text"><u>「アニマルラインが負担」</u></b>致しますので、ブリーダー様には負担はございません。安心してご登録ください。<br /><br />
		<h2>ブリーダー様のＤＮＡ検査費用負担０円！</h2>
		<span>※検査結果は<b>「サイトへの掲載可否」</b>のみのお知らせとなります</span>
		</p>
	</div>
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/dna_check.png') }}" style="margin-top:1rem"; alt="">
		<div class="buttonS"">
			<a href="https://www.veqta.jp/" target="_blank"><img src="{{ asset('assets/img/reg/veqta_link.png') }}" alt=""></a>
		</div>
	</div>
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span>Gallery</span></h2>
	</header>
	<ul id="gallery">
		<li><img src="{{ asset('assets/img/reg/img_cat.jpg') }}" width="426" height="418" alt=""></li>
        <li><img src="{{ asset('assets/img/reg/img_dog2.jpg') }}" width="426" height="418" alt=""></li>
		<li><img src="{{ asset('assets/img/reg/img_dog.jpg') }}" width="426" height="418" alt=""></li>
	</ul>
</section>
<!-- // GALLERY -->
<section id="sec02"></section>
<!-- GALLERY -->
<section id="sec02">
	<div class="buttonReg" style="margin-top: 1.5rem; margin-bottom: 1.5rem">
		<a href="{{url('entry')}}?ReturnPath=breeder_mypage" class="btn btn--orange">新規登録してペットを掲載する</a>
	</div>
</section>
<!-- BRAND --> 


<!-- PROJECT -->
<section id="sec03" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/site_image.png') }}" alt="">
	</div>
</section>
<section id="sec03" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/tradenavi.png') }}" alt="">
	</div>
</section>
<!-- // PROJECT -->
<div class="buttonReg">
	<a href="{{url('entry')}}?ReturnPath=breeder_mypage" class="btn btn--orange">新規登録してペットを掲載する</a>
</div>
<div class="buttonReg">
	<a href="{{url('breeder_login')}}?ReturnPath=breeder_mypage" class="btn btn--green">既に登録している方(ログイン)</a>
</div>
<!-- COMPANY -->
<section id="mainImg">
	<img src="{{ asset('assets/img/reg/animalline_footer.png') }}" alt="">
</section>

<section id="sec05">
	<header>
		<h2>運営会社</h2>
	</header>
	<div class="companyS">
		<ul class="col2">
			<li>
				<p>グローバル・ブリッジ・ジャパン株式会社</p>
				<p>TEL.03-5316-2125</p>
				<p>FAX.03-3290-1332</p>
				<p>営業時間　9:30～18:30<br>日曜・祝日を除く</p>
			</li>
		</ul>
	</div>
</section>
<!-- // COMPANY -->


<footer id="footer">
	Copyright © 2021 アニマルライン All Rights Reserved.
</footer>

</body>
</html>
