<div class="breeder-column__side">
    <div class="breeder-column__side_bnr">
        <ul>
            <li class="breeder-column__side_bnr_breeder">
                <a href="{{url('breeder_search')}}">
                    <i class="bi bi-search"></i>ブリーダー検索はこちら
                </a>
            </li>
            <li class="breeder-column__side_bnr_ec">
                <a href="{{ url('homepage') }}">
                    <i class="bi bi-cart3"></i>ECショップはこちら
                </a>
            </li>
            <li class="breeder-column__side_bnr_guide">
            {% if petKind %}
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <a href="{{ url('breeder_guide_dog') }}">お迎えガイド</a>
                {% else %}
                    <a href="{{ url('breeder_guide_cat') }}">お迎えガイド</a>
                {% endif %}
            {% endif %}
            </li>
            <li class="breeder-column__side_bnr_learning">
            <a href="{{ url("ani_dctn_info") }}">ペットの家庭教師</a>
            </li>
        </ul>
    </div>
    {# TODO：犬と猫を分ける #}
    <div class="breeder-column__side_links">
        <div class="breeder-column__side_links_title"><h3 style="color: #fff">カテゴリーから探す</h3></div>
        <ul>
            <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': params.pet_kind ?? constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'pet_new': 1}) }}"><i class="bi bi-caret-right-fill"></i>新着のペット</a></li>
            <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': params.pet_kind ?? constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'featured_pet': 1}) }}"><i class="bi bi-caret-right-fill"></i>注目のペット</a></li>
            <li class="parent" style="color: #fff"><i class="bi bi-caret-right-fill"></i>人気の犬種
                <ul>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 9}) }}"><i class="bi bi-chevron-right"></i>トイプードル</a></li>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 5}) }}"><i class="bi bi-chevron-right"></i>チワワ</a></li>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 8}) }}"><i class="bi bi-chevron-right"></i>ミニチュアダックス</a></li>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 11}) }}"><i class="bi bi-chevron-right"></i>ポメラニアン</a></li>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 47}) }}"><i class="bi bi-chevron-right"></i>フレンチブルドッグ</a></li>
                <li><a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'), 'breed_type' : 40}) }}"><i class="bi bi-chevron-right"></i>柴</a></li>
                </ul>
            </li>
            <li class="parent" style="color: #fff"><i class="bi bi-caret-right-fill"></i>サイズ
                <ul>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_TINNY')}) }}">
                            <i class="bi bi-chevron-right"></i>超小型犬
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_SMALL')}) }}">
                            <i class="bi bi-chevron-right"></i>小型犬
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_MEDIUM')}) }}">
                            <i class="bi bi-chevron-right"></i>中型犬
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('breeder_pet_search_result', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG'),
                        'size_code' : constant('Customize\\Config\\AnilineConf::ANILINE_DOG_SIZE_BIG')}) }}">
                            <i class="bi bi-chevron-right"></i>大型犬
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="breeder-column__side_info">
        <ul>
        <li><a href="{{ url('breeder_ani_contact') }}"><i class="bi bi-envelope"></i>お問い合わせ</a></li>
        <li><a href="{{ url('breeder_company') }}"><i class="bi bi-building"></i>会社概要</a></li>
        <li><a href="{{ url('breeder_terms') }}"><i class="bi bi-file-text"></i>利用規約</a></li>
        <li><a href="{{ url('breeder_policy') }}"><i class="bi bi-shield-check"></i>プライバシーポリシー</a></li>
        </ul>
    </div>  
</div>