{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="breeder-column-row">
                <div class="breeder-column__main">
                    <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                        <div class="breeder-column__main_section_title">
                            <h2 class="float-left mb-3">
                                {{ conservationPet.name }}
                            </h2>
                            <div class="col-md-3 col-12 float-right btn-like mb-3 {{ isFavorite ? "red-heart" : "" }}"
                                 data-id="{{ conservationPet.id }}" data-login="{{ isLoggedIn }}">
                                <a>
                                    <svg width="24" height="20" class="heart-icon">
                                        <path d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z"
                                              stroke="#FF424F" stroke-width="1.5"
                                              fill="{{ isFavorite ? '#FF424F' : 'none' }}" fill-rule="evenodd"
                                              stroke-linejoin="round"></path>
                                    </svg>
                                    <span id="textBtnLike">
                                        {{ isFavorite ? 'お気に入りから削除' : 'お気に入りに追加' }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="breeder-column__main_section_body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[0].imageUri | default | length > 0 ? images[0].imageUri : '/noimage_plugin_list.png') }}"
                                         class="card-img-top" alt="..."/>
                                    <div class="d-block d-sm-none m-2 p-2"></div>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[1].imageUri | default | length > 0 ? images[1].imageUri : '/noimage_plugin_list.png') }}"
                                         class="card-img-top w-100" alt="..."/>
                                    <div class="m-2 p-2"></div>
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[2].imageUri | default | length > 0 ? images[2].imageUri : '/noimage_plugin_list.png') }}"
                                         class="card-img-top w-100" alt="..."/>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[3].imageUri | default | length > 0 ? images[3].imageUri : '/noimage_plugin_list.png') }}"
                                         class="card-img-top w-100" alt="..."/>
                                    <div class="m-2 p-2"></div>
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[4].imageUri | default | length > 0 ? images[4].imageUri : '/noimage_plugin_list.png') }}"
                                         class="card-img-top w-100" alt="..."/>
                                </div>
                            </div>
                            <div class="m-2 p-2"></div>
                            {% if video %}
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <video controls autoplay loop preload="auto">
                                            <source type="video/mp4"
                                                    src="{{ app.request.schemeAndHttpHost ~ '/' ~ video.imageUri }}">
                                        </video>
                                    </div>
                                </div>
                                <div class="m-2 p-2"></div>
                            {% endif %}
                            {# <div class="row"> #}
                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                基本情報
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        種類
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.breedsType.breedsName ?? '' }}
                                    </div>
                                </div>
                            </div>
                            {% if conservationPet.reasonComment %}
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        募集の経緯
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.reasonComment ?? '' }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        仮名・特徴
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.name ?? '' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        性別
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    {% set conservationHouse = conservationPet.Conservation.getConservationHouseByPetType(conservationPet.petKind) %}
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        見学地域
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationHouse.conservationHousePref ~ ' ' ~ conservationHouse.conservationHouseCity ?? '' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        年齢
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.petAge }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        毛色
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.coatColor ?? '' }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        ワクチン接種
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if conservationPet.isVaccine == 0 %}
                                            未接種
                                        {% else %}
                                            接種済み
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        去勢・避妊
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if conservationPet.isCastration == 0 %}
                                            未手術
                                        {% else %}
                                            手術済み
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        単身者応募
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if conservationPet.isSingle == 0 %}
                                            応募不可
                                        {% else %}
                                            応募可
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        高齢者応募
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {% if conservationPet.isSenior == 0 %}
                                            応募不可
                                        {% else %}
                                            応募可
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            {% if conservationPet.price %}
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        お迎え費用
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.price ?? '' }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 col-md-4 contents_col_bold">
                                        費用詳細
                                    </div>
                                    <div class="col-12 col-md-8 contents_col_normal">
                                        {{ conservationPet.priceComment ?? '' }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                PRコメント
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        {{ conservationPet.prComment | nl2br }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 btn_center">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        <a href="{{ url('adoption_contact', {'pet_id': conservationPet.id}) }}">
                                            <button class="btn basic-btn adoption-btn" style="height:65px;">
                                                {% if conservationPet.getPetKind() == 1 %}
                                                この保護犬の見学希望／お問い合わせ(無料)
                                                {% else %}
                                                この保護猫の見学希望／お問い合わせ(無料)
                                                {% endif %}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4 mt-4">
                                <div class="breeder_section_header">
                                    {# <i class="fas fa-paw"></i> #}
                                    アニマルラインを通して譲渡いただくと下記の特典が受けられます！
                                </div>
                                <table class="tbl_benefits">
                                    <tr>
                                        <th>ご成約特典①</th>
                                        <td>
                                            プレミアムペットフード1種・おもちゃ2種を無料にてご提供いたします。商品詳細はご成約後にお伝えいたします。
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ご成約特典②</th>
                                        <td>
                                            ペットシーツ60枚入りを無料にてご提供いたします。
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ご成約特典③</th>
                                        <td>
                                            ＥＣサイト　<a href="https://animalline.jp/ec" target="_blank">https://animalline.jp/ec</a>　でご利用いただけるポイントを1,000ポイント付与いたします。
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>ご成約特典④</th>
                                        <td>
                                            ケア用品（シャンプー・リンス各15ml）を無料にて提供いたします
                                        </td>
                                    </tr>
                                    {% if conservationPet.getPetKind() == 1 %}
                                        <tr>
                                            <th>ご成約特典⑤</th>
                                            <td>
                                                無料のオンラインしつけ相談へご参加いただけます。ご都合のよろしい日にちをお知らせください。
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>

                            <div class="breeder_section_header_orange">
                                <i class="fas fa-paw"></i>
                                性格・特長・健康状態
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        {{ conservationPet.description | nl2br }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="breeder_section_header_orange">
                                <i class="fas fa-paw"></i>
                                引き渡し方法
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        {{ conservationPet.getDeliveryWay() | nl2br }}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="breeder_section_header_orange">
                                <i class="fas fa-paw"></i>
                                    備考
                            </div>
                            <div class="col-12 breeder_section_detail">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        {{ conservationPet.getDeliveryTime() | nl2br }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 btn_center">
                                <div class="row">
                                    <div class="col-12 contents_col_normal">
                                        <a href="{{ url('adoption_contact', {'pet_id': conservationPet.id}) }}">
                                            <button class="btn basic-btn adoption-btn" style="height:65px;">
                                                {% if conservationPet.getPetKind() == 1 %}
                                                この保護犬の見学希望／お問い合わせ(無料)
                                                {% else %}
                                                この保護猫の見学希望／お問い合わせ(無料)
                                                {% endif %}
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 contents_col_normal mt-4 mb-4 pl-4 pr-4"
                                 style="background:#f7f5f0; border:1px solid #dcdfe1; border-radius: 3px;">
                                当サイトでは里親様に最も信頼される保護犬猫譲渡サイトを目指して、<br>
保護犬猫情報および保護団体情報の正確性向上に努めております。<br>
当サイトに掲載されている情報で誤解を招く表現、事実と異なる表現などお気づきの点がございましたら<br>
事務局へのお問い合わせフォームよりご連絡をお願い致します。<br>
                            </div>
                            <div class="m-2 p-2"></div>
                            <div class="breeder_section_header">
                                <i class="fas fa-paw"></i>
                                    保護団体紹介
                            </div>
                            <div class="m-2 p-2"></div>
                            <div class="row">
                                <div class="adoption-img col-sm-4">
                                    <img alt="..."
                                         src="{{ conservationPet.Conservation.thumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                         class="w-100 mb-4 mb-sm-0"></div>
                                <div class="adoption-info col-sm-8">
                                    <h3 class="font-weight-500 color-gray-500 mb-4">
                                        {{ conservationPet.Conservation.organizationName }}
                                    </h3>
                                    <div class="d-flex mb-2">
                                        <h6>
                                            運営者氏名：
                                        </h6>
                                        <h6>
                                            {{ conservationPet.Conservation.ownerName }}
                                        </h6>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <h6>
                                            ホームページの URL：
                                        </h6>
                                        <h6>
                                            {{ conservationPet.Conservation.homepageUrl }}
                                        </h6>
                                    </div>
                                    <div class="d-flex mb-4">
                                        <h6>
                                            所在地：
                                        </h6>
                                        {% set houseDog = conservationPet.Conservation.getConservationHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                                        {% set houseCat = conservationPet.Conservation.getConservationHouseByPetType(constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')) %}
                                        {% if (conservationPet.Conservation.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT')) %}
                                            <h6>
                                                {{ houseDog.conservationHousePref ~ houseDog.conservationHouseCity ?? '' ~ ' ' ~ houseCat.conservationHousePref ~ houseCat.conservationHouseCity ?? '' }}
                                            </h6>
                                        {% elseif (conservationPet.Conservation.handlingPetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')) %}
                                            <h6>
                                                {{ houseDog.conservationHousePref ~ houseDog.conservationHouseCity ?? '' }}
                                            </h6>
                                        {% else %}
                                            <h6>
                                                {{ houseCat.conservationHousePref ~ houseCat.conservationHouseCity ?? '' }}
                                            </h6>
                                        {% endif %}
                                    </div>
                                    <a href="{{ url('adoption_detail', {'adoption_id': conservationPet.Conservation.Id}) }}">
                                        <h4 class="color-adoption">
                                            保護団体詳細ページへ
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="m-2 p-2"></div>
                        </div>
                    </div>
                </div>
                {% include 'animalline/adoption/side.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).on("click", ".btn-like", function () {
        if ($(this).data('login')) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '{{ url('adoption_favorite_pet') }}',
                data: {
                    'id': $(this).data('id')
                },
                success: function (data) {
                    if (data == 'not-allowed') {
                        alert('自分のペットなので、お気に入りの項目に入れないでください。')
                    } else if (data == 'liked') {
                        $('#textBtnLike').text('お気に入りから削除')
                        $('svg.heart-icon path').attr('fill', '#FF424F')
                        $('.btn-like').addClass('red-heart')
                    } else {
                        $('#textBtnLike').text('お気に入りに追加')
                        $('svg.heart-icon path').attr('fill', 'none')
                        $('.btn-like').removeClass('red-heart')
                    }
                }
            });
        } else {
            alert('お気に入り機能を利用するにはログインが必要です')
        }
    });
</script>
{% endblock %}