{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="side-container col-2">
                <div class="search-wrap">
                    <div class="search-list">
                        <h3>カテゴリ</h3>
                        <div class="m-2 p-2"></div>
                        <ul class="pl-0">
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="border"></div>
                    <div class="m-2 p-2"></div>
                    <div class="search-list">
                        <h3>カテゴリ</h3>
                        <div class="m-2 p-2"></div>
                        <ul class="pl-0">
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="border"></div>
                    <div class="m-2 p-2"></div>
                    <div class="search-list">
                        <h3>カテゴリ</h3>
                        <div class="m-2 p-2"></div>
                        <ul class="pl-0">
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                            <li>
                                <h3>カテゴリ</h3>
                                <ul class="search-list-child pl-3">
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                    <li><a href="#">カテゴリ</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-container col-sm-10">
                <div class="sub-title">
                    <h2>検索結果</h2>
                </div>
                <div class="m-3 p-3">
                    {{ dump(pets) }}
                </div>

                <div class="row">
                    {% for pet in pets %}
                        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
                            <div class="catalog-card">
                                <a href="{{ url('adoption_pet_detail', {'id': pet.id}) }}">
                                    <img src="{{ asset('assets/img/thumbnail.png') }}" class="card-img-top" alt="...">
                                </a>
                                <div class="card-body bg-white">
                                    <h3 class="color-gray-500 font-weight-600">柴犬（標準）</h3>
                                    <div class="m-4"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                                        <h4>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                    </div>
                                    <div class="mb-2"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-3">埼玉県</h4>
                                        <h4>茶色</h4>
                                    </div>
                                    <div class="m-2"></div>
                                    <h4>{{ pet.prComment }}</h4>
                                    <div class="m-2"></div>
                                    <h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4>
                                    <div class="m-4"></div>
                                    <h3 class="color-gray-500 font-weight-600">200,000<span>円（税込）</span></h3>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        no records found
                    {% endfor %}
                </div>
                <div class="m-2 p-2"></div>

                <nav>
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">前</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">（現在位置）</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">次</a></li>
                    </ul>
                </nav>
                <div class="m-2 p-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}

{% block javascript %}{% endblock %}