{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}
{% set params = app.request.query.all %}
{% block main %}
	<section id="breeder-mv" class="adoption">
      <div class="inner">
        <div class="breeder-mv__container">
          <div class="breeder-mv__text">
            <h2>テキストが入りますテキストが入りますテキストが入ります</h2>
            <div class="breeder-mv__text_logo"><img src="{{ asset('assets/img/breeder-mv-logo.png') }}" alt="Animalline Breeder"/></div>
            <p>キャッチコピーが入ります。</p>
            <div class="breeder-mv__text_btn">
              <ul>
                {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                    <li class="breeder-mv__text_btn_dog"><span><i>犬を探す</i></a></li>
                    <li class="breeder-mv__text_btn_cat"><a href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}"><i>猫を探す</i></a></li>
                {% else %}
                    <li class="breeder-mv__text_btn_dog"><a href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}"><i>犬を探す</i></a></li>
                    <li class="breeder-mv__text_btn_cat"><span><i>猫を探す</i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="breeder-mv__search">
            <div class="breeder-mv__search_wrap breeder-mv__search_dog">
              <div class="breeder-mv__search_title">
                <h2>犬を探す</h2>
              </div>
              <div class="breeder-mv__search_body">
                <form action="{{ url('adoption_pet_search_result') }}" method="get">
                  <input type="hidden" name="pet_kind" value="{{ petKind }}">
                  <div class="breeder-mv__search_top">
                    <div class="select-container">
                      <select class="form_dropdown w-100" id="formControlSelect1" name="breed_type">
                        <option value="">種類</option>
                        {% for breed in breeds %}
                            <option value="{{ breed.id }}" {% if params.breed_type is defined and params.breed_type== breed.id
								%} selected {% endif %}>{{ breed.breedsName }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="breeder-mv__search_bottom">
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect2" name="gender">
                          <option value="">性別</option>
							<option value="1" {% if params.gender is defined and params.gender == 1
							%} selected {% endif %}>男の子</option>
							<option value="2" {% if params.gender is defined and params.gender == 2
							%} selected {% endif %}>女の子</option>
                        </select>
                      </div>
                    </div>
                    <div class="breeder-mv__search_bottom_w50">
                      <div class="select-container">
                        <select class="form_dropdown w-100" id="formControlSelect3" name="region">
                            <option value="">都道府県</option>
							{% for region in regions %}
								<option value="{{ region.id }}" {% if params.region is defined and params.region == region.id
								%} selected {% endif %}>{{ region.name }}</option>
							{% endfor %}
                        </select>
                      </div>
                      <label><input type="checkbox" name="adjacent" value="1" class="mr-1"　{% if params.adjacent is defined and params.adjacent == 1
							%} checked {% endif %}{% if params.adjacent is defined and params.adjacent == 1
							%} checked {% endif %}>隣の都道府県も検索</label>
                    </div>
                  </div>
                  <div class="breeder-mv__search_btn">
                    <button><i class="bi bi-check2-square"></i>この条件で検索する</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	
	{# <div class="bg-primary"> #}
	<div>
		<div class="m-2 p-2"></div>
		<div class="row">
			{{ include('animalline/adoption/side.twig') }}
			<div class="main-container col-sm-9">
				<h2>検索結果</h2>
				<div class="m-3 p-3"></div>
				
				<div class="row">
					{% for pet in pets %}
						<div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
							<div class="catalog-card">
								<a href="{{ url('adoption_pet_detail', {'id': pet.id}) }}">
									<img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
									     class="card-img-top" alt="Pet-image">
								</a>
								<div class="card-body bg-white">
									<h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
									<div class="m-4"></div>
									<div class="d-flex">
										<h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
										<h4>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
									</div>
									<div class="mb-2"></div>
									<div class="d-flex">
										{% set conservationHouse = pet.Conservation.getConservationHouseByPetType(pet.petKind) %}
										<h4 class="mr-3">{{ conservationHouse.conservationHousePref ~ ' ' ~ conservationHouse.conservationHouseCity ?? '' }}</h4>
										<h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
									</div>
									<div class="m-2"></div>
									<h4>{{ pet.prComment }}</h4>
									<div class="m-2"></div>
									{# <h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4> #}
									<div class="m-4"></div>
									<h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
									</h3>
								</div>
							</div>
						</div>
					{% else %}
						メッセージが見つかりません
					{% endfor %}
				</div>
				<div class="m-2 p-2"></div>
				<div class="navigation">
					{{ knp_pagination_render(pets) }}
				</div>
				<div class="m-2 p-2"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}

{% block javascript %}{% endblock %}