{% set site_type = 'common' %}
{% extends 'ani_frame.twig' %}

{% block main %}
<div class="container">

        {{ form_start(form, {'attr': {'id': 'upload_form'}}) }}
        {{ form_label(form.image, 'Choose Image To Upload', { 'label_attr': {'class': 'ec-label' }}) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}

        <img width="400" src="" alt="" id="avatar">
        <button class="mt-3 btn btn-info">{{ button_label|default('Upload') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <style>
        .container {
            margin: 20px auto;
            max-width: 640px;
        }

        img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script>
    let cropper;
    var preview = document.getElementById('avatar')
    var file_input = document.getElementById('form_image')
    window.previewFile  = function ()
    {
        let file = file_input.files[0]
        let reader = new FileReader()

        reader.addEventListener('load', function (event)
    {
        preview.src = reader.result
    }, false)

        if (file)
    {
        reader.readAsDataURL(file)
    }
    }

    preview.addEventListener('load', function (event)
    {
        cropper = new Cropper(preview, {
            cropBoxResizable: false,
            cropBoxMovable: true,
            aspectRatio: 1/1,
            crop(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },
        })
    })

    let form = document.getElementById('upload_form')
    form.addEventListener('submit', function (event)
    {
        event.preventDefault()
        cropper.getCroppedCanvas({
        maxHeight: 1000,
        maxWidth: 1000
    }).toBlob(function (blob)
    {
       // ajaxWithAxios(blob)
    })
    })
</script>
{% endblock %}
