{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <h1>ConservationPetImage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image_type</th>
                <th>Image_uri</th>
                <th>Sort_order</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conservation_pet_image in conservation_pet_images %}
            <tr>
                <td>{{ conservation_pet_image.id }}</td>
                <td>{{ conservation_pet_image.imageType }}</td>
                <td>{{ conservation_pet_image.imageUri }}</td>
                <td>{{ conservation_pet_image.sortOrder }}</td>
                <td>
                    <a href="{{ path('conservation_pet_image_show', {'id': conservation_pet_image.id}) }}">show</a>
                    <a href="{{ path('conservation_pet_image_edit', {'id': conservation_pet_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">メッセージが見つかりません</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conservation_pet_image_new') }}">Create new</a>
{% endblock %}
