{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['adoptions', 'adoptions_adoption_list'] %}

{% block title %}{{ 'ペット情報編集'|trans }}{% endblock %}
{% block sub_title %}{{ '保護団体管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">

    <!-- select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
        integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <!-- select2-bootstrap4-theme -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
{% endblock stylesheet %}

{% block javascript %}
    <!-- select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"
        integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks=" crossorigin="anonymous"></script>

    <script>
        $(function(){
            $("#breeds_type").select2({
                theme: 'bootstrap4',
                language: {
                    "noResults": function () {
                        return "結果が見つかりません。";
                    }
                }
            });
        });

        $("#edit-submit").click(function() {
            $("#path-get-all").val(localStorage.url);
        });
    </script>
{% endblock javascript %}

{% block main %}
    {{ form_start(form) }}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ 'ペット情報'|trans }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                   aria-controls="basicConfig">
                                    <i class="fa fa-angle-up fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="basicConfig">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>ペット種別</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    <span class="form-control">{{ conservationPet.getPetKind() == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬' : '猫' }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>犬/猫種</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    <select id="breeds_type" name="breeds_type" class="form-control">
                                        {% for breed in breeds %}
                                            <option {{ conservationPet.breedsType and conservationPet.breedsType.id == breed.id ? 'selected' : '' }}
                                                    value="{{ breed.id }}">{{ breed.breedsName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>画像</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {% for image in images %}
                                        <img alt="conservation_pet_image"
                                             src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (image.imageUri | default('/noimage_plugin_list.png')) }}"
                                             style="max-width: 65px" class="mr-2">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.pet_sex, '性別', { 'label_attr': {'class': 'ec-label'}}) }}
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.pet_sex) }}
                                    {{ form_errors(form.pet_sex) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        誕生日
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <div class="ec-birth{{ has_errors(form.pet_birthday) ? ' error' }} date">
                                        {{ form_widget(form.pet_birthday.year) }}&nbsp;/&nbsp;
                                        {{ form_widget(form.pet_birthday.month) }}&nbsp;/&nbsp;
                                        {{ form_widget(form.pet_birthday.day) }}
                                        {{ form_errors(form.pet_birthday) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>毛色</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.coat_color) }}
                                    {{ form_errors(form.coat_color) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.future_wait, '成犬時予想体重', { 'label_attr': {'class': 'ec-label'}}) }}
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.future_wait, {'attr': { 'placeholder': '体重：1kg～3kg　 体高：12cm～20cm'}}) }}
                                    {{ form_errors(form.future_wait) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.dna_check_result, '遺伝子調査結果', { 'label_attr': {'class': 'ec-label'}}) }}
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.dna_check_result) }}
                                    {{ form_errors(form.dna_check_result) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.pr_comment, 'アピールポイント', { 'label_attr': {'class': 'ec-label'}}) }}
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.pr_comment) }}
                                    {{ form_errors(form.pr_comment) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.description, '紹介文', { 'label_attr': {'class': 'ec-label'}}) }}
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.description) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.delivery_time, '引き渡し時期', { 'label_attr': {'class': 'ec-label'}}) }}
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.delivery_time) }}
                                    {{ form_errors(form.delivery_time) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.delivery_way, '引き渡し方法', { 'label_attr': {'class': 'ec-label'}}) }}
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.delivery_way) }}
                                    {{ form_errors(form.delivery_way) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.price, '価格', { 'label_attr': {'class': 'ec-label'}}) }}
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">￥ </span>
                                        </div>
                                        {{ form_widget(form.price) }}
                                        {{ form_errors(form.price) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        {{ form_label(form.release_date, '公開日', { 'label_attr': {'class': 'ec-label'}}) }}
                                        {# <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span> #}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="ec-birth{{ has_errors(form.release_date) ? ' error' }} date">
                                        {{ form_widget(form.release_date.year) }}&nbsp;/&nbsp;
                                        {{ form_widget(form.release_date.month) }}&nbsp;/&nbsp;
                                        {{ form_widget(form.release_date.day) }}
                                        {{ form_errors(form.release_date) }}
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="path-get-all" name="url">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                        <a class="c-baseLink"
                           href="{{ url('admin_adoption_pet_list', {'id': conservationPet.conservation.id}) }}">
                            <i class="fa fa-backward" aria-hidden="true"></i><span>ペット一覧</span>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            {{ form_widget(form.is_active) }}
                            {{ form_errors(form.is_active) }}
                        </div>
                        <div class="col-auto">
                            <button id="edit-submit" class="btn btn-ec-conversion px-5"
                                    type="submit">{{ 'admin.common.registration'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}


