{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['adoptions', 'adoptions_adoption_list'] %}
{% set params = app.request.query.all %}

{% set column = params.field is defined ? params.field : 'create_date' %}
{% set ordering = params.direction is defined ? params.direction : 'DESC' %}

{% block title %}{{ 'ペット一覧'|trans }}{% endblock %}
{% block sub_title %}{{ '保護団体管理'|trans }}{% endblock %}

{# {% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %} #}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">

    <!-- select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
        integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <!-- select2-bootstrap4-theme -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
{% endblock stylesheet %}

{% block javascript %}
<!-- select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"
    integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks=" crossorigin="anonymous"></script>

<script>
    $(function () {
        $("#breed_type").select2({
            theme: 'bootstrap4',
            language: {
                "noResults": function () {
                    return "結果が見つかりません。";
                }
            }
        });
    });
</script>
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form' method="get" action="{{ url('admin_adoption_pet_list', {'id': conservationId}) }}">
            {# {{ form_widget(searchForm._token) }} #}
            <div class="c-outsideBlock__contents">
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">種別</label>
                        <select id="pet_kind" name="pet_kind" class="form-control">
                            {% set kindNames = ['全て', '犬', '猫'] %}
                            {% for i in 0..2 %}
                                <option value="{{ i }}" {% if params.pet_kind is defined and params.pet_kind == i %} selected {% endif %}>{{ kindNames[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">犬種/猫種</label>
                        <select id="breed_type" name="breed_type" class="form-control">
                            <option value="0">全て</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.Id }}" {% if params.breed_type is defined and params.breed_type == breed.Id %} selected {% endif %}>{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="c-outsideBlock__contents mb-5">
                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.search'|trans }}</button>
            </div>
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2"></th>
                                {# TODO:クリックで昇順ソート #}
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'id' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_adoption_pet_list', params|merge({'id': conservationId, 'field': 'id', 'direction': direction})) }}">ID</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2">画像</th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'pet_kind' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_adoption_pet_list', params|merge({'id': conservationId, 'field': 'pet_kind', 'direction': direction})) }}">種別</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'breed_type' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_adoption_pet_list', params|merge({'id': conservationId, 'field': 'breed_type', 'direction': direction})) }}">犬種/猫種</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'create_date' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_adoption_pet_list', params|merge({'id': conservationId, 'field': 'create_date', 'direction': direction})) }}">登録日</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'update_date' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_adoption_pet_list', params|merge({'id': conservationId, 'field': 'update_date', 'direction': direction})) }}">更新日</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pet in pets %}
                                <tr id="ex-adoption-1">
                                    <td class="align-middle"></td>
                                    <td class="align-middle">{{ pet.Id }}</td>
                                    <td class="align-middle">
                                        <img alt="..."
                                             src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default | length > 0 ? pet.thumbnailPath : '/noimage_plugin_list.png') }}"
                                             style="max-width: 100px">
                                    </td>
                                    <td class="align-middle">{{ pet.petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬' : '猫' }}</td>
                                    <td class="align-middle">{{ pet.BreedsType.breedsName }}</td>
                                    <td class="align-middle">{{ pet.createDate|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">{{ pet.updateDate|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle pr-3" colspan="3">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true"
                                                 data-placement="top" title="ペット情報編集">
                                                <a class="btn btn-ec-actionIcon"
                                                   href="{{ url('admin_adoption_pet_edit', {'id': pet.Id}) }}">
                                                    <i class="fa fa-edit fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="8">結果が０件です。</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="navigation float-right">
                    {{ knp_pagination_render(pets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

