{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['dna', 'dna_examination_status_ec'] %}
{% set params = app.request.query.all %}

{% block title %}{{ '検査状況確認（有料）'|trans }}{% endblock %}
{% block sub_title %}{{ 'DNA検査'|trans }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block main %}
{% set check_status = {1:'検体返送待ち ', 2: 'DNA検査中', 3:'検査通過',4:'検査NG', 8:'検体再送付手続済', 9:'検体異常'} %}

<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <form id="form_bulk" method="post" action="">
                <input type="hidden" name="dna-id" value="">
                <input type="hidden" name="change-status-id" value="">
                <div class="row justify-content-between mb-2">
                    <div class="col-6">
                        <div id="btn_bulk" class="d-none">
                            <label class="mr-2">一括操作</label>
                            <button class="btn btn-ec-regular mr-2 action-submit">検査キット再請求</button>
                        </div>
                    </div>
                    <div class="col-5 text-right">
                        <div class="d-inline-block mr-2">
                            <div>
                                <select class="custom-select" onchange="location = this.value;">
                                    {% for i in range(10, 60, 10) %}
                                    <option value="{{ url('admin_dna_examination_status',
                                                params|merge({'item': i})) }}" {{ params.item is defined ?
                                        (params.item==i ? 'selected' ) : (i==50 ? 'selected' ) }}>{{ i }}件
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2"></th>
                                    <th class="border-top-0 pt-2 pb-2">ID</th>
                                    <th class="border-top-0 pt-2 pb-2">画像</th>
                                    <th class="border-top-0 pt-2 pb-2">種別</th>
                                    <th class="border-top-0 pt-2 pb-2">犬種/猫種</th>
                                    <th class="border-top-0 pt-2 pb-2 text-nowrap">検査ステータス</th>
                                    <th class="border-top-0 pt-2 pb-2">キット返送</th>
                                    <th class="border-top-0 pt-2 pb-2">結果受信</th>
                                    <th class="border-top-0 pt-2 pb-2">宛先名</th>
                                    <th class="border-top-0 pt-2 pb-2">送付住所</th>
                                    <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dna in dnas %}
                                <tr>
                                    <td></td>
                                    <td class="align-middle">{{ dna.id }}</td>
                                    <td class="align-middle">
                                        {% if dna.ImagePath %}
                                            <img src="{{ '/html/upload/dnabuy/' ~ dna.ImagePath }}"
                                                style="max-width: 50px">
                                        {% else %}
                                            <img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png' }}"
                                                style="max-width: 50px">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ dna.PetKind ==
                                        constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬' :
                                        dna.PetKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')
                                        ? '猫' : '_' }}</td>
                                    <td class="align-middle">{{ dna.BreedsType.BreedsName }}</td>
                                    <td class="align-middle">{{ check_status[dna.CheckStatus] }}</td>
                                    <td class="align-middle">{{ dna.KitReturnDate is empty ? '_' : dna.KitReturnDate
                                        | date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">{{ dna.CheckReturnDate is empty ? '_' :
                                        dna.CheckReturnDate | date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">{{ dna.DnaSalesHeader.ShippingName }}</td>
                                    <td class="align-middle">{{ dna.DnaSalesHeader.ShippingPref }}{{ dna.DnaSalesHeader.ShippingCity }}{{ dna.DnaSalesHeader.ShippingAddress }}</td>
                                    <td class="align-middle pr-3" colspan="3">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true"
                                                data-placement="top" title="検査キット再送付">
                                                <a class="btn btn-ec-actionIcon" {{
                                                    dna.CheckStatus==constant('Customize\\Config\\AnilineConf::ANILINE_DNA_CHECK_STATUS_SPECIMEN_ABNORMALITY')
                                                    ? 'onclick=change(' ~dna.dna_id~')' : 'disabled' }}>
                                                    <i class="fa fa-vial fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true"
                                                data-placement="top" title="審査結果表示">
                                                <a {% if (dna.CheckStatus > 2) %}
                                                    href="{{ url('admin_dna_download_pdf', {'id':dna.id}) }}" {%
                                                    else %} disabled {% endif %} class="btn btn-ec-actionIcon">
                                                    <i class="fa fa-files-o fa-lg text-secondary"
                                                        aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal fade" id="confirm-modal-status" tabindex="-1" role="dialog"
                        aria-labelledby="confirm-modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">
                                        確認ダイアログ
                                    </h5>
                                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <p class="text-left modal-message">ペット情報を公開しますか？</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                                        いいえ
                                    </button>
                                    <button class="btn btn-ec-conversion" type="submit">
                                        はい
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog"
                        aria-labelledby="confirm-modal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">
                                        確認ダイアログ
                                    </h5>
                                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <p class="text-left modal-message">検体を再送付しますか？</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                                        {{ 'admin.common.cancel'|trans }}
                                    </button>
                                    <button class="btn btn-ec-conversion" type="submit">
                                        はい
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="navigation float-right">
            {{ knp_pagination_render(dnas, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script>
    function change(id) {
        $('input[name=dna-id]').val(id);
        $('#confirm-modal').modal('show');
    };
    function changeStatus(id) {
        $('input[name=change-status-id]').val(id);
        $('#confirm-modal-status').modal('show');
    };
    $(".btn-ec-conversion").on('click', function () {
        setTimeout(function () {
            $('#confirm-modal').modal('hide');
        }, 2000);
    });
</script>
{% endblock %}