{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['dna', 'dna_examination_items'] %}
{% set params = app.request.query.all %}

{% block title %}{{ '検査項目管理'|trans }}{% endblock %}
{% block sub_title %}{{ 'DNA検査'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block main %}
    <div class="c-outsideBlock">
        <div class="c-outsideBlock__contents">
            <div class="row justify-content-start">
                <div class="col-6">
                    <div class="mb-2">
                        <label class="col-form-label">種別</label>
                        <select class="form-control" id="pet_kind" name="pet_kind">
                            {% set kindNames = ['選択してください', '犬', '猫'] %}
                            {% for i in 0..2 %}
                                <option value="{{ i }}" {% if params.pet_kind is defined and params.pet_kind == i %} selected {% endif %}>{{ kindNames[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-2">
                        <label class="col-form-label">犬種/猫種</label>
                        <select class="form-control" id="breeds">
                            <option value="" selected="selected">選択してください</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.id }}" {% if params.breeds is defined and params.breeds == breed.Id %} selected {% endif %}>{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-outsideBlock__contents mb-5">
            <button class="btn btn-ec-conversion px-5" type="submit">表示</button>
        </div>
    </div>
    {# <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2 pl-3">検査名</th>
                                    <th class="border-top-0 pt-2 pb-2">ステータス</th>
                                    <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle pl-3">〇〇遺伝子検査</td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle pr-3" colspan="1">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="削除">
                                                <a class="btn btn-ec-actionIcon" href="#">
                                                    <i class="fa fa-close fa-lg text-secondary"aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                               
                                <tr>
                                    <td class="align-middle pl-3">〇〇因子検査</td>
                                    <td class="align-middle">廃止</td>
                                    <td class="align-middle pr-3" colspan="1">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="削除">
                                                <a class="btn btn-ec-actionIcon" href="#" disabled>
                                                    <i class="fa fa-close fa-lg text-secondary"aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div> #}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <div class="card rounded border-0">
                            <ul class="list-group list-group-flush sortable-container">
                                <li class="list-group-item">
                                    <form method="post" class="form-row">
                                        <div class="col-auto align-self-center">
                                            <span>検査項目</span></div>
                                            <div class="col-4 mr-2">
                                                <input type="text" required="required" maxlength="64" class="form-control" />
                                                </div>
                                            <div class="col-auto">
                                                <button class="btn btn-ec-regular" type="submit">新規作成</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4"><strong>検査項目</strong></div>
                                        <div class="col-3"><strong>ステータス</strong></div>
                                    </div>
                                </li>
                                {% for dna_check_kind in dna_check_kinds %}
                                <li id="ex-class_name-2" class="list-group-item">
                                    <div class="row justify-content-around mode-view">
                                        <div class="col-4 d-flex align-items-center">
                                            <span>{{ dna_check_kind.checkKind }}</span>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <span>{{ dna_check_kind.deleteFlg == 0 ? '実施中' : '廃止' }}</span>
                                        </div>
                                        <div class="col-auto text-right">
                                            <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top" title="廃止">
                                                {% if dna_check_kind.deleteFlg == 0 %}
                                                    <a class="btn btn-ec-actionIcon ban">
                                                        <i class="fa fa-ban fa-lg text-secondary"></i>
                                                    </a>
                                                {% elseif dna_check_kind.deleteFlg == 1 %}
                                                    <a class="btn btn-ec-actionIcon lift">
                                                        <i class="far fa-circle fa-lg text-secondary"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                {# <li class="list-group-item">
                                    <div class="row justify-content-around mode-view">
                                        <div class="col-4 d-flex align-items-center">
                                            <span>〇〇検査</span>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                            <span>廃止</span>
                                        </div>
                                        <div class="col-auto text-right">
                                            <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top" title="廃止の解除">
                                                <a class="btn btn-ec-actionIcon lift">
                                                    <i class="far fa-circle fa-lg text-secondary"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li> #}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 廃止モーダル -->
    <div class="modal fade" id="BanModal" tabindex="-1" role="dialog" aria-labelledby="BanModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        廃止します
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p class="text-left modal-message">廃止します。よろしいですか？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                        キャンセル
                    </button>
                    <form action="" name="destroy-supplier">
                        <input type="hidden" name="id-destroy" value="">
                        <button class="btn btn-ec-delete" type="submit">
                            廃止
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 廃止解除モーダル -->
    <div class="modal fade" id="LiftModal" tabindex="-1" role="dialog" aria-labelledby="LiftModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        廃止を解除します
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p class="text-left modal-message">廃止を解除します。よろしいですか？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                        キャンセル
                    </button>
                    <form action="" name="destroy-supplier">
                        <input type="hidden" name="id-destroy" value="">
                        <button class="btn btn-ec-delete" type="submit">
                            解除
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script>
    $(".ban").on('click', function() {
        $('#BanModal').modal('show');
    });
    $(".lift").on('click', function() {
        $('#LiftModal').modal('show');
    });
</script>
{% endblock %}


