{{ form_start(form) }}
    {{ form_label(form.pet_kind, 'Pet kind', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.pet_kind) }}
    {{ form_errors(form.pet_kind) }}

    {{ form_label(form.coat_color_name, 'Coat color name', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.coat_color_name) }}
    {{ form_errors(form.coat_color_name) }}

    {{ form_label(form.sort_order, 'Sort order', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.sort_order) }}
    {{ form_errors(form.sort_order) }}

<button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
