{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}
{% block main %}
    <h1>CoatColors index</h1>
    <br>
        <a class="btn btn-primary" href="{{ path('coat_colors_new') }}">Create new</a>
    <hr>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pet_kind</th>
                <th>Coat_color_name</th>
                <th>Sort_order</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coat_color in coat_colors %}
            <tr>
                <td>{{ coat_color.id }}</td>
                <td>{{ coat_color.petKind }}</td>
                <td>{{ coat_color.coatColorName }}</td>
                <td>{{ coat_color.sortOrder }}</td>
                <td>
                    <a href="{{ path('coat_colors_show', {'id': coat_color.id}) }}">show</a>
                    <a href="{{ path('coat_colors_edit', {'id': coat_color.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
