{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}
{% block main %}
    <h1>CoatColors</h1>
    <br>
    <a href="{{ path('coat_colors_index') }}">< back to list</a>
    <hr>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coat_color.id }}</td>
            </tr>
            <tr>
                <th>Pet_kind</th>
                <td>{{ coat_color.petKind }}</td>
            </tr>
            <tr>
                <th>Coat_color_name</th>
                <td>{{ coat_color.coatColorName }}</td>
            </tr>
            <tr>
                <th>Sort_order</th>
                <td>{{ coat_color.sortOrder }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('test/coat_colors/_delete_form.html.twig') }}
{% endblock %}
