{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}{{ 'gmo_payment_gateway.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'gmo_payment_gateway.admin.config.sub_title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}{% endblock stylesheet %}

{% block javascript %}
    <script>
        self.moveTo(20, 20);
        self.focus();

        function win_open(URL) {
            var WIN;
            WIN = window.open(URL);
            WIN.focus();
        }

        function site_win() {
            var server_url = $('#config_kanri_server_url').val();
            server_url = server_url.replace(/kanri/g, "mulpayconsole");
            if (server_url == '') {
                alert("{{ 'gmo_payment_gateway.admin.config.error1'|trans }}");
                return;
            }
            var site_id = $('#config_site_id').val();
            if (site_id == '') {
                alert("{{ 'gmo_payment_gateway.admin.config.error2'|trans }}");
                return;
            }

            var WIN;
            WIN = window.open(server_url + 'site/' + site_id);
            WIN.focus();
        }

        function shop_win() {
            var server_url = $('#config_kanri_server_url').val();
            server_url = server_url.replace(/kanri/g, "mulpayconsole");
            if (server_url == '') {
                alert("{{ 'gmo_payment_gateway.admin.config.error1'|trans }}");
                return;
            }
            var shop_id = $('#config_shop_id').val();
            if (shop_id == '') {
                alert("{{ 'gmo_payment_gateway.admin.config.error3'|trans }}");
                return;
            }

            var WIN;
            WIN = window.open(server_url + 'shop/' + shop_id);
            WIN.focus();
        }

        function connect_select() {
            var connect_type = $("input:radio[name='config[connect_server_type]']:checked").val();
            if (connect_type == '3') {
                $('#config_server_url').parents('.form-group').show();
                $('#config_kanri_server_url').parents('.form-group').show();
            } else {
                $('#config_server_url').parents('.form-group').hide();
                $('#config_kanri_server_url').parents('.form-group').hide();

                var server_url = '{{ eccube_config['gmo_payment_gateway.admin.config.test.server_url'] }}';
                var kanri_server_url = '{{ eccube_config['gmo_payment_gateway.admin.config.test.kanri_server_url'] }}';
                if (connect_type == '2') {
                    server_url = '{{ eccube_config['gmo_payment_gateway.admin.config.prod.server_url'] }}';
                    kanri_server_url = '{{ eccube_config['gmo_payment_gateway.admin.config.prod.kanri_server_url'] }}';
                }
                $('#config_server_url').val(server_url);
                $('#config_kanri_server_url').val(kanri_server_url);
            }
        }

        $(function () {
            connect_select();
            $("input:radio[name='config[connect_server_type]']").change(function () {
                connect_select();
            });
        });
    </script>
{% endblock javascript %}
{% block main %}
    <form role="form" method="post">

        {{ form_widget(form._token) }}

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div style="margin:0 15px;">
                                    <span>{{ 'gmo_payment_gateway.admin.config.note1'|trans }}</span><br/>
                                    <span><a href="{{ note_link1 }}" target="_blank"><button type="button" class="btn btn-default btn-sm" style="margin-bottom:10px;">{{ 'gmo_payment_gateway.admin.config.note_btn1'|trans }}</button></a></span><br/>
                                    <span>{{ 'gmo_payment_gateway.admin.config.note2'|trans }}</span><br/>
                                    <span><a href="{{ note_link2 }}" target="_blank"><button type="button" class="btn btn-default btn-sm" style="margin-bottom:10px;">{{ 'gmo_payment_gateway.admin.config.note_btn2'|trans }}</button></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'gmo_payment_gateway.admin.config.header1'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col1'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.connect_server_type) }}
                                    {{ form_errors(form.connect_server_type) }}
                                </div>
                            </div>
                            <div class="row form-group" style="display:none;">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col8'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.server_url) }}
                                    {{ form_errors(form.server_url) }}
                                </div>
                            </div>
                            <div class="row form-group" style="display:none;">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col9'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.kanri_server_url) }}
                                    {{ form_errors(form.kanri_server_url) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col2'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.site_id) }}
                                    {{ form_errors(form.site_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col3'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.site_pass) }}
                                    {{ form_errors(form.site_pass) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col4'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.shop_id) }}
                                    {{ form_errors(form.shop_id) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col5'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.shop_pass) }}
                                    {{ form_errors(form.shop_pass) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.col7'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.card_regist_flg) }}
                                    {{ form_errors(form.card_regist_flg) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'gmo_payment_gateway.admin.config.header2'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.other.col1'|trans }}</span></div>
                                <div class="col mb-2">
                                    <p>{{ recv_url }}</p>
                                    <p class="small">{{ 'gmo_payment_gateway.admin.config.note_recv'|trans }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.other.col2'|trans }}</span></div>
                                <div class="col mb-2">
                                    <span><button type="button" class="btn btn-default btn-sm" onclick="javascript:void(site_win());" style="margin-bottom:10px;">{{ 'gmo_payment_gateway.admin.config.other.btn2'|trans }}</button></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.config.other.col3'|trans }}</span></div>
                                <div class="col mb-2">
                                    <span><button type="button" class="btn btn-default btn-sm" onclick="javascript:void(shop_win());" style="margin-bottom:10px;">{{ 'gmo_payment_gateway.admin.config.other.btn3'|trans }}</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-beseLink"
                               href="{{ url('admin_store_plugin') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'gmo_payment_gateway.admin.config.back'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'gmo_payment_gateway.admin.save'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
