{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_dna_check_list'] %}
{% set params = app.request.query.all %}

{% block title %}{{ '検査状況集計'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script>
    $(document).ready( function() {
        $('#pet_kind').val({{ pet_kind }});
        $('#pet_kind').change();
    });
    
    $('#pet_kind').on('change', function () {
        getDataByPetKind(this);
    });

    function getDataByPetKind(petKindSelect) {
        let breed = color = null;
        const isEdit = !!$('#form-edit').length;
        if (isEdit) {
            breed = $('#BreedsType').val();
        }

        $.ajax({
            type: 'get',
            url: '/pet_data_by_pet_kind',
            dataType: 'json',
            data: {
                pet_kind: petKindSelect.value
            }
        })
            .done(function (data) {
                const { breeds } = data;
                $('#BreedsType').empty();
                $('#BreedsType').append(new Option('選択してください', ''));
                breeds.forEach(breed => {
                    $('#BreedsType').append(new Option(breed.name, breed.id));
                });
                
                $('#BreedsType').val({{ BreedsType }});
            })
            .fail(function (err) {
                console.error(err);
            });
    }
</script>
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock mb-4">
        <form id='search_form' method="get" action="{{ url('admin_breeder_dna_check_list') }}">
            <div class="c-outsideBlock__contents">
                <div class="ec-select pb-2">
                    <div id="instock_list_order_date" class="form-inline">
                        <select class="form-control" id="instock_list_order_date_year" name="order_date_year">
                            {% for i in 2021..2023 %}
                                <option value={{ i }} {% if params.order_date_year is defined and params.order_date_year == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_month" name="order_date_month">
                            {% for i in 1..12 %}
                                <option value={{ i }} {% if params.order_date_month is defined and params.order_date_month == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_day" name="order_date_day">
                            {% for i in 1..31 %}
                                <option value={{ i }} {% if params.order_date_day is defined and params.order_date_day == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                        　～　
                        <select class="form-control" id="instock_list_order_date_year" name="order_date_year2">
                            {% for i in 2021..2023 %}
                                <option value={{ i }} {% if params.order_date_year is defined and params.order_date_year2 == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_month" name="order_date_month2">
                            {% for i in 1..12 %}
                                <option value={{ i }} {% if params.order_date_month is defined and params.order_date_month2 == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_day" name="order_date_day2">
                            {% for i in 1..31 %}
                                <option value={{ i }} {% if params.order_date_day is defined and params.order_date_day2 == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="ec-select pb-2">
                    検査団体：<br />
                    <select class="form-control" id="instock_list_organization" name="dna_check_org">
                        <option value=1 {% if params.dna_check_org is defined and params.dna_check_org == 1 %} selected{% endif %}>VEQTA</option>
                        <option value=2 {% if params.dna_check_org is defined and params.dna_check_org == 2 %} selected{% endif %}>ラボ</option>
                    </select>
                </div>

                <div class="ec-select pb-2">
                    種別：<br />
                    <select class="form-control" id="pet_kind" name="pet_kind">
                        <option value=0>--</option>
                        <option value=1>犬</option>
                        <option value=2>猫</option>
                    </select>
                </div>

                <div class="ec-select pb-2">
                    犬種／猫種：<br />
                    <select class="form-control" id="BreedsType" name="BreedsType">
                        <option value=0 {% if params.BreedsType is defined and params.BreedsType == 0 %} selected{% endif %}>--</option>
                    </select>
                </div>
                <button class="btn btn-ec-conversion px-5" id="search" type="submit">集計</button>
            </div>
        </form>
    </div>

<div style="text-align:right;margin:20px">
<a href="{{ url("admin_breeder_dna_check_csv_get") }}">一覧CSVダウンロード</a>
</div>
<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <div class="card rounded border-0 mb-4 d-block">
                <div class="card-body p-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2"></th>
                                <th class="border-top-0 pt-2 pb-2">検査完了日</th>
                                <th class="border-top-0 pt-2 pb-2">ブリーダー名</th>
                                <th class="border-top-0 pt-2 pb-2">検査ID</th>
                                <th class="border-top-0 pt-2 pb-2">犬種／猫種</th>
                                <th class="border-top-0 pt-2 pb-2">検査項目数</th>
                                <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for status in dnaCheckStatus %}
                            <tr>
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ status.result_date }}</td>
                                <td class="align-middle">{{ status.name }}</td>
                                <td class="align-middle">{{ status.barcode }}</td>
                                <td class="align-middle">{{ status.breeds_name }}</td>
                                <td class="align-middle">{{ status.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}