{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_dna_check_list'] %}
{% set params = app.request.query.all %}

{% block title %}{{ '検査状況集計'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock mb-4">
        <form id='search_form' method="get" action="{{ url('admin_breeder_dna_check_list') }}">
            <div class="c-outsideBlock__contents">
                <div class="ec-select pb-2">
                    <div id="instock_list_order_date" class="form-inline">
                        <select class="form-control" id="instock_list_order_date_year" name="order_date_year">
                            {% for i in 2016..2036 %}
                                <option value={{ i }} {% if params.order_date_year is defined and params.order_date_year == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_month" name="order_date_month">
                            {% for i in 1..12 %}
                                <option value={{ i }} {% if params.order_date_month is defined and params.order_date_month == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select><span>&nbsp;/&nbsp;</span>
                        <select class="form-control" id="instock_list_order_date_day" name="order_date_day">
                            {% for i in 1..31 %}
                                <option value={{ i }} {% if params.order_date_day is defined and params.order_date_day == i %} selected{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button class="btn btn-ec-conversion px-5" id="search" type="submit">集計</button>
            </div>
        </form>
    </div>

<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <div class="card rounded border-0 mb-4 d-block">
                <div class="card-body p-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2"></th>
                                <th class="border-top-0 pt-2 pb-2">ブリーダー名</th>
                                <th class="border-top-0 pt-2 pb-2">検査頭数</th>
                                <th class="border-top-0 pt-2 pb-2">検査項目数</th>
                                <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for key, value in arrayBreeder %}
                            <tr>
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ breederName[key] }}</td>
                                <td class="align-middle">{{ arrayBreeder[key] }}</td>
                                <td class="align-middle">{{ arrCount[key] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}