{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_breeder_list'] %}

{% block title %}{{ '登録内容編集'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <style>
        img#image {
            display: block;
            max-width: 100%;
        }
        .preview {
            overflow: hidden;
            width: 200px !important;
            height: 200px !important;
        }
    </style>
{% endblock stylesheet %}

{% block main %}
    <form role="form" name="form1" id="form1" novalidate method="post" action="{{ url('admin_breeder_edit',{'id': id}) }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ 'ブリーダー情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                            {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.breeder_name) ? ' error' }}">
                                            {{ form_widget(form.breeder_name, { 'attr': { 'placeholder': 'お名前' }}) }}
                                            {{ form_errors(form.breeder_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.breeder_kana) ? ' error' }}">
                                            {{ form_widget(form.breeder_kana, { 'attr': { 'placeholder': 'お名前（カナ）' }}) }}
                                            {{ form_errors(form.breeder_kana) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.handling_pet_kind, '取り扱いペット種別', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input{{ has_errors(form.handling_pet_kind) ? ' error' }}">
                                            {{ form_widget(form.handling_pet_kind) }}
                                            {{ form_errors(form.handling_pet_kind) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="dogHouse">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_house_name_dog, '犬舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input{{ has_errors(form.breeder_house_name_dog) ? ' error' }}">
                                            {{ form_widget(form.breeder_house_name_dog) }}
                                            {{ form_errors(form.DogHouseNameErrors) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="catHouse">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_house_name_cat, '猫舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input{{ has_errors(form.breeder_house_name_cat) ? ' error' }}">
                                            {{ form_widget(form.breeder_house_name_cat) }}
                                            {{ form_errors(form.CatHouseNameErrors) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>画像</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="media-body">
                                            <img id="img_thumbnail"
                                                 class="img_preview mb-2 {{ not thumbnailPath ? 'hidden' }}"
                                                 src="{{ thumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png')  }}" alt="..."
                                                 style="max-width: 200px; border: 1px solid #ddd;"/>
                                            {{ form_widget(form.thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;', class : 'thumbnail_path'  } }) }}
                                            <input type="hidden" name="thumbnail_path" id="breeder_src_path" value="{{ thumbnailPath }}">
                                        </div>
                                        <a class="btn btn-ec-regular mr-2"
                                           onclick="$('#breeders_thumbnail_path').click()"
                                           style="background: #f0f0f0; border: 1px solid black;">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>
                                    </div>
                                </div>
                                <div class="h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-zipInput{{ has_errors(form.breeder_zip) ? ' error' }}">
                                                {{ form_widget(form.breeder_zip) }}
                                                {{ form_errors(form.breeder_zip) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.PrefBreeder, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select{{ has_errors(form.PrefBreeder) ? ' error' }}">
                                                {{ form_widget(form.PrefBreeder) }}
                                                {{ form_errors(form.PrefBreeder) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_city, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input{{ has_errors(form.breeder_city) ? ' error' }}">
                                                {{ form_widget(form.breeder_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                                {{ form_errors(form.breeder_city) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input{{ has_errors(form.breeder_address) ? ' error' }}">
                                                {{ form_widget(form.breeder_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                                {{ form_errors(form.breeder_address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-telInput{{ has_errors(form.breeder_tel) ? ' error' }}">
                                            {{ form_widget(form.breeder_tel) }}
                                            {{ form_errors(form.breeder_tel) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.breeder_fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-telInput{{ has_errors(form.breeder_fax) ? ' error' }}">
                                            {{ form_widget(form.breeder_fax) }}
                                            {{ form_errors(form.breeder_fax) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.pr_text, '自己PR', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                        <span class="badge badge-primary ml-1">
                                            {{ 'admin.common.required'|trans }}
                                        </span>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input{{ has_errors(form.pr_text) ? ' error' }}">
                                            {{ form_widget(form.pr_text) }}
                                            {{ form_errors(form.pr_text) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.regal_effort, '動物愛護法改正への対応', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input{{ has_errors(form.regal_effort) ? ' error' }}">
                                            {{ form_widget(form.regal_effort) }}
                                            {{ form_errors(form.regal_effort) }}
                                        </div>
                                    </div>
                                </div>
                                {# <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input{{ has_errors(form.email) ? ' error' }}">
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                </div> #}
                                {# <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>審査ステータス</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <select id="" name="" class="form-control">
                                            <option value="0">審査中</option>
                                            <option value="1">審査OK</option>
                                            <option value="2">審査NG</option>
                                        </select>        
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '動物取扱業登録証情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#basicConfigLicense" aria-expanded="false"
                                       aria-controls="basicConfigLicense">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfigLicense">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.license_name, '運営責任者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.license_name) ? ' error' }}">
                                            {{ form_widget(form.license_name,  { 'attr': { 'placeholder': '運営責任者氏名' }}) }}
                                            {{ form_errors(form.license_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>画像</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="media-body">
                                            <img id="img_license_thumbnail"
                                                 class="img_preview mb-2 {{ not licenseThumbnailPath ? 'hidden' }}"
                                                 src="{{ licenseThumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png')  }}" alt="..."
                                                 style="max-width: 200px; border: 1px solid #ddd;"/>
                                            {{ form_widget(form.license_thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;', class : 'license_thumbnail_path'  } }) }}
                                            <input type="hidden" name="license_thumbnail_path" id="breeder_license_src_path" value="{{ licenseThumbnailPath }}">
                                        </div>
                                        <a class="btn btn-ec-regular mr-2"
                                           onclick="$('#breeders_license_thumbnail_path').click()"
                                           style="background: #f0f0f0; border: 1px solid black;">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.license_no, '登録証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.license_no) ? ' error' }}">
                                            {{ form_widget(form.license_no,  { 'attr': { 'placeholder': '登録証番号' }}) }}
                                            {{ form_errors(form.license_no) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.license_zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-halfInput{{ has_errors(form.license_zip) ? ' error' }}">
                                                {{ form_widget(form.license_zip,  { 'attr': { 'placeholder': '登録証番号' }}) }}
                                                {{ form_errors(form.license_zip) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                <span>都道府県</span>
                                                {{ form_label(form.PrefLicense, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select{{ has_errors(form.PrefLicense) ? ' error' }}">
                                                {{ form_widget(form.PrefLicense) }}
                                                {{ form_errors(form.PrefLicense) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.PrefLicense, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input{{ has_errors(form.license_city) ? ' error' }}">
                                                {{ form_widget(form.license_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                                {{ form_errors(form.license_city) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.license_address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input{{ has_errors(form.license_address) ? ' error' }}">
                                                {{ form_widget(form.license_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                                {{ form_errors(form.license_address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.license_house_name, '動物取扱者事業所の名称', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.license_house_name) ? ' error' }}">
                                            {{ form_widget(form.license_house_name,  { 'attr': { 'placeholder': '動物取扱者事業所の名称' }}) }}
                                            {{ form_errors(form.license_house_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.license_manager_name, '動物取扱者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.license_manager_name) ? ' error' }}">
                                            {{ form_widget(form.license_manager_name,  { 'attr': { 'placeholder': '動物取扱者氏名' }}) }}
                                            {{ form_errors(form.license_manager_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            登録年月日
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-birth{{ has_errors(form.license_regist_date) ? ' error' }} date">
                                            {{ form_widget(form.license_regist_date.year) }}&nbsp;/&nbsp;
                                            {{ form_widget(form.license_regist_date.month) }}&nbsp;/&nbsp;
                                            {{ form_widget(form.license_regist_date.day) }}
                                            {{ form_errors(form.license_regist_date) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            有効期間の末日
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-birth{{ has_errors(form.license_expire_date) ? ' error' }} date">
                                            {{ form_widget(form.license_expire_date.year) }}&nbsp;/&nbsp;
                                            {{ form_widget(form.license_expire_date.month) }}&nbsp;/&nbsp;
                                            {{ form_widget(form.license_expire_date.day) }}
                                            {{ form_errors(form.license_expire_date) }}
                                        </div>
                                    </div>
                                </div>
                                {# 20211015 動物取扱業の種別の削除 #}
                                {# <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.license_type, '動物取扱業の種別', { 'label_attr': {'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-select{{ has_errors(form.license_type) ? ' error' }}">
                                            {{ form_widget(form.license_type) }}
                                            {{ form_errors(form.license_type) }}
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_breeder_list') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>ブリーダー一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <div class="ec-select{{ has_errors(form.examination_status) ? ' error' }}">
                                    {{ form_widget(form.examination_status) }}
                                    {{ form_errors(form.examination_status) }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="ec-select{{ has_errors(form.is_active) ? ' error' }}">
                                    {{ form_widget(form.is_active) }}
                                    {{ form_errors(form.is_active) }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal-crop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalLabel">画像切り抜き</h3>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="img-container row">
                            <div class="col-md-6 col-12 d-flex">
                                <!--  default image where we will set the src via jquery-->
                                <div style="flex-grow: 1">
                                    <img id="image">
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                                <div class="preview"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="button" class="btn btn-primary" id="crop">切り抜き</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {{ include('animalline/components/_modal_confirm.twig') }}
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script src="{{ asset('assets/js/admin/breeder/breeder.js') }}"></script>
<script>
    $("#dogHouse").hide();
    $("#catHouse").hide();
    houseDisplay($('#breeders_handling_pet_kind').val());
    $('#breeders_handling_pet_kind').on('change', function () {
    var handling_pet_kind = $(this).val();
    houseDisplay(handling_pet_kind);
});
    function houseDisplay(pet_kind) {
    if( pet_kind == 0 ){
    $("#dogHouse").show();
    $("#catHouse").show();
    $("#breeders_breeder_house_name_dog").prop('required', true);
    $("#breeders_breeder_house_name_cat").prop('required', true);
} else if( pet_kind == 1 ){
    $("#dogHouse").show();
    $("#catHouse").hide();
    $("#breeders_breeder_house_name_dog").prop('required', true);
    $("#breeders_breeder_house_name_cat").prop('required', false);
} else if ( pet_kind == 2 ){
    $("#dogHouse").hide();
    $("#catHouse").show();
    $("#breeders_breeder_house_name_dog").prop('required', false);
    $("#breeders_breeder_house_name_cat").prop('required', true);
}
};
</script>
{% endblock %}
