{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_breeder_list'] %}

{% block title %}{{ '審査情報表示'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script>
    $(function () {
    $('#pet_type').on('change', function () {
        location.href = `?pet_type=${this.value}`;
    });
});
</script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="form1" id="form1" method="post" action="">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '審査情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>種別</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <select id="pet_type" name="pet_type"
                                                class="form-control" {{ isEnablePetType ? '' : 'disabled' }}>
                                            {% set petTypes = ['犬舎', '猫舎'] %}
                                            {% for i in 1..2 %}
                                                <option value="{{ i }}" {{ breederExaminationInfo.petType == i ? 'selected' : '' }}>{{ petTypes[i - 1] }}</option>
                                            {% endfor %}
                                            <select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>血統証発行団体</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {% if(form.pedigree_organization.vars.data==constant('Customize\\Config\\AnilineConf::PEDIGREE_ORGANIZATION_OTHER')) %}
                                            {{ form_widget(form.pedigree_organization_other, { 'attr': {'disable': 'disable'} }) }}
                                        {% else %}
                                            {{ form.pedigree_organization.vars.choices[form.pedigree_organization.vars.data].label }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>飼育している{{ petType }}の頭数</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">1～3歳：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_count_1) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">4～6歳：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_count_2) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">7歳以上：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_count_3) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>親件購入先</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">ブリーダー：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_buy_place_1) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">ショップ：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_buy_place_2) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">その他：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_buy_place_3) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>飼育スタッフ構成</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <div class="row offset-md-0">
                                                <label class="ec-label required mr-2">{{ petType }}舎運営者：</label>
                                                <span>1名</span>
                                            </div>
                                            <div class="row offset-md-0">
                                                <label class="pt-2">平均労働時間：</label>
                                                <div>
                                                    {{ form_widget(form.owner_worktime_ave) }}
                                                </div>
                                                <span class="ml-1 pt-2">時間/1週間あたり</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">家族：</span>
                                                <div>
                                                    {{ form_widget(form.family_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                            <div class="row offset-md-0 mb-2">
                                                <label class="pt-2">平均労働時間：</label>
                                                <div>
                                                    {{ form_widget(form.family_staff_worktime_ave) }}
                                                </div>
                                                <span class="ml-1 pt-2">時間/1週間あたり</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">社員：</span>
                                                <div>
                                                    {{ form_widget(form.fulltime_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                            <div class="row offset-md-0 mb-2">
                                                <label class="pt-2">平均労働時間：</label>
                                                <div>
                                                    {{ form_widget(form.fulltime_staff_worktime_ave) }}
                                                </div>
                                                <span class="ml-1 pt-2">時間/1週間あたり</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">パート・アルバイト：</span>
                                                <div>
                                                    {{ form_widget(form.parttime_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                            <div class="row offset-md-0 mb-2">
                                                <label class="pt-2">平均労働時間：</label>
                                                <div>
                                                    {{ form_widget(form.parttime_staff_worktime_ave) }}
                                                </div>
                                                <span class="ml-1 pt-2">時間/1週間あたり</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">その他</span>
                                                <div>
                                                    {{ form_widget(form.other_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                            <div class="row offset-md-0 mb-2">
                                                <label class="pt-2">平均労働時間：</label>
                                                <div>
                                                    {{ form_widget(form.other_staff_worktime_ave) }}
                                                </div>
                                                <span class="ml-1 pt-2">時間/1週間あたり</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>ブリーディング歴</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <div>
                                                    {{ form_widget(form.breeding_exp_year) }}
                                                </div>
                                                <span class="ml-1 pt-2">年</span>
                                                <div>
                                                    {{ form_widget(form.breeding_exp_month) }}
                                                </div>
                                                <span class="ml-1 pt-2">ヶ月</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>ショー参加経験</span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        {% if(form.is_participate_show.vars.data) %}
                                            {{ form.is_participate_show.vars.choices[form.is_participate_show.vars.data].label }}
                                        {% else %}
                                            <input type="text" disabled="disabled" class="form-control">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>親{{ petType }}のケージ</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2">
                                            <div class="row offset-md-0">
                                                <div class="ec-checkbox">
                                                    <label>
                                                        {{ form_widget(form.cage_size_1) }}
                                                    </label>
                                                    <br>
                                                    <label>
                                                        {{ form_widget(form.cage_size_2) }}
                                                    </label>
                                                    <br>
                                                    <label>
                                                        {{ form_widget(form.cage_size_3) }}
                                                    </label>
                                                    <div class="ec-input">
                                                        {{ form_widget(form.cage_size_other) }}
                                                        {{ form_errors(form.cage_size_other) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>親{{ petType }}の運動状況</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2">
                                            <div class="row offset-md-0">
                                                {% if(form.exercise_status.vars.data==constant('Customize\\Config\\AnilineConf::EXERCISE_STATUS_OTHER')) %}
                                                    {{ form_widget(form.exercise_status_other) }}
                                                {% else %}
                                                    {{ form.exercise_status.vars.choices[form.exercise_status.vars.data-1].label }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>現時点で掲載可能な子{{ petType }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <div>
                                                    {{ form_widget(form.publish_pet_count) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>自身での繁殖経験</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2">
                                            <div class="row offset-md-0">
                                                {{ form.breeding_experience.vars.choices[form.breeding_experience.vars.data].label }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>直接の販売経験</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2">
                                            <div class="row offset-md-0">
                                                {{ form.selling_experience.vars.choices[form.selling_experience.vars.data].label }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_breeder_list') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>ブリーダー一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="button" onclick="location.href='{{path('admin_breeder_examination_regist',{'id': 1})}}'">審査結果登録</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}