{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_breeder_list'] %}

{% block title %}{{ '審査情報表示'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script>
    $(document).ready(function() {
            $("#breeders_thumbnail_path").hide();
            $("#breeders_license_thumbnail_path").hide();
    });
    $(function () {
    $('#pet_type').on('change', function () {
        location.href = `?pet_type=${this.value}`;
    });
});
    $("#dogHouse").hide();
    $("#catHouse").hide();
    houseDisplay($('#breeders_handling_pet_kind').val());
    function houseDisplay(pet_kind) {
        if( pet_kind == 0 ){
            $("#dogHouse").show();
            $("#catHouse").show();
        } else if( pet_kind == 1 ){
            $("#dogHouse").show();
            $("#catHouse").hide();
        } else if ( pet_kind == 2 ){
            $("#dogHouse").hide();
            $("#catHouse").show();
        }
    };
</script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="form1" id="form1" method="post" action="">
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '審査情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>種別</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <select id="pet_type" name="pet_type"
                                                class="form-control" {{ isEnablePetType ? '' : 'disabled' }}>
                                            {% set petTypes = ['犬舎', '猫舎'] %}
                                            {% for i in 1..2 %}
                                                <option value="{{ i }}" {{ breederExaminationInfo.petType == i ? 'selected' : '' }}>{{ petTypes[i - 1] }}</option>
                                            {% endfor %}
                                            </select>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>血統証発行団体</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {% if(form.pedigree_organization.vars.data==constant('Customize\\Config\\AnilineConf::PEDIGREE_ORGANIZATION_OTHER')) %}
                                            {{ form_widget(form.pedigree_organization_other, { 'attr': {'disable': 'disable'} }) }}
                                        {% else %}
                                            {% if(breederExaminationInfo.getPedigreeOrganization() == 1) %}JKC
                                            {% elseif(breederExaminationInfo.getPedigreeOrganization() == 2) %}KC
                                            {% elseif(breederExaminationInfo.getPedigreeOrganization() == 3) %}TICA
                                            {% elseif(breederExaminationInfo.getPedigreeOrganization() == 4) %}CFA
                                            {% elseif(breederExaminationInfo.getPedigreeOrganization() == 5) %}ICC
                                            {% elseif(breederExaminationInfo.getPedigreeOrganization() == 6) %}ACC
                                            {% else %}なし
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>飼育している{{ petType }}の頭数</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">1～3歳：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_count_1) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                            <div class="mr-4 input-group-append">
                                                <span class="pt-2">4～6歳：</span>
                                                <div>
                                                    {{ form_widget(form.parent_pet_count_2) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>飼育スタッフ構成</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3">
                                            <div class="row offset-md-0">
                                                <label class="ec-label required mr-2">{{ petType }}舎運営者：</label>
                                                <span>1名</span>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">家族：</span>
                                                <div>
                                                    {{ form_widget(form.family_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">社員：</span>
                                                <div>
                                                    {{ form_widget(form.fulltime_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>

                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">パート・アルバイト：</span>
                                                <div>
                                                    {{ form_widget(form.parttime_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="row offset-md-0 mb-2">
                                                <span class="pt-2 mr-2">その他</span>
                                                <div>
                                                    {{ form_widget(form.other_staff_count) }}
                                                </div>
                                                <span class="pt-2">名</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>ブリーディング歴</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <div>
                                                    {{ form_widget(form.breeding_exp_year) }}
                                                </div>
                                                <span class="ml-1 pt-2">年</span>
                                                <div>
                                                    {{ form_widget(form.breeding_exp_month) }}
                                                </div>
                                                <span class="ml-1 pt-2">ヶ月</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>親{{ petType }}の運動状況</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2">
                                            <div class="row offset-md-0">
                                                {% if(form.exercise_status.vars.data==constant('Customize\\Config\\AnilineConf::EXERCISE_STATUS_OTHER')) %}
                                                    {{ form_widget(form.exercise_status_other) }}
                                                {% else %}
                                                    {{ form.exercise_status.vars.choices[form.exercise_status.vars.data-1].label }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>現時点で掲載可能な子{{ petType }}</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-2 input-group-append">
                                            <div class="mr-4 input-group-append">
                                                <div>
                                                    {{ form_widget(form.publish_pet_count) }}
                                                </div>
                                                <span class="ml-1 pt-2">頭</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                        <span class="card-title">
                                            {{ 'ブリーダー情報'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#block-breeder" aria-expanded="false"
                                       aria-controls="block-breeder">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="block-breeder">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.breeder_name, { 'attr': { 'placeholder': 'お名前' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.breeder_kana, { 'attr': { 'placeholder': 'お名前（カナ）' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.handling_pet_kind, '取り扱いペット種別', { 'label_attr': { 'class':
                                                'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input">
                                            {{ form_widget(formBreeder.handling_pet_kind) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="dogHouse">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_house_name_dog, '犬舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input">
                                            {{ form_widget(formBreeder.breeder_house_name_dog) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="catHouse">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_house_name_cat, '猫舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input">
                                            {{ form_widget(formBreeder.breeder_house_name_cat) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>画像</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <img alt="thumbnail_path" src="{{ thumbnail | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                             style="max-width: 200px">
                                        {{ form_widget(formBreeder.thumbnail_path) }}
                                    </div>
                                </div>
                                <div class="h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.breeder_zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-zipInput">
                                                {{ form_widget(formBreeder.breeder_zip) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.PrefBreeder, '都道府県', { 'label_attr': { 'class':
                                                    'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select">
                                                {{ form_widget(formBreeder.PrefBreeder) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.breeder_city, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input">
                                                {{ form_widget(formBreeder.breeder_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.breeder_address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input">
                                                {{ form_widget(formBreeder.breeder_address, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-telInput">
                                            {{ form_widget(formBreeder.breeder_tel) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.breeder_fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-telInput">
                                            {{ form_widget(formBreeder.breeder_fax) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.pr_text, '自己PR', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input">
                                            {{ form_widget(formBreeder.pr_text) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.regal_effort, '動物愛護法改正への対応', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input">
                                            {{ form_widget(formBreeder.regal_effort) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                        <span class="card-title">
                                            {{ '動物取扱業登録証情報'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#block-breeder-cert" aria-expanded="false"
                                       aria-controls="block-breeder-cert">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="block-breeder-cert">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_name, '運営責任者氏名', { 'label_attr': { 'class': 'ec-label'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.license_name, { 'attr': { 'placeholder': '運営責任者氏名' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>画像</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <a href="{{ licenseThumbnailPath }}" target="_blank">
                                            <img alt="license_thumbnail_path"
                                                 src="{{ licenseThumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png')  }}"
                                                 style="max-width: 200px">
                                        </a>
                                        {{ form_widget(formBreeder.license_thumbnail_path) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_no, '登録証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.license_no, { 'attr': { 'placeholder': '登録証番号' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.license_zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-halfInput">
                                                {{ form_widget(formBreeder.license_zip, { 'attr': { 'placeholder': '登録証番号' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                <span>都道府県</span>
                                                {{ form_label(formBreeder.PrefLicense, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select">
                                                {{ form_widget(formBreeder.PrefLicense) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.PrefLicense, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input{{ has_errors(formBreeder.license_city) ? ' error' }}">
                                                {{ form_widget(formBreeder.license_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formBreeder.license_address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input">
                                                {{ form_widget(formBreeder.license_address, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_house_name, '動物取扱者事業所の名称', { 'label_attr': { 'class':'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.license_house_name, { 'attr': { 'placeholder': '動物取扱者事業所の名称' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_manager_name, '動物取扱者氏名', { 'label_attr': { 'class':'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput">
                                            {{ form_widget(formBreeder.license_manager_name, { 'attr': { 'placeholder': '動物取扱者氏名' }}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_regist_date, '登録年月日', { 'label_attr': { 'class':'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-birth date">
                                            {{ form_widget(formBreeder.license_regist_date.year, { 'attr': { 'class': 'form-control' }}) }}
                                            &nbsp;/&nbsp;
                                            {{ form_widget(formBreeder.license_regist_date.month) }}&nbsp;/&nbsp;
                                            {{ form_widget(formBreeder.license_regist_date.day) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_expire_date, '有効期間の末日', { 'label_attr': {'class':'ec-label' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-birth date">
                                            {{ form_widget(formBreeder.license_expire_date.year) }}&nbsp;/&nbsp;
                                            {{ form_widget(formBreeder.license_expire_date.month) }}&nbsp;/&nbsp;
                                            {{ form_widget(formBreeder.license_expire_date.day) }}
                                        </div>
                                    </div>
                                </div>
                                {# 20211015 動物取扱業の種別の削除 #}
                                {# <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(formBreeder.license_type, '動物取扱業の種別', { 'label_attr': {'class': 'ec-label'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-select{{ has_errors(formBreeder.license_type) ? ' error' }}">
                                            {{ form_widget(formBreeder.license_type) }}
                                            {{ form_errors(formBreeder.license_type) }}
                                        </div>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if (formBreeder.handling_pet_kind.vars.data in [constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT'),
            constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')] and formDogKind) %}
            {{ include('@admin/Breeder/components/_pet_house_block.twig', { 'form': formDogKind, 'title': '犬舎情報' }) }}
        {% endif %}

        {% if (formBreeder.handling_pet_kind.vars.data in [constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT'),
            constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')] and formCatKind) %}
            {{ include('@admin/Breeder/components/_pet_house_block.twig', { 'form': formCatKind, 'title': '猫舎情報' }) }}
        {% endif %}

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_breeder_list') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>ブリーダー一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            {#
                            <div class="col-auto">
                                <button {{ breederExaminationInfo.inputStatus != constant('Customize\\Config\\AnilineConf::ANILINE_INPUT_STATUS_SUBMIT') ? 'disabled' : '' }}
                                    class="btn btn-ec-conversion px-5" type="button" onclick="location.href='{{path('admin_breeder_examination_regist',{'id': breederExaminationInfo.id })}}'">審査結果登録</button>
                            </div>
                            #}
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="button"
                                        onclick="location.href='{{ path('admin_breeder_examination_regist',{'id': breederExaminationInfo.id }) }}'">
                                    審査結果登録
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}