{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_breeder_list'] %}

{% block title %}{{ '犬舎・猫舎情報編集'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script src="{{ asset('assets/js/admin/breeder/house.js') }}"></script>
{% endblock javascript %}

{% block main %}
    {{ form_start(form) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '犬舎・猫舎情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                        aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>種別</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <select id="pet_type" name="pet_type" class="form-control" {{ isEnablePetType ? '' : 'disabled' }}>
                                            {% set petTypes = ['犬舎', '猫舎'] %}
                                            {% for i in 1..2 %}
                                                <option value="{{ i }}" {{ house.petType == i ? 'selected' : '' }}>{{ petTypes[i - 1] }}</option>
                                            {% endfor %}
                                        </select>        
                                    </div>
                                </div>
                                <div class="h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_house_house_zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-zipInput{{ has_errors(form.breeder_house_house_zip) ? ' error' }}">
                                                {{ form_widget(form.breeder_house_house_zip) }}
                                                {{ form_errors(form.breeder_house_house_zip) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.BreederHousePrefId, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select{{ has_errors(form.BreederHousePrefId) ? ' error' }}">
                                                {{ form_widget(form.BreederHousePrefId) }}
                                                {{ form_errors(form.BreederHousePrefId) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_house_city, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input{{ has_errors(form.breeder_house_city) ? ' error' }}">
                                                {{ form_widget(form.breeder_house_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                                {{ form_errors(form.breeder_house_city) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(form.breeder_house_address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                                <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input{{ has_errors(form.breeder_house_address) ? ' error' }}">
                                                {{ form_widget(form.breeder_house_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                                {{ form_errors(form.breeder_house_address) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>電話番号</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {{ form_widget(form.breeder_house_house_tel) }}
                                        {{ form_errors(form.breeder_house_house_tel) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>FAX番号</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {{ form_widget(form.breeder_house_house_fax) }}
                                        {{ form_errors(form.breeder_house_house_fax) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>担当者名</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        {{ form_widget(form.breeder_house_front_name) }}
                                        {{ form_errors(form.breeder_house_front_name) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>担当者TEL</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {{ form_widget(form.breeder_house_front_tel) }}
                                        {{ form_errors(form.breeder_house_front_tel) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_breeder_list') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>ブリーダー一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}


