{% set site_type = 'common' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <section id="main-visual">
        <ul class="main-visual_slider">
            <li class="main-visual_slider_1">
            <div class="main-visual__content">
                <div class="main-visual__content_text">
                <p><img src="{{ asset('assets/img/top-mv01-copy.png') }}" alt="ブリーダーと飼い主をつなぐ。アニマルラインブリーダー"/></p>
                <div class="main-visual__content_text_btn"><a href="{{url('breeder_info')}}"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
                </div>
            </div>
            </li>
            <li class="main-visual_slider_2">
            <div class="main-visual__content">
                <div class="main-visual__content_text">
                <p><img src="{{ asset('assets/img/top-mv02-copy.png') }}" alt="里親を探している・なりたい方。アニマルラインアドプション"/></p>
                <div class="main-visual__content_text_btn"><a href="{{url('adoption_info')}}"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
                </div>
            </div>
            </li>
        </ul>
    </section>

    <div style="margin: 0 auto">

      <section id="sec01" class="top_margin_xl" style="margin-top:3rem">
        <div class="innerImg">
          <h1 style="display:none"> アニマルライン 犬・猫のブリーダー直販と里親募集サイト</h1>
          <img src="{{ asset('assets/img/reg/animalline_info_title.png') }}" alt="">
        </div>
        <div class="innerSBlue" style="text-align:center">
          Animalline（アニマルライン）は、ブリーダー、動物保護団体、ペットをこれから飼われる方、皆さまに寄り添うサポートを実施致しています。<br />
          動物愛護先進国と呼ばれる欧米などでは、ペットを迎える主な手段は「ブリーダー直販」と「里親としてペットを迎える」という２つの方法です。<br />
          全てのペットが幸せな一生を過ごせるように『優しい絆』をつなげていきます。<br />
          <br />
          <h2>健全なブリーディングの推進</h2>
          販売子犬・子猫の遺伝病リスク低減に努め、ペットオーナーへ安心・安全を提供すべく『Animalline』では遺伝子検査を実施した子犬・子猫のみを掲載しております。<br />
          『変異遺伝子を次世代に残さない』遺伝性疾患を将来の世代に増加させないために重要な意義があります。<br />
          <br />
          <h2>殺処分ゼロを目指して</h2>
          動物愛護センター（保健所）や保護団体へ飼い主に持ち込まれたり、捨てられてしまう犬や猫が毎年多数発生しています。<br />
          一頭でも多くの保護犬猫が救われ、社会的な殺処分問題の解決につなげることを目指します。<br />
        </div>
      </section>

      <div class="row">
        <div class="col-md-6" style="padding: 4rem">
          <h2 style="border-bottom:solid #f08200 1px;font-size: 18px;text-align:center;margin-bottom:3rem;">保護犬・猫と里親になりたい方のマッチングサイト</h2>
          <div class="top-content__container_text_wrap" style="width: 70%;margin:auto">
            <div class="top-content__container_text_logo" style="margin-bottom:2rem"><a href="{{url('adoption_top')}}"><img src="{{ asset('assets/img/top-logo02.png') }}" alt="Animalline Adoption"/></a></div>
            <p style="text-align:left;font-size:18px;line-height:2.4;margin:0 0 40px;">Animalline Adoptionは飼い主のいない保護犬猫の里親を探している方と、保護犬猫の里親になりたい方をつなぐマッチングサイトです。</p>
            <div class="top-content__container_text_btn"><a href="{{url('adoption_info')}}">里親になりたい方は<br>こちら</a></div>
            {# <div class="top-content__container_text_btn_03"><a href="{{url('adoption_top_reg')}}">保護犬猫を掲載したい方は<br>こちら</a></div> #}
          </div>
        </div>



        <div class="col-md-6" style="padding: 4rem">
          <h2 style="border-bottom:solid #f08200 1px;font-size: 18px;text-align:center;margin-bottom:3rem;">ブリーダーと飼い主のためのマッチングサイト</h2>
          <div class="top-content__container_text_wrap" style="width: 70%;margin:auto">
            <div class="top-content__container_text_logo" style="margin-bottom:2rem"><a href="{{url('breeder_top')}}"><img src="{{ asset('assets/img/top-logo01.png') }}" alt="Animalline Breeder"/></a></div>
            <p style="text-align:left;font-size:18px;line-height:2.4;margin:0 0 40px;">Animalline Breederは自慢の子犬・子猫をお譲りしたいブリーダーと、ブリーダーから直接子犬・子猫をご購入したい方をつなぐマッチングサイトです。</p>
            <div class="top-content__container_text_btn_02"><a href="{{url('breeder_info')}}">子犬・子猫をお迎えしたい方は<br>こちら</a></div>
            {# <div class="top-content__container_text_btn_04"><a href="{{url('breeder_top_reg')}}"></i>ブリーダー様は<br>こちら</a></div> #}
          </div>
        </div>
      </div>
    </div>
    {#
    <section id="top-topics">
      <div class="top-topics__title">
        <h2>TOPICS<small>新着情報</small></h2>
      </div>
      <div class="top-topics__slide">
        <ul>
            {% for News in ListNews %}
                <li>
                    <figure><img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ News.url }}" alt=""/></figure>
                    <div class="date">{{ News.publish_date|date('Y/m/d') }}</div>
                    <p>{{ News.title }}</p>
                </li>
            {% endfor %}
        </ul>
      </div>
    </section>

    <section id="top-dna">
      <div class="inner">
        <div class="top-dna-icon"><img src="{{ asset('assets/img/top-icon05.png') }}" alt="Animallineにて掲載のペットは全頭DNA検査済み"/></div>
        <h2>Animallineにて掲載のペットは<br>
          全頭DNA検査済み</h2>
        <h3>DNA検査のメリット</h3>
        <p>遺伝子検査とは、DNAの変異（突然変異）を検出する検査のことを言います。<br>
          神経疾患、眼疾患、泌尿器疾患、血液疾患などの遺伝性疾患の検査を行うことが可能です。</p>
        <ul>
          <li>
            <h4>発症リスクを知る</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img01.png') }}" alt="発症リスクを知る"/></figure>
            <p>遺伝子検査を行うことによって遺伝病の発症リスクを知ることができ、遺伝性疾患に対する備えができることです。事前にその病気のリスクを知ることで、定期検診を行うと共に、早期発見につながり、重症化の予防につながります。</p>
          </li>
          <li>
            <h4>変異遺伝子を次世代に残さない</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img02.png') }}" alt="変異遺伝子を次世代に残さない"/></figure>
            <p>遺伝情報は両親から半分ずつ子に伝達されるため、次の世代を繁殖する前に両親の遺伝子検査を行うことは、遺伝性疾患を将来の世代に増加させないために重要な意義があります。</p>
          </li>
          <li>
            <h4>治療や生活環境の指針を示す</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img03.png') }}" alt="治療や生活環境の指針を示す"/></figure>
            <p>イベルメクチンへの感受性や手術時に止血困難となりえるフォンウイルブランド病（vWD）、腎結石、膀胱結石、尿道結石の発症率に関わる高尿酸尿症へのリスクなどを事前に知ることが可能です。</p>
          </li>
        </ul>
      </div>
    </section>
    #}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/common-style.css') }}?var=20220103">
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$(function(){
  $('.main-visual_slider').slick({
    fade:true,
    arrows: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 6000,
    speed:1000,
    dots:true
    /*responsive: [
    {
    breakpoint: 980,
    settings: {
    }
    }
    ]*/
    });
  $('.top-topics__slide ul').slick({
    centerMode: true,
    centerPadding: '25%',
    arrows: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 6000,
    speed:1000,
    dots:true
    /*responsive: [
    {
    breakpoint: 980,
    settings: {
    }
    }
    ]*/
    });
});
</script>
{% endblock %}
