<header class="d-none d-md-block">
    <nav class="navbar navbar-default bg-white">
        <div class="container-fluid">
            <div class="d-flex">
                {% if site_type == 'adoption' %}
                    <a class="navbar-brand" href="/adoption">
                        <img src="{{ asset('assets/img/adoption/logo.svg') }}">
                    </a>
                {% elseif site_type == 'breeder' %}
                    <a class="navbar-brand" href="/breeder">
                        <img src="{{ asset('assets/img/breeder/logo.svg') }}">
                    </a>
                {% elseif site_type == 'common' %}
                    <a class="navbar-brand" href="/">
                        <img src="{{ asset('assets/img/common/logo.svg') }}">
                    </a>
                {% endif %}
                {#
                <div class="d-flex align-items-center pl-2 pr-2" style="border: 1px solid red; border-radius:50px;">
                    <div class="mr-2 d-flex">
                        <i class="fa fa-dog fa-fw mr-1" style="color: red;"></i>
                        <h5 class="mr-1 align-self-end color-gray-500">子犬掲載数</h5>
                        <h5 class="color-gray-500 align-self-end mr-2">
                            <span class="font-weight-600" style="color: red;">2,652</span>
                            <span>頭</span>
                        </h5>
                    </div>
                    <div class="mr-2 d-flex">
                        <i class="fa fa-bone fa-fw mr-1" style="color: red;"></i>
                        <h5 class="mr-1 align-self-end color-gray-500">ブリーダー数</h5>
                        <h5 class="color-gray-500 align-self-end">
                            <span class="font-weight-600" style="color: red;">2,562</span>
                            <span>人</span>
                        </h5>
                    </div>
                </div>
                #}
                {# <ul class="d-flex align-items-center">
                    {% if site_type == 'adoption' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('adoption_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('entry')}}?ReturnPath=adoption_top">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('adoption_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% elseif site_type == 'breeder' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('breeder_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('entry')}}?ReturnPath=breeder_top">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('breeder_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% elseif site_type == 'common' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('mypage')}}">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center " href={{url('entry')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('mypage_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul> #}
            </div>
            <div>
                <ul class="d-flex align-items-center m-0">
                    {% if site_type == 'adoption' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('adoption_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('entry')}}?ReturnPath=adoption_top">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('adoption_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% elseif site_type == 'breeder' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('breeder_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('entry')}}?ReturnPath=breeder_top">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('breeder_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% elseif site_type == 'common' %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="{{url('mypage')}}">
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="font-weight-normal">マイページ</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログアウト</h5>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center " href={{url('entry')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">会員登録</h5>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href={{url('mypage_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <h5 class="color-gray-500 font-weight-normal">ログイン</h5>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{# タブレット以下での表示 #}
<header class="d-block d-md-none">
    <nav class="navbar navbar-default bg-white">
        <div class="container-fluid">
            <div class="navbar-header m-auto p-4">
            {% if site_type == 'adoption' %}
                <a class="navbar-brand" href="/adoption">
                    <img src="{{ asset('assets/img/adoption/logo.svg') }}">
                </a>
            {% elseif site_type == 'breeder' %}
                <a class="navbar-brand" href="/breeder">
                    <img src="{{ asset('assets/img/breeder/logo.svg') }}">
                </a>
            {% elseif site_type == 'common' %}
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('assets/img/common/logo.svg') }}">
                </a>
            {% endif %}
            </div>
            {# ハンバーガーメニュー #}
            {# <nav class="headerNav bg-primary position-fixed w-100 h-100"> #}
            <nav class="headerNav bg-primary position-fixed h-100">
                {% if site_type == 'adoption' %}
                    {% if is_granted('ROLE_USER') %}
                        <div class="p-2">
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <span>ログアウト</span>
                                </a>
                            </div>
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('adoption_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <span>マイページ</span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="p-2">
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('mypage_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <span>ログイン</span>
                                </a>
                            </div>
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('entry')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <span>会員登録</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% elseif site_type == 'breeder' %}
                    {% if is_granted('ROLE_USER') %}
                        <div class="p-2">
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{ url('logout') }}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <span>ログアウト</span>
                                </a>
                            </div>
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('breeder_mypage')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <span>マイページ</span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="p-2">
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('mypage_login')}}>
                                    <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                    <span>ログイン</span>
                                </a>
                            </div>
                            <div class="text-align-center">
                                <a class="nav-link active hamburger_menu_btn bg-section" href={{url('entry')}}>
                                    <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <span>会員登録</span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </nav>
            <div class="hamburger_btn position-absolute" id="js-hamburger">
                <span class="hamburger_line hamburger_line_1 position-absolute"></span>
                <span class="hamburger_line hamburger_line_2 position-absolute"></span>
                <span class="hamburger_line hamburger_line_3 position-absolute"></span>
            </div>
            <div class="black-bg d-block position-fixed w-100 h-100" id="js-black-bg"></div>
        </div>
    </nav>
</header>

<script>
    function toggleNav() {
        var body = document.body;
        var hamburger = document.getElementById('js-hamburger');
        var blackBg = document.getElementById('js-black-bg');

        hamburger.addEventListener('click', function() {
            body.classList.toggle('nav-open');
        });
        blackBg.addEventListener('click', function() {
            body.classList.remove('nav-open');
        });
    }
    toggleNav();
</script>