{% set site_type = 'common' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <section id="main-visual">
        <ul class="main-visual_slider">
            <li class="main-visual_slider_1">
            <div class="main-visual__content">
                <div class="main-visual__content_text">
                <p><img src="{{ asset('assets/img/top-mv01-copy.png') }}" alt="ブリーダーと飼い主をつなぐ。アニマルラインブリーダー"/></p>
                <div class="main-visual__content_text_btn"><a href="{{url('breeder_top')}}"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
                </div>
            </div>
            </li>
            <li class="main-visual_slider_2">
            <div class="main-visual__content">
                <div class="main-visual__content_text">
                <p><img src="{{ asset('assets/img/top-mv02-copy.png') }}" alt="里親を探している・なりたい方。アニマルラインアドプション"/></p>
                <div class="main-visual__content_text_btn"><a href="{{url('adoption_top')}}"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
                </div>
            </div>
            </li>
            <li class="main-visual_slider_3">
            <div class="main-visual__content">
                <div class="main-visual__content_text">
                <p><img src="{{ asset('assets/img/top-mv03-copy.png') }}" alt="自宅でしつけトレーニング。ペットの家庭教師"/></p>
                <div class="main-visual__content_text_btn"><a href="https://dc-trainers.net/" target="_blank"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
                </div>
            </div>
            </li>
        </ul>
    </section>

    <section id="top-content">
      <article class="top-content_01">
        <div class="top-content__icon"><img src="{{ asset('assets/img/top-icon01.png') }}" alt="Animalline Breeder"/></div>
        <div class="top-content__container">
          <figure class="top-content__container_image"><img src="{{ asset('assets/img/top-bg01.jpg') }}" alt="Animalline Breeder"/></figure>
          <div class="top-content__container_text">
            <h2>ブリーダーと飼い主のためのマッチングサイト</h2>
            <div class="top-content__container_text_wrap">
              <div class="top-content__container_text_logo"><a href="{{url('breeder_top')}}"><img src="{{ asset('assets/img/top-logo01.png') }}" alt="Animalline Breeder"/></a></div>
              <p>Animalline Breederは自慢の子犬・子猫をお譲りしたいブリーダーと、ブリーダーから直接子犬・子猫をご購入したい方をつなぐマッチングサイトです。</p>
              <div class="top-content__container_text_btn"><a href="{{url('breeder_top')}}"><i class="bi bi-search"></i>検索する</a></div>
            </div>
          </div>
        </div>
      </article>
      <article class="top-content_02">
        <div class="top-content__icon"><img src="{{ asset('assets/img/top-icon02.png') }}" alt="Animalline Adoption"/></div>
        <div class="top-content__container">
          <figure class="top-content__container_image"><img src="{{ asset('assets/img/top-bg02.jpg') }}" alt="Animalline Adoption"/></figure>
          <div class="top-content__container_text">
            <h2>保護犬・猫と里親になりたい方のマッチングサイト</h2>
            <div class="top-content__container_text_wrap">
              <div class="top-content__container_text_logo"><a href="{{url('adoption_top')}}"><img src="{{ asset('assets/img/top-logo02.png') }}" alt="Animalline Adoption"/></a></div>
              <p>Animalline Adoptionは飼い主のいない保護犬猫の里親を探している方と、保護犬猫の里親になりたい方をつなぐマッチングサイトです。</p>
              <div class="top-content__container_text_btn"><a href="{{url('adoption_top')}}"><i class="bi bi-search"></i>検索する</a></div>
            </div>
          </div>
        </div>
      </article>
      <article class="top-content_03">
        <div class="top-content__icon"><img src="{{ asset('assets/img/top-icon03.png') }}" alt="ペットの家庭教師"/></div>
        <div class="top-content__container">
          <figure class="top-content__container_image"><img src="{{ asset('assets/img/top-bg03.jpg') }}" alt="ペットの家庭教師"/></figure>
          <div class="top-content__container_text">
            <div class="top-content__container_text_wrap">
              <div class="top-content__container_text_logo"><a href="{{ url("ani_dctn_info") }}"><img src="{{ asset('assets/img/top-logo03.png') }}" alt="ペットの家庭教師"/></a></div>
              <p>「ペットの家庭教師」では、ご自宅にうかがい、生活環境や個性を確認のうえ、プライベート・しつけトレーニングをご提供します。</p>
              <div class="top-content__container_text_btn"><a href="{{ url("ani_dctn_info") }}"><i class="bi bi-arrow-right-circle-fill"></i>詳しくはこちら</a></div>
            </div>
          </div>
        </div>
      </article>
      {% if is_granted('ROLE_USER') %}
        <article class="top-content_04">
            <div class="top-content__icon"><img src="{{ asset('assets/img/top-icon04.png') }}" alt="Animalline EC SHOP"/></div>
            <div class="top-content__container">
            <figure class="top-content__container_image"><img src="{{ asset('assets/img/top-bg04.jpg') }}" alt="Animalline EC SHOP"/></figure>
            <div class="top-content__container_text">
                <div class="top-content__container_text_wrap">
                <div class="top-content__container_text_logo"><a href="{{url('homepage')}}"><img src="{{ asset('assets/img/top-logo04.png') }}" alt="Animalline EC SHOP"/></a></div>
                <p>しつけから消耗品まで、ペットに関わる様々な商品・サービスを提供しています。</p>
                <div class="top-content__container_text_btn"><a href="{{url('homepage')}}"><i class="bi bi-cart3"></i>ショップへ</a></div>
                </div>
            </div>
            </div>
        </article>
    {% endif %}
    </section>
    
    <section id="top-topics">
      <div class="top-topics__title">
        <h2>TOPICS<small>新着情報</small></h2>
      </div>
      <div class="top-topics__slide">
        <ul>
            {% for news in listNews %}
                <li>
                    <figure><img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ news.url }}" alt=""/></figure>
                    <div class="date">{{ news.publish_date|date('Y/m/d') }}</div>
                    <p>{{ news.title }}</p>
                </li>
            {% endfor %}
        </ul>
      </div>
    </section>

    <section id="top-dna">
      <div class="inner">
        <div class="top-dna-icon"><img src="{{ asset('assets/img/top-icon05.png') }}" alt="Animallineにて掲載のペットは全頭DNA検査済み"/></div>
        <h2>Animallineにて掲載のペットは<br>
          全頭DNA検査済み</h2>
        <h3>DNA検査のメリット</h3>
        <p>遺伝子検査とは、DNAの変異（突然変異）を検出する検査のことを言います。<br>
          神経疾患、眼疾患、泌尿器疾患、血液疾患などの遺伝性疾患の検査を行うことが可能です。</p>
        <ul>
          <li>
            <h4>発症リスクを知る</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img01.png') }}" alt="発症リスクを知る"/></figure>
            <p>遺伝子検査を行うことによって遺伝病の発症リスクを知ることができ、遺伝性疾患に対する備えができることです。事前にその病気のリスクを知ることで、定期検診を行うと共に、早期発見につながり、重症化の予防につながります。</p>
          </li>
          <li>
            <h4>変異遺伝子を次世代に残さない</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img02.png') }}" alt="変異遺伝子を次世代に残さない"/></figure>
            <p>遺伝情報は両親から半分ずつ子に伝達されるため、次の世代を繁殖する前に両親の遺伝子検査を行うことは、遺伝性疾患を将来の世代に増加させないために重要な意義があります。</p>
          </li>
          <li>
            <h4>治療や生活環境の指針を示す</h4>
            <figure><img src="{{ asset('assets/img/top-dna-img03.png') }}" alt="治療や生活環境の指針を示す"/></figure>
            <p>イベルメクチンへの感受性や手術時に止血困難となりえるフォンウイルブランド病（vWD）、腎結石、膀胱結石、尿道結石の発症率に関わる高尿酸尿症へのリスクなどを事前に知ることが可能です。</p>
          </li>
        </ul>
      </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/common-style.css') }}">
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
$(function(){
  $('.main-visual_slider').slick({
    fade:true,
    arrows: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 6000,
    speed:1000,
    dots:true
    /*responsive: [
    {
    breakpoint: 980,
    settings: {
    }
    }
    ]*/
    });
  $('.top-topics__slide ul').slick({
    centerMode: true,
    centerPadding: '25%',
    arrows: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 6000,
    speed:1000,
    dots:true
    /*responsive: [
    {
    breakpoint: 980,
    settings: {
    }
    }
    ]*/
    });
});
</script>
{% endblock %}
