<header class="d-none d-sm-block shadow">
    <nav class="navbar navbar-default bg-white">
        <div class="container-fluid">
            <div class="navbar-header m-3">
                <a class="navbar-brand" href="/">
                {% if site_type == 'adoption' %}
                    <img src="{{ asset('assets/img/adoption/logo.svg') }}"></a>
                {% elseif site_type == 'breeder' %}
                    <img src="{{ asset('assets/img/breeder/logo.svg') }}"></a>
                {% elseif site_type == 'common' %}
                    <img src="{{ asset('assets/img/common/logo.svg') }}"></a>
                {% endif %}
                </div>
                <div>
                    <div class="nav-info d-flex justify-flex-end" style="border-bottom: dashed 1px #adac9e">
                        <div class="mr-4 d-flex align-items-baseline">
                            <h5 class="mr-2 align-self-end color-gray-500">子犬掲載数</h5>
                            <h4 class="color-gray-500 align-self-end mr-2" style="font-weighht: bold">
                                2,652
                                <span class="font-size-10 font-weight-500">頭</span>
                            </h4>
                        </div>
                        <div class="mr-4 d-flex">
                            <h5 class="mr-2 align-self-end color-gray-500">ブリーダー数</h5>
                            <h4 class="color-gray-500 align-self-end" style="font-weighht: bold">
                                2,562                              
                                <span class="font-size-10 font-weight-500">人</span>
                            </h4>
                        </div>
                    </div>
                    <ul class="d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center font-size-18" href="{{ url('adoption_entry') }}">
                                <img src="{{ asset('assets/img/icon_user-solid.svg') }}" class="mr-2">
                                    <h4 class="color-gray-500 font-size-18">新規会員登録</h4>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center" href="#">
                                    <img src="{{ asset('assets/img/icon_heart-solid.svg') }}" class="mr-2">
                                        <h4 class="color-gray-500 font-size-18">お気に入り</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center" href={{url('adoption_login')}}>
                                        <img src="{{ asset('assets/img/icon_lock-solid.svg') }}" class="mr-2">
                                            <h4 class="font-size-18">ログイン</h4>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <ul class="header-nav nav nav-pills nav-justified bg-white">
                        <li class="nav-item">
                            <a class="nav-link active font-size-18 rounded-0" href={{ url('adoption_top')}}>保護団体TOP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-size-18 rounded-0" href="/ec/top">ECのTOP</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-size-18 rounded-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                テストリンク
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item font-size-16 rounded-0" href={{url('adoption_login')}}>
                                    保護団体ログイン
                                </a>
                                <div class="m-2"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle font-size-18 rounded-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Dropdown    
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item font-size-16 rounded-0" href="#">
                                    カテゴリカテゴリカテゴリカテゴリ
                                </a>
                                <div class="m-2"></div>
                                <a class="dropdown-item font-size-16 rounded-0" href="#">
                                    カテゴリカテゴリカテゴリカテゴリ
                                </a>
                                <div class="m-2"></div>
                                <a class="dropdown-item font-size-16 rounded-0" href="#">
                                    カテゴリカテゴリカテゴリカテゴリ
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<header class="d-block d-sm-none">
    <nav class="navbar navbar-default bg-white">
        <div class="container-fluid">
            <div class="navbar-header m-auto p-4">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('assets/img/adoption-logo.svg') }}"></a>
                </div>
                <nav class="headerNav bg-primary position-fixed w-100 h-100">
                    <ul class="navList m-0 p-0 text-align-center">
                        <li class="navItem p-1">
                            <a href="#" class="hoverFloatBtn p-5 d-block">カテゴリ </a>
                        </li>
                        <li class="navItem">
                            <a href="#" class="hoverFloatBtn p-5 d-block">カテゴリ</a>
                        </li>
                        <li class="navItem">
                            <a href="#" class="hoverFloatBtn p-5 d-block">カテゴリ</a>
                        </li>
                        <li class="navItem">
                            <a href="#" class="hoverFloatBtn p-5 d-block">カテゴリ</a>
                        </li>
                        <li class="navItem">
                            <a href="#" class="hoverFloatBtn p-5 d-block">カテゴリ</a>
                        </li>
                    </ul>
                </nav>
                <div class="hamburger_btn position-absolute" id="js-hamburger">
                    <span class="hamburger_line hamburger_line_1 position-absolute"></span>
                    <span class="hamburger_line hamburger_line_2 position-absolute"></span>
                    <span class="hamburger_line hamburger_line_3 position-absolute"></span>
                </div>
                <div class="black-bg d-block position-fixed w-100 h-100" id="js-black-bg"></div>
            </div>
        </div>
    </nav>
    <nav class="nav nav-pills nav-justified header-nav bg-white">
        <a class="nav-item nav-link active" href="#">Link </a>
        <a class="nav-item nav-link" href="#">Link</a>
        <a class="nav-item nav-link" href="#">Link</a>
    </nav>
</header>
<div class="dummy-header d-none d-sm-block"></div>
<div class="sm-dummy-header d-block d-sm-none"></div>