<footer class="footer">
    <div class="m-2 p-2"></div>
    {# <div class="m-4 p-4"></div> #}
    <div class="container">
        {% if site_type == 'adoption' %}
            <img src="{{ asset('assets/img/adoption/logo.svg') }}"></a>
        {% elseif site_type == 'breeder' %}
            <img src="{{ asset('assets/img/breeder/logo.svg') }}"></a>
        {% elseif site_type == 'common' %}
            <img src="{{ asset('assets/img/common/logo.svg') }}"></a>
        {% endif %}
            <div class="m-1 p-1"></div>
            <nav class="nav nav-justified">
                <a class="nav-item nav-link font-size-18" href={{url('ani_policy')}}>プライバシーポリシー</a>
                <a class="nav-item nav-link font-size-18" href={{url('ani_terms')}}>利用規約</a>
                <a class="nav-item nav-link font-size-18" href={{url('ani_company')}}>会社概要</a>
                <a class="nav-item nav-link font-size-18" href={{url('ani_contact')}}>お問い合わせ</a>
            </nav>
            <div class="m-1 p-1"></div>
            <p>
                <small>
                    Copyright ●● 2021 All right reserved
                </small>
            </p>
        </div>
    </footer>