    <section id="breeder-column">
        <div class="inner">
            <div class="ec-role">
                <div class="ec-pageHeader">
                    <h1>{{ 'お問い合わせ(完了)'|trans }}</h1>
                </div>
            </div>
            <div class="ec-contactCompleteRole">
                <div class="ec-off3Grid ec-text-ac">
                    <div class="ec-off3Grid__cell">
                        <div class="ec-reportHeading">
                            <h2>{{ 'お問い合わせ内容の送信が完了いたしました'|trans }}</h2>
                        </div>
                        <p class="ec-reportDescription">{{ '万一、ご確認メールが届かない場合は、トラブルの可能性もありますので大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせくださいませ。'|trans }}</p>
                        <div class="ec-off4Grid">
                        {% if site_type == 'breeder' %}
                            <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('breeder_top') }}">{{'トップページへ'|trans}}</a></div>
                        {% elseif site_type == 'adoption' %}
                            <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('adoption_top') }}">{{'トップページへ'|trans}}</a></div>
                        {% else %}
                            <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{'トップページへ'|trans}}</a></div>
                        {% endif %}           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
