<!doctype html>
<html lang="{{ eccube_config.locale }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    {% block tagarea %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-212594413-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-212594413-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    <meta name="description" content=" Animalline􀀀アニマルライン􀀀は、「ブリーダー直販」と「里親としてペットを迎える」という􀀀つの方法で、ブリーダー・動物保護団体・ペットを飼われる方に寄り添うサポートを実施致しております。">
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% endif %}
    <link rel="icon" href="{{ asset('assets/img/common/favicon.ico', 'user_data') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;700&family=Noto+Sans+JP:wght@400;500;700&family=Asap:wght@400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ asset('assets/css/common/css/common.css?ver=2110291') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% block stylesheet %}{% endblock %}
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
    {# Layout: HEAD #}
    {% if Layout.Head %}
        {{ include('block.twig', {'Blocks': Layout.Head}) }}
    {% endif %}
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', { snippets: plugin_assets }) }}{% endif %}
    <link rel="stylesheet" href="{{ asset('assets/css/customize.css', 'user_data') }}">
</head>
<body id="page_{{ app.request.get('_route') }}" class="{{ body_class|default('other_page') }}">
	<div id="wrapper">
		<header id="header" role="banner">
			<div class="inner">
				<h1 class="logomark"><a href="{{url('homepage')}}"><img src="{{ asset('assets/css/common/img/header/logomark.png') }}" alt="アニマルライン"></a></h1>
                {% set Carts = get_all_carts() %}
                {% set totalPrice = get_carts_total_price() %}
                {% set totalQuantity = get_carts_total_quantity() %}
                <div class="ec-headerRole__cart">
                    <div class="cart-box">
                        <div class="icon"><a href="{{url('cart')}}"><img src="{{ asset('assets/css/common/img/parts/icon_cart01.png') }}" alt=""></a></div>
                        <div class="count">{{ totalQuantity }}</div>
                    </div>
                </div>
				<div class="menu-btn"><a href="javascript:menu();"><span></span><span></span><span></span></a></div>
				<div class="menu-area">
					<div class="">
                        <form method="get" class="search-box" action="{{ path('product_list') }}">
                            <input class="text" type="search" name="name" placeholder="キーワードを入力">
                            <input class="icon" type="submit" value="">
                        </form>
					</div>
					<ul class="option-list">
                        {% if is_granted('ROLE_USER') == false %}
                            <li class="register"><a href="{{ url('entry') }}"><span>新規会員登録</span></a></li>
                            <li class="login"><a href="{{ url('mypage_login') }}"><span>マイページ</span></a></li>
                            <li class="login"><a href="{{ url('mypage_login') }}"><span>ログイン</span></a></li>
                        {% else %}
                            <li class="order"><a href="{{url('mypage')}}"><span>マイページ</span></a></li>
                            <li class="login"><a href="{{ url('logout') }}"><span>ログアウト</span></a></li>
                        {% endif %}
                    </ul>
                    
                    <nav class="nav" role="navigation">
						<ul class="main-list">
							<li>
								<ul class="child-list custom">
									<li><a href="{{ url('help_privacy') }}">プライバシーポリシー</a></li>
									<li><a href="{{ url('help_tradelaw') }}">特定商取引法</a></li>
									<li><a href="{{ url('contact') }}">お問合せ</a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header><!-- / #header -->

        {% block main %}{% endblock %}

		<footer id="footer" role="contentinfo">
			<div class="pageup"><a href="#wrapper">TOPへ戻る</a></div>
			<div class="inner">
				<ul class="sitemap-list">
					<li><a href="{{ url('help_privacy') }}"><span>プライバシーポリシー</span></a></li>
					<li><a href="{{ url('help_tradelaw') }}"><span>特定商取引法に基づく表記</span></a></li>
					<li><a href="{{ url('contact') }}"><span>お問い合わせ</span></a></li>
				</ul>
			</div>
            <div style="text-align: center">
            <div class="footer-logo"><a href="{{ url('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}" width="305" height="40" alt="Animalline"/></a></div>
            </div>

            <small id="copyright">Copyright © 2021 Animalline All Rights Reserved.</small>
        </footer><!-- / #footer -->
	</div><!-- / #wrapper -->

	<script defer src="{{ asset('assets/css/common/js/jquery.ofi.min.js') }}"></script>
	<script defer src="{{ asset('assets/css/common/js/jquery.smallarticles.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.bxslider.js') }}"></script>
	<script defer src="{{ asset('assets/js/jquery.bxslider.config.js') }}"></script>
	<script defer src="{{ asset('assets/js/index.js') }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    {% include('@common/lang.twig') %}
    <script src="{{ asset('assets/js/function.js') }}"></script>
    <script src="{{ asset('assets/js/eccube.js') }}"></script>
    {% block javascript %}{% endblock %}
    {# Layout: CLOSE_BODY_BEFORE #}
    {% if Layout.CloseBodyBefore %}
        {{ include('block.twig', {'Blocks': Layout.CloseBodyBefore}) }}
    {% endif %}
    {# プラグイン用Snippet #}
    {% if plugin_snippets is defined %}
        {{ include('snippet.twig', { snippets: plugin_snippets }) }}
    {% endif %}
    <script src="{{ asset('assets/js/customize.js', 'user_data') }}"></script>
</body>
</html>
