{% extends 'default_frame.twig' %}

{% block stylesheet %}
{% endblock %}
{% block javascript %}
{# カレンダー表示用スクリプト #}
<script>

</script>

{% endblock %}

{% block main %}
	<div id="page-top"></div>
	<div class="wrap sp-wrap w1200">
		<section class="secMV">
			<div class="slider-wrap">
				<div class="swiper js-sliderMV secMV-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_01.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_02.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_03.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_04.jpg') }}" alt=""></div>
					</div>
				</div>
				<div class="swiper-button-prev productBtn productBtn-left pc">
					<img src="{{ asset('assets/img/ec/arrow_left.svg') }}" alt="前へ">
				</div>
				<div class="swiper-button-next productBtn productBtn-right pc">
					<img src="{{ asset('assets/img/ec/arrow_right.svg') }}" alt="次へ">
				</div>
			</div>
			<!-- サムネイル -->
			<div class="secMV__thumb pc">
				<div class="swiper js-sliderMV-thumb">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_01.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_02.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_03.jpg') }}" alt=""></div>
						<div class="swiper-slide"><img src="{{ asset('assets/img/ec/mv_04.jpg') }}" alt=""></div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination sp"></div>
		</section>


		<section class="secBanner">
			<div class="secBanner__list flex break">
				<a href="{{ url('ec_nutro') }}" class="secBanner__item -w100">
					<img src="{{ asset('assets/img/ec/banner_nutro.png') }}" alt="ニュートロ">
				</a>
				<a href="{{ url('ec_greenies') }}" class="secBanner__item -w100">
					<img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="グリニーズ">
				</a>
			</div>
		</section>

		<section class="secRecommend">
			<h2 class="pageHead">おすすめ商品</h2>
			<div class="slider-wrap">
				<div class="swiper js-sliderProduct" data-slider-id="3" data-slides-per-view="4" data-slides-per-view_sp="2">
					<div class="swiper-wrapper">
						{% for product in osusume %}
							<div class="swiper-slide">
								<a href="{{ url('product_detail', {'id': product.id}) }}" class="productItem flex vert">
									<div class="productItem__img">
										<img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}" alt="{{ product.name }}">
									</div>
									<div class="productItem__ttl">
										{{ product.name }}
									</div>
									<div class="productItem__more flex vcenter">
										{% if product.hasProductClass -%}
											{% if product.getPrice02IncTaxMin == product.getPrice02IncTaxMax %}
												<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }} {{ '(税込)'|trans }}</span>
											{% else %}
												<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }}
										～
										{{ product.getPrice02IncTaxMax|price }} {{ '(税込)'|trans }}</span>
											{% endif %}
										{% else %}
											<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }} {{ '(税込)'|trans }}</span>
										{% endif %}
									</div>
								</a>
							</div>
						{% endfor %}

					</div>
				</div>
				<div class="swiper-button-prev productBtn productBtn-left pc" data-slider-id="3">
					<img src="{{ asset('assets/img/ec/arrow_left.svg') }}" alt="前へ">
				</div>
				<div class="swiper-button-next productBtn productBtn-right pc" data-slider-id="3">
					<img src="{{ asset('assets/img/ec/arrow_right.svg') }}" alt="次へ">
				</div>
			</div>
			<div class="secRecommend__btn flex hcenter">
				<a href="{{ url('product_list', {'category_id': 49}) }}" class="pageBtn flex vcenter hcenter">
					一覧を見る<i class="icon icon-triangle"></i>
				</a>
			</div>
		</section>

		<section class="secProductNew">
			<h2 class="pageHead">新着商品</h2>
			<div class="slider-wrap">
				<div class="swiper js-sliderProduct" data-slider-id="2" data-slides-per-view="4">
					<div class="swiper-wrapper">

						{% for product in products_new |slice(0,10) %}
							<div class="swiper-slide">
								<a href="{{ url('product_detail', {'id': product.id}) }}" class="productItem flex vert">
									<div class="productItem__img">
										<img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}" alt="{{ product.name }}" >
									</div>
									<div class="productItem__ttl">
										{{ product.name }}
									</div>
									<div class="productItem__more flex vcenter">
										{% if product.hasProductClass -%}
											{% if product.getPrice02IncTaxMin == product.getPrice02IncTaxMax %}
												<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }} {{ '(税込)'|trans }}</span>
											{% else %}
												<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }}
										～
										{{ product.getPrice02IncTaxMax|price }} {{ '(税込)'|trans }}</span>
											{% endif %}
										{% else %}
											<span class="productItem__price serif">{{ product.getPrice02IncTaxMin|price }} {{ '(税込)'|trans }}</span>
										{% endif %}
									</div>
								</a>
							</div>
						{% endfor %}

					</div>
				</div>
				<div class="swiper-button-prev productBtn productBtn-left pc" data-slider-id="2">
					<img src="{{ asset('assets/img/ec/arrow_left.svg') }}" alt="前へ">
				</div>
				<div class="swiper-button-next productBtn productBtn-right pc" data-slider-id="2">
					<img src="{{ asset('assets/img/ec/arrow_right.svg') }}" alt="次へ">
				</div>
			</div>
			<div class="secProductNew__btn flex hcenter">
				<a href="{{ url('product_list', {'category_id': 75}) }}" class="pageBtn flex vcenter hcenter">
					一覧を見る<i class="icon icon-triangle"></i>
				</a>
			</div>
		</section>

		<section class="secBrand">
			<h2 class="pageHead">ブランドから選ぶ</h2>

			<div class="slider-wrap">
				<div class="swiper js-sliderProduct" data-slider-id="4" data-slides-per-view="3" data-slides-per-view_sp="2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=41" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_kong.png') }}" alt="コングジャパン">
								</div>
								<div class="productItem__ttl">
									コングジャパン
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=42" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_dpc.png') }}" alt="ドッグパッドコネクト">
								</div>
								<div class="productItem__ttl">
									ドッグパッドコネクト
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=40" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_kocho.png') }}" alt="コーチョー">
								</div>
								<div class="productItem__ttl">
									コーチョー
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id==37" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_inaba.jpg') }}" alt="いなば">
								</div>
								<div class="productItem__ttl">
									いなば
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=76" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_lion_pet.jpg') }}" alt="ライオンペット">
								</div>
								<div class="productItem__ttl">
									ライオンペット
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=42" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_uni_charm.jpg') }}" alt="ユニチャーム">
								</div>
								<div class="productItem__ttl">
									ユニチャーム
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="{{ url('product_list') }}?category_id=36" class="productItem flex vert">
								<div class="productItem__img">
									<img src="{{ asset('assets/img/ec/brand_nutro.jpg') }}" alt="ニュートロ">
								</div>
								<div class="productItem__ttl">
									ニュートロ
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev productBtn productBtn-left pc" data-slider-id="4">
					<img src="{{ asset('assets/img/ec/arrow_left.svg') }}" alt="前へ">
				</div>
				<div class="swiper-button-next productBtn productBtn-right pc" data-slider-id="4">
					<img src="{{ asset('assets/img/ec/arrow_right.svg') }}" alt="次へ">
				</div>
			</div>
		</section>

		<section class="secDNA">
			<a href="https://animalline.jp/dna_ec" class="secDNA__link flex hcenter">
				<img src="{{ asset('assets/img/ec/dna_ec.png') }}" alt="DNA検査">
			</a>
		</section>

		<section class="secBtn" style="display: none;">
			<div class="wrap sp-wrap w1200">
				<div class="secBtn__wrap flex vcenter hcenter">
					<div class="secBtn__item flex vcenter hcenter vert">
						<div class="secBtn__item--pet secBtn__item--petDog">
							<img src="{{ asset('assets/img/ec/dog.svg') }}" alt="犬用品を買う">
						</div>
						<a href="" class="secBtn__item--link">
							犬用品を買う
						</a>
					</div>
					<div class="secBtn__item flex vcenter hcenter vert">
						<div class="secBtn__item--pet secBtn__item--petCat">
							<img src="{{ asset('assets/img/ec/cat.svg') }}" alt="猫用品を買う">
						</div>
						<a href="" class="secBtn__item--link">
							猫用品を買う
						</a>
					</div>
				</div>
			</div>
		</section>

	</div>

{% endblock %}
