{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css?ver=211102_2') }}">
{% endblock %}
{% block javascript %}
   
{% endblock %}

{% block main %}
    <main role="main" id="container">
        <div id="contents">
            <div class="edit-area keyvisual">
                <div class="inner w1190">
                    <div class="photo-box"><img src="{{ asset('assets/img/main.jpg') }}" alt="アニマルライン"></div>
                </div>
            </div>
            <div class="side-set">
                <div class="main-area">

                    <div class="edit-area lineup new">
                        <div class="inner">
                            <div class="index-title type01">
                                <h2 class="main"><span>新着商品</span></h2>
                            </div>
                            <ul class="lineup-list">
                                {% for product in products_new %}
                                    <li><a href="{{ url('product_detail', {'id': product.id}) }}">
                                        <div class="list-photo"><img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}"></div>
                                        <div class="list-title">{{ product.name }}</div>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><!-- main-area -->

                <div class="side-area">
                    <dl class="side-list">
                        <div>
                            <dt>⽝⽤</dt>
                            {#
                            <dd>
                                <ul>
                                    <li><a href="{{ url('product_list') }}?category_id=7">療法⾷</a></li>
                                    <li><a href="{{ url('product_list') }}?category_id=15">準療法⾷</a></li>
                                </ul>
                            </dd>
                            #}
                        </div>
                        <div>
                            <dt>猫⽤</dt>
                            {#
                            <dd>
                                <ul>
                                    <li><a href="{{ url('product_list') }}?category_id=11">療法⾷</a></li>
                                    <li><a href="{{ url('product_list') }}?category_id=21">準療法⾷</a></li>
                                </ul>
                            </dd>
                            #}
                        </div>
                        <div>
                            <dt>その他</dt>
                            {#
                            <dd>
                                <ul>
                                    <li><a href="{{ url('product_list') }}?category_id=27">犬用デンタル関連</a></li>
                                    <li><a href="{{ url('product_list') }}?category_id=28">猫用デンタル関連</a></li>
                                    <li><a href="{{ url('product_list') }}?category_id=29">その他の商品</a></li>
                                </ul>
                            </dd>
                            #}
                        </div>
                    </dl>
                </div>
            </div><!-- side-area -->
        </div><!-- contents -->
    </main><!-- container -->
{% endblock %}