<div class="side-container col-md-3">
    <ul class="nav bg-white side-nav">
        {#
        <li class="nav-item side-nav-item">
            <div class="side-contents mb-3" style="background: #337ab7;">
                {% if site_type == 'breeder' %}
                    <a class="nav-link active" href={{url('breeder_search')}}><i class="fas fa-search fa-fw mr-2" aria-hidden="true"></i>ブリーダー検索はこちら</a>
                {% elseif site_type == 'adoption' %}
                    <a class="nav-link active" href={{url('adoption_search')}}><i class="fas fa-search fa-fw mr-2" aria-hidden="true"></i>保護団体検索はこちら</a>
                {% endif %}
            </div>
        </li>
        #}

        {% if is_granted('ROLE_USER') %}
        <li class="nav-item side-nav-item">
            <div class="side-contents mb-3" style="background: #F08300">
                <a class="nav-link" href="{{url('homepage')}}"><i class="fa fa-shopping-basket fa-fw mr-2" aria-hidden="true"></i>ECショップはこちら</a>
            </div>
        </li>
        {% endif %}
        <li class="nav-item side-nav-item">
            <div class="side-contents mb-3 bg-accent p-0">
                <a href="{{url('breeder_guide_dog')}}">
                    <div class="img-container">
                        <img src="{{ asset('assets/img/guide.jpg') }}" style="height:53.27px; width:53.27px;">
                        <span class="ml-3">お迎えガイド</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item side-nav-item">
            <div class="side-contents mb-3" style="border: 1px solid skyblue;">
                <a href="#">
                    <div class="img-container">
                        <img src="{{ asset('assets/img/logo_dctn.png') }}" style="height:40.5px; width:51.75px;">
                        <span class="ml-3" style="color: skyblue;">ペットの家庭教師</span>
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item side-nav-item">
            <div class="side-contents mb-3 bg-breeder" style="color: #fff;">
                <div style="padding: 10px; border-bottom: 1px solid #fff;">
                    <span style="color: white;"><i class="fas fa-dog fa-fw mr-2"></i>カテゴリーから探す</span>
                </div>
                <div style="padding: 15px;">
                    <div>人気の犬種</div>
                    <div>サイズ</div>
                </div>
            </div>
        </li>
        <li class="nav-item side-nav-item" style="border-bottom: solid 1px #DDDDDD">
            <a class="nav-item nav-link" href={{url('ani_contact')}}><i class="fas fa-fw fa-envelope mr-2" aria-hidden="true"></i>お問い合わせ</a>
        </li>
        <li class="nav-item side-nav-item" style="border-bottom: solid 1px #DDDDDD">
            <a class="nav-item nav-link" href={{url('ani_company')}}><i class="fa fa-building fa-fw mr-2" aria-hidden="true"></i>会社概要</a>
        </li>
        <li class="nav-item side-nav-item" style="border-bottom: solid 1px #DDDDDD">
           <a class="nav-item nav-link" href={{url('ani_terms')}}><i class="fa fa-file-alt fa-fw mr-2" aria-hidden="true"></i>利用規約</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('help_privacy')}}><i class="fa fa-shield-alt fa-fw mr-2" aria-hidden="true"></i>プライバシーポリシー</a>
        </li>
    </ul>
</div>