<div class="side-container col-md-3">
    <ul class="nav bg-white side-nav">
        <li class="nav-item side-nav-item">
            <a class="nav-link active rounded-0" href={{url('adoption_top')}}>保護団体TOP</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-link rounded-0" href="{{url('homepage')}}">ECのTOP</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-link rounded-0" href={{url('adoption_mypage')}}>保護団体<br>ユーザーページ</a>
        <li class="nav-item dropdown side-nav-item">
            <a class="nav-link dropdown-toggle rounded-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">テストリンク</a>
            <div class="dropdown-menu">
                <a class="dropdown-item rounded-0" href={{url('adoption_login')}}>保護団体ログイン</a>
                <a class="dropdown-item rounded-0" href={{url('adoption_configration')}}>保護団体管理ページ</a>
                <a class="dropdown-item rounded-0" href="/adoption/configration/logout">ログアウト</a>
            </div>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('ani_contact')}}>お問い合わせ</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('ani_company')}}>会社概要</a>
        </li>
        <li class="nav-item side-nav-item">
           <a class="nav-item nav-link" href={{url('ani_terms')}}>利用規約</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('ani_policy')}}>プライバシーポリシー</a>
        </li>
    </ul>
</div>