<div class="side-container col-md-3">
    <ul class="nav bg-white side-nav">
        <li class="nav-item side-nav-item">
            <a class="nav-link active font-size-18 rounded-0" href={{url('adoption_top')}}>保護団体TOP</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-link font-size-18 rounded-0" href="{{url('homepage')}}">ECのTOP</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-link font-size-18 rounded-0" href={{url('adoption_mypage')}}>保護団体<br>ユーザーページ</a>
        <li class="nav-item dropdown side-nav-item">
            <a class="nav-link dropdown-toggle font-size-18 rounded-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">テスト</a>
            <div class="dropdown-menu">
                <a class="dropdown-item font-size-16 rounded-0" href={{url('adoption_login')}}>保護団体ログイン</a>
                <a class="dropdown-item font-size-16 rounded-0" href={{url('adoption_configration')}}>保護団体管理ページ</a>
                <a class="dropdown-item font-size-16 rounded-0" href="/adoption/configration/logout">ログアウト</a>
            </div>
        </li>
    </ul>
</div>