<div class="side-container col-md-3">
    <ul class="nav bg-white side-nav">
        <li class="nav-item side-nav-item">
            <a class="nav-link active rounded-0" href={{url('breeder_search')}}><i class="fas fa-search fa-fw" aria-hidden="true"></i>ブリーダー検索</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-link rounded-0" href="{{url('homepage')}}"><i class="fa fa-shopping-basket fa-fw" aria-hidden="true"></i>ECのTOP</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('ani_contact')}}><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i>お問い合わせ</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('ani_company')}}><i class="fa fa-building fa-fw" aria-hidden="true"></i>会社概要</a>
        </li>
        <li class="nav-item side-nav-item">
           <a class="nav-item nav-link" href={{url('ani_terms')}}><i class="fa fa-file-alt fa-fw" aria-hidden="true"></i>利用規約</a>
        </li>
        <li class="nav-item side-nav-item">
            <a class="nav-item nav-link" href={{url('help_privacy')}}><i class="fa fa-shield-alt fa-fw" aria-hidden="true"></i>プライバシーポリシー</a>
        </li>
    </ul>
</div>