{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['adoptions', 'adoptions_adoption_list'] %}

{% block title %}{{ '登録内容編集'|trans }}{% endblock %}
{% block sub_title %}{{ '保護団体管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block main %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '保護団体情報'|trans }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                   aria-controls="basicConfig">
                                    <i class="fa fa-angle-up fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="basicConfig">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>登録者区分</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.is_organization) }}
                                    {{ form_errors(form.is_organization) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>保護団体名</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.organization_name) }}
                                    {{ form_errors(form.organization_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>取り扱いペット種別</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.handling_pet_kind) }}
                                    {{ form_errors(form.handling_pet_kind) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>プロフィール画像</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <img alt="thumbnail_path" src="{{ (form.vars.value.thumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png')) }}"
                                         style="max-width: 200px">
                                    {{ form_widget(form.thumbnail_path, { 'attr': { 'class': 'd-none' }}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>運営者氏名</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.owner_name) }}
                                    {{ form_errors(form.owner_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>運営者氏名カナ</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.owner_kana) }}
                                    {{ form_errors(form.owner_kana) }}
                                </div>
                            </div>
                            <div class="h-adr">
                                <span class="p-country-name" style="display:none;">Japan</span>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-zipInput{{ has_errors(form.zip) ? ' error' }}">
                                            {{ form_widget(form.zip) }}
                                            {{ form_errors(form.zip) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.PrefId, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-select{{ has_errors(form.PrefId) ? ' error' }}">
                                            {{ form_widget(form.PrefId) }}
                                            {{ form_errors(form.PrefId) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.city, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input{{ has_errors(form.city) ? ' error' }}">
                                            {{ form_widget(form.city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            {{ form_label(form.address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input{{ has_errors(form.address) ? ' error' }}">
                                            {{ form_widget(form.address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            {{ form_errors(form.address) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>電話番号</span>
                                        <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.tel) }}
                                    {{ form_errors(form.tel) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>FAX番号</span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.fax) }}
                                    {{ form_errors(form.fax) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>ホームページのURL</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.homepage_url) }}
                                    {{ form_errors(form.homepage_url) }}
                                </div>
                            </div>
                            {#
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>公開フラグ</span>
                                        <span class="badge badge-primary ml-1">
                                            {{ 'admin.common.required'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.is_active) }}
                                    {{ form_errors(form.is_active) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>審査ステータス</span>
                                        <span class="badge badge-primary ml-1">
                                            {{ 'admin.common.required'|trans }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(form.examination_status) }}
                                    {{ form_errors(form.examination_status) }}
                                </div>
                            </div>
                            #}
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>自己PR</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.pr_text) }}
                                    {{ form_errors(form.pr_text) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>動物取扱業登録証画像</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <img alt="license_thumbnail_path"
                                        src="{{ (form.vars.value.licenseThumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png')) }}"
                                        style="max-width: 200px">
                                    {{ form_widget(form.license_thumbnail_path, { 'attr': { 'class': 'd-none' }}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>登録証番号</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.license_no) }}
                                    {{ form_errors(form.license_no) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>引き渡し方法</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.delivery_way_template) }}
                                    {{ form_errors(form.delivery_way_template) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>備考</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(form.delivery_time_template) }}
                                    {{ form_errors(form.delivery_time_template) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                        <a class="c-baseLink" href="{{ url('admin_adoption_list') }}">
                            <i class="fa fa-backward" aria-hidden="true"></i><span>保護団体一覧</span>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            <div class="ec-select{{ has_errors(form.is_active) ? ' error' }}">
                                {{ form_widget(form.is_active) }}
                                {{ form_errors(form.is_active) }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-ec-conversion px-5"
                                    type="submit">{{ 'admin.common.registration'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock %}