{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['adoptions', 'adoptions_adoption_list'] %}

{% block title %}{{ '審査情報表示'|trans }}{% endblock %}
{% block sub_title %}{{ '保護団体管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '保護団体情報'|trans }}
                                    </span>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                   aria-controls="basicConfig">
                                    <i class="fa fa-angle-up fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse show ec-cardCollapse" id="basicConfig">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>登録者区分</span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(formAdoption.is_organization) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>保護団体名</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(formAdoption.organization_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>取り扱いペット種別</span>
                                    </div>
                                </div>
                                <div class="col-2 mb-2">
                                    {{ form_widget(formAdoption.handling_pet_kind) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>画像</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    <img alt="thumbnail_path" src="{{ formAdoption.vars.value.thumbnailPath }}"
                                         style="max-width: 200px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>運営者氏名</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(formAdoption.owner_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="d-inline-block">
                                        <span>運営者氏名カナ</span>
                                    </div>
                                </div>
                                <div class="col-6 mb-2">
                                    {{ form_widget(formAdoption.owner_kana) }}
                                </div>
                            </div>
                            <div>
                                <div class="h-adr">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formAdoption.zip, '郵便番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-zipInput">
                                                {{ form_widget(formAdoption.zip) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formAdoption.PrefId, '都道府県', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-select">
                                                {{ form_widget(formAdoption.PrefId) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formAdoption.city, '市区町村', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-2 mb-2">
                                            <div class="ec-input">
                                                {{ form_widget(formAdoption.city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)', 'disabled': 'true' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="d-inline-block">
                                                {{ form_label(formAdoption.address, '市区町村以下住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                                            </div>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <div class="ec-input">
                                                {{ form_widget(formAdoption.address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)', 'disabled': 'true' }}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>電話番号</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {{ form_widget(formAdoption.tel) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>FAX番号</span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        {{ form_widget(formAdoption.fax) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>ホームページのURL</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        {{ form_widget(formAdoption.homepage_url) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>自己PR</span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        {{ form_widget(formAdoption.pr_text) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if (formAdoption.handling_pet_kind.vars.data in [constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT'),
          constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')] and formHouseDog) %}
        {{ include('@admin/Adoption/components/_pet_house_block.twig', { 'form': formHouseDog, 'title': '犬舎情報' }) }}
    {% endif %}

    {% if (formAdoption.handling_pet_kind.vars.data in [constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG_CAT'),
        constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')] and formHouseCat) %}
        {{ include('@admin/Adoption/components/_pet_house_block.twig', { 'form': formHouseCat, 'title': '猫舎情報' }) }}
    {% endif %}

    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                        <a class="c-baseLink" href="{{ url('admin_adoption_list') }}">
                            <i class="fa fa-backward" aria-hidden="true"></i><span>保護団体一覧</span>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                        <div class="col-auto">
                            {% set disabledStatuses = [
                                constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_CHECK_OK'),
                                constant('Customize\\Config\\AnilineConf::ANILINE_EXAMINATION_STATUS_CHECK_NG')
                            ] %}
                            <a {{ conservation.examinationStatus in disabledStatuses ? 'disabled' : '' }}
                                    class="btn btn-ec-conversion px-5"
                                    href="{{ conservation.examinationStatus in disabledStatuses ? '#' : url('admin_adoption_examination_regist', {'id': conservation.id}) }}">
                                審査結果登録
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
