{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['adoptions', 'adoptions_adoption_list'] %}
{% set params = app.request.query.all %}

{% block title %}{{ '犬舎・猫舎情報編集'|trans }}{% endblock %}
{% block sub_title %}{{ '保護団体管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script>
    $(function(){
    $('#pet-category').on('change', function () {
        var url = $(this).val();
        if (url) {
            window.location = url;
        }
        return false;
    });
});
</script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="adoption-house" id="adoption-house" method="post" novalidate class="h-adr"
          action="{{ url('admin_adoption_house', params|merge({'id': conservations, 'pet_type': params.pet_type is defined ? params.pet_type : null})) }}">
        {{ form_widget(form._token) }}
        <span class="p-country-name" style="display:none;">Japan</span>
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ '犬舎・猫舎情報'|trans }}
                                    </span>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <a data-bs-toggle="collapse" href="#basicConfig" aria-expanded="false"
                                       aria-controls="basicConfig">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="basicConfig">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>種別</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <select id="pet-category" name="" class="form-control" {{ conservations.getConservationsHouses().count() < 2 ? 'disabled' }}>
                                            {% for house in conservations.getConservationsHouses() %}
                                                <option {{ params.pet_type is defined and params.pet_type == house.petType ? 'selected' : '' }}
                                                        value="{{ url('admin_adoption_house', params|merge({'id': conservations, 'pet_type': house.petType})) }}">
                                                    {{ house.petType == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬舎' : '猫舎' }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>運営者氏名</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_name) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_name) }}
                                            {{ form_errors(form.conservation_house_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>運営者氏名カナ</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_kana) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_kana) }}
                                            {{ form_errors(form.conservation_house_kana) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>郵便番号</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-zipInput{{ has_errors(form.conservation_house_house_zip) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_house_zip) }}
                                            {{ form_errors(form.conservation_house_house_zip) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>都道府県</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-select{{ has_errors(form.pref) ? ' error' }}">
                                            {{ form_widget(form.pref) }}
                                            {{ form_errors(form.pref) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>市区町村</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-input{{ has_errors(form.conservation_house_city) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_city) }}
                                            {{ form_errors(form.conservation_house_city) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>市区町村以下住所</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-input{{ has_errors(form.conservation_house_address) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_address) }}
                                            {{ form_errors(form.conservation_house_address) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>電話番号</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_house_tel) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_house_tel) }}
                                            {{ form_errors(form.conservation_house_house_tel) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>FAX番号</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_house_fax) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_house_fax) }}
                                            {{ form_errors(form.conservation_house_house_fax) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>担当者名</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_front_name) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_front_name) }}
                                            {{ form_errors(form.conservation_house_front_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="d-inline-block">
                                            <span>担当者TEL</span>
                                            <span class="badge badge-primary ml-1">
                                                {{ 'admin.common.required'|trans }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2 mb-2">
                                        <div class="ec-halfInput{{ has_errors(form.conservation_house_front_tel) ? ' error' }}">
                                            {{ form_widget(form.conservation_house_front_tel) }}
                                            {{ form_errors(form.conservation_house_front_tel) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_adoption_list') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i><span>保護団体一覧</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="ex-conversion-action" class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5"
                                        type="submit">{{ 'admin.common.registration'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


