{% extends 'animalline/ulogi/frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="main-container col-12">
                <h1 class="mb-0">無料検査出荷待ち一覧</h1>
                <table class="table table-sm dna-table text-center responsive-table">
                    <thead>
                    <tr class="heading">
                        <th class="border-top-0 pt-2 pb-2">No.</th>
                        <th class="border-top-0 pt-2 pb-2">送り先名</th>
                        <th class="border-top-0 pt-2 pb-2">送り先TEL</th>
                        <th class="border-top-0 pt-2 pb-2">キット数量</th>
                        <th class="border-top-0 pt-2 pb-2">印刷</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dna in dnas %}
                        <tr>
                            <td class="id">5{{ "%05d"|format(dna.getId()) }}</td>
                            <td>{{ dna.getShippingName() }}</td>
                            <td>{{ dna.getShippingTel() }}</td>
                            <td>{{ dna.getKitUnit() }}</td>
                            <td>
                                <input type="button" class="btn btn-primary" value="送付状印刷" onclick="getSheetData({{ dna.getId() }})">
                                <input type="button" class="btn btn-primary" value="シート印刷" onclick="getBarcodeData({{ dna.getId() }})">
                            </td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">結果が０件です。</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h1 class="mb-0">有料検査出荷待ち一覧</h1>
                <table class="table table-sm dna-table text-center responsive-table">
                    <thead>
                    <tr class="heading">
                        <th class="border-top-0 pt-2 pb-2">No.</th>
                        <th class="border-top-0 pt-2 pb-2">送り先名</th>
                        <th class="border-top-0 pt-2 pb-2">送り先TEL</th>
                        <th class="border-top-0 pt-2 pb-2">キット数量</th>
                        <th class="border-top-0 pt-2 pb-2">印刷</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for buy_dna in buy_dnas %}
                        <tr>
                            <td class="id">7{{ "%05d"|format(buy_dna.getId()) }}</td>
                            <td>{{ buy_dna.getShippingName() }}</td>
                            <td>{{ buy_dna.getShippingTel() }}</td>
                            <td>{{ buy_dna.getKitCount() }}</td>
                            <td>
                                <input type="button" class="btn btn-primary" value="送付状印刷" onclick="getSheetDataBuy({{ buy_dna.getId() }})">
                                <input type="button" class="btn btn-primary" value="シート印刷" onclick="getBarcodeDataBuy({{ buy_dna.getId() }})">
                            </td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">結果が０件です。</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="ec-registerRole__actions">
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <a href="{{ url('ulogi_index') }}" class="btn btn-warning w-100 m-1">戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
    function getBarcodeData(id){
        if(!confirm('印刷します。よろしいですか？')){return;}

        $.ajax({
            url: '{{ url('ulogi_get_printdata_kit_barcode') }}',
            type: 'POST',
            dataType: 'json',
            data: {
                'header_id' : id,
            }
        }).done(function (data) {// 正常時
            printBarcode(data);
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function getBarcodeDataBuy(id){
        if(!confirm('印刷します。よろしいですか？')){return;}

        $.ajax({
            url: '{{ url('ulogi_get_printdata_kit_barcode_buy') }}',
            type: 'POST',
            dataType: 'json',
            data: {
                'header_id' : id,
            }
        }).done(function (data) {// 正常時
            printBarcodeBuy(data);
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function printBarcode(senddata){
        
        //alert(JSON.stringify(senddata));

        $.ajax({
            url: 'http://ps.animalline.jp/print_execute_kit_barcode',
            type: 'POST',
            dataType: 'json',
            data: {
                'jsondata' : JSON.stringify(senddata),
            }
        }).done(function (data) {// 正常時
            location.href = "{{ url('ulogi_print_confirm_barcode') }}?fileid=" + data["output"];
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function printBarcodeBuy(senddata){
        
        //alert(JSON.stringify(senddata));

        $.ajax({
            url: 'http://ps.animalline.jp/print_execute_kit_barcode_buy',
            type: 'POST',
            dataType: 'json',
            data: {
                'jsondata' : JSON.stringify(senddata),
            }
        }).done(function (data) {// 正常時
            location.href = "{{ url('ulogi_print_confirm_barcode_buy') }}?fileid=" + data["output"];
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    //送付状
    function getSheetData(id){
        if(!confirm('印刷します。よろしいですか？')){return;}

        $.ajax({
            url: '{{ url('ulogi_get_printdata_kit_sheet') }}',
            type: 'POST',
            dataType: 'json',
            data: {
                'header_id' : id,
            }
        }).done(function (data) {// 正常時
            printSheet(data);
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function getSheetDataBuy(id){
        if(!confirm('印刷します。よろしいですか？')){return;}

        $.ajax({
            url: '{{ url('ulogi_get_printdata_kit_sheet_buy') }}',
            type: 'POST',
            dataType: 'json',
            data: {
                'header_id' : id,
            }
        }).done(function (data) {// 正常時
            printSheetBuy(data);
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function printSheet(senddata){
        
        //alert(JSON.stringify(senddata));

        $.ajax({
            url: 'http://ps.animalline.jp/print_execute_kit_sheet',
            type: 'POST',
            dataType: 'json',
            data: {
                'jsondata' : JSON.stringify(senddata),
            }
        }).done(function (data) {// 正常時
            location.href = "{{ url('ulogi_print_confirm_sheet') }}?fileid=" + data["output"];
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }

    function printSheetBuy(senddata){
        
        //alert(JSON.stringify(senddata));

        $.ajax({
            url: 'http://ps.animalline.jp/print_execute_kit_sheet_buy',
            type: 'POST',
            dataType: 'json',
            data: {
                'jsondata' : JSON.stringify(senddata),
            }
        }).done(function (data) {// 正常時
            location.href = "{{ url('ulogi_print_confirm_sheet_buy') }}?fileid=" + data["output"];
        }).fail(function () { // エラー時
            alert('読み込みエラー');
        });
    }
</script>
{% endblock %}