{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<div class="card-body">
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col1'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.JobCd) }}
      {{ form_errors(form.JobCd) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.jobcd.note1'|trans }}</p>
      <p class="small">{{ 'gmo_payment_gateway.admin.payment_edit.jobcd.note2'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col3'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ServiceName) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.au.service_name.caution'|trans }}</span>
      {{ form_errors(form.ServiceName) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col4'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ServiceTel_1) }} － {{ form_widget(form.ServiceTel_2) }} － {{ form_widget(form.ServiceTel_3) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.au.service_tel.caution'|trans }}</span>
      {{ form_errors(form.ServiceTel_1) }}{{ form_errors(form.ServiceTel_2) }}{{ form_errors(form.ServiceTel_3) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col5'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_title1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.au.order_mail_title1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_title1) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.au.order_mail_title1.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col6'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_body1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.au.order_mail_body1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_body1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col7'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.au.ClientField1.caution'|trans }}</span>
      {{ form_errors(form.ClientField1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.au.col8'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField2) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.au.ClientField2.caution'|trans }}</span>
      {{ form_errors(form.ClientField2) }}
    </div>
  </div>
</div>
