{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<div class="card-body">
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col1'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.JobCd) }}
      {{ form_errors(form.JobCd) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.jobcd.note1'|trans }}</p>
      <p class="small">{{ 'gmo_payment_gateway.admin.payment_edit.jobcd.note2'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col2'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.credit_pay_methods) }}
      {{ form_errors(form.credit_pay_methods) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.credit_pay_methods.note1'|trans }}</p>
      <p class="small">{{ 'gmo_payment_gateway.admin.payment_edit.credit.credit_pay_methods.note2'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col3'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.use_securitycd) }}
      {{ form_errors(form.use_securitycd) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.use_securitycd.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col4'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.use_securitycd_option) }}
      {{ form_errors(form.use_securitycd_option) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col5'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.TdFlag) }}
      {{ form_errors(form.TdFlag) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdFlag.note1'|trans }}</p>
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdFlag.note2'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col6'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.TdTenantName) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdTenantName.caution'|trans }}</span>
      {{ form_errors(form.TdTenantName) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdTenantName.note1'|trans }}</p>
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdTenantName.note2'|trans }}</p>
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdTenantName.note3'|trans }}</p>
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.TdTenantName.note4'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col11'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_title1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.credit.order_mail_title1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_title1) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.credit.order_mail_title1.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col12'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_body1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.credit.order_mail_body1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_body1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col13'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.credit.ClientField1.caution'|trans }}</span>
      {{ form_errors(form.ClientField1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.credit.col14'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField2) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.credit.ClientField2.caution'|trans }}</span>
      {{ form_errors(form.ClientField2) }}
    </div>
  </div>
</div>
