{#
Copyright(c) 2020 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<div class="card-body">
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.col1'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.TradeDays) }} {{ 'gmo_payment_gateway.admin.payment_edit.ganb.col1.day'|trans }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.trade_days.caution'|trans }}</span>
      {{ form_errors(form.TradeDays) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.trade_days.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.col2'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_title1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.order_mail_title1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_title1) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.order_mail_title1.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.col3'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_body1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.order_mail_body1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_body1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.col4'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.ClientField1.caution'|trans }}</span>
      {{ form_errors(form.ClientField1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.ganb.col5'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField2) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.ganb.ClientField2.caution'|trans }}</span>
      {{ form_errors(form.ClientField2) }}
    </div>
  </div>
</div>
