{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<div class="card-body">
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col1'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.PaymentTermDay) }} {{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col1.day'|trans }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.payment_term_day.caution'|trans }}</span>
      {{ form_errors(form.PaymentTermDay) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.payment_term_day.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col2'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.enable_mail) }}
      {{ form_errors(form.enable_mail) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.enable_mail.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col3'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp1) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col4'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp2) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp2) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col5'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp3) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp3) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col6'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp4) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp4) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col7'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp5) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp5) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col8'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp6) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp6) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col9'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp7) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp7) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col10'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.RegisterDisp8) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.register_disp.caution'|trans }}</span>
      {{ form_errors(form.RegisterDisp8) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col11'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp1) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp1) }}
      <p class="small">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp1.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col12'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp2) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp2) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col13'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp3) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp3) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col14'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp4) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp4) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col15'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp5) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp5) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col16'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp6) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp6) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col17'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp7) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp7) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col18'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp8) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp8) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col19'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp9) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp9) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col20'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp10) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp10) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col21'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp11) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp11.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp11) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col22'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp12_1) }} － {{ form_widget(form.ReceiptsDisp12_2) }} － {{ form_widget(form.ReceiptsDisp12_3) }} <span class='caution'>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.receipts_disp12.caution'|trans }}</span>
      {{ form_errors(form.ReceiptsDisp12_1) }}{{ form_errors(form.ReceiptsDisp12_2) }}{{ form_errors(form.ReceiptsDisp12_3) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col23'|trans }}</span><span class="badge badge-primary ml-1">{{ 'gmo_payment_gateway.com.required'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ReceiptsDisp13_1) }} ： {{ form_widget(form.ReceiptsDisp13_2) }} － {{ form_widget(form.ReceiptsDisp13_3) }} ： {{ form_widget(form.ReceiptsDisp13_4) }}
      {{ form_errors(form.ReceiptsDisp13_1) }}{{ form_errors(form.ReceiptsDisp13_2) }}{{ form_errors(form.ReceiptsDisp13_3) }}{{ form_errors(form.ReceiptsDisp13_4) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col24'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_title1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.order_mail_title1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_title1) }}
      <p class="small" style="margin-top:10px;">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.order_mail_title1.note1'|trans }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col25'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.order_mail_body1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.order_mail_body1.caution'|trans }}</span>
      {{ form_errors(form.order_mail_body1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col26'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField1) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.ClientField1.caution'|trans }}</span>
      {{ form_errors(form.ClientField1) }}
    </div>
  </div>
  <div class="row">
    <div class="col-3"><span>{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.col27'|trans }}</span>
    </div>
    <div class="col mb-2">
      {{ form_widget(form.ClientField2) }}<span class="caution">{{ 'gmo_payment_gateway.admin.payment_edit.payeasy_atm.ClientField2.caution'|trans }}</span>
      {{ form_errors(form.ClientField2) }}
    </div>
  </div>
</div>
