{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['pets', 'pet_list'] %}
{% set params = app.request.query.all %}

{% set column = params.field is defined ? params.field : 'create_date' %}
{% set ordering = params.direction is defined ? params.direction : 'DESC' %}

{% block title %}{{ 'ペット情報管理'|trans }}{% endblock %}
{% block sub_title %}{{ 'ペット管理'|trans }}{% endblock %}

{# {% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %} #}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">

    <!-- select2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"
        integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">
    <!-- select2-bootstrap4-theme -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
{% endblock stylesheet %}

{% block javascript %}
<!-- select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"
    integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks=" crossorigin="anonymous"></script>

<script>
    $(function() {
        $("#breed_type").select2({
            theme: 'bootstrap4',
            language: {
                "noResults": function () {
                    return "結果が見つかりません。";
                }
            }
        });

        $('.confirm-status-btn').on('click', function () {
            const modalMsg = $(this).data('is-active') ? 'ペット情報を非公開にしますか？' : 'ペット情報を公開しますか？';
            $('.modal-message').text(modalMsg);
            $('#confirm-modal-status').modal('show');
            $('#btn-change-status').data('action', $(this).data('action'));
        });

        $('#search_form').on('submit', function(){
            const siteKind = $('#site_kind').val();
            if (!siteKind) {
                alert('サイト種別を選択してください');
                return false;
            }
        });

        $('#btn-change-status').on('click', function(e){
            e.preventDefault();
            $.ajax({
                method: 'get',
                url: $(this).data('action'),
                data: {
                }
            }).done(function (data) {
                location.reload();
            });

        });

        localStorage.url = window.location.href;
    });
</script>
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form' method="get" action="#">
            <div class="c-outsideBlock__contents">
                <div class="row mb-2">
                    <div class="col">
                        <label class="col-form-label">サイト種別</label>
                        <select id="site_kind" name="site_kind" class="form-control">
                            <option value="">選択してください</option>
                            {% set siteKinds = ['ブリーダー', '保護団体'] %}
                            {% for i in 1..2 %}
                            <option value="{{ i }}" {% if params.site_kind is defined and params.site_kind == i %} selected {% endif %}>{{ siteKinds[i - 1]
                                }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label class="col-form-label">ブリーダー名/保護団体名</label>
                        <input type="text" class="form-control" name="holder_name" value="{{ params.holder_name | default('') }}"></input>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label class="col-form-label">種別</label>
                        <select id="pet_kind" name="pet_kind" class="form-control">
                            {% set kindNames = ['全て', '犬', '猫'] %}
                            {% for i in 0..2 %}
                                <option value="{{ i }}" {% if params.pet_kind is defined and params.pet_kind == i %} selected {% endif %}>{{ kindNames[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label class="col-form-label">犬種/猫種</label>
                        <select id="breed_type" name="breed_type" class="form-control">
                            <option value="0">全て</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.Id }}" {% if params.breed_type is defined and params.breed_type == breed.Id %} selected {% endif %}>{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <label class="col-form-label">登録日</label>
                        <div class="form-row align-items-center">
                            <div class="col">
                                <input type="date" name="create_date_start" class="form-control"
                                    value="{{ params.create_date_start is defined ? params.create_date_start : '' }}" />                        </div>
                            <div class="col-auto text-center">〜</div>
                            <div class="col">
                                <input type="date" name="create_date_end" class="form-control"
                                    value="{{ params.create_date_end is defined ? params.create_date_end : '' }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-form-label">更新日</label>
                        <div class="form-row align-items-center">
                            <div class="col">
                                <input type="date" name="update_date_start" class="form-control"
                                    value="{{ params.update_date_start is defined ? params.update_date_start : '' }}" />                     </div>
                            <div class="col-auto text-center">〜</div>
                            <div class="col">
                                <input type="date" name="update_date_end" class="form-control"
                                    value="{{ params.update_date_end is defined ? params.update_date_end : '' }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">公開状況</label>
                        <select id="public_status" name="public_status" class="form-control">
                            {% set publicStatuss = ['全て', '非公開', '公開'] %}
                            {% for i in 0..2 %}
                                <option value="{{ i }}" {% if params.public_status is defined and params.public_status == i %} selected {% endif %}>{{ publicStatuss[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="c-outsideBlock__contents mb-5">
                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.search'|trans }}</button>
            </div>
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2"></th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'id' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_pet_all', params|merge({'field': 'id', 'direction': direction})) }}">ID</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2">画像</th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'pet_kind' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_pet_all', params|merge({'field': 'pet_kind', 'direction': direction})) }}">種別</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'BreedsType' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_pet_all', params|merge({'field': 'BreedsType', 'direction': direction})) }}">犬種/猫種</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2">ブリーダー名／保護団体名</th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'create_date' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_pet_all', params|merge({'field': 'create_date', 'direction': direction})) }}">登録日</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2"><a
                                            class="{{ column == 'update_date' ? ordering == 'ASC' ? 'icon-up' : 'icon-down' }}"
                                            href="{{ url('admin_pet_all', params|merge({'field': 'update_date', 'direction': direction})) }}">更新日</a>
                                </th>
                                <th class="border-top-0 pt-2 pb-2">公開状況</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for breederPet in breederPets %}
                            <tr id="ex-adoption-1">
                                <td class="align-middle"></td>
                                <td class="align-middle">{{ breederPet.bp_id }}</td>
                                <td class="align-middle">
                                    <img alt="..."
                                        src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (breederPet.bp_thumbnail_path | default | length > 0 ? breederPet.bp_thumbnail_path : '/noimage_plugin_list.png') }}"
                                        style="max-width: 100px">
                                </td>
                                <td class="align-middle">{{ breederPet.bp_pet_kind ==
                                    constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬' : '猫' }}</td>
                                <td class="align-middle">{{ breederPet.breeds_name }}</td>
                                <td class="align-middle">{{ breederPet.breeder_name }}</td>
                                <td class="align-middle">{{ breederPet.bp_create_date|date('Y/m/d H:i') }}</td>
                                <td class="align-middle">{{ breederPet.bp_update_date|date('Y/m/d H:i') }}</td>
                                <td class="align-middle">
                                    {% if breederPet.bp_is_active == 1 %}
                                        {{ constant('Customize\\Config\\AnilineConf::IS_ACTIVES')[breederPet.bp_is_active] }}
                                        {% if breederPet.bp_is_delete == 1 %}
                                            （成約済み）
                                        {% else %}
                                            {% if breederPet.bp_dna_check_result == 0 %}
                                                （DNA検査中）
                                            {% endif %}
                                        {% endif %}
                                        
                                    {% else %}
                                        非公開
                                    {% endif %}
                                </td>
                                <td class="align-middle pr-3" colspan="3">
                                    <div class="text-right">
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="動画投稿">
                                            <a class="btn btn-ec-actionIcon"
                                                    href="{{ url('movie_upload', {'pet_id': breederPet.bp_id}) }}">
                                                <i class="fas fa-file-video fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="評価確認">
                                            <a class="btn btn-ec-actionIcon"
                                                {% if breederPet.contract_status == 2 %}
                                                    href="{{ url('admin_pet_evaluation', {'pet_id': breederPet.bp_id}) }}"
                                                {% else %}
                                                    disabled
                                                {% endif %}>
                                                <i class="fas fa-star fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="お問い合わせ一覧">
                                            <a class="btn btn-ec-actionIcon"
                                                {% if breederPet.have_messages == true %}
                                                    href="{{ url('admin_pet_all_message', {'pet_id': breederPet.bp_id, 'site_kind': params.site_kind}) }}"
                                                {% else %}
                                                    disabled
                                                {% endif %}>
                                                <i class="far fa-envelope fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="ペット情報編集">
                                            <a class="btn btn-ec-actionIcon" id="edit" href="#" onclick="window.open('{{ url('breeder_pets_edit', {'id': breederPet.bp_id,'breeder_id': breederPet.id}) }}')" targer='_blank'>
                                                <i class="fa fa-edit fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="公開ステータス変更">
                                            {% if breederPet.bp_is_delete == false and breederPet.bp_is_active == constant('Customize\\Config\\AnilineConf::IS_ACTIVE_PRIVATE') %}
                                                <a class="btn btn-ec-actionIcon"
                                                    href="{{ url('admin_pet_change_public_status', {'id': breederPet.bp_id, 'site_kind': 1}) }}">
                                                    <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            {% else %}
                                                <a class="btn btn-ec-actionIcon" disabled>
                                                    <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                        {#
                                        <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="検査結果PDFダウンロード">
                                            {% if breederPet.dna_file_path %}
                                            <a class="btn btn-ec-actionIcon"
                                                href="{{ url('admin_breeder_pet_dna_download_pdf', {'id': breederPet.bp_id}) }}">
                                                <i class="fa fa-files-o fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-ec-actionIcon" disabled>
                                                <i class="fa fa-files-o fa-lg text-secondary" aria-hidden="true"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                        #}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                            {% for conservationPet in conservationPets %}
                                <tr id="ex-adoption-1">
                                    <td class="align-middle"></td>
                                    <td class="align-middle">{{ conservationPet.cp_id }}</td>
                                    <td class="align-middle">
                                        <img alt="..."
                                             src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (conservationPet.cp_thumbnail_path | default | length > 0 ? conservationPet.cp_thumbnail_path : '/noimage_plugin_list.png') }}"
                                             style="max-width: 100px">
                                    </td>
                                    <td class="align-middle">{{ conservationPet.cp_pet_kind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') ? '犬' : '猫' }}</td>
                                    <td class="align-middle">{{ conservationPet.breeds_name }}</td>
                                    <td class="align-middle">{{ conservationPet.owner_name }}</td>
                                    <td class="align-middle">{{ conservationPet.cp_create_date|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">{{ conservationPet.cp_update_date|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">
                                        {% if conservationPet.cp_is_active == 1 %}
                                            公開
                                        {% elseif conservationPet.cp_is_active == 2 %}
                                            公開（トライアル中）
                                        {% elseif conservationPet.cp_is_active == 3 %}
                                            公開（譲渡決定）
                                        {% else %}
                                            非公開
                                        {% endif %}
                                    </td>
                                    <td class="align-middle pr-3" colspan="3">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="動画投稿">
                                                <a class="btn btn-ec-actionIcon"
                                                        href="{{ url('adoption_movie_upload', {'pet_id': conservationPet.cp_id}) }}" target="_blank">
                                                    <i class="fas fa-file-video fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="お問い合わせ一覧">
                                                <a class="btn btn-ec-actionIcon"
                                                    {% if conservationPet.have_messages == true %}
                                                        href="{{ url('admin_pet_all_message', {'pet_id': conservationPet.cp_id, 'site_kind': params.site_kind }) }}"
                                                    {% else %}
                                                        disabled
                                                    {% endif %}>
                                                    <i class="far fa-envelope fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="ペット情報編集">
                                                <a class="btn btn-ec-actionIcon" id="edit" href="#" onclick="window.open('{{ url('adoption_pets_edit', {'id': conservationPet.cp_id,'conservation_id': conservationPet.id}) }}')" targer='_blank'>
                                                    <i class="fa fa-edit fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="公開ステータス変更">
                                                {% if conservationPet.cp_is_delete == false and conservationPet.cp_is_active == constant('Customize\\Config\\AnilineConf::IS_ACTIVE_PRIVATE') %}
                                                <a class="btn btn-ec-actionIcon" href="{{ url('admin_pet_change_public_status', {'id': conservationPet.cp_id, 'site_kind': 2}) }}">
                                                    <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                                {% else %}
                                                <a class="btn btn-ec-actionIcon" disabled>
                                                    <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                                {% endif %}
                                            </div>
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="検査結果PDFダウンロード">
                                                <a class="btn btn-ec-actionIcon" disabled>
                                                    <i class="fa fa-files-o fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="navigation float-right">
                    {{ knp_pagination_render(breederPets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                    {{ knp_pagination_render(conservationPets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-modal-status" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        確認ダイアログ
                    </h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p class="text-left modal-message">ペット情報を公開しますか？</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                        いいえ
                    </button>
                    <button class="btn btn-ec-conversion release_status" id="btn-change-status" data-action="">
                        はい
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

