{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}
{% block main %}
    <h1>AdoptionPets index</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('adoption_pets_new', {'conservation_id': 1}) }}">Create new</a>
    <hr>
    <table class="table table-responsive">
        <thead>
        <tr>
                <th>Id</th>
                <th>Conservation_house_name</th>
                <th>Pet_kind</th>
                <th>Breeds_type</th>
                <th>Pet_sex</th>
                <th>Pet_birthday</th>
                <th>Coat_color</th>
                <th>Future_wait</th>
                <th>Dna_check_result</th>
                <th>Pr_comment</th>
                <th>Description</th>
                <th>Delivery_time</th>
                <th>Delivery_way</th>
                <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for adoption_pet in adoption_pets %}
            <tr>
                <td>{{ adoption_pet.id }}</td>
                <td>{{ adoption_pet.conservationId.getConservationHouseName ?? '' }}</td>
                <td>{{ adoption_pet.petKind }}</td>
                <td>{{ adoption_pet.breedsType.getBreedsName ?? '' }}</td>
                <td>{{ adoption_pet.petSex }}</td>
                <td>{{ adoption_pet.petBirthday ? adoption_pet.petBirthday|date('Y-m-d') : '' }}</td>
                <td>{{ adoption_pet.coatColor.getCoatColorName ?? '' }}</td>
                <td>{{ adoption_pet.futureWait }}</td>
                <td>{{ adoption_pet.dnaCheckResult }}</td>
                <td>{{ adoption_pet.prComment }}</td>
                <td>{{ adoption_pet.description }}</td>
                <td>{{ adoption_pet.deliveryTime }}</td>
                <td>{{ adoption_pet.deliveryWay }}</td>
                <td>
                    <a href="{{ path('adoption_pets_show', {'id': adoption_pet.id}) }}">show</a>
                    <a href="{{ path('adoption_pets_edit', {'id': adoption_pet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
