{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}
{% block main %}
    <h1>BreederPets index</h1>
    <br>
    <a class="btn btn-primary" href="{{ path('breeder_pets_new') }}">Create new</a>
    <hr>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Breeder_id</th>
            <th>Pet_kind</th>
            <th>Breeds_type</th>
            <th>Pet_sex</th>
            <th>Pet_birthday</th>
            <th>Coat_color</th>
            <th>Future_wait</th>
            <th>Dna_check_result</th>
            <th>Pr_comment</th>
            <th>Description</th>
            <th>Is_breeding</th>
            <th>Is_selling</th>
            <th>Guarantee</th>
            <th>Is_pedigree</th>
            <th>Include_vaccine_fee</th>
            <th>Delivery_time</th>
            <th>Delivery_way</th>
            <th>Payment_method</th>
            <th>Reservation_fee</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for breeder_pet in breeder_pets %}
            <tr>
                <td>{{ breeder_pet.id }}</td>
                <td>{{ breeder_pet.breederId }}</td>
                <td>{{ breeder_pet.petKind }}</td>
                <td>{{ breeder_pet.breedsType }}</td>
                <td>{{ breeder_pet.petSex }}</td>
                <td>{{ breeder_pet.petBirthday ? breeder_pet.petBirthday|date('Y-m-d') : '' }}</td>
                <td>{{ breeder_pet.coatColor }}</td>
                <td>{{ breeder_pet.futureWait }}</td>
                <td>{{ breeder_pet.dnaCheckResult }}</td>
                <td>{{ breeder_pet.prComment }}</td>
                <td>{{ breeder_pet.description }}</td>
                <td>{{ breeder_pet.isBreeding }}</td>
                <td>{{ breeder_pet.isSelling }}</td>
                <td>{{ breeder_pet.guarantee }}</td>
                <td>{{ breeder_pet.isPedigree }}</td>
                <td>{{ breeder_pet.includeVaccineFee }}</td>
                <td>{{ breeder_pet.deliveryTime }}</td>
                <td>{{ breeder_pet.deliveryWay }}</td>
                <td>{{ breeder_pet.paymentMethod }}</td>
                <td>{{ breeder_pet.reservationFee }}</td>
                <td>{{ breeder_pet.price }}</td>
                <td>
                    <a href="{{ path('breeder_pets_show', {'id': breeder_pet.id}) }}">show</a>
                    <a href="{{ path('breeder_pets_edit', {'id': breeder_pet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">メッセージが見つかりません</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
