<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <div class="card rounded border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            <div class="d-inline-block">
                                    <span class="card-title">
                                        {{ title|trans }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a data-bs-toggle="collapse" href="#house{{ title == '犬舎情報' ? 'Dog' : 'Cat' }}"
                               aria-expanded="false"
                               aria-controls="house{{ title == '犬舎情報' ? 'Dog' : 'Cat' }}">
                                <i class="fa fa-angle-up fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse show ec-cardCollapse" id="house{{ title == '犬舎情報' ? 'Dog' : 'Cat' }}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>郵便番号</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-zipInput">
                                    {{ form_widget(form.breeder_house_house_zip) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>都道府県</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-select">
                                    {{ form_widget(form.BreederHousePrefId) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>市区町村</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-input">
                                    {{ form_widget(form.breeder_house_city) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>市区町村以下住所</span>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="ec-input">
                                    {{ form_widget(form.breeder_house_address) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>電話番号</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-halfInput">
                                    {{ form_widget(form.breeder_house_house_tel) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>FAX番号</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-halfInput">
                                    {{ form_widget(form.breeder_house_house_fax) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>担当者名</span>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="ec-halfInput">
                                    {{ form_widget(form.breeder_house_front_name) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="d-inline-block">
                                    <span>担当者TEL</span>
                                </div>
                            </div>
                            <div class="col-2 mb-2">
                                <div class="ec-halfInput">
                                    {{ form_widget(form.breeder_house_front_tel) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>