{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_breeder_list'] %}
{% set params = app.request.query.all %}

{% block title %}{{ 'ペット一覧'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{# {% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %} #}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
    <script>
        
    </script>
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form' method="post" action="{{ url('admin_breeder_pet_list', {'id': id}) }}">
            {# {{ form_widget(searchForm._token) }} #}
            <div class="c-outsideBlock__contents">
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">種別</label>
                        <select id="pet_kind" name="pet_kind" class="form-control">
                            {% set kindNames = ['全て', '犬', '猫'] %}
                            {% for i in 0..2 %}
                                <option value="{{ i }}" {% if params.pet_kind is defined and params.pet_kind == i %} selected {% endif %}>{{ kindNames[i] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="col-form-label">犬種/猫種</label>
                        <select id="breed_type" name="breed_type" class="form-control">
                            <option value="0">全て</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.Id }}" {% if params.breed_type is defined and params.breed_type == breed.Id %} selected {% endif %}>{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="c-outsideBlock__contents mb-5">
                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.search'|trans }}</button>
            </div>
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4 d-block">
                    <div class="card-body p-0">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2"></th>
                                    {# TODO:クリックで昇順ソート #}
                                    <th class="border-top-0 pt-2 pb-2"><a 
                                        href ="{{ url('admin_breeder_pet_list', {'id': id, 'field': 'id', 'direction': direction}) }}">ID</a></th>
                                    <th class="border-top-0 pt-2 pb-2">画像</th>
                                    <th class="border-top-0 pt-2 pb-2"><a 
                                        href ="{{ url('admin_breeder_pet_list', {'id': id, 'field': 'breeds_type', 'direction': direction}) }}">種別</th>
                                    <th class="border-top-0 pt-2 pb-2"><a 
                                        href ="{{ url('admin_breeder_pet_list', {'id': id, 'field': 'pet_kind', 'direction': direction}) }}">犬種</th>
                                    <th class="border-top-0 pt-2 pb-2"><a 
                                        href ="{{ url('admin_breeder_pet_list', {'id': id, 'field': 'create_date', 'direction': direction}) }}">登録日</th>
                                    <th class="border-top-0 pt-2 pb-2"><a 
                                        href ="{{ url('admin_breeder_pet_list', {'id': id, 'field': 'update_date', 'direction': direction}) }}">更新日</th>
                                    <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pet in pets %}
                                <tr id="ex-adoption-1">
                                   <td class="align-middle"></td>
                                   <td class="align-middle">{{ pet.Id }}</td>
                                   <td class="align-middle">
                                        <img alt="..."
                                             src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default | length > 0 ? pet.thumbnailPath : '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                             style="max-width: 100px">
                                    </td>
                                    <td class="align-middle">{{ pet.breedsType.breedsName }}</td>
                                    {% if pet.petKind == 1  %}
                                        <td class="align-middle">犬</td>
                                    {% elseif pet.petKind == 2 %}
                                        <td class="align-middle">猫</td>
                                    {% endif %}
                                    <td class="align-middle">{{ pet.createDate|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle">{{ pet.updateDate|date('Y/m/d H:i') }}</td>
                                    <td class="align-middle pr-3" colspan="3">
                                        <div class="text-right">
                                            <div class="px-1 d-inline-block text-center" data-tooltip="true" data-placement="top" title="ペット情報編集">
                                                <a class="btn btn-ec-actionIcon" href="{{url('admin_breeder_pet_edit', {'id': pet.Id}) }}">
                                                    <i class="fa fa-edit fa-lg text-secondary" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

