{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}
{% set status = 3 %}

{% block main %}
    <div class="page-inner">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">アニマルラインTOP</a></li>
                <li><i class="bi bi-chevron-right"></i>マイページ</li>
            </ul>
        </div>
    
        <div id="mypage-menu">
            <h1><i class="bi bi-chat-right-quote-fill"></i>問い合わせ対応</h1>
        </div>
    
        <div class="mypage-service_list__table">
            <div class="mypage-service_list__table_body">
                <table>
                    <tr>
                        <th></th>
                        <th>犬種/猫種</th>
                        <th>登録日時</th>
                        <th></th>
                    </tr>
    
                    {% for message in listMessages %}
                    {% set status = null %}
                    <tr>
                        <td class="image">
                            <figure>
                                <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (message.pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                    alt="{{ message.pet.breedsType.breedsName ?? '' }}">
                            </figure>
                            <p>ID {{ message.pet.id }}</p>
                        </td>
                        <td class="name">{{ message.pet.breedsType.breedsName }}</td>
                        <td class="time">{{ message.pet.createDate.format('Y/m/d H:i') ?? '' }}</td>
                        <td class="receive">
                            <a href="{{ url('adoption_adoption_message', {'id': message.Id}) }}">
                                <div class="receive-icon">
                                    {% for item in message.conservationContacts %}
                                        {% if item.messageFrom == constant('Customize\\Config\\AnilineConf::MESSAGE_FROM_USER') %}
                                            {% set status = item.isReading %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if status == constant('Customize\\Config\\AnilineConf::RESPONSE_REPLIED') %}
                                    <i class="bi bi-envelope-open"></i>
                                    {% elseif (status is not null) and (status == constant('Customize\\Config\\AnilineConf::RESPONSE_UNREPLIED')) %}
                                        <i class="bi bi-envelope"></i>
                                        <span class="budge">1</span>
                                    {% endif %}
                                </div>
                                <p>{{ message.lastMessageDate.format('Y/m/d H:i') ?? 'なし' }}</p>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    結果が０件です。
                    {% endfor %}
                </table>
            </div>
        </div>
    
        <div class="mypage-footer">
            <div class="polocy">
                <figure><img src="/html/template/default/assets/img//mypage/privacy_d.gif" alt="プライバシーマーク" /></figure>
                <p>〇〇〇〇は、個人情報の適切な管理をするプライバシーマーク付与事業者として認定されています。</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
{% endblock %}