{% form_theme form 'Form/form_div_layout.twig' %}
{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
	<section id="breeder-column" class="breeder-column_dog">
		<div class="inner">
			<div class="ec-pageHeader">
				<h1>{{ 'サイト表示情報入力'|trans }}</h1>
			</div>
			<div class="ec-off1Grid">
				<div class="ec-off1Grid__cell">
                    <form method="post" action="{{ url('adoption_baseinfo') }}" novalidate name="update-baseinfo-form">
						<span class="p-country-name" style="display:none;">Japan</span>
						<button class="btn btn-ec-regular btn-secondary mt-2 mb-2" id="baseInfoCopy" type="button">
							基本情報コピー
						</button>
						{# ユーザー情報コピー用フィールド #}
						<input type="hidden" id="customer_name" value="{{Customer.name01}}{{Customer.name02}}">
						<input type="hidden" id="customer_kana" value="{{Customer.kana01}}{{Customer.kana02}}">
						<input type="hidden" id="customer_zip" value="{{Customer.postalCode}}">
						<input type="hidden" id="customer_pref" value="{{Customer.Pref.Id}}">
						<input type="hidden" id="customer_city" value="{{Customer.addr01}}">
						<input type="hidden" id="customer_address" value="{{Customer.addr02}}">
						<input type="hidden" id="customer_tel" value="{{Customer.phoneNumber}}">
						{# ユーザー情報コピー用フィールド #}
						{{ form_widget(form._token) }}
						<div class="ec-borderedDefs">
							<div class="mb-5">
								<dl>
									<dt>
										{{ form_label(form.is_organization, '登録者区分', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.is_organization) ? ' error' }} ec-select">
											{{ form_widget(form.is_organization) }}
											{{ form_errors(form.is_organization) }}
										</div>
									</dd>
								</dl>
								<dl>
								    <dt>
										{{ form_label(form.organization_name, '	保護団体名（個人の場合は氏名）', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.organization_name) ? ' error' }}">
											{{ form_widget(form.organization_name, { 'attr': { 'placeholder': '保護団体名' }}) }}
											{{ form_errors(form.organization_name) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.handling_pet_kind, '取り扱いペット種別', { 'label_attr': { 'class': 'ec-label' }}) }}
										<p style="font-size:14px;color:#DE5D50;">犬と猫両方取り扱う場合に、<br>「犬・猫」を選択してください</p>
									</dt>
									<dd>
										<div class="ec-select{{ has_errors(form.handling_pet_kind) ? ' error' }}">
											{{ form_widget(form.handling_pet_kind) }}
											{{ form_errors(form.handling_pet_kind) }}
										</div>
									</dd>
								</dl>
								{# <dl id="dogHouse">
									<dt>
										{{ form_label(form.breeder_house_name_dog, '犬舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.breeder_house_name_dog) ? ' error' }}">
											{{ form_widget(form.breeder_house_name_dog, { 'attr': { 'placeholder': '犬舎名' }}) }}
											{{ form_errors(form.DogHouseNameErrors) }}
										</div>
									</dd>
								</dl>
								<dl id="catHouse">
									<dt>
										{{ form_label(form.breeder_house_name_cat, '猫舎名', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.breeder_house_name_cat) ? ' error' }}">
											{{ form_widget(form.breeder_house_name_cat, { 'attr': { 'placeholder': '猫舎名' }}) }}
											{{ form_errors(form.CatHouseNameErrors) }}
										</div>
									</dd>
								</dl> #}
								<dl>
									<dt>
										{{ form_label(form.owner_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.owner_name) ? ' error' }}">
											{{ form_widget(form.owner_name, { 'attr': { 'placeholder': 'お名前' }}) }}
											{{ form_errors(form.owner_name) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.owner_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-halfInput{{ has_errors(form.owner_kana) ? ' error' }}">
											{{ form_widget(form.owner_kana, { 'attr': { 'placeholder': 'お名前（カナ）' }}) }}
											{{ form_errors(form.owner_kana) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.address, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
										<p style="font-size:14px;color:#DE5D50;">ハイフン（-） なしで入力してください。</p>
									</dt>
									<dd class="h-adr">
										<span class="p-country-name" style="display:none;">Japan</span>
										<div class="ec-zipInput{{ has_errors(form.zip) ? ' error' }}">
											<span>{{ '〒'|trans }}</span>
											{{ form_widget(form.zip) }}
											<div class="ec-zipInputHelp">
											    <div class="ec-zipInputHelp__icon">
											        <div class="ec-icon"><img
											                    src="/html/template/default/assets/icon/question-white.svg"
											                    alt="">
											        </div>
											    </div>
											    <a href="https://www.post.japanpost.jp/zipcode/"
											       target="_blank"><span>郵便番号検索</span></a>
											</div>
											{{ form_errors(form.zip) }}
										</div>
										<div class="ec-select{{ has_errors(form.PrefId) ? ' error' }}">
											{{ form_widget(form.PrefId) }}
											{{ form_errors(form.PrefId) }}
										</div>
										<div class="ec-input{{ has_errors(form.city) ? ' error' }}">
											{{ form_widget(form.city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
											{{ form_errors(form.city) }}
										</div>
										<div class="ec-input{{ has_errors(form.address) ? ' error' }}">
											{{ form_widget(form.address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
											{{ form_errors(form.address) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
										<p style="font-size:14px;color:#DE5D50;">ハイフン（-） なしで入力してください。</p>
									</dt>
									<dd>
										<div class="ec-telInput{{ has_errors(form.tel) ? ' error' }}">
											{{ form_widget(form.tel) }}
											{{ form_errors(form.tel) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
										<p style="font-size:14px;color:#DE5D50;">ハイフン（-） なしで入力してください。</p>
									</dt>
									<dd>
										<div class="ec-telInput{{ has_errors(form.fax) ? ' error' }}">
											{{ form_widget(form.fax) }}
											{{ form_errors(form.fax) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.homepage_url, 'ホームページの URL', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-input{{ has_errors(form.homepage_url) ? ' error' }}">
											{{ form_widget(form.homepage_url) }}
											{{ form_errors(form.homepage_url) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.pr_text, 'メッセージ', { 'label_attr': { 'class': 'ec-label' }}) }}
									</dt>
									<dd>
										<div class="ec-input{{ has_errors(form.pr_text) ? ' error' }}">
											{{ form_widget(form.pr_text) }}
											{{ form_errors(form.pr_text) }}
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										{{ form_label(form.thumbnail_path, 'プロフィール画像', { 'label_attr': {'class': 'ec-label' }}) }}
										<p style="font-size:14px;color:#DE5D50;">ご本人様もしくは犬舎・猫舎風景が含まれるようにお願い致します。</p>
									</dt>
									<dd>
										<div class="media-body">
											<img id="img_thumbnail"
											     class="img_preview mb-2 {{ not thumbnail_path ? 'hidden' }}"
											     src="{{ thumbnail_path }}" alt="..."
											     style="width: 200px; border: 1px solid #ddd;"/>
											{{ form_widget(form.thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
											{{ form_errors(form.thumbnail_path) }}
											<input type="hidden" name="thumbnail_path" id="adoption_src_path" value="{{ thumbnail_path }}">
										</div>
										<a class="btn btn-ec-regular mr-2"
										   onclick="$('#conservations_thumbnail_path').click()"
										   style="background: #f0f0f0; border: 1px solid black;">
											{{ 'admin.common.file_select'|trans }}
										</a>
									</dd>
								</dl>
                            </div>
                        </div>
                        <div class="ec-registerRole__actions">
                            <div class="ec-off4Grid">
								<div class="ec-off4Grid__cell">
									<input type="hidden" name="return_path" value="{{ return_path }}"/>
									<button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録
									</button>
								</div>
                            </div>
                        </div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
	<div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal-crop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="modalLabel">画像切り抜き</h3>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="img-container row">
						<div class="col-md-6 col-12 d-flex">
							<!--  default image where we will set the src via jquery-->
							<div style="flex-grow: 1">
								<img id="image">
							</div>
						</div>
						<div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
							<div class="preview"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					<button type="button" class="btn btn-primary" id="crop">切り抜き</button>
				</div>
			</div>
		</div>
	</div>

    {{ include('animalline/components/_modal_confirm.twig') }}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
	<style>
		img#image {
			display: block;
			max-width: 100%;
		}
		.preview {
			overflow: hidden;
			width: 200px !important;
			height: 200px !important;
		}
	</style>
{% endblock %}
{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
	<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
	<script src="{{ asset('assets/js/adoption/baseinfo.js') }}"></script>

<script>
    document.getElementById("baseInfoCopy").onclick = function() {
        // ユーザー情報をコピー
        document.getElementById("conservations_owner_name").value = document.getElementById("customer_name").value 
        document.getElementById("conservations_owner_kana").value = document.getElementById("customer_kana").value 
        document.getElementById("conservations_zip").value = document.getElementById("customer_zip").value 
        document.getElementById("conservations_PrefId").value = document.getElementById("customer_pref").value
        document.getElementById("conservations_city").value = document.getElementById("customer_city").value
        document.getElementById("conservations_address").value = document.getElementById("customer_address").value
        document.getElementById("conservations_tel").value = document.getElementById("customer_tel").value 
    };

    $("#dogHouse").hide();
    $("#catHouse").hide();

    houseDisplay(breeders_handling_pet_kind.value);

    $('#breeders_handling_pet_kind').on('change', function () {
        var handling_pet_kind = $(this).val();
        houseDisplay(handling_pet_kind);
    });

    function houseDisplay(pet_kind) {
        if( pet_kind == 0 ){
            $("#dogHouse").show();
            $("#catHouse").show();
            $("#breeders_breeder_house_name_dog").prop('required', true);
            $("#breeders_breeder_house_name_cat").prop('required', true);
        } else if( pet_kind == 1 ){
            $("#dogHouse").show();
            $("#catHouse").hide();
            $("#breeders_breeder_house_name_dog").prop('required', true);
            $("#breeders_breeder_house_name_cat").prop('required', false);
        } else if ( pet_kind == 2 ){
            $("#dogHouse").hide();
            $("#catHouse").show();
            $("#breeders_breeder_house_name_dog").prop('required', false);
            $("#breeders_breeder_house_name_cat").prop('required', true);
        }
    };

</script>
{% endblock %}