{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="ec-registerRole">
                <div class="ec-pageHeader">
                    <h1>
                        <h1>特典受取手続き</h1>
                    </h1>
                </div>
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <form method="post" action="{{ url('adoption_benefits') }}">
                            {{ form_widget(form._token) }}
                            <div class="ec-borderedDefs">
                                <div class="mb-5">
                                    <dl>
                                        <dt>
                                            <span class="mr-2">宛名</span>
                                            <span class="ec-required">必須</span>
                                            <div style="font-size:12px;color:#F00">キット送付の宛先となります。表示内容に追加があればご編集ください。</div>
                                        </dt>
                                        <dd>
                                            <div class="ec-input{{ has_errors(form.shipping_name) ? ' error' }}">
                                                {{ form.shipping_name.vars.data|nl2br }}
                                                {{ form_widget(form.shipping_name, { 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                        <span class="mr-2">住所<span>
                                        <span class="ec-required">必須</span>
                                        <div style="font-size:12px;color:#F00">〒は'-'を入れずに入力してくだい<br />キット送付先住所となります。表示内容に追加・変更があれば
ご編集ください。</div>
                                        </dt>
                                        <dd class="h-adr">
                                            <span class="p-country-name" style="display:none;">Japan</span>
                                            <div class="ec-zipInput{{ has_errors(form.shipping_zip) ? ' error' }}">
                                                <span>{{ '〒'|trans }}</span>
                                                {{ form.shipping_zip.vars.data|nl2br }}
                                                {{ form_widget(form.shipping_zip, { 'attr': {'class': 'hidden'} }) }}
                                                <div class="ec-zipInputHelp">
                                                    <div class="ec-zipInputHelp__icon">
                                                        <div class="ec-icon"><img
                                                                    src="/html/template/default/assets/icon/question-white.svg"
                                                                    alt="">
                                                        </div>
                                                    </div>
                                                    <a href="https://www.post.japanpost.jp/zipcode/"
                                                       target="_blank"><span>郵便番号検索</span></a>
                                                </div>
                                            </div>
                                            <div class="ec-select{{ has_errors(form.Pref) ? ' error' }}">
                                                {{ form.Pref.vars.choices[form.Pref.vars.data-1].label }}
                                                {{ form_widget(form.Pref, { 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(form.shipping_city) ? ' error' }}">
                                                {{ form.shipping_city.vars.data|nl2br }}
                                                {{ form_widget(form.shipping_city, { 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(form.shipping_address) ? ' error' }}">
                                                {{ form.shipping_address.vars.data|nl2br }}
                                                {{ form_widget(form.shipping_address, { 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                        <span class="mr-2">電話番号<span>
                                        <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-input{{ has_errors(form.shipping_tel) ? ' error' }}">
                                                {{ form.shipping_tel.vars.data|nl2br }}
                                                {{ form_widget(form.shipping_tel, { 'attr': {'class': 'hidden'} }) }}
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="ec-registerRole__actions">
                                <div class="ec-off4Grid">
                                    <div class="ec-off4Grid__cell">
                                        <button class="basic-btn adoption-btn mb-4" type="submit" name="mode" value="complete">
                                            {{ '送信'|trans }}
                                        </button>
                                        <button class="basic-btn accent-btn bg-accent text-align-center" type="submit" name="mode" value="back">
                                            {{ '戻る'|trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}