{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="ec-pageHeader">
                <h1>サイト掲載のための誕生子犬・子猫情報入力</h1>
            </div>
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form method="post" action="" novalidate name="dna-kit-form">
                        {{ form_widget(form._token) }}
                        <h2>子犬・子猫情報</h2>
                        <div class="ec-borderedDefs">
                            <div class="mb-5">
                                {% for i in 1..6 %}
                                    <dl style="border-bottom:0px">
                                        <dt>
                                            <span class="mr-2">子犬・子猫誕生日 {{i}}</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-birth date">
                                                <select class="form-control"><option value="2021">2021</option><option value="2020">2020</option><option value="2019">2019</option><option value="2018">2018</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option></select>
                                                <select class="form-control"><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
                                                <select class="form-control"><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <span class="mr-2">子犬・子猫出生数 {{i}}</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-input">
                                                <input class="form-control petCount" id="petCount{{i}}" value="" onInput="textCheck(this)" maxlength="10" size="10">
                                                {# <input type="text" id="text" name="text" value="" onInput="textCheck(this)" required maxlength="10" size="10"> #}
                                            </div>
                                        </dd>
                                    </dl>
                                {% endfor %}

                                <dl>
                                    <dt>
                                        <span class="mr-2">合計掲載頭数</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.kit_unit) ? ' error' }}">
                                            {{ form_widget(form.kit_unit, { attr : {'readonly': 'true'}}) }}
                                            {{ form_errors(form.kit_unit) }}
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <h2>検査キット送付先情報</h2>
                        <div class="ec-borderedDefs">
                            <div class="mb-5">
                                <dl>
                                    <dt>
                                        送付先住所
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.choice_address) ? ' error' }}">
                                            {{ form_widget(form.choice_address) }}
                                            {{ form_errors(form.choice_address) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        お名前
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.shipping_name) ? ' error' }}">
                                            {{ form_widget(form.shipping_name) }}
                                            {{ form_errors(form.shipping_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        住所
                                    </dt>
                                    <dd>
                                        <div class="ec-zipInput{{ has_errors(form.shipping_zip) ? ' error' }}">
                                            <span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.shipping_zip) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="/html/template/default/assets/icon/question-white.svg"
                                                                alt="">
                                                    </div>
                                                </div>
                                                <a href="https://www.post.japanpost.jp/zipcode/"
                                                target="_blank"><span>郵便番号検索</span></a>
                                            </div>
                                            {{ form_errors(form.shipping_zip) }}
                                        </div>
                                        <div class="ec-select{{ has_errors(form.PrefShipping) ? ' error' }}"
                                            onmousedown="(function(e){ e.preventDefault(); })(event, this)">
                                            {{ form_widget(form.PrefShipping) }}
                                            {{ form_errors(form.PrefShipping) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.shipping_city) ? ' error' }}">
                                            {{ form_widget(form.shipping_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            {{ form_errors(form.shipping_city) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.shipping_address) ? ' error' }}">
                                            {{ form_widget(form.shipping_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            {{ form_errors(form.shipping_address) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        電話番号
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.shipping_tel) ? ' error' }}">
                                            {{ form_widget(form.shipping_tel) }}
                                            {{ form_errors(form.shipping_tel) }}
                                        </div>
                                    </dd>
                                </dl>
                                {# <dl>
                                    <dt>
                                        キット数量
                                        <div style="font-size:12px;color:#F00">最大6キット</div>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.kit_unit) ? ' error' }}">
                                            {{ form_widget(form.kit_unit) }}
                                            {{ form_errors(form.kit_unit) }}
                                        </div>
                                    </dd>
                                </dl> #}
                            </div>
                        </div>
                        <div class="ec-registerRole__actions">
                            <div class="row">
                                {# <div class="col-md-6">
                                    <a class="ec-blockBtn--cancel" href="{{ url('mypage') }}">マイページに戻る</a>
                                </div> #}
                                {# <div class="col-md-6"> #}
                                <div class="col-md-6 text-align-center">
                                    <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% if isCheckStatus %}
        {{ include('animalline/components/_modal_check_status.twig') }}
    {% else %}
        {{ include('animalline/components/_modal_confirm.twig') }}
    {% endif %}
    <input type="hidden" id="issetHouseDog" value="{{ conservationHouseDog ? 'true' : 'false' }}">
    <input type="hidden" id="issetHouseCat" value="{{ conservationHouseCat ? 'true' : 'false' }}">

{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script>
    if ($("#issetHouseDog").val() == 'false') {
    $("#dna_check_status_header_choice_address option[value='2']").remove();
}
    if ($("#issetHouseCat").val() == 'false') {
    $("#dna_check_status_header_choice_address option[value='3']").remove();
}
    $(document).on('change', '#dna_check_status_header_choice_address', function() {
    var name = $(this).val() == 1 ? '{{conservation.organizationName}}' : $(this).val() == 2 ? '{{conservationHouseDog ? conservationHouseDog.conservationHouseName}}' : '{{conservationHouseCat ? conservationHouseCat.conservationHouseName}}';
    var zip = $(this).val() == 1 ? '{{conservation.zip}}' : $(this).val() == 2 ? '{{conservationHouseDog ? conservationHouseDog.conservationHouseHouseZip}}' : '{{conservationHouseCat ? conservationHouseCat.conservationHouseHouseZip}}';
    var pref_id = $(this).val() == 1 ? '{{conservation.PrefId.id}}' : $(this).val() == 2 ? '{{conservationHouseDog ? conservationHouseDog.Pref.Id}}' : '{{conservationHouseCat ? conservationHouseCat.Pref.Id}}';
    var city = $(this).val() == 1 ? '{{conservation.city}}' : $(this).val() == 2 ? '{{conservationHouseDog ? conservationHouseDog.conservationHouseCity}}' : '{{conservationHouseCat ? conservationHouseCat.conservationHouseCity}}';
    var addr = $(this).val() == 1 ? '{{conservation.address}}' : $(this).val() == 2 ? '{{conservationHouseDog ? conservationHouseDog.conservationHouseAddress}}' : '{{conservationHouseCat ? conservationHouseCat.conservationHouseAddress}}';

    $("#dna_check_status_header_shipping_name").val($(this).val() ? name : '')
    $("#dna_check_status_header_shipping_zip").val($(this).val() ? zip : '')
    $("#dna_check_status_header_PrefShipping").val($(this).val() ? pref_id : '')
    $("#dna_check_status_header_shipping_city").val($(this).val() ? city : '')
    $("#dna_check_status_header_shipping_address").val($(this).val() ? addr : '')
});

    $("form[name=dna-kit-form]").submit(function (e) {
    e.preventDefault();
    $('#modal').modal('show');
});

$("#confirm-yes").click(function (e) {
    document.getElementsByName('dna-kit-form')[0].submit();
});
$("#confirm-back").click(function () {
    window.history.back();
});

function textCheck($this)
{
  let str=$this.value;
  // 数字チェック
  if(!str.match(/^[0-9０-９]+$/)){
    // 文字の場合は空白に変換
    str="";
  } else if(str.match(/^[０-９]+$/)){
    // 全角数字の場合は半角数字に変換
    str=toHanKaku(str);
  }
  $this.value=str;
}

function toHanKaku(str) {
    return str.replace(/[０-９]/g, function(s){
        return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
    });
}

// 出生数の合計を合計頭数にする
var Input = $('.petCount'); 
var Output = $('#dna_check_status_header_kit_unit');
Input.on('change', function() {
    var num1 = Number($('#petCount1').val());
    var num2 = Number($('#petCount2').val());
    var num3 = Number($('#petCount3').val());
    var num4 = Number($('#petCount4').val());
    var num5 = Number($('#petCount5').val());
    var num6 = Number($('#petCount6').val());
    var total = num1 + num2 + num3 + num4 + num5 + num6;
    Output.val(total);
});

</script>
{% endblock %}