{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>ブリーダー登録申請</h1>

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-md-12">
                    <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{url('adoption_baseinfo')}}'"> 
                        Step1 - 基本情報入力
                        {# <a href="{{url('adoption_baseinfo')}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step1 - 基本情報入力</a> #}
                    </button>
                </div>
            </div>

            <input type="hidden" id="step" value="{{ step }}">
            {% if step > 1 %}
                {% if conservation.getHandlingPetKind() == 0 or conservation.getHandlingPetKind() == 1 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('adoption_house_info',{'pet_type': 1 })}}'"> 
                                Step2 - 犬舎情報登録
                                {# <a href="{{path('adoption_house_info',{'pet_type': 1 })}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step2 - 犬舎情報登録</a> #}
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% if conservation.getHandlingPetKind() == 0 or conservation.getHandlingPetKind() == 2 %}
                    <div class="row">
                    <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('adoption_house_info',{'pet_type': 2 })}}'"> 
                                Step2 - 猫舎情報登録
                                {# <a href="{{path('adoption_house_info',{'pet_type': 2 })}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step2 - 猫舎情報登録</a> #}
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if step > 2 %}
                {% if conservation.getHandlingPetKind() == 0 or conservation.getHandlingPetKind() == 1 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('adoption_examination_info',{'pet_type': 1})}}'"> 
                                Step3 - 犬舎審査項目登録
                                {# <a href="{{path('adoption_examination_info',{'pet_type': 1})}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step3 - 犬舎審査項目登録</a> #}
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% if conservation.getHandlingPetKind() == 0 or conservation.getHandlingPetKind() == 2 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('adoption_examination_info',{'pet_type': 2})}}'"> 
                                Step3 - 猫舎審査項目登録
                                {# <a href="{{path('adoption_examination_info',{'pet_type': 2})}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step3 - 犬舎審査項目登録</a> #}
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if step > 3 %}
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <button type="button" id="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('adoption_examination_submit')}}'"> 
                            Step4 - 審査情報提出
                            {# <a href="{{path('adoption_examination_submit')}}" class="btn btn-warning btn-block mt-3" role="button" name="examination_link">Step4 - 審査情報提出</a> #}
                        </button>
                    </div>
                </div>
            {% endif %}
            {% if step > 4 %}
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="mt-3 text-align-center">        
                            <span>審査中です</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}
<script>
    step = document.getElementById('step').value
    if( step > 4){
        $('.btn-warning').attr('disabled', true);
    }
</script>
{% endblock %}