{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
<div class="main">
    <div class="page-inner">
    
        <div id="mypage-menu">
            <h1>マイページ</h1>
            <div class="mypage-menu_list">
                <ul>
                    {% if user.isConservation == 0 %}
                    
                        <li><a href="{{url('adoption_favorite')}}"><i class="bi bi-heart"></i>お気に入り一覧</a>{# <span class="budge">123</span> #}</li>
                        <li><a href="{{url('adoption_all_message')}}"><i class="bi bi-chat-right-quote-fill"></i>取引メッセージ</a>{% if customer_newmsg == 1 %}<span class="budge">New!</span>{% endif %}</li>
                        {% if canBenefits %}<li><a href="{{url('adoption_benefits')}}"><i class="bi bi-gift-fill"></i>ご成約特典</a></li>{% endif %}
                    
                    {% endif %}
                    {% if user.isConservation == 0 and user.regist_type == 2 %}
                        <li><a href="{{url('adoption_examination')}}"><i class="bi bi-pencil-fill"></i>保護団体申請を行う</a></li>
                    {% endif %}
                    {% if user.isConservation == 1 %}
                        <li><a href="{{url('adoption_pet_list')}}"><i class="fas fa-paw"></i>保護犬猫管理<br /><p>　</p></a>{% if conservation_newmsg == 1 %}<span class="budge">New!</span>{% endif %}</li>
                        {# <li><a href="{{url('adoption_all_adoption_message')}}"><i class="bi bi-chat-right-quote-fill"></i>お問い合わせ対応<br /><p>　</p></a>{% if conservation_newmsg == 1 %}<span class="budge">New!</span>{% endif %}</li> #}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="mypage-menu">
            <h1>会員情報管理</h1>
            <div class="mypage-menu_list">
                <ul>
                    <li><a href="{{ url('adoption_change') }}"><i class="bi bi-pencil-fill"></i>会員情報編集<br /><p>メールアドレス・パスワード変更の方はこちら</p></a></li>
                        
                    {% if user.isConservation == 1 %}
                        <li><a href="{{url('adoption_baseinfo',{'return_path': "adoption_mypage"})}}"><i class="bi bi-pencil-fill"></i>基本情報編集<br /><p>　</p></a></li>
                        <li><a href="{{path('adoption_house_info',{'pet_type': 1 ,'return_path': "adoption_mypage"})}}"><i class="bi bi-pencil-fill"></i>情報編集<br /><p>　</p></a></li>
                        <li><a href="{{url('adoption_bank_regist')}}"><i class="bi bi-pencil-fill"></i>口座登録<br /><p>弊社からの寄付金振込先をこちらご登録ください。</p></a></li>
                        
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.isConservation == 1 %}
    <div class="row">
        <div class="col-lg-8 col-md-12" style="margin: 5rem auto 0 auto;">
            <img src="{{ asset('assets/img/reg/adoption_pet_regist_info.png') }}" alt="ペットの家庭教師"/>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}