{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            {% if user.regist_type == 0 %}
            <h1>マイページ</h1>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('adoption_favorite')}}" class="btn btn-warning btn-block mt-3" role="button">お気に入り一覧</a>
                </div>
                <div class="col-lg-4 col-md-12" style="text-align: center">
                    <a href="{{url('adoption_all_message')}}" class="btn btn-warning btn-block mt-3" role="button">取引メッセージ</a>
                    {% if customer_newmsg == 1 %}<span style="color: red;">新着メッセージあり</span>{% endif %}
                </div>
                {% if canBenefits %}
                    <div class="col-lg-4 col-md-12" style="text-align: center">
                        <a href="{{url('adoption_benefits')}}" class="btn btn-warning btn-block mt-3" role="button">特典受取手続き</a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            
            <div class="m-2 p-2"></div>
            {% if user.isConservation == 0 and user.regist_type == 2 %}
                <h3>保護団体登録申請</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('adoption_examination')}}" class="btn btn-warning btn-block mt-3" role="button">保護団体申請を行う</a>
                    </div>
                </div>
            {% endif %}
            {% if user.isConservation == 1 %}
                <div class="m-2 p-2"></div>
                <h1>保護団体様管理メニュー</h1>
                <div class="row">
                    {#
                    <div class="col-lg-4 col-md-12 text-center">
                        <a href="{{url('adoption_examination_kit')}}" class="btn btn-success btn-block mt-3" role="button">DNA検査キット請求</a>
                        <span style="color: red;">生体掲載をご希望の方はこちら</span>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('adoption_examination_status')}}" class="btn btn-success btn-block mt-3" role="button">DNA検査状況確認</a>
                    </div>
                    #}
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('adoption_pet_list')}}" class="btn btn-success btn-block mt-3" role="button">保護犬猫管理</a>
                    </div>
                    <div class="col-lg-4 col-md-12" style="text-align: center">
                        <a href="{{url('adoption_all_adoption_message')}}" class="btn btn-warning btn-block mt-3" role="button">お問い合わせ対応</a>
                        {% if conservation_newmsg == 1 %}<span style="color: red;">新着メッセージあり</span>{% endif %}
                    </div>
                </div>
                {% if conservation %}
                    <div class="m-2 p-2"></div>
                    <h1>登録情報編集</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <a href="{{url('adoption_baseinfo',{'return_path': "adoption_mypage"})}}" class="btn btn-primary btn-block mt-3" role="button">基本情報編集</a>
                        </div>
                       
                        <div class="col-lg-4 col-md-12">
                            <a href="{{path('adoption_house_info',{'pet_type': 1 ,'return_path': "adoption_mypage"})}}" class="btn btn-primary btn-block mt-3" role="button">情報編集</a>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-4 col-md-12 text-center">
                        <a href="{{ url('adoption_change') }}" class="btn btn-primary btn-block mt-3" role="button">会員情報編集</a>
                        <span style="color: red;">メールアドレス・パスワード変更の方はこちら</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-12" style="margin: 5rem auto 0 auto;">
                        <img src="{{ asset('assets/img/reg/adoption_pet_regist_info.png') }}" alt="ペットの家庭教師"/>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}