{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <section id="adoption-column" class="adoption-column_dog">
        <div class="inner">
            <div class="row mb-2">
                <div class="col-sm-9"></div>
                <div class="col-12 col-sm-3">
                    <a href={{ path('adoption_pets_new', {'conservation_id': conservation.id} )  }} class="btn btn-warning w-100 text-align-center my-1">
                        追加                            
                    </a>
                </div>
            </div>
            <div class="adoption-column__main_section_title">
                <h3>
                    掲載中のペット          
                </h3>
            </div>
            <div class="adoption-column__main_section_body">
                <ul>
                    {% for pet in pets %}
                        <li>
                            <a href="{{ url('adoption_pets_edit', {'id': pet.id}) }}">
                                <figure>
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default('/noimage_plugin_list.png')) }}" class="card-img-top" alt="Pet-image"></figure>
                                </a>
                                <h4>
                                    {{ pet.getBreedsType().getBreedsName() ?? '' }}
                                </h4>
                                <div class="birthday">
                                    {{ pet.petBirthday|date('Y年m月d日') }}
                                    生                                  
                                </div>
                                <div class="price">
                                    {{ pet.price|number_format(0) }}
                                    円（税込）                                  
                                </div>
                                <a href={{ path('adoption_pets_edit', {'id': pet.id} )  }} class="btn w-100 btn-warning text-align-center my-1">
                                    編集                                        
                                </a>
                            </li>
                        {% else %}
                            <span class="mb-2">
                                結果が０件です。                        
                            </span>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
