{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <div class="breadcrumbs d-flex justify-content-between">
        <ul>
            <li><a href="/">アニマルラインTOP</a></li>
            <li><i class="bi bi-chevron-right"></i>マイページ</li>
        </ul>
        <div>
            <a href="{{ path('adoption_pets_new') }}" class="btn btn-warning text-align-center pet-new">
                保護犬猫情報登録
            </a>
        </div>
    </div>

    <select id="petlist_view">
    <option value="1" {% if petlist_view == 1 %}selected{% endif %}>掲載中</option>
    <option value="2" {% if petlist_view == 2 %}selected{% endif %}>トライアル中</option>
    <option value="3" {% if petlist_view == 3 %}selected{% endif %}>譲渡決定</option>
    <option value="4" {% if petlist_view == 4 %}selected{% endif %}>非公開</option>
    </select>

    <div id="mypage-menu">
        <h1><i class="bi bi-heart"></i>保護犬猫管理</h1>
    </div>
    <div class="mypage-service_list__table">
        <div class="mypage-service_list__table_body">
            <table>
                <tr>
                    <th></th>
                    <th>犬種/猫種</th>
                    <th>仮名・特徴</th>
                    <th>年齢</th>
                    <th>動画</th>
                    <th></th>
                </tr>
                {% for pet in pets %}
                    <tr>
                        <td class="image">
                            <figure>
                                <a href="{{ url('adoption_pets_edit', {'id': pet['cp_id']}) }}">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet['cp_thumbnail_path'] | default('/noimage_plugin_list.png')) }}"
                                         class="card-img-top">
                                </a>
                            </figure>
                            <div class="mt-2">
                                <a href="{{ path('adoption_pets_new',{clone_id : pet['cp_id']}) }}"
                                   class="btn btn-warning text-align-center">
                                    情報をコピーして登録
                                </a>
                            </div>
                        </td>
                        <td class="name"><a
                                    href="{{ url('adoption_pets_edit', {'id': pet['cp_id']}) }}">{{ pet['breeds_name'] ?? '' }}</a>
                        </td>
                        <td class="time">{{ pet['cp_name'] }}</td>
                        <td class="time">{{ pet['cp_pet_age'] }}</td>
                        <td class="time">
                                {% if pet['cp_is_active'] != 3 %}
                                    {% if pet['cp_movie_file'] %}
                                        <a href="{{ url('adoption_movie_upload', {'pet_id': pet['cp_id']}) }}" class="btn btn-primary">
                                        動画更新
                                        </a>
                                    {% else %}
                                        <a href="{{ url('adoption_movie_upload', {'pet_id': pet['cp_id']}) }}" class="btn btn-success">
                                        動画追加
                                        </a>
                                    {% endif %}
                                {% endif %}
                        </td>
                        <td class="receive">
                            {% if pet['cch_id'] %}
                                {% if pet['cch_id'] == -1 %}
                                    <a href="{{ url('adoption_all_adoption_message', {'id':pet['cp_id']}) }}">
                                        <div class="receive-icon">
                                            {% if pet['check'] %}
                                                <i class="bi bi-envelope"></i>
                                                <span class="budge">1</span>
                                            {% else %}
                                                <i class="bi bi-envelope-open"></i>
                                            {% endif %}
                                        </div>
                                        <p>{{ pet['last_msg'] ? pet['last_msg']|date('Y/m/d H:i') : 'なし' }}</p>
                                    </a>
                                {% else %}
                                    <a href="{{ url('adoption_adoption_message', {'id':pet['cch_id']}) }}">
                                        <div class="receive-icon">
                                            {% if pet['check'] %}
                                                <i class="bi bi-envelope"></i>
                                                <span class="budge">1</span>
                                            {% else %}
                                                <i class="bi bi-envelope-open"></i>
                                            {% endif %}
                                        </div>
                                        <p>{{ pet['last_msg'] ? pet['last_msg']|date('Y/m/d H:i') : 'なし' }}</p>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <span class="mb-2">
                        結果が０件です。
                    </span>
                {% endfor %}
            </table>
        </div>
        <div class="navigation float-right pt-4">
            {{ knp_pagination_render(pets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
        {#
        <div class="mypage-footer">
            <div class="polocy">
                <figure><img src="{{ asset('assets/img/mypage/privacy_d.gif') }}" alt="プライバシーマーク"/></figure>
                <p>〇〇〇〇は、個人情報の適切な管理をするプライバシーマーク付与事業者として認定されています。</p>
            </div>
        </div>
        #}
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
    <style>
        .pet-new {
            padding: 10px;
        }

        #petlist_view{
            padding: 5px 10px;
            margin: 5px 5px;
        }
    </style>
{% endblock %}
{% block javascript %}
<script>
    $("#petlist_view").on('change', function() {
        location.href = "?petlist_view="+$("#petlist_view").val();
    });
</script>
{% endblock %}