{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
<div class="main">
    <h2 class="py-2 mt-4 mb-4">掲載中のペット</h2>
    <a class="btn basic-btn accent-btn bg-accent text-align-center my-1"
        href={{ path('adoption_configuration_pets_new', {'conservation_id': conservation.id}) }}>追加</a>

    <div class="row mt-4">
        {% for pet in pets %}
            <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
                <div class="catalog-card">
                    <a href="{{ url('adoption_configuration_pets_edit', {'id': pet.id}) }}">
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                class="card-img-top" alt="...">
                    </a>
                    <div class="card-body bg-white">
                        <h3 class="color-gray-500 font-weight-600">{{ pet.BreedsType.breedsName ?? '' }}</h3>
                        <div class="m-4"></div>
                        <div class="d-flex">
                            <h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                        </div>
                        <div class="mb-2"></div>
                        {# <h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4> #}
                        <div class="m-4"></div>
                        <a class="btn basic-btn btn-primary text-align-center my-2"
                            href={{ path('adoption_configuration_pets_edit', {'id': pet.id}) }}>編集</a>
                    </div>
                </div>
            </div>
        {% else %}
            結果が０件です。
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
