{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            {% include 'side.twig' %}
            <div class="main-container col-sm-9">
                <div class="sub-title">
                    <h2 class="float-left">{{ breederPet.breedsType.breedsName ?? '' }}</h2>
                    <div class="col-sm-3 float-right btn-like {{ isFavorite ? "red-heart" : "" }}"
                         data-id="{{ breederPet.id }}" data-login="{{ isLoggedIn }}">
                        <a>
                            <svg width="24" height="20" class="heart-icon">
                                <path d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z"
                                      stroke="#FF424F" stroke-width="1.5"
                                      fill="{{ isFavorite ? '#FF424F' : 'none' }}"
                                      fill-rule="evenodd"
                                      stroke-linejoin="round">
                                </path>
                            </svg>
                            <span id="textBtnLike">{{ isFavorite ? 'お気に入りから削除' : 'お気に入りに追加' }}</span>
                        </a>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[0].imageUri | default | length > 0 ? images[0].imageUri : '/noimage_plugin_list.png') }}"
                             class="card-img-top" alt="...">
                        <div class="d-block d-sm-none m-2 p-2"></div>
                    </div>
                    <div class="col-6 col-sm-3">
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[1].imageUri | default | length > 0 ? images[1].imageUri : '/noimage_plugin_list.png') }}"
                             class="card-img-top w-100" alt="...">
                        <div class="m-2 p-2"></div>
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[2].imageUri | default | length > 0 ? images[2].imageUri : '/noimage_plugin_list.png') }}"
                             class="card-img-top w-100" alt="...">
                    </div>
                    <div class="col-6 col-sm-3">
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[3].imageUri | default | length > 0 ? images[3].imageUri : '/noimage_plugin_list.png') }}"
                             class="card-img-top w-100" alt="...">
                        <div class="m-2 p-2"></div>
                        <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (images[4].imageUri | default | length > 0 ? images[4].imageUri : '/noimage_plugin_list.png') }}"
                             class="card-img-top w-100" alt="...">
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th scope="row" class="text-align-center">犬種</th>
                                <td class="color-gray-500">{{ breederPet.breedsType.breedsName ?? '' }}</td>
                                <th scope="row" class="text-align-center">性別</th>
                                <td class="color-gray-500">{{ breederPet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-align-center">見学地域</th>
                                <td class="color-gray-500">{{ breederPet.Breeder.breederHouseCity ~ ' ' ~ breederPet.Breeder.breederHousePref ?? '' }}</td>
                                <th scope="row" class="text-align-center">誕生日</th>
                                <td class="color-gray-500">{{ breederPet.petBirthday.format('Y年m月d日') ?? '' }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-align-center">色</th>
                                <td class="color-gray-500">{{ breederPet.coatColor.coatColorName ?? '' }}</td>
                                <th scope="row" class="text-align-center">成犬時予想</th>
                                <td class="color-gray-500">{{ breederPet.futureWait }}kg</td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-align-center">PR</th>
                                <td colspan="2" class="color-gray-500">{{ breederPet.prComment }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="price-container col-12">
                        <h2>{{ breederPet.price|number_format(0) }}<span>円（税込）</span></h2>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                {% if video %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <video controls autoplay loop preload="auto">
                                <source type="video/mp4"
                                        src="{{ app.request.schemeAndHttpHost ~ '/' ~ video.imageUri }}">
                            </video>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="{{ url('breeder_contact', {'pet_id': breederPet.id}) }}">
                            <button class="btn basic-btn breeder-btn">お問い合わせ</button>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12 sub-title">
                        <h2 class="font-weight-500">紹介文</h2>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ breederPet.description }}</p>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12 sub-title">
                        <h2 class="font-weight-500">ブリーダー紹介</h2>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="breeder-img col-sm-4">
                        <img src="{{ asset('assets/img/breeder-thumbnail.png') }}" class="w-100 mb-4 mb-sm-0">
                    </div>
                    <div class="breeder-info col-sm-8">
                        <h3 class="font-weight-500 color-gray-500">田中 太郎ブリーダー</h3>
                        <div class="m-1 p-1"></div>
                        <div class="d-flex">
                            <h6>総合評価</h6>
                            <div class="m-1 p-1"></div>
                            <img src="{{ asset('assets/img/star-icon.svg') }}">
                            <div class="m-1 p-1"></div>
                            <h6>5.00</h6>
                        </div>
                        <div class="m-1 p-1"></div>
                        <div class="d-flex">
                            <h6>動物取扱業登録番号：</h6>
                            <h6>動東第000号</h6>
                            <div class="m-1 p-1"></div>
                            <h6>登録：</h6>
                            <h6>2021/00/00</h6>
                        </div>
                        <div class="m-1 p-1"></div>
                        <div class="d-flex">
                            <h6>有効期限：</h6>
                            <h6>2021/00/00</h6>
                            <div class="m-1 p-1"></div>
                            <h6>動物取扱責任者：</h6>
                            <h6>田中 太郎</h6>
                        </div>
                        <div class="m-1 p-1"></div>
                        <div class="d-flex">
                            <h6>犬舎所在地：</h6>
                            <h6>愛知県豊橋市</h6>
                        </div>
                        <div class="m-1 p-1"></div>
                        <div class="d-flex">
                            <h6>犬舎見学：</h6>
                            <h6>見学OK</h6>
                        </div>
                        <div class="m-2 p-2"></div>
                        <a href="breederpage.html">
                            <h4 class="color-breeder">ブリーダー詳細ページへ</h4>
                        </a>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            テキストが入ります。テキストが入ります。
                        </p>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12 bg-primary">
                        <div class="col-12">
                            <h2 class="font-weight-500">注意事項</h2>
                            <div class="m-2 p-2"></div>
                            <p>
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12 bg-primary">
                        <div class="col-12">
                            <h2 class="font-weight-500">取引条件</h2>
                            <div class="m-2 p-2"></div>
                            <p>
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12 bg-primary">
                        <div class="col-12">
                            <h2 class="font-weight-500">その他</h2>
                            <div class="m-2 p-2"></div>
                            <p>
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                                テキストが入ります。テキストが入ります。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ asset('assets/js/favorite.js') }}"></script>
    <script>
    function toggleNav() {
    var body = document.body;
    var hamburger = document.getElementById('js-hamburger');
    var blackBg = document.getElementById('js-black-bg');

    hamburger.addEventListener('click', function() {
    body.classList.toggle('nav-open');
});
    blackBg.addEventListener('click', function() {
    body.classList.remove('nav-open');
});
}
    toggleNav();
    </script>
{% endblock %}