{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
	<div class="main">
		<div class="row">
			{% include 'side.twig' %}
			<div class="main-container col-sm-9">
				<div class="sub-title">
					<h2>検索結果</h2>
				</div>
				<div class="m-3 p-3"></div>
				
				<div class="row">
					{% for pet in pets %}
						<div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
							<div class="catalog-card">
								<a href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
									<img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
									     class="card-img-top" alt="Pet-image">
								</a>
								<div class="card-body bg-white">
									<h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
									<div class="m-4"></div>
									<div class="d-flex">
										<h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
										<h4>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
									</div>
									<div class="mb-2"></div>
									<div class="d-flex">
										<h4 class="mr-3">{{ pet.getBreeder().getBreederHousePref() ?? '' }}</h4>
										<h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
									</div>
									<div class="m-2"></div>
									<h4>{{ pet.prComment }}</h4>
									<div class="m-2"></div>
									<h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4>
									<div class="m-4"></div>
									<h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
									</h3>
								</div>
							</div>
						</div>
					{% else %}
						メッセージが見つかりません
					{% endfor %}
				</div>
				<div class="m-2 p-2"></div>
				<div class="navigation">
					{{ knp_pagination_render(pets) }}
				</div>
				<div class="m-2 p-2"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}

{% block javascript %}{% endblock %}