{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'instock_edit'] %}

{% block title %}入荷情報登録{% endblock %}
{% block sub_title %}{{ 'admin.product.product_management'|trans }}{% endblock %}

{% block javascript %}
<script>
    localStorage.setItem("index", {{ count }});
    $(function(){
    // 商品検索
    $('#search').on('click', function () {
        var list = $('#searchProductModalList');
        list.children().remove();

        $.ajax({
            url: "{{ url('admin_instock_search_product') }}",
                type: 'POST',
                dataType: 'html',
                data: {
                    'id': $('#admin_search_product_id').val(),
                    'category_id': $('#admin_search_product_category_id').val(),
                    'is_instock': true,
                    'reIndex': true
                }
            }).done(function (data) {
                $('#searchProductModalList').html(data);
            }).fail(function (data) {
                alert('search product failed.');
            });
        });

        // ページング処理
        $(document).on('click', '#searchProductModalList ul.pagination li.page-item a.page-link', function (e) {
            e.preventDefault();
            var list = $('#searchProductModalList');
            list.children().remove();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'html'
            }).done(function (data) {
                $('#searchProductModalList').html(data);
            }).fail(function (data) {
                alert('search product failed.');
            });
        });

        // 商品追加
        $collectionHolder = $('#table-form-field');
        formIdPrefix = '#instock_schedule_header_InstockSchedule_';

        $(document).on('click', '.delete', function (e) {
            $(this).parents('tr').remove();
            $('#form1').submit();
        });

        // 計算結果の更新が押されたらページ内リンクさせる
        $('.btn').click(function () {
            var data = $(this).data();
            if (data.link) {
                $('#form1').attr('action', '#' + data.link).submit();
                return false;
            }
        });

        $('input[id$=_quantity]').on('blur', function(){
            if ($(this).val() < 1) {
                $(this).val(1);
            }
            $('#form1').submit();
        });
    });
</script>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block main %}
    <form name="form1" id="form1" method="post" action="?">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <div class="d-inline-block">
                                        <span class="card-title">入荷情報</span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <a data-toggle="collapse" href="#instockInfo" aria-expanded="false"
                                       aria-controls="instockInfo">
                                        <i class="fa fa-angle-up fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="instockInfo">
                            <div class="card-body">
                                <div class="row h-adr">
                                    <div class="col-6">
                                        <div class="row mb-3 form-group">
                                            <label class="col-3 col-form-label">発注日</label>
                                            <div class="col">
                                                <div class="form-inline">
                                                    {{ form_widget(form.order_date.year) }}<span>&nbsp;/&nbsp;</span>
                                                    {{ form_widget(form.order_date.month) }}<span>&nbsp;/&nbsp;</span>
                                                    {{ form_widget(form.order_date.day) }}
                                                    {{ form_errors(form.order_date) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 form-group">
                                            <label class="col-3 col-form-label">仕入先</label>
                                            <div class="col">
                                                {{ form_widget(form.supplier_code) }}
                                                {{ form_errors(form.supplier_code) }}
                                            </div>
                                        </div>
                                        <div class="row mb-3 form-group">
                                            <label class="col-3 col-form-label">入荷予定日</label>
                                            <div class="col">
                                                <div class="form-inline">
                                                    {{ form_widget(form.arrival_date_schedule.year) }}<span>&nbsp;/&nbsp;</span>
                                                    {{ form_widget(form.arrival_date_schedule.month) }}<span>&nbsp;/&nbsp;</span>
                                                    {{ form_widget(form.arrival_date_schedule.day) }}
                                                    {{ form_errors(form.arrival_date_schedule) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 form-group">
                                            <label class="col-3 col-form-label">入庫確定</label>
                                            <div class="col">
                                                <div class="form-inline">
                                                    {{ form_widget(form.is_commit) }}
                                                    {{ form_errors(form.is_commit) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row mb-3 form-group">
                                            <label class="col-3 col-form-label">備考</label>
                                            <div class="col">
                                                {{ form_widget(form.remark_text, { attr : {'rows': '6'}}) }}
                                                {{ form_errors(form.remark_text) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card.rounded -->
                    <div id="order-product" class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    {# <div class="d-inline-block" data-tooltip="true" data-placement="top" title="購入された商品情報、及び、送料、手数料を含めた計算結果が表示されます。商品の追加や金額変更を行った場合は、計算結果の更新を行ってください。"><span class="card-title">商品情報<i class="fa fa-question-circle fa-lg ml-1"></i></span></div> #}
                                    <div class="d-inline-block"><span class="card-title">商品情報</span></div>
                                </div>
                                <div class="col-4 text-right"><a data-toggle="collapse" href="#instockItem"
                                                                 aria-expanded="false" aria-controls="instockItem"><i
                                                class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                        </div>
                        <div class="collapse show ec-cardCollapse" id="instockItem">
                            <div class="card-body">
                                <div class="row justify-content-between mb-2">
                                    <div class="col-6">
                                        <a class="btn btn-ec-regular mr-2 add" data-toggle="modal"
                                           data-target="#addProduct">商品を追加</a>
                                        <div class="modal fade" id="addProduct" tabindex="-1" role="dialog"
                                             aria-labelledby="addProduct" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">商品を追加</h5>
                                                        <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="Close"><span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ form_widget(searchProductModalForm.id, { attr : {'class': 'mb-3', 'placeholder': 'admin.product.multi_search_label' }}) }}
                                                        {{ form_widget(searchProductModalForm.category_id) }}
                                                        <button type="button" id="search"
                                                                class="btn btn-ec-conversion px-5 mb-4 mt-2">検索
                                                        </button>
                                                        <div id="searchProductModalList"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{ form_errors(form.InstockScheduleErrors) }}
                                    </div>
                                    {# <div class="col-5 text-right">
                                <button type="submit" class="btn btn-ec-regular mr-2" name="mode" value="calc" data-link="order-product" id="calculate"{{ action_disabled ? ' disabled="disabled"' }}>{{ 'admin.order.update_calculation_results'|trans }}</button>
                            </div> #}
                                </div>
                                {% set keys = form.InstockSchedule.vars.data|keys %}
                                {% set nextIndex = keys ? max(keys) + 1 : 0 %}
                                <table id="table-form-field" class="table table-striped table-sm mb-0"
                                       data-next-index="{{ nextIndex }}"
                                       data-prototype="{% filter escape %}{{ include('@admin/Product/instock_item_prototype.twig', {'instockScheduleForm': form.InstockSchedule.vars.prototype}) }}{% endfilter %}"
                                       data-prototype="{{ include('@admin/Product/instock_item_prototype.twig', {'instockScheduleForm': form.InstockSchedule.vars.prototype}) | escape }}"
                                >
                                    <thead class="table-active">
                                    <tr class="text-nowrap">
                                        <th class="pt-2 pb-2 pl-3">商品名・商品コード</th>
                                        <th class="pt-2 pb-2">
                                            <div class="col-8">金額</div>
                                        </th>
                                        <th class="pt-2 pb-2">
                                            <div class="col-8">数量</div>
                                        </th>
                                         <th class="pt-2 pb-2">
                                            <div class="col-8">入庫実績</div>
                                        </th>
                                        <th class="pt-2 pb-2">
                                            <div class="col-8">小計</div>
                                        </th>
                                        <th class="pt-2 pb-2 pr-3"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key , instockScheduleForm in form.InstockSchedule %}
                                        {% set instockSchedule = instockScheduleForm.vars.data %}
                                        <tr>
                                            {# hidden values #}
                                            {{ form_widget(instockScheduleForm.ProductClass) }}
                                            {{ form_widget(instockScheduleForm.tax_type) }}
                                            <!-- 商品名 -->
                                            <td class="align-middle pl-3">
                                                <p class="mb-0 font-weight-bold">
                                                    {# 商品とポイント値引きは名前変更できない #}
                                                    <a href="{{ url('admin_product_product_edit', {id: instockSchedule.ProductClass.Product.id}) }}"
                                                        target="_blank">
                                                        {{ instockSchedule.productName }}
                                                    </a>
                                                    {{ form_widget(instockScheduleForm.product_name, { 'type': 'hidden' }) }}
                                                    {{ form_errors(instockScheduleForm.product_name) }}
                                                </p>
                                                <span>
                                                    {{ instockSchedule.productClass.code }}
                                                    {% if instockSchedule.productClass.classCategory1 is not empty %}
                                                        <br>
                                                        (
                                                        {{ instockSchedule.productClass.classCategory1.className.name }} :
                                                        {{ instockSchedule.productClass.classCategory1.name }}

                                                        {% if instockSchedule.productClass.classCategory2 is not empty %}
                                                            /
                                                            {{ instockSchedule.productClass.classCategory2.className.name }} :
                                                            {{ instockSchedule.productClass.classCategory2.name }}
                                                        {% endif %}
                                                        )
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <!-- 金額 -->
                                            <td class="align-middle">
                                                <div class="col mt-3">
                                                    {# ポイント値引きは価格変更できない #}
                                                    {{ form_widget(instockScheduleForm.price, {'attr': { 'readonly': 'readonly', 'class': 'pointPrice' } }) }}
                                                    <div class="text-right small">(税抜)</div>
                                                    {{ form_errors(instockScheduleForm.price) }}
                                                </div>
                                            </td>
                                            <!-- 数量 -->
                                            <td class="align-middle">
                                                <div class="col-12 col-xl-8">
                                                    {# 複数配送の場合は商品の個数を変更できない、ポイントの場合も個数を変更できない #}
                                                    {{ form_widget(instockScheduleForm.quantity) }}
                                                    {{ form_errors(instockScheduleForm.quantity) }}
                                                </div>
                                            </td>
                                            <!-- 入庫実績 -->
                                            <td class="align-middle">
                                                <div class="col-12 col-xl-8">
                                                    {# 複数配送の場合は商品の個数を変更できない、ポイントの場合も個数を変更できない #}
                                                    {{ form_widget(instockScheduleForm.tax_rate) }}
                                                    {{ form_errors(instockScheduleForm.tax_rate) }}
                                                </div>
                                            </td>
                                            <!-- 小計 -->
                                            <td class="align-middle">
                                                <div class="col">
                                                    <span>{{ (subtotalPrices[key] ?? 0) | price }}</span>
                                                </div>
                                            </td>
                                            <td class="align-middle text-right pr-3">
                                                <div class="row justify-content-end">
                                                        <div class="col-auto text-center">
                                                            <div class="d-inline-block mr-3" data-tooltip="true"
                                                                 data-placement="top"
                                                                 title="{{ 'admin.common.delete'|trans }}">
                                                                <a class="btn btn-ec-actionIcon" data-toggle="modal"
                                                                   data-target="#delete_{{ instockScheduleForm.vars.id }}">
                                                                    <i class="fa fa-close fa-lg text-secondary"
                                                                       aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                            <!-- 明細の削除確認モーダル -->
                                                            <div class="modal fade"
                                                                 id="delete_{{ instockScheduleForm.vars.id }}"
                                                                 tabindex="-1" role="dialog"
                                                                 aria-labelledby="delete_{{ instockScheduleForm.vars.id }}"
                                                                 aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title font-weight-bold">{{ 'admin.common.delete_modal__title'|trans }}</h5>
                                                                            <button class="close" type="button"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body text-left">
                                                                            <p class="text-left">{{ 'admin.order.delete_item__confirm_message'|trans({ '%name%' : instockSchedule.productName }) }}</p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-ec-sub" type="button"
                                                                                    data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                                                                            <a href="#"
                                                                               class="btn delete btn-ec-delete">{{ 'admin.common.delete'|trans }}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <hr class="mt-0">

                                <!-- お支払い合計 -->
                                <div class="row justify-content-end mb-3">
                                    <div class="col-auto"><span class="align-middle">お支払い合計</span></div>
                                    <div class="col-2 text-right"><span
                                                class="h4 align-middle font-weight-normal">{{ totalPrice | price }}</span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div><!-- .card.rounded -->
                </div>
            </div>
            <!-- コンバージョンエリア -->
            <div class="c-conversionArea">
                <div class="c-conversionArea__container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <div class="c-conversionArea__leftBlockItem">
                                {# <a class="c-baseLink" href="http://animalline.local/aniconfig/order?resume=1"><i class="fa fa-backward" aria-hidden="true"></i><span>受注一覧</span></a> #}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion px-5" name="mode"
                                            value="register">登録
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}