<tr class="d-none">
    <td>
        {{ form_widget(instockItemForm.product_name) }}
        {{ form_widget(instockItemForm.ProductClass) }}
        {{ form_widget(instockItemForm.order_item_type) }}
        {{ form_widget(instockItemForm.price) }}
        {{ form_widget(instockItemForm.quantity) }}
        {{ form_widget(instockItemForm.tax_type) }}
    </td>
</tr>
