<tr class="d-none">
    <td>
        {{ form_widget(instockScheduleForm.product_name) }}
        {{ form_widget(instockScheduleForm.ProductClass) }}
        {{ form_widget(instockScheduleForm.order_item_type) }}
        {{ form_widget(instockScheduleForm.price) }}
        {{ form_widget(instockScheduleForm.quantity) }}
        {{ form_widget(instockScheduleForm.tax_type) }}
        {{ form_widget(instockScheduleForm.arrival_quantity_schedule) }}
        {{ form_widget(instockScheduleForm.arrival_box_schedule) }}
    </td>
</tr>
