{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'supplier'] %}

{% block title %}仕入先管理{% endblock %}
{% block sub_title %}{{ 'admin.product.product_management'|trans }}{% endblock %}

{% block javascript %}
<script>
    function edit(id) {
        document.getElementById("mode-view-" + id).classList.add("d-none");
        document.getElementById("mode-edit-" + id).classList.remove("d-none");
    };
    function cancel(id) {
        document.getElementById("mode-view-" + id).classList.remove("d-none");
        document.getElementById("mode-edit-" + id).classList.add("d-none");
    };
    function destroy(id) {
        $('input[name=id-destroy').val(id);
        $('#DeleteModal').modal('show');
    };

    $(".btn-ec-delete").on('click', function() {
        setTimeout (function () {
            $('#DeleteModal').modal('hide');
        }, 2000);
    });
</script>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div id="ex-primaryCol" class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-body p-0">
                        <div class="card rounded border-0">
                            <ul class="list-group list-group-flush sortable-container">
                                <li class="list-group-item">
                                    {{ form_start(form, {'attr': { 'class': 'form-row', 'id': 'form-create' }}) }}
                                    <div class="col-auto align-self-center">
                                        <span>仕入先名</span></div>
                                    <div class="col-3 mr-2">
                                        {{ form_widget(form.supplier_name) }}
                                        {{ form_errors(form.supplier_name) }}
                                    </div>
                                    <div class="col-auto align-self-center" data-tooltip="true" data-placement="top"
                                         title="5桁での入力をお願いします。">
                                        <span>仕入先コード</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.supplier_code) }}
                                        {{ form_errors(form.supplier_code) }}
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-ec-regular" type="submit">新規作成</button>
                                    </div>
                                    {{ form_end(form) }}
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-1"><strong>ID</strong></div>
                                        <div class="col-4"><strong> 仕入先名</strong></div>
                                        <div class="col-3"><strong>仕入先コード</strong></div>
                                    </div>
                                </li>
                                {% for supplier in suppliers %}
                                    <li id="ex-class_name-2" class="list-group-item sortable-item"
                                        data-class-name-id="2" data-sort-no="2">
                                        <div class="row justify-content-around mode-view {{ form_errors(form_update['Form'~supplier.id].supplier_name) ? 'd-none' : '' }}"
                                             id="mode-view-{{ supplier.id }}">
                                            <div class="col-1 d-flex align-items-center">{{ supplier.id }}</div>
                                            <div class="col-4 d-flex align-items-center">
                                                <span>{{ supplier.supplierName }}</span>
                                            </div>
                                            <div class="col d-flex align-items-center">
                                                <span>{{ supplier.supplierCode }}</span>
                                            </div>
                                            <div class="col-auto text-right">
                                                <a class="btn btn-ec-actionIcon mr-2 action-edit" data-tooltip="true"
                                                   data-placement="top" title="編集" onclick="edit({{ supplier.id }})">
                                                    <i class="fa fa-pencil fa-lg text-secondary"></i>
                                                </a>
                                                <div class="d-inline-block mr-2" data-tooltip="true"
                                                     data-placement="top" title="削除">
                                                    <a class="btn btn-ec-actionIcon" {{ supplier.is_destroy ? 'disabled' : 'onclick=destroy('~supplier.id~')' }}>
                                                        <i class="fa fa-close fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <form class="form-row {{ form_errors(form_update['Form'~supplier.id].supplier_name) ? '' : 'd-none' }} mode-edit" method="post" action=""
                                              id="mode-edit-{{ supplier.id }}">
                                            {{ form_widget(form_update['Form'~supplier.id]._token) }}
                                            <input type="hidden" name="supplier-id" value="{{ supplier.id }}">
                                            <div class="col-auto align-self-center"><span>仕入先名</span></div>
                                            <div class="col-auto align-items-center">
                                                {{ form_widget(form_update['Form'~supplier.id].supplier_name) }}
                                                {{ form_errors(form_update['Form'~supplier.id].supplier_name) }}
                                            </div>
                                            <div class="col-auto align-self-center"><span>仕入先コード</span></div>
                                            <div class="col-auto align-items-center">
                                                {{ form_widget(form_update['Form'~supplier.id].supplier_code,  { 'attr': { 'readonly': 'true' }}) }}
                                                {{ form_errors(form_update['Form'~supplier.id].supplier_code) }}
                                            </div>
                                            <div class="col-auto align-items-center">
                                                <button class="btn btn-ec-conversion" type="submit">決定</button>
                                            </div>
                                            <div class="col-auto align-items-center">
                                                <button class="btn btn-ec-sub action-edit-cancel" type="button"
                                                        onclick="cancel({{ supplier.id }})">キャンセル
                                                </button>
                                            </div>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- 削除モーダル -->
                            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                                 aria-labelledby="DeleteModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-weight-bold">
                                                {{ 'admin.common.delete_modal__title'|trans }}
                                            </h5>
                                            <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-left">
                                            <p class="text-left modal-message">削除します。よろしいですか？</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-ec-sub" type="button" data-bs-dismiss="modal">
                                                {{ 'admin.common.cancel'|trans }}
                                            </button>
                                            <form action="" name="destroy-supplier">
                                                <input type="hidden" name="id-destroy" value="">
                                                <button class="btn btn-ec-delete" type="submit">
                                                    {{ 'admin.common.delete'|trans }}
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navigation float-right">
                    {{ knp_pagination_render(suppliers, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
