{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'waste'] %}
{% set params = app.request.query.all %}

{% block title %}廃棄管理{% endblock %}
{% block sub_title %}{{ 'admin.product.product_management'|trans }}{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.core.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.widget.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js', 'admin') }}"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>#}

    <script>
        function destroy(id) {
            $('input[name=id_destroy]').val(id);
            $('#DeleteModal').modal('show');
        }

        $('#search').on('click', function () {
            var list = $('#searchProductList');
            list.children().remove();
            $.ajax({
                url: "{{ url('admin_waste_search_product') }}",
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        'keyword': $('#search_product_waste').val()
                    }
                }).done(function (data) {
                    $('#searchProductList').html(data);
                    $('#ProductModal').modal('show')
                }).fail(function (data) {
                    alert('search product failed.');
                });
        });

        $(document).on('click', '#searchProductList ul.pagination li.page-item a.page-link', function (e) {
            e.preventDefault();
            var list = $('#searchProductList');
            list.children().remove();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'html'
            }).done(function (data) {
                $('#searchProductList').html(data);
            }).fail(function (data) {
                alert('search product failed.');
            });
        });

        $(document).on('change', 'select[name=year_from]', function(){
        if (isNaN(parseInt($(this).val()))) {
            $('select[name=month_from]').val('')
            $('select[name=month_from]').attr('disabled', 'true')
        } else {
            $('select[name=month_from]').removeAttr('disabled')
        }
      });

       $(document).on('change', 'select[name=year_to]', function(){
        if (isNaN(parseInt($(this).val()))) {
            $('select[name=month_to]').val('')
            $('select[name=month_to]').attr('disabled', 'true')
        } else {
            $('select[name=month_to]').removeAttr('disabled')
        }
      });
    </script>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form' method="get" action="">
            <div class="c-outsideBlock__contents">
                <div class="row justify-content-start">
                    <div class="col-6">
                        <div class="mb-2">
                            <label class="col-form-label">期間選択</label>
                            <div class="d-flex align-items-center">
                                <div class="ec-select">
                                    <div class="form-inline">
                                        <select class="form-control" name="year_from">
                                            <option value="">----</option>
                                            {% for i in 2016..2036 %}
                                                <option value="{{ i }}" {{ params.year_from is defined and params.year_from == i ? 'selected' }}>{{ i }}</option>
                                            {% endfor %}
                                        </select><span>&nbsp;/&nbsp;</span>
                                        <select class="form-control" name="month_from" {{ params.month_from is not defined ? 'disabled' }}>
                                            <option value="">--</option>
                                            {% for i in 1..12 %}
                                                <option value="{{ i }}" {{ params.month_from is defined and params.month_from == i ? 'selected' }}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-auto text-center"><span>〜</span></div>
                                <div class="ec-select">
                                    <div class="form-inline">
                                        <select class="form-control" name="year_to">
                                            <option value="">----</option>
                                            {% for i in 2016..2036 %}
                                                <option value="{{ i }}" {{ params.year_to is defined and params.year_to == i ? 'selected' }}>{{ i }}</option>
                                            {% endfor %}
                                        </select><span>&nbsp;/&nbsp;</span>
                                        <select class="form-control" name="month_to" {{ params.month_to is not defined ? 'disabled' }}>
                                            <option value="">--</option>
                                            {% for i in 1..12 %}
                                                <option value="{{ i }}" {{ params.month_to is defined and params.month_to == i ? 'selected' }}>{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-outsideBlock__contents mb-3">
                <button class="btn btn-ec-conversion px-5" type="submit">表示更新</button>
            </div>
        </form>
    </div>

    <div class="c-outsideBlock">
        <form id='search_form' method="get" action="">
            <div class="c-outsideBlock__contents">
                <div class="row justify-content-start">
                    <div class="col-6">
                        <div class="mb-2">
                            <label class="col-form-label" data-tooltip="true" data-placement="top"
                                   title="情報を入力して商品の絞りこみ・廃棄情報の登録ができます。">商品名・JANコード<i
                                        class="fa fa-question-circle fa-lg ml-1"></i></label>
                            <input type="text" id="search_product_waste" name="product_keyword"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-outsideBlock__contents mb-5">
                <button type="button" class="btn btn-ec-conversion px-5"
                        id="search">{{ 'admin.common.search'|trans }}</button>
            </div>
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <form id="form_bulk" method="POST" action="">
                    <input type="hidden" name="id_destroy" value="">
                    <div class="card rounded border-0 mb-4 d-block">
                        <div class="card-body p-0">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2 pl-4">{{ 'admin.product.product_id__short'|trans }}</th>
                                    <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.name'|trans }}</th>
                                    <th class="border-top-0 pt-2 pb-2">廃棄日</th>
                                    <th class="border-top-0 pt-2 pb-2">廃棄数量</th>
                                    <th class="border-top-0 pt-2 pb-2">廃棄理由</th>
                                    <th class="border-top-0 pt-2 pb-2 pr-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for waste in wastes %}
                                    <tr>
                                        <td class="align-middle pl-4">{{ waste.id }}</td>
                                        <td class="align-middle">
                                            {{ waste.Product.name }}
                                            <br>
                                            {{ waste.ProductClass.code }}
                                        </td>
                                        <td class="align-middle">
                                            {{ waste.wasteDate | date('Y/m/d') }}
                                        </td>
                                        <td class="align-middle">
                                            {{ waste.wasteUnit }}
                                        </td>
                                        <td class="align-middle">
                                            {{ waste.StockWasteReason.wasteReason ?? '' }}
                                        </td>
                                        <td>
                                            <div class="col-auto text-right">
                                                <div class="d-inline-block mr-2" data-tooltip="true"
                                                     data-placement="top"
                                                     title="削除">
                                                    <a class="btn btn-ec-actionIcon delete"
                                                       onclick="destroy({{ waste.id }})">
                                                        <i class="fa fa-close fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">結果が０件です。</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 削除モーダル -->
                    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                         aria-labelledby="DeleteModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-bold">
                                        {{ 'admin.common.delete_modal__title'|trans }}
                                    </h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <p class="text-left modal-message">削除します。よろしいですか？</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        {{ 'admin.common.cancel'|trans }}
                                    </button>
                                    <button type="submit" class="btn btn-ec-delete">
                                        {{ 'admin.common.delete'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="navigation float-right">
                {{ knp_pagination_render(wastes, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
    </div>

    {# 明細表示モーダル #}
    <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">商品情報</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="searchProductList">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

