{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
    <script>
        eccube.productsClassCategories = {{ products_class_categories_json|raw }};

        console.log(eccube.productsClassCategories);

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                console.log("add-cartの中", $form)

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }

                    console.log("from serialize", $form.serialize());
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });

        $('.ec-modal-overlay, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
{% endblock %}

{% block main %}
    {% if search_form is defined and search_form.category_id is defined and search_form.category_id.vars.errors|length > 0 %}
        <div class="ec-searchnavRole">
            <p class="errormsg text-danger">{{ 'ご指定のカテゴリは存在しません'|trans }}</p>
        </div>
    {% else %}
        {% if 
            app.request.get('category_id') is same as("10")
            or app.request.get('category_id') is same as("11")
            or app.request.get('category_id') is same as("12")
            or app.request.get('category_id') is same as("19")
            or app.request.get('category_id') is same as("20")
            or app.request.get('category_id') is same as("21")
            or app.request.get('category_id') is same as("35")
            or app.request.get('category_id') is same as("36")
            or app.request.get('category_id') is same as("49")
            or app.request.get('category_id') is same as("50")
            or app.request.get('category_id') is same as("51")
            or app.request.get('category_id') is same as("52")
            or app.request.get('category_id') is same as("53")
            or app.request.get('category_id') is same as("54")
            or app.request.get('category_id') is same as("55")
            or app.request.get('category_id') is same as("56")
            or app.request.get('category_id') is same as("57")
            or app.request.get('category_id') is same as("58")
            or app.request.get('category_id') is same as("59")
            or app.request.get('category_id') is empty and app.request.get('name') is empty
        %}
        <div class="ec-nutro">
            <div class="ec-nutro__head">
                <h2 class="ec-nutro__title">
                    アニマルライン / 
                    {% if Category is not null %}
                        {% for Path in Category.path %}
                            {{ Path.name }}
                        {% endfor %}
                    {% else %}
                        全商品
                    {% endif %}
                </h2>
                <div class="ec-nutro__mv">
                    {% if app.request.get('category_id') is same as("52") %}
                    <img src="{{ asset('assets/img/nutro/mv_supremo.jpg','user_data') }}" alt="15種類の厳選自然素材のホリスティック・ブレンド" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_supremo_sp.jpg','user_data') }}" alt="15種類の厳選自然素材のホリスティック・ブレンド" class="sp">
                    {% elseif app.request.get('category_id') is same as("53") %}
                    <img src="{{ asset('assets/img/nutro/mv_wildrecipe.jpg','user_data') }}" alt="穀物不使用＆高タンパクのごちそうフード" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_wildrecipe_sp.jpg','user_data') }}" alt="穀物不使用＆高タンパクのごちそうフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("54") %}
                    <img src="{{ asset('assets/img/nutro/mv_naturalchoice.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_naturalchoice_sp.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("56") %}
                    <img src="{{ asset('assets/img/nutro/mv_wildrecipe_cat.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_wildrecipe_cat_sp.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("57") %}
                    <img src="{{ asset('assets/img/nutro/mv_naturalchoice_cat.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_naturalchoice_cat_sp.jpg','user_data') }}" alt="自然素材にこだわり最新の栄養学で健康をサポートするナチュラルフード" class="sp">
                    {% else %}
                    <img src="{{ asset('assets/img/nutro/mv.jpg','user_data') }}" alt="厳選した自然素材にこだわり愛犬・愛猫の幸せと健康を実現します" class="pc">
                    <img src="{{ asset('assets/img/nutro/mv_sp.jpg','user_data') }}" alt="厳選した自然素材にこだわり愛犬・愛猫の幸せと健康を実現します" class="sp">
                    {% endif %}
                </div>
                <a href="#productsList" class="ec-nutro__btn">商品一覧はこちら</a>
            </div>

            {% set dealer = 'false' %}
            {% if dealer is same as("true") %}
            <div class="ec-nutro__dealer">
                <h3 class="ec-nutro__dealer--head">ニュートロ™推奨　<br class="sp">正規取扱店に認定されました（仮）</h3>
                <div class="ec-nutro__dealer--info">
                    <div class="ec-nutro__dealer--img">
                        <img src="{{ asset('assets/img/nutro/dealer.png','user_data') }}" alt="ニュートロ推奨 正規取扱店">
                    </div>
                    <div class="ec-nutro__dealer--text">
                        <p class="">
                            このマークのあるショップでは、<br>ニュートロ™が実施する、ペットフード専門店教育プログラムを修了したスタッフがお応えします。<br>
                            ペットフードの正しい選び方や与え方、給与量、子犬から成犬期の切換え方法など、ペットフードに関するお悩みについては、なんでもお気軽にご相談ください。
                        </p>
                        <dl class="ec-nutro__dealer--phone">
                            <dt class="ec-nutro__dealer--phoneHead">電話番号</dt><dd class="ec-nutro__dealer--phoneDetail">０３－５９６９－９７１８</dd>
                            <dt class="ec-nutro__dealer--phoneHead">受付時間</dt><dd class="ec-nutro__dealer--phoneDetail">平日・土　9：30～18：30</dd>
                        </dl>
                        <a href="#" class="ec-nutro__dealer--form">Webでのお問い合わせ</a>
                    </div>
                </div>
                <p class="ec-nutro__dealer--desc">
                    このショップ内で販売されているニュートロ™製品は、全て正規品です。<br>
                    ★の数は、ニュートロ製品についての知識とサービスレベルの高さを表現しています。
                </p>
            </div>
            {% endif %}

            <dl class="ec-nutro__point">
                <dt class="ec-nutro__point--head">
                    <img src="{{ asset('assets/img/nutro/point.png','user_data') }}" alt="" class="ec-nutro__point--img">
                    担当者の<br>おすすめポイント
                </dt>
                <dd class="ec-nutro__point--desc">
                    {% if app.request.get('category_id') is same as("52") %}
                    パッケージ等に犬の写真が入っていない点は、実は他にはないユニークなところ。<br>
                    それは自然素材に自信があるからこそ。より質の高いナチュラルフードを求める方に、自信を持っておすすめします。
                    {% elseif app.request.get('category_id') is same as("53") %}
                    犬の祖先が食べていた肉食の食事を、最新の栄養学で実現。<br>
                    良質なお肉がたっぷりなので、好き嫌いのあるグルメな愛犬や、消化・吸収を高めたい愛犬におすすめです。
                    {% elseif app.request.get('category_id') is same as("56") %}
                    愛猫は本来肉食であることに着目。<br>
                    愛猫が本能的に求める、高タンパクで穀物を使わないフードです。<br>
                    好き嫌いが激しい愛猫や、しなやかな筋肉の健康を維持したい場合にぴったりです。
                    {% else %}
                    豊富なラインナップで、長年愛され続けているロングセラーのナチュラルフード。<br>
                    ご愛用されている方から、「毛並みがツヤツヤになった」「うんちが健康になった」という声が多いのも人気の理由のひとつです。
                    {% endif %}
                </dd>
            </dl>

            {% if app.request.get('category_id') is same as("52") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">15種類の素材の優れた相互作用を引き出す「ホリスティック・ブレンド」</h3>
                <ul class="ec-nutro__section--supremo">
                    <li class="ec-nutro__section--supremoItem">
                        <div class="ec-nutro__section--supremoImg">
                            <img src="{{ asset('assets/img/nutro/supremo01.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--supremoTitle">17種類の自然素材をブレンド</div>
                        <div class="ec-nutro__section--supremoDesc">「自然飼育されたチキン」「太陽をたっぷり浴びた完熟トマト」「玄米・オーツ麦の全粒穀物」「ひまわり油」など、17種類の自然素材を最適なバランスでブレンド。栄養素の働きを高め合い、愛犬の健康をサポートします。</div>
                    </li>
                    <li class="ec-nutro__section--supremoItem">
                        <div class="ec-nutro__section--supremoImg">
                            <img src="{{ asset('assets/img/nutro/supremo02.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--supremoTitle">おいしい自然の恵みをまるごと使用</div>
                        <div class="ec-nutro__section--supremoDesc">食材へのこだわりを追及して行き着いた先は、栄養素を抽出するのではなく、「自然素材をまるごと使う」ということ。素材のもつ高い栄養価を摂取することができ、ギュッと濃縮された抜群のおいしさが味わえます。</div>
                    </li>
                </ul>
            </div>
            {% elseif  app.request.get('category_id') is same as("53") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">野生が目覚める！犬の食性に合った肉食の栄養価と、抜群のおいしさ</h3>
                <ul class="ec-nutro__section--wildrecipe">
                    <li class="ec-nutro__section--wildrecipeItem">
                        <div class="ec-nutro__section--wildrecipeImg">
                            <img src="{{ asset('assets/img/nutro/wildrecipe01.jpg','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--wildrecipeTitle">お肉の新鮮さと含有量にこだわり</div>
                        <div class="ec-nutro__section--wildrecipeDesc">犬は肉の消化に適した消化器官を持っているため、肉原料からたんぱく質を摂取することが大切です。<br>ワイルドレシピは、犬の祖先が食べていた肉食の食事を最新の栄養学で研究・開発。新鮮な生肉を原材料で最も多く使用し、優れた嗜好性を実現しました。</div>
                    </li>
                    <li class="ec-nutro__section--wildrecipeItem">
                        <div class="ec-nutro__section--wildrecipeImg">
                            <img src="{{ asset('assets/img/nutro/wildrecipe02.jpg','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--wildrecipeTitle">消化吸収が良く、内臓の負担も少ない</div>
                        <div class="ec-nutro__section--wildrecipeDesc">小麦やトウモロコシ、米などの穀物は使用せず、消化性に優れたヒヨコマメやポテトを厳選。胃腸にやさしく、お腹の健康が気になる愛犬や、穀物アレルギーの愛犬も安心です。</div>
                    </li>
                </ul>
            </div>
            {% elseif app.request.get('category_id') is same as("56") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">猫本来の欲求を追求し、行き着いた先は“高タンパク＆穀物フリー”のフード</h3>
                <div class="ec-nutro__section--img">
                    <img src="{{ asset('assets/img/nutro/sec01_cat.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec01_cat_sp.png','user_data') }}" alt="" class="sp">
                </div>
                <p class="ec-nutro__section--text">
                    猫の本質に着目し、肉食の猫が野生の頃から食べている「高タンパク」「穀物を使わない」食事を、最新の栄養学と技術をもって厳選した自然素材を使用して再現しました。肉や魚を第一主原料に使用した、高タンパクな「ワイルドレシピ」は、愛猫の健康な筋肉維持をサポートします。
                </p>
            </div>
            {% elseif app.request.get('category_id') is same as("57") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">愛猫の健康と幸せを追求して、行き着いた先は「素材本来のおいしさ」</h3>
                <div class="ec-nutro__section--img">
                    <img src="{{ asset('assets/img/nutro/sec01_cat.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec01_cat_sp.png','user_data') }}" alt="" class="sp">
                </div>
                <p class="ec-nutro__section--text">
                    新鮮さとおいしさをもたらす「ミートファースト」。生肉を第一主原料に（原材料の中で最も多く）使用し、自然素材がもつ素材本来の旨みをそのまま封じ込め、抜群のおいしさを実現しました。乾燥チキンに比べて処理工程が少なく、厳重に低温管理されており、素材の鮮度やおいしさを維持しています。
                </p>
                <p class="ec-nutro__section--text">
                    さらに、ビタミン・ミネラルが豊富な玄米、リノール酸を含むひまわり油などを厳選。素材へのこだわりは、“おいしさ”や“被毛の輝き”への違いとなって現れます。
                </p>
            </div>
            {% else %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">愛犬の健康と幸せを追求して、行き着いた先は「素材本来のおいしさ」。</h3>
                <div class="ec-nutro__section--img">
                    <img src="{{ asset('assets/img/nutro/sec01.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec01_sp.png','user_data') }}" alt="" class="sp">
                </div>
                <p class="ec-nutro__section--text">
                    新鮮さとおいしさをもたらす「ミートファースト」。生肉を第一主原料に（原材料の中で最も多く）使用し、自然素材がもつ素材本来の旨みをそのまま封じ込め、抜群のおいしさを実現しました。乾燥チキンに比べて処理工程が少なく、厳重に低温管理されており、素材の鮮度やおいしさを維持しています。
                </p>
                <p class="ec-nutro__section--text">
                    さらに、ビタミン・ミネラルが豊富な玄米、リノール酸を含むひまわり油などを厳選。素材へのこだわりは、<span class="em">“おいしさ”</span>や<span class="em"></span>“被毛の輝き</span>”への違いとなって現れます。
                </p>
            </div>
            {% endif %}

            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">原材料へのこだわりと厳格な品質管理から生まれる、安全性を追求したフード。</h3>
                <div class="ec-nutro__section--img">
                    {% if app.request.get('category_id') is same as("52") %}
                    <img src="{{ asset('assets/img/nutro/sec02_supremo.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_supremo_sp.png','user_data') }}" alt="" class="sp">
                    {% elseif app.request.get('category_id') is same as("53") %}
                    <img src="{{ asset('assets/img/nutro/sec02_wildrecipe.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_wildrecipe_sp.png','user_data') }}" alt="" class="sp">
                    {% elseif app.request.get('category_id') is same as("54") %}
                    <img src="{{ asset('assets/img/nutro/sec02_naturalchoice.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_naturalchoice_sp.png','user_data') }}" alt="" class="sp">
                    {% elseif app.request.get('category_id') is same as("56") %}
                    <img src="{{ asset('assets/img/nutro/sec02_wildrecipe_cat.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_wildrecipe_cat_sp.png','user_data') }}" alt="" class="sp">
                    {% elseif app.request.get('category_id') is same as("57") %}
                    <img src="{{ asset('assets/img/nutro/sec02_naturalchoice_cat.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_naturalchoice_cat_sp.png','user_data') }}" alt="" class="sp">
                    {% else %}
                    <img src="{{ asset('assets/img/nutro/sec02.png','user_data') }}" alt="" class="pc">
                    <img src="{{ asset('assets/img/nutro/sec02_sp.png','user_data') }}" alt="" class="sp">
                    {% endif %}
                </div>
                <p class="ec-nutro__section--text">
                    FDA（アメリカ食品医薬局）の基準に基づき、自社工場で品質管理を徹底し、日本国内でも専任チームによって品質をチェック。<br>
                    原材料・製造・輸送・出荷まで、全てにおいて安全を追及しています。<br>
                    また、製造工程だけでなく、原料そのものに対しても処理時間や温度管理等の厳しい規定を設けています。<br>
                    顔の知らない生産者とは契約をしていません。
                </p>
                <ul class="ec-nutro__section--point">
                    <li class="ec-nutro__section--pointItem">□ 着色料・香料・合成酸化防止剤 不使用</li>
                    <li class="ec-nutro__section--pointItem">□ 副産物ミール・コーン・小麦・大豆 不使用</li>
                </ul>
            </div>

            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">ウォルサム研究所の知見を基にした「最適な栄養バランス」</h3>
                <div class="ec-nutro__section--flex">
                    <div class="ec-nutro__section--img">
                        <img src="{{ asset('assets/img/nutro/sec03.png','user_data') }}" alt="">
                    </div>
                    <div class="ec-nutro__section--container">
                        <p class="ec-nutro__section--text">
                            AAFCO（米国飼料検査官協会）の基準を満たすフード作りは<br>
                            当然のこと、世界のペット栄養学をリードするイギリスのウォルサム研究所の知見を基とし、厳しい基準で開発を行っています。
                        </p>
                        <p class="ec-nutro__section--text">
                            素材やその品質に徹底的にこだわりながら、最適な栄養バランスを実現することで、愛猫の健康維持をサポートします。
                        </p>
                    </div>
                </div>
            </div>

            {% if app.request.get('category_id') is same as("52") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">ニュートロ　シュプレモの特徴</h3>
                <ul class="ec-nutro__section--supremo">
                    <li class="ec-nutro__section--supremoItem">
                        <div class="ec-nutro__section--supremoImg">
                            <img src="{{ asset('assets/img/nutro/supremo03.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--supremoTitle">健やかで美しい皮膚・被毛</div>
                        <div class="ec-nutro__section--supremoDesc">リノール酸を豊富に含む「ひまわり油」、α-リノレン酸が豊富な「亜麻仁」のナチュラルオイルと亜鉛の最適なバランスで、美しい皮膚・被毛へ。</div>
                    </li>
                    <li class="ec-nutro__section--supremoItem">
                        <div class="ec-nutro__section--supremoImg">
                            <img src="{{ asset('assets/img/nutro/supremo04.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--supremoTitle">消化吸収率へのこだわり</div>
                        <div class="ec-nutro__section--supremoDesc">消化性に優れた原材料を厳選し、たんぱく質や炭水化物、脂質の消化率で優れた水準を達成。</div>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("53") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">ニュートロ　ワイルドレシピの特徴</h3>
                <ul class="ec-nutro__section--wildrecipeFeature">
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_01.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">抜群においしいお肉がたっぷり</div>
                        <div class="ec-nutro__section--dtl">“お肉の旨み“と“香り“に、飽きっぽい子も食いつきバッチリ。</div>
                    </li>
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_02.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">穀物が苦手な愛犬も安心</div>
                        <div class="ec-nutro__section--dtl">穀物アレルギーの愛犬に配慮し、穀物は使わず、消化吸収に良いヒヨコマメを使用。</div>
                    </li>
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_03.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">お腹にやさしい素材を厳選</div>
                        <div class="ec-nutro__section--dtl">穀物不使用で、消化に優れた原材料のみを厳選。</div>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("54") or app.request.get('category_id') is same as("57") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">ニュートロ　ナチュラルチョイスの特徴</h3>
                <ul class="ec-nutro__section--naturalchoice">
                    <li class="ec-nutro__section--naturalchoiceItem">
                        <div class="ec-nutro__section--naturalchoiceIcon">
                            <img src="{{ asset('assets/img/nutro/feature01.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">美しく健やかな皮膚・被毛へ</div>
                        <div class="ec-nutro__section--dtl">長年の研究結果でたどりついた、リノール酸と亜鉛を最適なバランスに。</div>
                    </li>
                    <li class="ec-nutro__section--naturalchoiceItem">
                        <div class="ec-nutro__section--naturalchoiceIcon">
                            <img src="{{ asset('assets/img/nutro/feature02.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">消化吸収率へのこだわり</div>
                        <div class="ec-nutro__section--dtl">消化性に優れた原材料を厳選し、たんぱく質や炭水化物、脂質の消化率で優れた水準を達成。</div>
                    </li>
                    <li class="ec-nutro__section--naturalchoiceItem">
                        <div class="ec-nutro__section--naturalchoiceIcon">
                            <img src="{{ asset('assets/img/nutro/feature03.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">独自の抗酸化成分を配合</div>
                        <div class="ec-nutro__section--dtl">健康を維持し、免疫力を高めるため、抗酸化成分を配合しています。</div>
                    </li>
                    <li class="ec-nutro__section--naturalchoiceItem">
                        <div class="ec-nutro__section--naturalchoiceIcon">
                            <img src="{{ asset('assets/img/nutro/feature04.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">優れた嗜好性を実現</div>
                        {% if app.request.get('category_id') is same as("54") %}
                        <div class="ec-nutro__section--dtl">嗜好性に優れたチキンやラムを第一主原料に。良性の動物性たんぱく質が豊富。</div>
                        {% else %}
                        <div class="ec-nutro__section--dtl">嗜好性に優れたチキンやフィッシュを第一主原料に。良性の動物性たんぱく質が豊富。</div>
                        {% endif %}
                    </li>
                    <li class="ec-nutro__section--naturalchoiceItem">
                        <div class="ec-nutro__section--naturalchoiceIcon">
                            <img src="{{ asset('assets/img/nutro/feature05.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">ビタミン・ミネラルが豊富な玄米を使用</div>
                        <div class="ec-nutro__section--dtl">玄米は白米の3倍もの食物繊維を含有し、ビタミン・ミネラルも豊富な自然食材です。</div>
                    </li>
                </ul>
            </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("56") %}
            <div class="ec-nutro__section">
                <h3 class="ec-nutro__section--head">ニュートロ　ワイルドレシピの特徴</h3>
                <ul class="ec-nutro__section--wildrecipeFeature">
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_cat_01.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">タンパク質を40～42％以上含む高タンパクな食事</div>
                        <div class="ec-nutro__section--dtl">高品質な肉や魚を第一原料に使用し、40～42％以上の高タンパクを実現。愛猫の健康な筋肉維持をサポートします。</div>
                    </li>
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_cat_02.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">穀物を使っていません</div>
                        <div class="ec-nutro__section--dtl">小麦やトウモロコシ、米などの穀物を原材料を不使用。消化性に優れた高品質なエンドウマメやポテトなどを使用し、穀物が苦手な愛猫の健康維持と消化吸収の健康維持に配慮しています。</div>
                    </li>
                    <li class="ec-nutro__section--wildrecipeFeatureItem">
                        <div class="ec-nutro__section--wildrecipeFeatureIcon">
                            <img src="{{ asset('assets/img/nutro/wildrecipeFeature_cat_03.png','user_data') }}" alt="">
                        </div>
                        <div class="ec-nutro__section--ttl">肉や魚を第一主原料に使用</div>
                        <div class="ec-nutro__section--dtl">厳選した自然素材を使い、抜群のおいしさを実現しました。</div>
                    </li>
                </ul>
            </div>
            {% endif %}

            <div class="ec-nutro__notice">
                <p class="ec-nutro__notice--text">
                    【”ナチュラル”に関する表記規約】<br>
                    ※ペットフードの表示に関する公正競争規約より抜粋<br>
                    ※公正競争規約とは、事業者団体（ペットフード公正取引協議会）が公正な競争の確保と消費者保護のため、景品類の提供又は表示に関する事項について自主的に設定されたルールです。
                </p>
                <p class="ec-nutro__notice--text">
                    「ナチュラル」、「ネーチャー」又はこれらに類似する用語は、化学的合成物及び着色料を使用していないものに限り、表示することができる。ただし、総合栄養食については、栄養バランス上欠かせないビタミン類、ミネラル類、アミノ酸類のみに化学的合成物を使用しているもので、以下の各条件を満たす場合に限り、表示することができる。<br>
                    ア　　栄養バランス上欠かせないビタミン類、ミネラル類、アミノ酸類のみに化学的合成物を使用している旨を、「ナチュラル」等に関する最も目立つ表示に、その表示の4分の1以上のフォントサイズで明瞭に併記していること。ただし、内容量500グラム以下の小型容　器については6ポイント、500グラム を超えるものについては8ポイントを下回らないこととする。<br>
                    イ　　油脂の酸化防止に、エトキシキン、ＢＨＡ、ＢＨＴ等の合成の酸化防止剤を使用していないこと。
                </p>
                <p class="ec-nutro__notice--text">
                    ニュートロは規約に合致したナチュラルフードです。
                </p>
            </div>

        </div>
        {% endif %}

        <div class="ec-searchnavRole" id="productsList">
            <form name="form1" id="form1" method="get" action="?">
                {% for item in search_form %}
                    <input type="hidden" id="{{ item.vars.id }}"
                           name="{{ item.vars.full_name }}"
                           {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                {% endfor %}
            </form>
            <div class="ec-searchnavRole__topicpath">
                <ol class="ec-topicpath">
                    <li class="ec-topicpath__item"><a href="{{ url('product_list') }}">{{ '全て'|trans }}</a>
                    </li>
                    {% if Category is not null %}
                        {% for Path in Category.path %}
                            <li class="ec-topicpath__divider">|</li>
                            <li class="ec-topicpath__item{% if loop.last %}--active{% endif %}"><a
                                        href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if search_form.vars.value and search_form.vars.value.name %}
                        <li class="ec-topicpath__divider">|</li>
                        <li class="ec-topicpath__item">{{ '「%name%」の検索結果'|trans({ '%name%': search_form.vars.value.name }) }}</li>
                    {% endif %}
                </ol>
            </div>
            <div class="ec-searchnavRole__infos">
                <div class="ec-searchnavRole__counter">
                    {% if pagination.totalItemCount > 0 %}
                        {{ '<span class="ec-font-bold">%count%件</span><span>の商品が見つかりました</span>'|trans({ '%count%': pagination.totalItemCount })|raw }}
                    {% else %}
                        <span>{{ 'お探しの商品は見つかりませんでした'|trans }}</span>
                    {% endif %}
                </div>
                {% if pagination.totalItemCount > 0 %}
                    <div class="ec-searchnavRole__actions">
                        <div class="ec-select">
                            {% if disp_number_form is defined and disp_number_form is not null %}
                                {{ form_widget(disp_number_form, {'id': '', 'attr': {'class': 'disp-number'}}) }}
                            {% endif %}
                            {% if order_by_form is defined and order_by_form is not null %}
                                {{ form_widget(order_by_form, {'id': '', 'attr': {'class': 'order-by'}}) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if pagination.totalItemCount > 0 %}
            <div class="ec-shelfRole">
                <ul class="ec-shelfGrid">
                    {% for Product in pagination %}
                        <li class="ec-shelfGrid__item">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <p class="ec-shelfGrid__item-image">
                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                </p>
                                <p>{{ Product.name }}</p>
                                {% if Product.description_list %}
                                    <p>{{ Product.description_list|raw|nl2br }}</p>
                                {% endif %}
                                <p class="price02-default">
                                    {% if Product.hasProductClass %}
                                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                                            {{ Product.getPrice02IncTaxMin|price }}
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                        {% endif %}
                                    {% else %}
                                        {{ Product.getPrice02IncTaxMin|price }}
                                    {% endif %}
                                </p>
                            </a>

                            {% if Product.stock_find %}
                                {% set form = forms[Product.id] %}
                                <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                    <div class="ec-productRole__actions">
                                        {% if form.classcategory_id1 is defined %}
                                            <div class="ec-select">
                                                {{ form_widget(form.classcategory_id1) }}
                                                {{ form_errors(form.classcategory_id1) }}
                                            </div>
                                            {% if form.classcategory_id2 is defined %}
                                                <div class="ec-select">
                                                    {{ form_widget(form.classcategory_id2) }}
                                                    {{ form_errors(form.classcategory_id2) }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="ec-numberInput"><span>{{ '数量'|trans }}</span>
                                            {{ form_widget(form.normal_quantity, {'attr': {'class': 'quantity'}}) }}
                                            {{ form_errors(form.normal_quantity) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}
                                </form>
                                てすと
                                <div class="ec-productRole__btn">
                                    <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                        {{ 'カートに入れる'|trans }}
                                    </button>
                                </div>
                            {% else %}
                                <div class="ec-productRole__btn">
                                    <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                        {{ 'ただいま品切れ中です。'|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ec-modal">
                <div class="ec-modal-overlay">
                    <div class="ec-modal-wrap">
                        <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                        <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                        <div class="ec-modal-box">
                            <div class="ec-role">
                                <span class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</span>
                                <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}