{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
    <script>
        {% if products_class_categories_json is defined %}
			eccube.productsClassCategories = {{ products_class_categories_json|raw }};
		{% else %}
			eccube.productsClassCategories = {};
		{% endif %}

		function waitForElement(selector, callback, retries = 10) {
			const el = document.querySelector(selector);
			if (el) {
				callback(el);
			} else if (retries > 0) {
				setTimeout(() => waitForElement(selector, callback, retries - 1), 100);
			} else {
				console.warn('Element not found:', selector);
			}
		}

		function waitForTranslator(callback, retries = 10) {
			if (typeof Translator !== 'undefined') {
				callback();
			} else if (retries > 0) {
				setTimeout(() => waitForTranslator(callback, retries - 1), 100);
			} else {
				console.warn("Translator is not loaded yet.");
				callback(); // fallback 実行
			}
		}

		document.addEventListener('DOMContentLoaded', function () {
            $('.ec-shelfGrid__item form').each(function () {
                try {
                    const $form = $(this);
                    const productId = $form.find('input[name="add_cart[product_id]"]').val();
                    const $sele1 = $form.find('select[name="add_cart[classcategory_id1]"]');
                    const $sele2 = $form.find('select[name="add_cart[classcategory_id2]"]');

                    function fnSetClassCategories() {
                        const currentVal = $sele2.val(); // 現在の選択値を保存
                        $sele2.empty();
                        // デフォルトの「選択してください」を追加
                        $sele2.append($('<option></option>').attr('value', '__unselected').text('選択してください'));

                        // 規格2のオプションを追加
                        const classcat_id1 = $sele1.val();
                        const categories = eccube.productsClassCategories?.[productId]?.[classcat_id1];
                        if (categories) {
                            $.each(categories, function (key, value) {
                                if (key !== '#') {
                                    // 「選択してください」のオプションはスキップ
                                    $sele2.append(
                                        $('<option></option>').attr('value', value.classcategory_id2).text(value.name)
                                    );
                                }
                            });
                        }

                        // 再設定（前の選択があればそれを再選択）
                        if (currentVal) {
                            $sele2.val(currentVal);
                        }
                    }

                    $sele1.on('change', fnSetClassCategories);
                    // 初期化
                    fnSetClassCategories();

                    {% if form.classcategory_id2 is defined %}
                        fnSetClassCategories({{ form.classcategory_id2.vars.value|json_encode|raw }});
                    {% elseif form.classcategory_id1 is defined %}
                        eccube.checkStock($form, {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
                    {% else %}
                        // classCategoriesがない商品に関してはデフォルト値のvalを設定する
                        // $form.find('input[name="add_cart[ProductClass]"]').val(eccube.productsClassCategories.__unselected2[""].product_class_id);
                        if (eccube.productsClassCategories[productId]
                                && eccube.productsClassCategories[productId]['__unselected']
                                && eccube.productsClassCategories[productId]['__unselected']['']
                        ) {
                            const defaultProductClassId = eccube.productsClassCategories[productId]['__unselected'][''].product_class_id;
                            $form.find('input[name="add_cart[ProductClass]"]').val(defaultProductClassId);
                        }
                        fnSetClassCategories('');
                    {% endif %}
                } catch (e) {
						console.error("Error setting productsClassCategories:", e);
				}
            });
		});
	</script>
    <script>
        // プルダウンが選択されたときに要素を更新する
        function updateProductClassId(selectElement) {
            const $select = $(selectElement);
            const $form = $select.closest('form');

            const productId = $form.find('input[name="add_cart[product_id]"]').val();
            const id1 = $form.find('select[name="add_cart[classcategory_id1]"]').val();
            const id2Element = $('select[name="add_cart[classcategory_id2]"]');
    		const id2 = id2Element.length > 0 ? id2Element.val() : '';

            if (eccube.productsClassCategories?.[productId]?.[id1]?.[id2]) {
                const productClassId = eccube.productsClassCategories[productId][id1][id2].product_class_id;
                $form.find('input[name="add_cart[ProductClass]"]').val(productClassId);
            } else {
                $form.find('input[name="add_cart[ProductClass]"]').val('');
            }
        }

        // ProductClass更新処理を呼び出し
        $('select[name="add_cart[classcategory_id1]"]').on('change', function () {
            updateProductClassId(this);
        });
        $('select[name="add_cart[classcategory_id2]"]').on('change', function () {
            updateProductClassId(this);
        });
	</script>
    <script>
        {% if products_class_categories_json is defined %}
			eccube.productsClassCategories = {{ products_class_categories_json|raw }};
		{% else %}
			eccube.productsClassCategories = {};
		{% endif %}

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                e.preventDefault();

                var $form = $(this).parents('li').find('form');

                // ここで一度 ProductClass を明示的に更新
                const $sele1 = $form.find('select[name="add_cart[classcategory_id1]"]');
                const $sele2 = $form.find('select[name="add_cart[classcategory_id2]"]');
                const id1 = $sele1.val();
                const id2 = $sele2.val();
                const productId = $form.find('input[name="add_cart[product_id]"]').val();

                if (eccube.productsClassCategories?.[productId]?.[id1]?.[id2]) {
                    const productClassId = eccube.productsClassCategories[productId][id1][id2].product_class_id;
                    $form.find('input[name="add_cart[ProductClass]"]').val(productClassId);
                }

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('.ec-modal').show()

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });

        $('.ec-modal-overlay, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
{% endblock %}

{% block main %}
    {% if search_form is defined and search_form.category_id is defined and search_form.category_id.vars.errors|length > 0 %}
        <div class="ec-searchnavRole">
            <p class="errormsg text-danger">{{ 'ご指定のカテゴリは存在しません'|trans }}</p>
        </div>
    {% else %}
        {% if 
            app.request.get('category_id') is same as("10")
            or app.request.get('category_id') is same as("11")
            or app.request.get('category_id') is same as("12")
            or app.request.get('category_id') is same as("19")
            or app.request.get('category_id') is same as("20")
            or app.request.get('category_id') is same as("21")
            or app.request.get('category_id') is same as("35")
            or app.request.get('category_id') is same as("36")
            or app.request.get('category_id') is same as("49")
            or app.request.get('category_id') is same as("50")
            or app.request.get('category_id') is same as("51")
            or app.request.get('category_id') is same as("52")
            or app.request.get('category_id') is same as("53")
            or app.request.get('category_id') is same as("54")
            or app.request.get('category_id') is same as("56")
            or app.request.get('category_id') is same as("57")
            or app.request.get('category_id') is same as("58")
            or app.request.get('category_id') is same as("59")
            or app.request.get('category_id') is same as("71")
            or app.request.get('category_id') is same as("72")
            or app.request.get('category_id') is same as("73")
            or app.request.get('category_id') is same as("74")
            or app.request.get('category_id') is same as("13")
            or app.request.get('category_id') is same as("14")
            or app.request.get('category_id') is same as("22")
            or app.request.get('category_id') is same as("23")
            or app.request.get('category_id') is same as("26")
            or app.request.get('category_id') is same as("27")
            or app.request.get('category_id') is same as("28")
            or app.request.get('category_id') is same as("29")
            or app.request.get('category_id') is same as("30")
            or app.request.get('category_id') is same as("41")
            or app.request.get('category_id') is same as("40")
            or app.request.get('category_id') is same as("46")
            or app.request.get('category_id') is same as("47")
            or app.request.get('category_id') is empty and app.request.get('name') is empty
        %}
        <div class="ec-nutro">
            <div class="ec-nutro__head">
                <h2 class="ec-nutro__title">
                    アニマルライン / 
                    {% if Category is not null %}
                        {% for Path in Category.path %}
                            {{ Path.name }}
                        {% endfor %}
                    {% else %}
                        全商品
                    {% endif %}
                </h2>
                <div class="ec-nutro__mv">
                    {% if app.request.get('category_id') is same as("52") %}
                        <img src="{{ asset('assets/img/nutro/Supremodog.jpg','user_data') }}" alt="厳選自然素材のホリスティック・ブレンドで設計された一つ上を行くナチュラルフード" class="pc">
                        <img src="{{ asset('assets/img/nutro/Supremodog-sp.jpg','user_data') }}" alt="厳選自然素材のホリスティック・ブレンドで設計された一つ上を行くナチュラルフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("53") %}
                        <img src="{{ asset('assets/img/nutro/WRdog.jpg','user_data') }}" alt="本能が求める、高タンパクで穀物を使用しない食事" class="pc">
                        <img src="{{ asset('assets/img/nutro/WRdog-sp.jpg','user_data') }}" alt="本能が求める、高タンパクで穀物を使用しない食事" class="sp">
                    {% elseif app.request.get('category_id') is same as("54") %}
                        <img src="{{ asset('assets/img/nutro/naturalchoicedog.jpg','user_data') }}" alt="高品質な自然素材を使用し、 愛犬の様々なニーズにこたえる ナチュラルフード" class="pc">
                        <img src="{{ asset('assets/img/nutro/naturalchoicedog-sp.jpg','user_data') }}" alt="高品質な自然素材を使用し、 愛犬の様々なニーズにこたえる ナチュラルフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("56") %}
                        <img src="{{ asset('assets/img/nutro/WRcat.jpg','user_data') }}" alt="肉食である愛猫が本能的に求める食事" class="pc">
                        <img src="{{ asset('assets/img/nutro/WRcat-sp.jpg','user_data') }}" alt="肉食である愛猫が本能的に求める食事" class="sp">
                    {% elseif app.request.get('category_id') is same as("57") %}
                        <img src="{{ asset('assets/img/nutro/NCat.jpg','user_data') }}" alt="高品質な自然素材を使用し、 愛猫の様々なニーズにこたえる ナチュラルフード" class="pc">
                        <img src="{{ asset('assets/img/nutro/NCcat-sp.jpg','user_data') }}" alt="高品質な自然素材を使用し、 愛猫の様々なニーズにこたえる ナチュラルフード" class="sp">
                    {% elseif app.request.get('category_id') is same as("58") %}
                        <img src="{{ asset('assets/img/nutro/ddcat.jpg','user_data') }}" alt="いつでも開けたての香りとおいしさ" class="pc">
                        <img src="{{ asset('assets/img/nutro/ddcat-sp.jpg','user_data') }}" alt="いつでも開けたての香りとおいしさ" class="sp">
                    {% elseif app.request.get('category_id') is same as("59") %}
                        <img src="{{ asset('assets/img/nutro/cat-torokeru.jpg','user_data') }}" alt="おいしく 良いもの おやつでもさ" class="pc">
                        <img src="{{ asset('assets/img/nutro/cat-torokeru-sp.jpg','user_data') }}" alt="おいしく 良いもの おやつでも" class="sp">
                    {% elseif app.request.get('category_id') is same as("71") %}
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="pc">
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="sp">
                    {% elseif app.request.get('category_id') is same as("72") %}
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="pc">
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="sp">
                    {% elseif app.request.get('category_id') is same as("73") %}
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="pc">
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="sp">
                    {% elseif app.request.get('category_id') is same as("74") %}
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="pc">
                        <img src="{{ asset('assets/img/ec/banner_greenies.jpg') }}" alt="おいしい！楽しい！愛犬、愛猫のお口のケアタイム！" class="sp">

                    {% else %}
                    {% endif %}
                </div>
                <a href="#productsList" class="ec-nutro__btn">商品一覧はこちら</a>
            </div>

            {% set dealer = 'false' %}
            {% if dealer is same as("true") %}
                <div class="ec-nutro__dealer">
                    <h3 class="ec-nutro__dealer--head">ニュートロ™推奨　<br class="sp">正規取扱店に認定されました（仮）</h3>
                    <div class="ec-nutro__dealer--info">
                        <div class="ec-nutro__dealer--img">
                            <img src="{{ asset('assets/img/nutro/dealer.png','user_data') }}" alt="ニュートロ推奨 正規取扱店">
                        </div>
                        <div class="ec-nutro__dealer--text">
                            <p class="">
                                このマークのあるショップでは、<br>ニュートロ™が実施する、ペットフード専門店教育プログラムを修了したスタッフがお応えします。<br>
                                ペットフードの正しい選び方や与え方、給与量、子犬から成犬期の切換え方法など、ペットフードに関するお悩みについては、なんでもお気軽にご相談ください。
                            </p>
                            <dl class="ec-nutro__dealer--phone">
                                <dt class="ec-nutro__dealer--phoneHead">電話番号</dt><dd class="ec-nutro__dealer--phoneDetail">０３－５９６９－９７１８</dd>
                                <dt class="ec-nutro__dealer--phoneHead">受付時間</dt><dd class="ec-nutro__dealer--phoneDetail">平日・土　9：30～18：30</dd>
                            </dl>
                            <a href="#" class="ec-nutro__dealer--form">Webでのお問い合わせ</a>
                        </div>
                    </div>
                    <p class="ec-nutro__dealer--desc">
                        このショップ内で販売されているニュートロ™製品は、全て正規品です。<br>
                        ★の数は、ニュートロ製品についての知識とサービスレベルの高さを表現しています。
                    </p>
                </div>
            {% endif %}

            <dl class="ec-nutro__point">
                {% if
                    app.request.get('category_id') is same as("52")
                    or app.request.get('category_id') is same as("53")
                    or app.request.get('category_id') is same as("54")
                    or app.request.get('category_id') is same as("56")
                    or app.request.get('category_id') is same as("57")
                    or app.request.get('category_id') is same as("58")
                    or app.request.get('category_id') is same as("59")
                    or app.request.get('category_id') is empty and app.request.get('name') is empty
                %}
                    <dt class="ec-nutro__point--head">
                        <img src="{{ asset('assets/img/nutro/point.png','user_data') }}" alt="" class="ec-nutro__point--img">
                        おすすめポイント
                    </dt>
                {% else %}
                {% endif %}


                <dd class="ec-nutro__point--desc">
                    {% if app.request.get('category_id') is same as("52") %}
                        栄養豊富な厳選自然素材をたっぷりと使い（10種類以上）、最適にブレンドすることで、<br>
                        抜群のおいしさを引き出し、愛犬の健康維持をサポートします。
                    {% elseif app.request.get('category_id') is same as("53") %}
                        肉食の祖先を持つ愛犬のために作られたフードです。<br>
                        好き嫌いのあるグルメな愛犬や、消化・吸収を高めたい愛犬におすすめです。
                    {% elseif app.request.get('category_id') is same as("56") %}
                        愛猫は本来肉食であることに着目。<br>
                        高タンパクで穀物を使わない食事を、高品質な厳選自然素材で実現しています。<br>
                        好き嫌いが激しい愛猫や、しなやかな筋肉の健康を維持したい場合にぴったりです。
                    {% elseif app.request.get('category_id') is same as("54") %}
                        豊富なラインナップで、長年愛され続けているロングセラーのナチュラルフード。<br>
                        体のサイズやライフステージ、ライフスタイルのお悩みなど愛犬のニーズに合わせて選べる食事です。
                    {% elseif app.request.get('category_id') is same as("57") %}
                        豊富なラインナップで、長年愛され続けているロングセラーのナチュラルフード。<br>
                        体のサイズやライフステージ、ライフスタイルのお悩みなど愛猫のニーズに合わせて選べる食事です。
                    {% elseif app.request.get('category_id') is same as("58") %}
                        たっぷりの肉や魚などの厳選自然素材のフレッシュなおいしさが毎食楽しめ、<br>
                        猫の食性に配慮した、猫が嬉しいウエットフードです。
                    {% elseif app.request.get('category_id') is same as("59") %}
                        厳選自然素材を主原料に100％使用。お肉やお魚など、<br>
                        素材のおいしさがお口いっぱいに広がるクリーミータイプのおやつ。
                    {% endif %}
                </dd>
            </dl>

            {% if app.request.get('category_id') is same as("52") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">栄養豊富な厳選自然素材の働きを高め合う“ホリスティック・ブレンド”</h3>
                    <ul class="ec-nutro__section--supremo">
                        <li class="ec-nutro__section--supremoItem">
                            <div class="ec-nutro__section--supremoImg">
                                <img src="{{ asset('assets/img/nutro/img_supremo001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--supremoTitle">素材の飼育方法・収穫時期にまでこだわった厳選自然素材をブレンド</div>
                            <div class="ec-nutro__section--supremoDesc">抽出した成分を配合するのではなく、自然飼育されたチキンや、太陽をたっぷり浴びて完熟したトマトなどの自然素材を最適な栄養バランスになるように組み合わせる、ニュートロ™独自のブレンド製法です。</div>
                        </li>
                        <li class="ec-nutro__section--supremoItem">
                            <div class="ec-nutro__section--supremoImg">
                                <img src="{{ asset('assets/img/nutro/img_supremo002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--supremoTitle">自然素材の高い栄養価とおいしさをそのままに、最適な栄養バランス</div>
                            <div class="ec-nutro__section--supremoDesc">体のサイズ・年齢・健康状態に合わせた最適な栄養バランスと抜群のおいしさで、生後まもない子犬から加齢による体への配慮が必要なシニア犬まで愛犬の健康維持をサポートします。</div>
                        </li>
                    </ul>
                </div>
            {% elseif  app.request.get('category_id') is same as("53") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">犬の祖先は肉食動物であるため、愛犬は肉食動物の特徴を持っています。</h3>
                    <ul class="ec-nutro__section--wildrecipe">
                        <li class="ec-nutro__section--wildrecipeItem">
                            <div class="ec-nutro__section--wildrecipeImg">
                                <img src="{{ asset('assets/img/nutro/wildrecipe01.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">高タンパクの食事</div>
                            <div class="ec-nutro__section--wildrecipeDesc">肉食の祖先を持つ愛犬のために、高タンパクに作られた食事が、超小型犬～小型犬の健康な筋肉の維持をサポートします。<br>筋肉・内臓・皮膚・被毛・爪・血液など、水分を除く犬の体の約60%はタンパク質でできています。健康な筋肉の維持には、若いうちから必要な栄養素をしっかり摂取することが大切です。</div>
                        </li>
                        <li class="ec-nutro__section--wildrecipeItem">
                            <div class="ec-nutro__section--wildrecipeImg">
                                <img src="{{ asset('assets/img/nutro/wildrecipe02.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">穀物フリー（グレインフリー）で消化・吸収のしやすさに配慮</div>
                            <div class="ec-nutro__section--wildrecipeDesc">犬はもともと肉食の動物。本来は穀物の消化が苦手です。穀物が苦手な愛犬のために全製品で小麦やトウモロコシ、米などの穀物を原材料として使用していません。<br>消化性に優れた高品質のヒヨコマメやポテトなどを使用しています。</div>
                        </li>
                    </ul>
                </div>
            {% elseif app.request.get('category_id') is same as("56") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">ニュートロ™ ワイルド レシピ™ は、肉食の猫が、野生の頃から食べている食事に着目。</h3>
                    <ul class="ec-nutro__section--wildrecipe">
                        <li class="ec-nutro__section--wildrecipeItem">
                            <div class="ec-nutro__section--wildrecipeImg">
                                <img src="{{ asset('assets/img/nutro/WRcat002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">高タンパクの食事</div>
                            <p class="ec-nutro__section--text">
                                筋肉・内臓・皮膚・被毛・爪・血液など、猫の体から水分を除いた固体分の約60%はタンパク質でできています。健康な筋肉の維持には、若いうちから必要な栄養素をしっかり摂取することが大切です。
                        </li>
                        <li class="ec-nutro__section--wildrecipeItem">
                            <div class="ec-nutro__section--wildrecipeImg">
                                <img src="{{ asset('assets/img/nutro/WRcat001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">穀物フリー（グレインフリー）で消化・吸収のしやすさに配慮</div>
                            <p class="ec-nutro__section--text">
                                猫はもともと肉食の動物。本来は穀物の消化が苦手です。穀物が苦手な愛猫のために、「ワイルド レシピ™」では、全製品で小麦やトウモロコシ、米などの穀物を原材料として使用していません。
                        </li>
                    </ul>
                </div>
            {% elseif app.request.get('category_id') is same as("57") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">自然素材を活かした総合栄養食</h3>
                    <div class="ec-nutro__section--img">
                        <img src="{{ asset('assets/img/nutro/NCat003.jpg','user_data') }}" alt="" class="pc">
                        <img src="{{ asset('assets/img/nutro/NCat003-sp.png','user_data') }}" alt="" class="sp">
                    </div>
                    <p class="ec-nutro__section--text">
                        愛猫の健康的で幸福な毎日を何よりも第一に考えたい。だから「ナチュラル チョイス™」は、自然素材にこだわり、安全かつ安心へ配慮した最適な栄養バランスを持ち、素材本来のおいしさ満点のフードを常に追求しています。
                    </p>
                    <p class="ec-nutro__section--text">
                        また、高品質なチキン・フィッシュなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現。。
                    </p>
                </div>
            {% elseif app.request.get('category_id') is same as("54") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">自然素材で愛犬の健康をサポート</h3>
                    <div class="ec-nutro__section--img">
                        <img src="{{ asset('assets/img/nutro/naturalchoicedog002.jpg','user_data') }}" alt="" class="pc">
                        <img src="{{ asset('assets/img/nutronaturalchoicedog002-sp.jpg','user_data') }}" alt="" class="sp">
                    </div>
                    <p class="ec-nutro__section--text">
                        愛犬の健康維持に欠かせない成分は、できる限り、安心・安全に配慮した自然素材由来のものを使いたい。たとえば、自然飼育されたチキンを、玄米とオーツ麦など全粒穀物の組み合わせを、ひまわりの種子から抽出したひまわり油を、栄養豊富な自然素材を使用し、原材料にも厳しい品質基準を設け厳選しています。
                    </p>
                    <p class="ec-nutro__section--text">
                        また高品質なチキン・フィッシュなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現。
                        </p>
                </div>
            {% elseif app.request.get('category_id') is same as("58") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">愛猫に必要な栄養がきちんととれる総合栄養食</h3>
                    <div class="ec-nutro__section--img">
                        <img src="{{ asset('assets/img/nutro/ddcat001.jpg','user_data') }}" alt="" class="pc">
                        <img src="{{ asset('assets/img/nutro/ddcat001-sp.jpg','user_data') }}" alt="" class="sp">
                    </div>
                    <p class="ec-nutro__section--text">
                        毎日の主要な食事として、愛猫が必要とする栄養基準を満たした総合栄養食である「デイリー・ディッシュ™」｡新鮮な水と一緒に与えるだけで健康を維持することができるように、理想的な栄養バランスに作られています。
                    </p>
                    <p class="ec-nutro__section--text">
                        また「デイリー・ディッシュ™」はカロリー控えめ※だから、摂取カロリーに配慮しながら、与えるフードの量を増やすことができます。栄養バランスの偏りや不足の心配をせず、ダイエット中のカロリーコントロールにも取り入れることができます。<br>※ニュートロ™ ナチュラル チョイス™ キャットドライフード 室内猫用 アダルト チキン製品比
                        </p>
                </div>
            {% elseif app.request.get('category_id') is same as("59") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">主原料に100%自然素材を使用、素材で選べるバラエティ</h3>
                    <div class="ec-nutro__section--img">
                        <img src="{{ asset('assets/img/nutro/cat-torokeru001.jpg','user_data') }}" alt="" class="pc">
                        <img src="{{ asset('assets/img/nutro/cat-torokeru001-SP.jpg','user_data') }}" alt="" class="sp">
                    </div>
                    <p class="ec-nutro__section--text">
                        大切な愛猫の健康に配慮し、主原料は100％厳選自然素材。また、香料・着色料・発色剤も使用していません。高品質なお肉やお魚をたっぷり使用した、素材本来のおいしさを8種類の味わいから楽しめます。
                    <p class="ec-nutro__section--text">
                        また食感にもこだわりを詰め込みました。ペーストに混ぜ込んだフレークの食感が楽しめる「フレーク入りタイプ」と、ふわっととろける「なめらかペーストタイプ」の2種類をご用意。満足感がありながら、カロリーにも配慮することができ、高品質な自然素材（チキン・ビーフ・ツナ・サーモン・白身魚・ひまわり油）に含まれる亜鉛やリノール酸が、皮膚・被毛の健康維持をサポートします。
                        </p>
                </div>
            {% else %}

            {% endif %}

            {% if app.request.get('category_id') is same as("52") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">“ミート ファースト™”で抜群のおいしさを提供。さらにウエットフードでたくさん食べられる満足感を！</h3>
                    <ul class="ec-nutro__section--supremo">
                        <li class="ec-nutro__section--supremoItem">
                            <div class="ec-nutro__section--supremoImg">
                                <img src="{{ asset('assets/img/nutro/Supremodog001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--supremoTitle">“ミート ファースト™ とは？</div>
                            <div class="ec-nutro__section--supremoDesc">第一主原料に肉や魚を使用、“肉”や“魚”を最も多く使用するという、ニュートロ™のこだわりです。第一主原料の“肉”や“魚”と、高品質な乾燥ミールの良さを活かしているからこそ、抜群のおいしさと栄養バランスを両立できるのです。</div>
                        </li>
                        <li class="ec-nutro__section--supremoItem">
                            <div class="ec-nutro__section--supremoImg">
                                <img src="{{ asset('assets/img/nutro/Supremodog002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--supremoTitle">ドライとウエットを組み合わせれば、愛犬も大満足のボリュームに。</div>
                            <div class="ec-nutro__section--supremoDesc">カロリー約70%オフ※のウエットフード「カロリーケア」なら、与える量のボリュームアップをしながら、カロリーを抑えることができます。<br>※シュプレモ™ドライフード比較</div>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("53") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">“ミート ファースト™ / フィッシュ ファースト™”だから、おいしい！</h3>
                    <ul class="ec-nutro__section--wildrecipeFeature">
                        <li class="ec-nutro__section--wildrecipeFeatureItem">
                            <div class="ec-nutro__section--wildrecipeFeatureImg">
                                <img src="{{ asset('assets/img/nutro/WRdog002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">肉食の祖先を持つ愛犬のために、高品質な肉や魚をふんだんに使用</div>
                            <div class="ec-nutro__section--wildrecipeDesc">高品質なチキン・ビーフ・サーモンなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現。</div>
                        </li>
                        <li class="ec-nutro__section--wildrecipeFeatureItem">
                            <div class="ec-nutro__section--wildrecipeFeatureImg">
                                <img src="{{ asset('assets/img/nutro/WRdog001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">素材で選べるおいしさ</div>
                            <div class="ec-nutro__section--wildrecipeDesc">ターキー、チキン、サーモン、ラム、ビーフなど様々な味わいをご用意しています。</div>
                        </li>

                    </ul>
                </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("54") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">ニュートロ　ナチュラルチョイスの特徴</h3>
                    <ul class="ec-nutro__section--naturalchoice">
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/naturalchoicedog001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">“愛犬のニーズに合わせて選べる豊富なラインアップ</div>
                            <div class="ec-nutro__section--dtl">犬は体のサイズによって必要な栄養バランスや食べやすい粒のサイズが異なります。「ナチュラル チョイス™」は、中型犬用、大型犬用など、愛犬の体のサイズに合わせた栄養バランスの食事を揃えています。<br>
                                また子犬用、成犬用、シニア犬用を揃えており、年齢に合った栄養バランスの食事の提供、体重管理のための減量用・避妊去勢用フードなど、必要な栄養を保ちつつ摂取カロリー管理が可能なフードもございます。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/NCat002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">“ミート ファースト™ / フィッシュ ファースト™”だから、おいしい！</div>
                            <div class="ec-nutro__section--dtl">第一主原料とは、原材料欄の1番最初に表記されている原材料です。使用量が多い原材料から順番に表示することが義務づけられており、1番最初に記載された原材料は、その製品の中で最も多く使用されていることを示しています。<br>
                                高品質なチキン・フィッシュなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現しました。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/naturalchoicedog003.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">美しく健やかな皮膚・被毛の健康維持</div>
                            <div class="ec-nutro__section--dtl">愛犬の健康は、皮膚・被毛に表れます。美しく若々しく輝く被毛は、愛犬の生き生きとした健康状態の証です。<br>
                                「ナチュラルチョイス™」は、長年の研究の結果としてたどりついた最適なリノール酸と亜鉛のバランスにより、愛犬の皮膚・被毛の健康維持に配慮しています。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/naturalchoicedog004.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">消化吸収の健康維持</div>
                            <div class="ec-nutro__section--dtl">愛犬が必要とするタンパク質の量は人間よりも多く、もともと肉食だった祖先をもつことから、肉の消化に適した消化器官を持っています。<br>
                                そのため肉原料からタンパク質を摂取することが重要です。「ナチュラル チョイス™」は良質の動物性たんぱく質を豊富に含み、消化しやすいチキンやラムなどを主原料に使用しています。
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("57") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">ニュートロ　ナチュラルチョイスの特徴</h3>
                    <ul class="ec-nutro__section--naturalchoice">
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/NCat004.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">“愛猫のニーズに合わせて選べる豊富なラインアップ</div>
                            <div class="ec-nutro__section--dtl">子猫用（生後12ヶ月まで）の「キトン」、成猫用（1歳〜6歳まで）の「アダルト」、シニア猫用（7歳以上）の「エイジングケア」を揃えており、年齢に合わせた栄養バランスに調整されています。<br>
                                またライフスタイル、状態、お悩みなどのニーズに合わせフードを選べるよう、室内猫用、毛玉トータルケア、食にこだわる猫用、避妊去勢用などもございます。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/NCat001.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">“ミート ファースト™ / フィッシュ ファースト™”だから、おいしい！</div>
                            <div class="ec-nutro__section--dtl">第一主原料とは、原材料欄の1番最初に表記されている原材料です。使用量が多い原材料から順番に表示することが義務づけられており、1番最初に記載された原材料は、その製品の中で最も多く使用されていることを示しています<br>
                                高品質なチキン・フィッシュなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現しました。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/NCat006.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">猫の好き嫌いには、理由があります。</div>
                            <div class="ec-nutro__section--dtl">野生の猫は狩りをするとき、「同じ獲物を毎日食べることによって、栄養不足を招く可能性」や「1種類の獲物ばかりでは、明日食べ尽くしてしまうかもしれない」ということを本能で考え、常に他に何か食べられるものがあるか試しています。<br>
                                猫の本能的な摂食行動は先祖の影響を受けているため、味に飽きやすい猫、好き嫌いが激しい猫がいるのです。お肉が好きな愛猫のために、高品質なチキン・ターキー・ダックから、お魚が好きな愛猫のために、高品質なサーモンや白身魚から味を選択することが可能です。
                            </div>
                        </li>
                        <li class="ec-nutro__section--naturalchoiceItem">
                            <div class="ec-nutro__section--naturalchoiceImg">
                                <img src="{{ asset('assets/img/nutro/NCat005.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--ttl">栄養豊富な自然素材を厳選</div>
                            <div class="ec-nutro__section--dtl">たとえば、農場で飼育されたチキンを、玄米とオーツ麦など全粒穀物の組み合わせを、ひまわりの種子から抽出したひまわり油を、栄養豊富な自然素材を使用し、原材料にも厳しい品質基準を設け厳選しています。<br>
                                羽などの食用とされない部位は原材料として使用しません。ニュートロ™は栄養豊富な自然素材を追求し続けます。
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}

            {% if app.request.get('category_id') is same as("56") %}
                <div class="ec-nutro__section">
                    <h3 class="ec-nutro__section--head">“ミート ファースト™ / フィッシュ ファースト™”だから、おいしい！</h3>
                    <ul class="ec-nutro__section--wildrecipeFeature">
                        <li class="ec-nutro__section--wildrecipeFeatureItem">
                            <div class="ec-nutro__section--wildrecipeFeatureImg">
                                <img src="{{ asset('assets/img/nutro/WRdog002.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">肉食の祖先を持つ愛猫のために、高品質な肉や魚をふんだんに使用</div>
                            <div class="ec-nutro__section--text">高品質なチキン・ビーフ・サーモンなどの“肉”や“魚”を第一主原料に使用し、ニュートロ™の高い製造技術により、素材本来のおいしさをそのまま封じ込め、抜群のおいしさを実現。</div>
                        </li>
                        <li class="ec-nutro__section--wildrecipeFeatureItem">
                            <div class="ec-nutro__section--wildrecipeFeatureImg">
                                <img src="{{ asset('assets/img/nutro/WRcat003.jpg','user_data') }}" alt="">
                            </div>
                            <div class="ec-nutro__section--wildrecipeTitle">素材で選べるおいしさ</div>
                            <div class="ec-nutro__section--text">チキン、白身魚、サーモン、ビーフなど様々な味わいをご用意しています。</div>
                        </li>

                    </ul>
                </div>
            {% endif %}

        </div>
        {% endif %}

        <div class="ec-searchnavRole" id="productsList">
            <form name="form1" id="form1" method="get" action="?">
                {% for item in search_form %}
                    <input type="hidden" id="{{ item.vars.id }}"
                           name="{{ item.vars.full_name }}"
                           {% if item.vars.value is not empty %}value="{{ item.vars.value }}" {% endif %}/>
                {% endfor %}
            </form>
            <div class="ec-searchnavRole__topicpath">
                <ol class="ec-topicpath">
                    <li class="ec-topicpath__item"><a href="{{ url('product_list') }}">{{ '全て'|trans }}</a>
                    </li>
                    {% if Category is not null %}
                        {% for Path in Category.path %}
                            <li class="ec-topicpath__divider">|</li>
                            <li class="ec-topicpath__item{% if loop.last %}--active{% endif %}"><a
                                        href="{{ url('product_list') }}?category_id={{ Path.id }}">{{ Path.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if search_form.vars.value and search_form.vars.value.name %}
                        <li class="ec-topicpath__divider">|</li>
                        <li class="ec-topicpath__item">{{ '「%name%」の検索結果'|trans({ '%name%': search_form.vars.value.name }) }}</li>
                    {% endif %}
                </ol>
            </div>
            <div class="ec-searchnavRole__infos">
                <div class="ec-searchnavRole__counter">
                    {% if pagination.totalItemCount > 0 %}
                        {{ '<span class="ec-font-bold">%count%件</span><span>の商品が見つかりました</span>'|trans({ '%count%': pagination.totalItemCount })|raw }}
                    {% else %}
                        <span>{{ 'お探しの商品は見つかりませんでした'|trans }}</span>
                    {% endif %}
                </div>
                {% if pagination.totalItemCount > 0 %}
                    <div class="ec-searchnavRole__actions">
                        <div class="ec-select">
                            {% if disp_number_form is defined and disp_number_form is not null %}
                                {{ form_widget(disp_number_form, {'id': '', 'attr': {'class': 'disp-number'}}) }}
                            {% endif %}
                            {% if order_by_form is defined and order_by_form is not null %}
                                {{ form_widget(order_by_form, {'id': '', 'attr': {'class': 'order-by'}}) }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if pagination.totalItemCount > 0 %}
            <div class="ec-shelfRole">
                <ul class="ec-shelfGrid">
                    {% for Product in pagination %}
                        <li class="ec-shelfGrid__item">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <p class="ec-shelfGrid__item-image">
                                    <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}">
                                </p>
                                <p>{{ Product.name }}</p>
                                {% if Product.description_list %}
                                    <p>{{ Product.description_list|raw|nl2br }}</p>
                                {% endif %}
                                <p class="price02-default">
                                    {% if Product.hasProductClass %}
                                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                                            {{ Product.getPrice02IncTaxMin|price }}
                                        {% else %}
                                            {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                        {% endif %}
                                    {% else %}
                                        {{ Product.getPrice02IncTaxMin|price }}
                                    {% endif %}
                                </p>
                            </a>

                            {% if Product.stock_find %}
                                {% set form = forms[Product.id] %}
                                <form name="form{{ Product.id }}" id="productForm{{ Product.id }}" action="{{ url('product_add_cart', {id:Product.id}) }}" method="post">
                                    <div class="ec-productRole__actions">
                                        {% if form.classcategory_id1 is defined %}
                                            <div class="ec-select">
                                                {{ form_widget(form.classcategory_id1) }}
                                                {{ form_errors(form.classcategory_id1) }}
                                            </div>
                                            {% if form.classcategory_id2 is defined %}
                                                <div class="ec-select">
                                                    {{ form_widget(form.classcategory_id2) }}
                                                    {{ form_errors(form.classcategory_id2) }}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div class="ec-numberInput"><span>{{ '数量'|trans }}</span>
                                            {{ form_widget(form.normal_quantity, {'attr': {'class': 'quantity'}}) }}
                                            {{ form_errors(form.normal_quantity) }}
                                        </div>
                                    </div>
                                    {{ form_rest(form) }}

                                </form>
                                <div class="ec-productRole__btn">
                                    <button type="submit" class="ec-blockBtn--action add-cart" data-cartid="{{ Product.id }}" form="productForm{{ Product.id }}">
                                        {{ 'カートに入れる'|trans }}
                                    </button>
                                </div>
                            {% else %}
                                <div class="ec-productRole__btn">
                                    <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                        {{ 'ただいま品切れ中です。'|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="ec-modal">
                <div class="ec-modal-overlay">
                    <div class="ec-modal-wrap">
                        <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                        <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                        <div class="ec-modal-box">
                            <div class="ec-role">
                                <span class="ec-inlineBtn--cancel">{{ 'お買い物を続ける'|trans }}</span>
                                <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-pagerRole">
                {% include "pager.twig" with {'pages': pagination.paginationData} %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}