{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_row(form._token) }}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_kind, '保護犬猫種別', { 'label_attr': {'class': 'ec-label' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_kind, { 'attr': { 'onchange': 'petKindChange();' }}) }}
            {{ form_errors(form.pet_kind) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.BreedsType, '犬種(猫種)', { 'label_attr': {'class': 'ec-label' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.BreedsType) }}
            {{ form_errors(form.BreedsType) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_label(form.thumbnail_path, '保護犬猫画像', { 'label_attr': {'class': 'ec-label' }}) }}
        </div>
    </div>
    <div class="form_img_inline">
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.thumbnail_path) }}
                {{ form_errors(form.thumbnail_path) }}
                <img id="img_thumbnail" class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_remove conservation_pets_thumbnail_path">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image1) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail conservation_pets_image1">メイン画像に設定</button>
                <button class="btn_remove conservation_pets_image1">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image2) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail conservation_pets_image2">メイン画像に設定</button>
                <button class="btn_remove conservation_pets_image2">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image3) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail conservation_pets_image3">メイン画像に設定</button>
                <button class="btn_remove conservation_pets_image3">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image4) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail conservation_pets_image4">メイン画像に設定</button>
                <button class="btn_remove conservation_pets_image4">画像を削除</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="img0" class="conservation_pets_thumbnail_path">
    <input type="hidden" name="img1" class="conservation_pets_image1">
    <input type="hidden" name="img2" class="conservation_pets_image2">
    <input type="hidden" name="img3" class="conservation_pets_image3">
    <input type="hidden" name="img4" class="conservation_pets_image4">

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_sex, '性別', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_sex) }}
            {{ form_errors(form.pet_sex) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_age, '年齢', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
            <span class="ec-required">おおよそ何歳かをご記入ください。</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_age) }}
            {{ form_errors(form.pet_age) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.coat_color, '毛色', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.coat_color) }}
            {{ form_errors(form.coat_color) }}
        </div>
    </div>
    {#
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.future_wait, '成犬時予想体重「kg」', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-3 ec-input">
            {{ form_widget(form.future_wait) }}
            {{ form_errors(form.future_wait) }}
        </div>
    </div>
    #}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pr_comment, '一言コメント', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.pr_comment) }}
            {{ form_errors(form.pr_comment) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.description, '性格・特長・健康状態', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-5 ec-input">
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.delivery_way, '引き渡し方法', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.delivery_way, {'attr': {'rows': 5, 'placeholder' : '引き渡し方法をご記入ください。'}}) }}
            {{ form_errors(form.delivery_way) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.delivery_time, '備考', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">上記項目以外の譲渡条件やトライアル期間等を記載お願い致します。</span>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.delivery_time) }}
            {{ form_errors(form.delivery_time) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="ec-blockBtn--action mt-4 mb-4">{{ '登録する' }}</button>
            <a class="ec-blockBtn--cancel" href={{url('adoption_pet_list')}} style="color:white;">{{ '戻る' }}</a>
        </div>
        <div class="col-md-4"></div>
    </div>
{{ form_end(form, {'render_rest': false}) }}

<div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">画像切り抜き</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container row">
                    <div class="col-md-6 col-12 d-flex">
                        <!--  default image where we will set the src via jquery-->
                        <div style="flex-grow: 1">
                            <img id="image">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                        <div class="preview"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-primary" id="crop">切り抜き</button>
            </div>
        </div>
    </div>
</div>

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <style>
        .preview {
            overflow: hidden;
            width: 200px !important;
            height: 200px !important;
        }
        .preview_box {
            border: 1px dotted;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .preview_box svg {
            cursor: pointer;
        }
        .img_preview {
            height: auto;
        }
        .btn_set_thumbnail {
            display: none;
            background-color: #fbb03b;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
            width: 150px;
            border: 2px solid black;
            padding: 4px;
            margin-top: 5px;
        }
        .btn_set_thumbnail:hover {
            opacity: 0.3;
        }
        .btn_remove {
            display: none;
            background-color: #ff1f25;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
            width: 150px;
            border: 2px solid black;
            padding: 4px;
            margin-top: 5px;
        }
        .btn_remove:hover {
            opacity: 0.3;
        }
        .form_img_inline {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        legend {
            float: left!important;
            width: auto;
        }
    </style>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script>
    $(document).ready( function() {
        $('.conservation_pets_thumbnail_path').val(`{{ image0 }}`);
        $('.conservation_pets_image1').val(`{{ image1 }}`);
        $('.conservation_pets_image2').val(`{{ image2 }}`);
        $('.conservation_pets_image3').val(`{{ image3 }}`);
        $('.conservation_pets_image4').val(`{{ image4 }}`);
        if ($('.conservation_pets_thumbnail_path').val()) {
            $('#conservation_pets_thumbnail_path').parent().parent().next().find("input[type='file']").attr('disabled', false);
            $("#conservation_pets_thumbnail_path").parent().parent().find('button').show();
        }
        if ($('.conservation_pets_image1').val()) {
            $('#conservation_pets_image1').parent().parent().next().find("input[type='file']").attr('disabled', false);
            $("#conservation_pets_image1").parent().parent().find('button').show();
        }
        if ($('.conservation_pets_image2').val()) {
            $('#conservation_pets_image2').parent().parent().next().find("input[type='file']").attr('disabled', false);
            $("#conservation_pets_image2").parent().parent().find('button').show();
        }
        if ($('.conservation_pets_image3').val()) {
            $('#conservation_pets_image3').parent().parent().next().find("input[type='file']").attr('disabled', false);
            $("#conservation_pets_image3").parent().parent().find('button').show();
        }
        if ($('.conservation_pets_image4').val()) {
            $("#conservation_pets_image4").parent().parent().find('button').show();
        }
    });
</script>
{% endblock %}
