{% set id = app.request.get('id') %}
{% set pet = form.vars.data %}

{% if is_error %}
<div style="text-align: center; color: #F00; padding: 2rem 2rem;margin:1rem 1rem; border:solid"><h3>入力内容にエラーがありました。エラー内容を確認してください。</h3></div>
{% endif %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_row(form._token) }}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_kind, 'ペット種別', { 'label_attr': {'class': 'ec-label' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_kind) }}
            {{ form_errors(form.pet_kind) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.breeds_type, '犬種(猫種)', { 'label_attr': {'class': 'ec-label' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.breeds_type) }}
            {{ form_errors(form.breeds_type) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_label(form.thumbnail_path, 'ペット画像', { 'label_attr': {'class': 'ec-label' }}) }}
            <div class="ec-input" id="breeder_img_error">
                {{ form_errors(form.ImagePathErrors) }}
            </div>
        </div>
    </div>
    <div class="form_img_inline">
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.thumbnail_path) }}
                {{ form_errors(form.thumbnail_path) }}
                <img id="img_thumbnail" class="img_preview" src="{{ image0 }}"/>
            </div>
            <div style="display: grid">
                <button class="btn_remove breeder_pets_thumbnail_path">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image1) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail breeder_pets_image1">メイン画像に設定</button>
                <button class="btn_remove breeder_pets_image1">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image2) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail breeder_pets_image2">メイン画像に設定</button>
                <button class="btn_remove breeder_pets_image2">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image3) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail breeder_pets_image3">メイン画像に設定</button>
                <button class="btn_remove breeder_pets_image3">画像を削除</button>
            </div>
        </div>
        <div class="images mb-3">
            <div class="preview_box mr-4 mb-3">
                {{ form_widget(form.image4) }}
                <img class="img_preview" src="" />
            </div>
            <div style="display: grid">
                <button class="btn_set_thumbnail breeder_pets_image4">メイン画像に設定</button>
                <button class="btn_remove breeder_pets_image4">画像を削除</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="img0" class="breeder_pets_thumbnail_path">
    <input type="hidden" name="img1" class="breeder_pets_image1">
    <input type="hidden" name="img2" class="breeder_pets_image2">
    <input type="hidden" name="img3" class="breeder_pets_image3">
    <input type="hidden" name="img4" class="breeder_pets_image4">

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_sex, '性別', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_sex) }}
            {{ form_errors(form.pet_sex) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.pet_birthday, '誕生日', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pet_birthday.year) }}<span>&nbsp;/&nbsp;</span>
            {{ form_widget(form.pet_birthday.month) }}<span>&nbsp;/&nbsp;</span>
            {{ form_widget(form.pet_birthday.day) }}
            {{ form_errors(form.pet_birthday) }}
        </div>
    </div>
    {#
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.band_color, 'バンドカラー', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <p style="font-size:14px;color:#DE5D50;">
                遺伝病DNA検査で使用した<br />
                検体識別バンドのカラーを選択してください。<br />
                キット同封の"検体採取方法のご案内"の③をご確認ください。
            </p>
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.band_color) }}
            {{ form_errors(form.band_color) }}
        </div>
    </div>
    #}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.coat_color, '毛色', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.coat_color) }}
            {{ form_errors(form.coat_color) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.future_wait, '成犬/成猫時予想体重「kg」', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
            <p style="font-size:14px;color:#DE5D50;">
                整数で入力してください。<br />
            </p>
        </div>
        <div class="col-md-3 ec-input">
            {{ form_widget(form.future_wait) }}
            {{ form_errors(form.future_wait) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
        {{ form_label(form.pr_comment, 'アピールポイント', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.pr_comment, {'attr': {'rows': 5, 'placeholder' : 'アピールポイントを25文字以内でお書きください。'}}) }}
            {{ form_errors(form.pr_comment) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.description, '紹介文', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.description, {'attr': {'rows': 10, 'placeholder' : '紹介文をお書きください。'}}) }}
            {{ form_errors(form.description) }}
        </div>
    </div>
    {# ユーザー情報コピー用フィールド #}
        <input type="hidden" id="petInfoTemplate_guarantee" value="{{ petInfoTemplate.guarantee ?? '' }}">
        <input type="hidden" id="petInfoTemplate_delivery_way" value="{{ petInfoTemplate.deliveryWay ?? '' }}">
        <input type="hidden" id="petInfoTemplate_payment_method" value="{{ petInfoTemplate.paymentMethod ?? '' }}">
        <input type="hidden" id="petInfoTemplate_reservation_fee" value="{{ petInfoTemplate.reservationFee ?? '' }}">
    {# ユーザー情報コピー用フィールド #}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.guarantee, '生体保障内容', { 'label_attr': {'class': 'ec-label' }}) }}
            <span class="ec-required">必須</span>
            <br>
            <button type="button" class="btn btn-ec-regular btn-secondary mt-1 mb-1" id="btn_get_petinfo_template_guarantee">テンプレート使用</button>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.guarantee, {'attr': {'rows': 10, 'placeholder' : 'ブリーダー様にて設定されている生体保障内容をご記入ください。'}}) }}
            {{ form_errors(form.guarantee) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.is_pedigree, '血統書の有無', { 'label_attr': {'class': 'ec-label'}}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-radio">
            {{ form_widget(form.is_pedigree, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.is_pedigree) }}
        </div>
    </div>
    <div id="pedigreeDetail" style="display: none">
        <div class="row mb-3">
            <div class="col-md-3">
            {{ form_label(form.Pedigree, '血統証の種類', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            </div>
            <div class="col-md-8 ec-input ec-select">
            {{ form_widget(form.pedigree_detail) }}
            {{ form_errors(form.pedigree_detail) }}
            </div>
        </div>
        
        {#
        <div class="row mb-3">
            <div class="col-md-3">
            {{ form_label(form.pedigree_code, '血統証番号', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
                <span class="ec-required">必須</span>
            </div>
            <div class="col-md-8 ec-input">
            {{ form_widget(form.pedigree_code) }}
            {{ form_errors(form.pedigreeCodeErrors) }}
            </div>
        </div>
        #}
    </div>
    {#
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.microchip_code, 'マイクロチップID', { 'label_attr': {'class': 'ec-label' }}) }}
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.microchip_code, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.microchip_code) }}
        </div>
    </div>
    #}
    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.include_vaccine_fee, 'ワクチン代の有無', { 'label_attr': {'class': 'ec-label'}}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-radio">
            {{ form_widget(form.include_vaccine_fee, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.include_vaccine_fee) }}
        </div>
    </div>
    <div class="row mb-3" id="vaccineDetail">
        <div class="col-md-3">
            {{ form_label(form.vaccine_detail, 'ワクチン代', { 'label_attr': {'class': 'ec-label' }}) }}
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.vaccine_detail, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.vaccineDetailErrors) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.include_vaccine_fee, 'マイクロチップの有無', { 'label_attr': {'class': 'ec-label'}}) }}
            <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 ec-radio">
            {{ form_widget(form.is_microchip, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.is_microchip) }}
        </div>
    </div>
    <div class="row mb-3" id="microchipCode">
        <div class="col-md-3">
            {{ form_label(form.vaccine_detail, 'マイクロチップ代', { 'label_attr': {'class': 'ec-label' }}) }}
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.microchip_code, {'attr': {'style': 'display:flex;'}}) }}
            {{ form_errors(form.microchip_code) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.delivery_way, '引き渡し方法', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span>
            <br>
            <button type="button" class="btn btn-ec-regular btn-secondary mt-1 mb-1" id="btn_get_petinfo_template_delivery_way">テンプレート使用</button>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.delivery_way, {'attr': {'rows': 5, 'placeholder' : '引き渡し方法をご記入ください。'}}) }}
            {{ form_errors(form.delivery_way) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.payment_method, 'お支払方法', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span><br>
            <button type="button" class="btn btn-ec-regular btn-secondary mt-1 mb-1" id="btn_get_petinfo_template_payment_method">テンプレート使用</button>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.payment_method, {'attr': {'rows': 5, 'placeholder' : 'お支払方法をご記入ください。'}}) }}
            {{ form_errors(form.payment_method) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            {{ form_label(form.reservation_fee, '予約金', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
            <span class="ec-required">必須</span><br>
            <button type="button" class="btn btn-ec-regular btn-secondary mt-1 mb-1" id="btn_get_petinfo_template_reservation_fee">テンプレート使用</button>
        </div>
        <div class="col-md-8 ec-input">
            {{ form_widget(form.reservation_fee, {'attr': {'rows': 5, 'placeholder' : 'ブリーダー様にて設定されている予約金をご記入ください。'}}) }}
            {{ form_errors(form.reservation_fee) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
        {{ form_label(form.price, '価格（税込）', { 'label_attr': {'class': 'ec-label', 'style' : 'padding: 0.375rem 0' }}) }}
        <span class="ec-required">必須</span>  
        </div>
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">￥ </span>
                </div>
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
                </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-md-3">
        <span class="ec-required">サイト表示する際に価格を「応相談」または「見学／お問い合わせにてお問い合わせください」と表示する場合はチェックしてください。</span>  
        </div>
        <div class="col-md-8 col-lg-4">
            <div class="input-group">
                {{ form_widget(form.price_no_display) }}
                {{ form_errors(form.price_no_display) }}
            </div>
        </div>
    </div>    

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           
            <button class="ec-blockBtn--action mt-4 mb-4" {{ isCheckPetContract ? 'disabled' : '' }}>{{ '登録する' }}</button>
            <a class="ec-blockBtn--cancel" href={{url('breeder_pet_list')}} style="color:white;">{{ '戻る' }}</a>
             {% if id %}
                {% if pet.isActive == 1 %}
                    <button type="button" class="ec-blockBtn--action mt-4 mb-4" id="btn-change-status" data-is-active="{{ pet.isActive }}" {{ isCheckPetContract ? 'disabled' : '' }}>このペットを非公開にする</button>
                {% else %}
                    <button type="button" class="ec-blockBtn--action mt-4 mb-4" id="btn-change-status" data-is-active="{{ pet.isActive }}">このペットを公開にする</button>
                {% endif %}

                {% if not pet.isDelete %}
                    <button type="button" class="ec-blockBtn--action mt-4 mb-4" id="btn-delete-pet"
                        data-is-active="{{ pet.isActive }}" {{ isCheckPetContract ? 'disabled' : '' }}>このペットの情報を成約済にする</button>
                {% endif %}

                {% if pet.isActive == 1 %}
                    {% if pet.isContact == 1 %}
                        <button type="button" class="ec-blockBtn--action mt-4 mb-4" id="btn-contact-status" data-is-contact="{{ pet.isContact }}">このペットの商談中を解除する</button>
                    {% else %}
                        <button type="button" class="ec-blockBtn--action mt-4 mb-4" id="btn-contact-status" data-is-contact="{{ pet.isContact }}">このペットを商談中にする</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
{{ form_end(form, {'render_rest': false}) }}

<div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">画像切り抜き</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="img-container row">
                    <div class="col-md-6 col-12 d-flex">
                        <!--  default image where we will set the src via jquery-->
                        <div style="flex-grow: 1">
                            <img id="image">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                        <div class="preview"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                <button type="button" class="btn btn-primary" id="crop">切り抜き</button>
            </div>
        </div>
    </div>
</div>

{% if id %}
<div class="modal fade" id="modal-change-status" tabindex="-1" role="dialog" aria-labelledby="modal-change-status"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">
                    確認ダイアログ
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                <p class="text-left" id="modal-change-status-message">ペット情報を公開しますか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    いいえ
                </button>
                <a class="btn btn-primary" href="{{ url('breeder_pets_edit_change_status', {'id': id}) }}">
                    はい
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-contact-status" tabindex="-1" role="dialog" aria-labelledby="modal-contact-status"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">
                    確認ダイアログ
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                <p class="text-left" id="modal-contact-status-message">ペット情報を商談中にしますか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    いいえ
                </button>
                <a class="btn btn-primary" href="{{ url('breeder_pets_edit_contact_status', {'id': id}) }}">
                    はい
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-pet" tabindex="-1" role="dialog" aria-labelledby="modal-delete-pet" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">
                    確認ダイアログ
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-left">
                <p class="text-left">このペット情報を成約済みにしますか？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    いいえ
                </button>
                <a class="btn btn-primary" href="{{ url('breeder_pets_delete', {'id': id}) }}">
                    はい
                </a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <style>
        .select2-container {
            font-weight: 200;
        }
        .preview {
            overflow: hidden;
            width: 200px !important;
            height: 200px !important;
        }
        .preview_box {
            border: 1px dotted;
            width: 150px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .preview_box svg {
            cursor: pointer;
        }
        .img_preview {
            height: auto;
        }
        .btn_set_thumbnail {
            display: none;
            background-color: #fbb03b;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
            width: 150px;
            border: 2px solid black;
            padding: 4px;
            margin-top: 5px;
        }
        .btn_set_thumbnail:hover {
            opacity: 0.3;
        }
        .btn_remove {
            display: none;
            background-color: #ff1f25;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 20px;
            width: 150px;
            border: 2px solid black;
            padding: 4px;
            margin-top: 5px;
        }
        .btn_remove:hover {
            opacity: 0.3;
        }
        .form_img_inline {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        legend {
            float: left!important;
            width: auto;
        }
    </style>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

<script>
$("#pedigreeSelect").hide();
if(breeder_pets_is_pedigree_0.checked){ 
    $("#pedigreeSelect").show();
}

$("#vaccineDetail").hide();
if(breeder_pets_include_vaccine_fee_1.checked) {
    $("#vaccineDetail").show();
}

$("#pedigreeDetail").hide();
if(breeder_pets_is_pedigree_0.checked) {
    $("#pedigreeDetail").show();
}

$("#microchipCode").hide();
if(breeder_pets_is_microchip_1.checked) {
    $("#microchipCode").show();
}

$(document).ready(function() {
    $("input[name$='breeder_pets[is_pedigree]']").click(function() {
        var is_pedigree = $(this).val();
        if (is_pedigree == 1) {
            $("#pedigreeSelect").hide();
        } else if (is_pedigree == 0) {
            $("#pedigreeSelect").hide();
        }
    });

    $("input[name$='breeder_pets[include_vaccine_fee]']").click(function() {
        var include_vaccine_fee = $(this).val();
        if (include_vaccine_fee == 1) {
            $("#vaccineDetail").hide();
        } else if (include_vaccine_fee == 0) {
            $("#vaccineDetail").show();
        }
    });

    $("input[name$='breeder_pets[is_microchip]']").click(function() {
        var is_microchip = $(this).val();
        if (is_microchip == 1) {
            $("#microchipCode").hide();
        } else if (is_microchip == 0) {
            $("#microchipCode").show();
        }
    });

    $("input[name$='breeder_pets[is_pedigree]']").click(function() {
        var is_pedigree = $(this).val();
        if (is_pedigree == 0) {
            $("#pedigreeDetail").hide();
        } else if (is_pedigree == 1) {
            $("#pedigreeDetail").show();
        }
    });

    $('#btn-change-status').on('click', function () {
        const modalMsg = $(this).data('is-active') ? 'ペット情報を非公開にしますか？' : 'ペット情報を公開しますか？';
        $('#modal-change-status-message').text(modalMsg);
        $('#modal-change-status').modal('show');
    });

    $('#btn-contact-status').on('click', function () {
        const modalMsg = $(this).data('is-contact') ? 'ペット情報の商談中を解除しますか？' : 'ペット情報を商談中にしますか？';
        $('#modal-contact-status-message').text(modalMsg);
        $('#modal-contact-status').modal('show');
    });
});

$('#btn-delete-pet').on('click', function () {
    $('#modal-delete-pet').modal('show');
});

$('#breeder_pets_pet_kind').ready( function() {
    pet_kind = 1;
    $('#breeder_pets_pet_kind').change( function() {
        pet_kind = $('#breeder_pets_pet_kind').val();
        pedigree = $('#breeder_pets_Pedigree').val();
    });
    $.ajax({
        type: 'get',
        url: '/breeder_pedigree_data_by_pet_kind',
        dataType: 'json',
        data: {
                pet_kind: pet_kind
            }
    })
    .done(function (data) {
        const { pedigrees } = data;
        $('#breeder_pets_Pedigree').empty();
        pedigrees.forEach(pedigree => {
            $('#breeder_pets_Pedigree').append(new Option(pedigree.name, pedigree.id));
        });
    })
    .fail(function (err) {
        console.error(err);
    })
});

// テンプレートがない場合は、各ボタンをdisableにする
if(!document.getElementById('petInfoTemplate_guarantee') || !document.getElementById('petInfoTemplate_guarantee').value){ 
    $("#btn_get_petinfo_template_guarantee").prop('disabled', true);
}
if(!document.getElementById('petInfoTemplate_delivery_way') || !document.getElementById('petInfoTemplate_delivery_way').value){ 
    $("#btn_get_petinfo_template_delivery_way").prop('disabled', true);
}
if(!document.getElementById('petInfoTemplate_payment_method') || !document.getElementById('petInfoTemplate_payment_method').value){ 
    $("#btn_get_petinfo_template_payment_method").prop('disabled', true);
}
if(!document.getElementById('petInfoTemplate_reservation_fee') || !document.getElementById('petInfoTemplate_reservation_fee').value){ 
    $("#btn_get_petinfo_template_reservation_fee").prop('disabled', true);
}


// テンプレートコピー
document.getElementById("btn_get_petinfo_template_guarantee").onclick = function() {
    // 生体保障内容をテンプレートからコピー
    document.getElementById("breeder_pets_guarantee").value = document.getElementById("petInfoTemplate_guarantee").value 
};

document.getElementById("btn_get_petinfo_template_delivery_way").onclick = function() {
    // 引き渡し方法をテンプレートからコピー
    document.getElementById("breeder_pets_delivery_way").value = document.getElementById("petInfoTemplate_delivery_way").value 
};

document.getElementById("btn_get_petinfo_template_payment_method").onclick = function() {
    // 支払方法をテンプレートからコピー
    document.getElementById("breeder_pets_payment_method").value = document.getElementById("petInfoTemplate_payment_method").value 
};

document.getElementById("btn_get_petinfo_template_reservation_fee").onclick = function() {
    // 予約金をテンプレートからコピー
    document.getElementById("breeder_pets_reservation_fee").value = document.getElementById("petInfoTemplate_reservation_fee").value 
};

$(document).ready( function() {
    $('.breeder_pets_thumbnail_path').val(`{{ image0 }}`);
    $('.breeder_pets_image1').val(`{{ image1 }}`);
    $('.breeder_pets_image2').val(`{{ image2 }}`);
    $('.breeder_pets_image3').val(`{{ image3 }}`);
    $('.breeder_pets_image4').val(`{{ image4 }}`);
    if ($('.breeder_pets_thumbnail_path').val()) {
        $('#breeder_pets_thumbnail_path').parent().parent().next().find(":input").prop('disabled', false);
        $("#breeder_pets_thumbnail_path").parent().parent().find('button').show();
    }
    if ($('.breeder_pets_image1').val()) {
        $('#breeder_pets_image1').parent().parent().next().find(":input").prop('disabled', false);
        $("#breeder_pets_image1").parent().parent().find('button').show();
    }
    if ($('.breeder_pets_image2').val()) {
        $('#breeder_pets_image2').parent().parent().next().find(":input").prop('disabled', false);
        $("#breeder_pets_image2").parent().parent().find('button').show();
    }
    if ($('.breeder_pets_image3').val()) {
        $('#breeder_pets_image3').parent().parent().next().find(":input").prop('disabled', false);
        $("#breeder_pets_image3").parent().parent().find('button').show();
    }
     if ($('.breeder_pets_image4').val()) {
        $("#breeder_pets_image4").parent().parent().find('button').show();
    }
});
</script>
{% endblock %}
