<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>Animalline｜お迎えガイド(犬編)</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ asset('assets/css/common.css') }}">
</head>

<body>
  
<div id="wrapper">
  
  <header>
    <div class="wrap">
      <div class="header-left">
        <div class="header-logo"><h1><a href=""><img src="{{ asset('assets/img/guide/logo.png') }}" width="610" height="80" alt="Animalline"/></a></h1></div>
        <div class="header-count">
          <div class="header-count__dogs"><span>子犬掲載数</span><strong><i>2,652</i>頭</strong></div>
          <div class="header-count__breeders"><span>ブリーダー数</span><strong><i>2,562</i>人</strong></div>
        </div>
      </div>
      <div class="header-right">
        <ul>
          <li class="member">
            <a href="" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <span>会員登録</span>
            </a>
          </li>
          <li class="breeder">
            <a href="" class="btn">
              <i><img src="{{ asset('assets/img/guide/icon-bone2.png') }}" width="16" height="9" alt="ブリーダー登録"/></i>
              <span>ブリーダー登録</span>
            </a>
          </li>
          <li class="adoption">
            <a href="" class="btn">
              <i><img src="{{ asset('assets/img/guide/icon-care.png') }}" width="12" height="12" alt="保護団体登録"/></i>
              <span>保護団体登録</span>
            </a>
          </li>
          <li class="login">
            <a href="" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
            <span>ログイン</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-trigger">
				<span></span>
				<span></span>
				<span></span>
			</div>
    </div>
  </header>
  
  <main role="main">
    
    <section id="guide-mv">
      <div class="guide-mv__title">
        <h2><img src="{{ asset('assets/img/guide/guide-mv-dog.png') }}" width="346" height="346" alt="お迎えガイド(犬の場合)"/></h2>
      </div>
      <div class="guide-mv__link">
        <a href=""><img src="{{ asset('assets/img/guide/guide-mv-link-cat.png') }}" width="123" height="123" alt="猫の場合はこちら"/></a>
      </div>
    </section>
    
    <section id="guide-nav">
      <div class="inner">
        <ul>
          <li><a href="#guide-content01">子犬の選び方</a></li>
          <li><a href="#guide-content02">子犬を迎える前に</a></li>
          <li><a href="#guide-content03">飼い主に必要な条件</a></li>
          <li><a href="#guide-content04">犬のことを知ろう</a></li>
          <li><a href="#guide-content05">犬を迎える準備</a></li>
        </ul>
      </div>
    </section>
    
    <section id="guide-content01">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__num"><img src="{{ asset('assets/img/guide/guide-num01.png') }}" width="132" height="132" alt="1"/></div>
          <div class="content-box__title">
            <h2>子犬の選び方</h2>
            <p>〜自分に（または家族に）合うワンちゃんを探す〜</p>
          </div>
          <div class="content-box__body">
            <dl>
              <dt>初心者におすすめ</dt>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>パピヨン</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
            </dl>
            <dl>
              <dt>室内飼いにおすすめ</dt>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>パピヨン</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
            </dl>
            <dl>
              <dt>お手入れがラク</dt>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>ペキニーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
            </dl>
            <dl>
              <dt>運動量が少なめ</dt>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>ペキニーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
            </dl>
            <dl>
              <dt>温厚で大人しい</dt>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>ゴールデンレトリバー</dd>
              <dd><i class="bi bi-chevron-right"></i>ラブラドールレトリバー</dd>
            </dl>
            <dl>
              <dt>アクティブで運動が好き!</dt>
              <dd><i class="bi bi-chevron-right"></i>ジャックラッセルテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>コーギー</dd>
              <dd><i class="bi bi-chevron-right"></i>柴犬</dd>
              <dd><i class="bi bi-chevron-right"></i>ボーダーコリー</dd>
              <dd><i class="bi bi-chevron-right"></i>シェットランドシープドッグ</dd>
            </dl>
          </div>
          <div class="content-box__merit">
            <h3>中～大型犬を飼うメリット・ デメリット</h3>
            <div class="content-box__merit_body">
              <article>
                <h4>メリット</h4>
                <p>賢い犬種が多い。体力があるので、一緒に運動ができる穏やかな性格で社交的のため飼いやすく、お年寄りや赤ちゃんがいるご家庭でもうまく馴染むことができる。多頭飼いに向いているので、たくさんの犬に囲まれて暮らしたいという方におすすめ。</p>
              </article>
              <article>
                <h4>デメリット</h4>
                <p>きちんとしつけをする必要がある。運動量が多いので毎日の散歩は必須。小型犬よりもコストがかかる (食費、病院費、トリミング代など)</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content02">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__num"><img src="{{ asset('assets/img/guide/guide-num02.png') }}" width="132" height="132" alt="2"/></div>
          <div class="content-box__title">
            <h2>子犬を迎える前に</h2>
            <p>犬を飼うということ、それは<strong>新しい命を迎える</strong>ことになります。<br>
              <strong>10〜15年</strong>生きるその命にあなたは<strong>最後まで責任が持てますか？</strong></p>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_tag"><h3>犬の十戒</h3></div>
            <div class="content-box__body_list">
              <ul>
                <li><i class="bi bi-check"></i>私は10年くらいしか生きられません。だからできるだけ私と一緒にいてください。</li>
                <li><i class="bi bi-check"></i>私と気長に付き合ってください。</li>
                <li><i class="bi bi-check"></i>私を信じてください。あなたが私を信じてくれることがなによりの幸せです。</li>
                <li><i class="bi bi-check"></i>あなたには、仕事や学校があるし友達もいます。でも、私にはあなたしかいません。</li>
                <li><i class="bi bi-check"></i>私にたくさん話しかけてください。人の言葉は話せなくても、ちゃんと分かっています。</li>
                <li><i class="bi bi-check"></i>私に心があることを忘れないでください。</li>
                <li><i class="bi bi-check"></i>私をたたかないで。本気になったら私の方が強いことを忘れないでください。</li>
                <li><i class="bi bi-check"></i>言うことを聞かないときは、理由があります。</li>
                <li><i class="bi bi-check"></i>私が年を取っても、仲良くしてください。</li>
                <li><i class="bi bi-check"></i>旅立ちの時には、私のそばにいてください。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content03">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>飼い主に必要な条件</h2>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_list">
              <ul>
                <li>
                  <div class="content-box__body_list_num"><span>1</span></div>
                  <h3>住宅がペットを飼える<br>
                    状況にあること</h3>
                  <p>ペットと安心して暮らすためには、ペットを飼える住宅に住んでいることが絶対条件です。<br>
                  また「ペット飼育可 」の集合住宅であっても決められたルールを守り、その集合住宅はもとより、周辺の住宅や環境への配慮を心がけなければなりません。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>2</span></div>
                  <h3>ペットを迎えることに<br>
                    家族全員の同意があること</h3>
                    <p>ペットを家族に迎えるにあたっては、その家族全員が合意していることが大切で。十数年の命を持つ犬や猫を飼う際には特に重要です。<br>
                    どのような家庭でも、10年以上の歴史を重ねていくうちには、家族構成や生活環境の変化が起こる可能性があります。そのような中であっても、家族全員が動物と暮らすことに同意しているのであれば、家族に迎え入れた動物もその一員であることが前提となった対応がなされていくでしょう。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>3</span></div>
                  <h3>動物アレルギーの<br>
                    心配がないこと</h3>
                    <p>家族内にアレルギー体質の方がいる場合には、事前に専門病院で動物アレルギーについても検査をしてもらいましょう。もし動物アレルギー発症の可能性がある場合には、どのような対策を講じるか、飼う、飼わないも含めて家族内で十分話し合いをしましょう。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>4</span></div>
                  <h3>そのペットの寿命まで終生<br>
                    飼養飼育する覚悟があること</h3>
                    <p>犬も猫も、適正に飼育すれば10年以上生きることができる動物です。動物を迎え入れた家庭は、そのペットの命を、寿命をまっとうするまで預かることになります。10年以上にわたって給餌、給水、快適な生活環境、健康管理を続けなければなりません。<br>
                      ペットを飼いたいと思ったら、このことも十分考えてください。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>5</span></div>
                  <h3>世話をする体力があり、<br>
                    その時間を割けること</h3>
                  <p>ペットを家族に迎えれば、飼い主は当然その動物のために時間を割かなければなりません。食餌や水を適切に与え、トイレの掃除、快適な生活空間の維持、犬の場合は散歩、種類によってはブラッシングなどの手入れなど、これらをこなせる時間と体力がなければなりません。<br>
                  子供の希望で飼い始める家庭もよくありますが、数か月後には世話は親の担当になってしまった、などもまれなことではありません。<br>
                  これらのことを十分に念頭に置いて、動物種、成長した時の大きさなどを、飼うか飼わないかを含めて、検討してください。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>6</span></div>
                  <h3>高齢になったペットの<br>
                    介護をする心構えがあること</h3>
                    <p>適切に飼育すれば、ペットも長生きします。しかしそれに伴ってペットも老衰や認知症になるケースが増えていきます。動物を家族に迎え入れる以上、高齢になった動物の介護をする心構えも必要です。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>7</span></div>
                  <h3>経済的負担を<br>
                    考慮すること</h3>
                    <p>ペットは生きています。食餌代ばかりでなく、生活用品、ワクチン代など、人と同じようにいろいろな費用がかかります。特に医療費は、病気やけがによっては思わぬ高額になる場合もあります。<br>
                    民間社会によるペット保険はありますが、公的な保険制度はありません。動物を家族に迎えれば経済的に負担がかかる、ということも承知しておく必要があります。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>8</span></div>
                  <h3>必要なしつけと周囲への<br>
                    配慮ができること</h3>
                    <p>ペットと家庭内で楽しく暮らすには、ペットにある程度のルールを覚えてもらう必要があります。<br>
                    最近では、悪いこと飼い主にとって不都合なこと をしたら「罰を与えて叱る」しつけではなく、家族として楽しく暮らすためのルールを「誘導して覚えてもらう」タイプのしつけが主流になってきています。しつけをするのも動物との絆を深め、楽しみの一つとすることができます。<br>
                    と同時に、飼い主もペットを飼ううえでのマナーを十分に心得、家庭外、近隣社会に対して迷惑をかけないように配慮することが必要です。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>9</span></div>
                  <h3>引越しや転勤の際にも<br>
                    継続飼育する覚悟があること</h3>
                    <p>家族構成や、生活環境の変化、また、仕事の都合などで転居する必要が生じる場合があります。
                    しかし、ペットを家族として迎え入れているのであれば 、転居先にペット飼育可の住宅を探すなど、ペットの終生飼養を心がけなければなりません。<br>
                    これらのことを十分に念頭に置いて、動物種、成長した時の大きさなどを、飼うか飼わないかを含めて、検討してください。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>10</span></div>
                  <h3>飼えなくなった場合の<br>
                    受け皿を考えておくこと</h3>
                    <p>これまで、①から⑨までペットを飼ううえでの心構えを考えてきましたが、それでも不慮の事故など、さまざまな事情で飼えなくなってしまうケースが出てくることがあるかもしれません。<br>
                      万が一に際に、代わりに飼ってくれる人を見つけておくことも重要です。</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content04">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>犬のことを知ろう</h2>
          </div>
          <div class="content-box__body">
            <article>
              <h3>犬と人の年齢の比較</h3>
              <div class="content-box__body_row">
                <div class="content-box__body_text">
                  <p>小型犬は生後1 年半で人間の20歳となり、<br>
                  その後は1年で4歳増えていきます。<br>
                  大型犬は生後2 年で人間の20歳となり、<br>
                  その後は1年で7歳増えていく計算になります。<br>
                  成犬期の途中までは小型犬の方が成長が早いのに対し、<br>
                  成犬期以降の老化は大型犬の方が早いのです。<br>
                  平均寿命は<strong>「小型犬15歳前後 」「 大型犬13歳前後 」</strong><br>
                  といわれています。</p>
                </div>
                <div class="content-box__body_table">
                  <table>
                    <tr>
                      <th></th>
                      <th>犬の年齢</th>
                      <th>人間の年齢【小型犬】</th>
                      <th>人間の年齢【大型犬】</th>
                    </tr>
                    <tr>
                      <th rowspan="4">子犬期</th>
                      <td>1ヶ月</td>
                      <td>1歳</td>
                      <td>1歳</td>
                    </tr>
                    <tr>
                      <td>3ヶ月</td>
                      <td>5歳</td>
                      <td>2歳</td>
                    </tr>
                    <tr>
                      <td>6ヶ月</td>
                      <td>9歳</td>
                      <td>6歳</td>
                    </tr>
                    <tr>
                      <td>1歳</td>
                      <td>15歳</td>
                      <td>12歳</td>
                    </tr>
                    <tr>
                      <th rowspan="5">成長期</th>
                      <td>2歳</td>
                      <td>24歳</td>
                      <td>19歳</td>
                    </tr>
                    <tr>
                      <td>3歳</td>
                      <td>28歳</td>
                      <td>26歳</td>
                    </tr>
                    <tr>
                      <td>4歳</td>
                      <td>32歳</td>
                      <td>33歳</td>
                    </tr>
                    <tr>
                      <td>5歳</td>
                      <td>36歳</td>
                      <td>40歳</td>
                    </tr>
                    <tr>
                      <td>6歳</td>
                      <td>40歳</td>
                      <td>47歳</td>
                    </tr>
                    <tr>
                      <th rowspan="2">中高年期</th>
                      <td>7歳</td>
                      <td>44歳</td>
                      <td>54歳</td>
                    </tr>
                    <tr>
                      <td>10歳</td>
                      <td>56歳</td>
                      <td>75歳</td>
                    </tr>
                    <tr>
                      <th rowspan="2">高齢期</th>
                      <td>12歳</td>
                      <td>64歳</td>
                      <td>89歳</td>
                    </tr>
                    <tr>
                      <td>15歳</td>
                      <td>76歳</td>
                      <td>110歳</td>
                    </tr>
                  </table>
                  <p>※上記はあくまで目安です。<br>
                  犬種や飼育環境によって個体差があります。</p>
                </div>
              </div>
            </article>
            <article>
              <h3>子犬の成長期（ライフステージ）</h3>
              <div class="content-box__body_list">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex01.png') }}" width="268" height="196" alt="新生児期"/></figure>
                    <h4>新生児期<br>
                      出生～生後2週齢</h4>
                    <p>まだ目が見えず、耳が聞こえない<br>
                      母犬に完全に依存した状態</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex02.png') }}" width="268" height="196" alt="移行期"/></figure>
                    <h4>移行期<br>
                      生後2〜3週齢齢</h4>
                    <p>目が見えるようになり、耳が聞こえるようになる<br>
                    （外界の刺激に気づき反応するようになる）<br>
                    乳歯が生え始める<br>
                    兄弟同士の遊びも開始<br>
                    母犬に完全に依存した状態</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex03.png') }}" width="268" height="196" alt="社会化期"/></figure>
                    <h4>社会化期<br>
                    生後4〜13 週齢<br>
                    （1ヵ月～3ヶ月）</h4>
                    <p>コミュニケーション力を養い、<br>
                    様々な刺激に慣れる時期<br>
                    （外に連れ出すならこれくらいの時期）<br>
                    脳が急激に発達<br>
                    不安よりも好奇心が旺盛<br>
                    人に会わせたり色んな音を聞かせる</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex04.png') }}" width="268" height="196" alt="若齢期"/></figure>
                    <h4>若齢期<br>
                    13週～6ヵ月齢<br>
                    （3ヵ月～6ヵ月）<br>
                    出生～生後2週齢</h4>
                    <p>運動能力が発達<br>
                    歯の生え変わり（乳歯から大人の歯へ）<br>
                    脳が発達し警戒心が芽生えてくる＝社会化期で<br>
                    性格の基礎が若齢期で犬の性格が<br>
                    完成すると言われている<br>
                    社会化期の経験を引き続き慣らし、<br>
                    性格を構築される重要な時期</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex05.png') }}" width="268" height="196" alt="青年期"/></figure>
                    <h4>青年期<br>
                    6ヵ月～1歳半くらい</h4>
                    <p>力も強くなり、頭で考えて理解が<br>
                    できるようになってくる<br>
                    フード1日2回にしてもいい頃<br>
                    オスはマーキング、メスはヒート（生理）が始まる</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex06.png') }}" width="268" height="196" alt="成犬期"/></figure>
                    <h4>成犬期<br>
                    1歳半～7歳くらい</h4>
                    <p>身体的にも成長が落ち着く、<br>
                    精神的に落ち着く</p>
                  </li>
                </ul>
              </div>
            </article>
            <article>
              <h3>犬の健康を保つ5つの基礎</h3>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon01.png') }}" width="150" height="150" alt="食事"/></span></div>
              <div class="content-box__body_text_center">
              <p><strong>犬には1日2回生後半年頃までは1日3回ご飯を与えます。</strong><br>
              その他にオヤツを与えることはありますが、基本的にはドッグフードが主な食べ物です。<br>
              人間の食べ物の中には、犬に害のあるものがありますし、栄養が偏ってしまうこともあります。<br>
              また、人間の食べ物はカロリーが高いので肥満の原因にもなります。<br>
              犬の健康を守るため、犬が欲しがったとしても、人間の食べ物は与えないようにしましょう。</p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_food">
                  <h4>犬に害のある食べ物</h4>
                  <ul>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food01.png') }}" width="181" height="134" alt="チョコレート"/>
                        <figcaption>チョコレート</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food02.png') }}" width="181" height="134" alt="ネギ類"/>
                        <figcaption>ネギ類<br>
                          (たまねぎ・ねぎ・ニラなど)</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food03.png') }}" width="181" height="134" alt="レーズンやぶどう"/>
                        <figcaption>レーズンやぶどう</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food04.png') }}" width="181" height="134" alt="コーヒー"/>
                        <figcaption>コーヒー</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food05.png') }}" width="181" height="134" alt="アルコール類"/>
                        <figcaption>アルコール類</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food06.png') }}" width="181" height="134" alt="火の通った骨など"/>
                        <figcaption>火の通った骨など</figcaption>
                      </figure>
                    </li>
                  </ul>
                  <div class="content-box__body_corner_food_notice">
                    <p><strong>小さな犬はこれらの食べ物を少し食べただけでも、ひどい嘔吐や下痢をする</strong>ことがあるので、<br>
                    十分注意してください 。もし愛犬の食欲がなかったり食べ方がいつもと違う時は、<br>
                    体に異変がある可能性があるので、食べている間も観察しましょう。</p>
                  </div>
                </div>
                <div class="content-box__body_corner_fat">
                  <h4>肥満は寿命を縮めます</h4>
                  <div class="content-box__body_corner_fat_article">
                    <figure><img src="{{ asset('assets/img/guide/guide-content04-img01.png') }}" width="374" height="315" alt="肥満は寿命を縮めます"/></figure>
                    <p><strong>犬が病気に陥りやすい大きな原因は肥満です。</strong><br>
                    肥満は、関節や臓器に負担がかかるだけでなく、犬の寿命を縮めるという研究結果も出ています。<br>
                    しかし、犬の肥満を予防することはとても簡単です。<br>
                    なぜなら、犬がどれだけ食べるのかは、人間が管理することができるからです。<br>
                    犬に適切な質と量の食べ物さえ与えていれば、肥満になることはありません。<br>
                    定期的に体重を量りボディコンディションスコアを見ながら、自分の犬の適正体重を維持するようにしましょう。</p>
                  </div>
                </div>
                <div class="content-box__body_corner_fat2">
                  <h4><span>愛犬が太ってきたら…</span></h4>
                  <div class="content-box__body_corner_fat2_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon03.png') }}" width="216" height="210" alt="フードの量を減らす"/></figure>
                        <h5>フードの量を減らす</h5>
                        <p>毎日与えているフードの量を<br>
                          少し減らしましょう。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon04.png') }}" width="216" height="210" alt="フードの質を見直す"/></figure>
                        <h5>フードの質を見直す</h5>
                        <p>フードの袋の後ろには成分表記があります。<br>
                        量を減らしたくない場合は、<br>
                        現在与えているフードの成分よりも<br>
                        タンパク質や脂質が低いものを選び、<br>
                        運動量を増やしましょう。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon05.png') }}" width="216" height="210" alt="運動量を増やす"/></figure>
                        <h5>運動量を増やす</h5>
                        <p>フードの量や質を変えたくない場合は、<br>
                          運動量を増やしましょう。</p>
                      </li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_fat2_article">
                    <h4>ボディ・コンディション・スコア(BCS)</h4>
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat01.png') }}" width="326" height="194" alt="BCS1"/></figure>
                        <small>BCS1</small>
                        <h5>痩せ</h5>
                        <p>肋骨、腰椎、骨盤が外から容易に見える。触っても脂肪がわからない。腰のくびれを腹部の吊り上がりが顕著。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat02.png') }}" width="326" height="194" alt="BCS2"/></figure>
                        <small>BCS2</small>
                        <h5>やや痩せ</h5>
                        <p>肋骨が容易に触る。上から見て腰のくびれは顕著で、腹部の吊り上がりも明瞭。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat03.png') }}" width="326" height="194" alt="BCS3"/></figure>
                        <small>BCS3</small>
                        <h5>理想的</h5>
                        <p>過剰な脂肪の沈着なしに、肋骨が触れる。上から見て肋骨の後ろに腰のくびれが見られる。横から見て腹部の吊り上がりが見られる。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat04.png') }}" width="326" height="194" alt="BCS4"/></figure>
                        <small>BCS4</small>
                        <h5>やや肥満</h5>
                        <p>志望の沈着はやや多いが、肋骨は触れる。上から見て腰のくびれは見られるが、顕著ではない。腹部の吊り上がりはやや見られる。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat05.png') }}" width="326" height="194" alt="BCS5"/></figure>
                        <small>BCS5</small>
                        <h5>肥満</h5>
                        <p>厚い脂肪におおわれて肋骨が容易に触れない。腰椎や尾根部にも脂肪が沈着。腰のくびれはないが、ほとんど見られない。腹部の吊り上がりは見られないが、むしろ垂れ下がっている。</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon06.png') }}" width="150" height="150" alt="睡眠"/></span></div>
              <div class="content-box__body_text_center">
              <p><strong>この場所は快適で安心できる場所だと思うと、よく眠るようになります。</strong><br>
              逆に、快適ではなく安心することができないと思うと、睡眠時間は減少しストレスは増加します。<br>
              そのため、犬が生活する場所では、快適に過ごせる空間作りを心がけましょう。<br>
              例えば、リビングには犬用のベッドを置き、クレート内にはマットを引きます。<br>
              夏には室内温度が上がりすぎないように配慮してあげてください。</p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_sleep">
                  <h4>クレートもしくはゲージ内で<br>
                    大人しく過ごせるようにする</h4>
                  <p>日々の生活の中でクレートなどを使用するかどうかは、ご家庭によって異なるかと思いますが、<br>
                  クレートの中で、ある一定の時間を過ごすことに犬を慣れさせておけば、<br>
                  いざという時に犬の安全を確保するための有効な手段として使えます。<br>
                  また、犬はクレート内が快適で安心できる場所だと分かると、自ら中に入り、寝るようになります。<br>
                  <strong>クレートの使用用途には以下のようなものがあります。</strong></p>
                  <div class="content-box__body_corner_sleep_list">
                    <ul>
                      <li><i class="bi bi-check"></i>就寝時</li>
                      <li><i class="bi bi-check"></i>留守番の時</li>
                      <li><i class="bi bi-check"></i>車や電車などの移動時</li>
                      <li><i class="bi bi-check"></i>災害避難時</li>
                      <li><i class="bi bi-check"></i>犬が苦手な人が来客する時など</li>
                    </ul>
                  </div>
                  <p>クレートトレーニングにおいて重要なことは、<br>
                  犬が<strong>「クレート内は自分だけの心地いい場所である」</strong>と思ってもらうことです。<br>
                  その為には、クレートに入れるときはオヤツや犬の好きなオモチャをハウスに入れるなど工夫をしながら、<br>
                  クレート内で過ごす習慣をつけましょう。</p>
                  <figure><img src="{{ asset('assets/img/guide/guide-content04-img02.png') }}" width="1010" height="360" alt="クレートトレーニング"/></figure>
                  <p>しっかりとしつけをされた犬であれば、室内でフリーにしても<br>
                  イタズラや排泄の失敗をすることなくお留守番ができますが、子犬の場合はそれができません。<br>
                  また、子犬のイタズラ癖や、トイレの失敗癖を覚えてしまうと、その癖を改善するのは非常に困難です。<br>
                  その為、3時間 クレート内でお留守番ができる時間 以上のお留守番をさせなければいけない場合は、<br>
                  子犬がイタズラができず、専用の排泄スペースがある空間である<strong>「子犬のお部屋」</strong>を作り、その中でお留守番させましょう。<br>
                  そして、成長に合わせ、徐々に室内フリーでもお留守番ができるようになります。</p>
                  <div class="content-box__body_corner_sleep_list2">
                    <ul>
                      <li><i class="bi bi-check"></i>子犬がペットシーツで遊ぶ場合は、専用のトレーを使用する</li>
                      <li><i class="bi bi-check"></i>オモチャは子犬が破壊できないもの、誤飲の恐れがない大きさのものを選ぶ</li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_sleep_list3">
                    <h5><span>上手にお留守番させるには…</span></h5>
                    <ul>
                      <li>最初は 30分～1時間から始め、徐々に時間を長くし、また定期的にお留守番させる時間をつくり、家に人がいないことに慣れさせましょう。</li>
                      <li>イタズラができそうなものゴミ箱、テーブルの上の食べ物スリッパなどは片付けておきましょう。</li>
                      <li>お留守番の前には、しっかりと散歩させ、疲れさせておきましょう。</li>
                      <li>犬用の知育玩具などを使い、犬が退屈しない工夫をしましょう。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon08.png') }}" width="150" height="150" alt="トイレ"/></span></div>
              <div class="content-box__body_text_center">
              <p><strong>子犬を迎えてから多くの方が悩まされるのは、トイレの問題かと思います。</strong><br>
              ブリーダーさんの元ではきちんとできていたとしても、環境が変わると失敗する可能性がでてきます。<br>
              失敗を繰り返させないことが大切です。覚えるまでは根気強く教えてあげましょう。</p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_toilet">
                  <h4>トイレのタイミング</h4>
                  <div class="content-box__body_corner_toilet_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon10.png') }}" width="131" height="111" alt="朝起きた時"/>
                          <figcaption>朝起きた時</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon11.png') }}" width="131" height="111" alt="食事のあと"/>
                          <figcaption>食事のあと</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon12.png') }}" width="131" height="111" alt="運動または遊んだ(興奮した)あと"/>
                          <figcaption>運動または<br>
                            遊んだ(興奮した)あと</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon13.png') }}" width="131" height="111" alt="床のニオイを嗅ぎ始めた時"/>
                          <figcaption>床のニオイを<br>
                            嗅ぎ始めた時</figcaption>
                        </figure>
                      </li>
                    </ul>
                    <p><strong>上記はタイミングの目安です。</strong><br>
                      基本的に子犬は23時間に1回トイレをすることを頭に入れておきましょう。</p>
                  </div>
                  <div class="content-box__body_corner_toilet_list2">
                    <h5><span>トイレを教えるときのポイント…</span></h5>
                    <ul>
                      <li><strong>タイミングを見計らってトイレに連れて行きます。</strong><br>
                      場所を覚えてもらう為、上記にあるトイレのタイミングにしてほしい所に誘導しましょう。<br>
                      まずは抱っこでも構いません。<br>
                      ペットシーツの上、トイレトレーの上など、してほしい場所まで連れて行ってあげてください。</li>
                      <li><strong>においを嗅がせてあげます。</strong><br>
                      犬はニオイを嗅ぐことでここはトイレをする場所だということが分かります。<br>
                      そして犬がニオイを嗅いでいる間、今はトイレの時間だよということを伝えるためにコマンド<br>
                      (＝合図)を出します。「ワンツー ワンツー」「ちっち 」など言い方は様々ですが、<br>
                      繰り返し言い続け印象付けることで、そのコマンドを聞くとトイレをしたくなるようになります。<br>
                      出先などで、「今のうちにオシッコをさせたいな」「このあと行くところでオシッコされると困る」<br>
                      という時にはとても助かりますよね。<br>
                      ※犬がニオイ嗅ぎをやめてトイレをし始めたら、コマンドを言うのをやめましょう</li>
                      <li><strong>成功したらたくさん褒めてあげます。</strong><br>
                      ちょっとしたご褒美をあげるのもOK<br>
                      ※糞は放置せず、すぐに処理しましょう。（食糞防止）</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon14.png') }}" width="150" height="150" alt="運動"/></span></div>
              <div class="content-box__body_text_center">
              <p><strong>運動が不十分になった時に起こる悪い影響は数多くありますが、一番困るのは問題行動を起こすことです。</strong><br>
              「よく吠える」「家具をかじる」「子供を追いかける」など、ドッグトレーナーが飼い主から相談を受ける様々な問題行動は、<br>
                運動不足によるストレスが原因である可能性があります。<br>
              犬にため、そして飼い主のためにも運動する時間は毎日しっかりと取ってあげましょう。</p>
                <div class="content-box__body_text_center_merit">
                  <h4>お散歩(運動)によるメリット</h4>
                  <figure><img src="{{ asset('assets/img/guide/guide-content04-img05.png') }}" width="651" height="380" alt="肥満防止・ストレス解消・脳の活性化・よく眠れる"/></figure>
                </div>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_sports">
                  <div class="content-box__body_corner_sports_list">
                    <h5><span>お散歩中の注意点</span></h5>
                    <ul>
                      <li>犬のフンは必ず持ち帰りましょう。</li>
                      <li>犬の中には、散歩の途中でマーキング オシッコを色々なところにする行動をする子がいます。<br>
                      毎回している場合、これは癖になっているので治すのに時間がかかりますが、<br>
                      マーキングは他人の家の敷地内であったり、歩道にしないようにお気をつけながら歩いてください。</li>
                      <li>もし、犬がしてはいけない場所でオシッコやフンをしてしまった場合は、<br>
                        水などをかけるなどをして対処してください。</li>
                      <li>歩道のないところで車、バイク、自転車などが近づいてきたら、犬を自分に近づけ、<br>
                      端によって通り過ぎるまで待ってください。<br>
                      リードを緩く持ったままでは、犬が急に動いた際に事故に遭う可能性があります。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon15.png') }}" width="150" height="150" alt="トリミング・グルーミング"/></span>
              <h4>トリミング・グルーミング</h4></div>
              <div class="content-box__body_text_center_row">
                <div class="content-box__body_text_center_desc">
                  <dl>
                    <dt>トリミング</dt>
                    <dd>毛のカットをおこなうこと</dd>
                  </dl>
                  <dl>
                    <dt>グルーミング</dt>
                    <dd>爪切りや耳掃除など、犬のお手入れ全般</dd>
                  </dl>
                </div>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_trimming">
                  <h4>トリミングの必要性</h4>
                  <div class="content-box__body_corner_trimming_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon17.png') }}" width="190" height="146" alt="体の清潔を保つ"/></figure>
                        <h5>体の清潔を保つ</h5>
                        <p>人間のように毎日する必要はありませんが、犬だって日々の汚れは蓄積されています。<br>
                          洗いすぎはよくないですが、定期的なケアが必要になってきます。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon18.png') }}" width="190" height="146" alt="身体の触られることに慣らす"/></figure>
                        <h5>身体の触られることに慣らす</h5>
                        <p>子犬の頃から慣らす必要がありますが、普段から定期的なお手入れをしておくことで、犬もだんだんと触られることへの抵抗感が少なくなっていきます。<br>
                        トリミングサロンに連れて行くのであれば慣れていた方が犬の負担も少ないですし、動物病院では診察しやすいというメリットがあります。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon19.png') }}" width="190" height="146" alt="健康チェック"/></figure>
                        <h5>健康チェック</h5>
                        <p>定期的にトリミングやグルーミングを行うことで、体調の変化に気づきやすくなります。<br>
                          いつもより毛が抜ける、肌荒れしている、傷がある、などの小さな変化をいち早く発見することができます 。</p>
                      </li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_trimming_list2">
                    <div class="content-box__body_corner_trimming_list2_text">
                      <h5><span>愛犬のグルーミングに挑戦してみよう!</span></h5>
                      <ul>
                        <li>シャンプー</li>
                        <li>ドライ</li>
                        <li>爪切り</li>
                        <li>足裏カット</li>
                        <li>耳掃除</li>
                      </ul>
                    </div>
                    <figure><img src="{{ asset('assets/img/guide/guide-content04-img07.png') }}" width="227" height="211" alt="グルーミング"/></figure>
                  </div>
                  <div class="content-box__body_corner_trimming_list3">
                      <h5><span>犬の気持ちを理解する</span></h5>
                      <p>犬たちは自分の気持ちを言葉で伝える代わりに、体の動きで表現します。<br>
                        犬が何を求めているか、どういう気持ちでいるか、耳の代わりに目を向けてあげてください。</p>
                    <figure>
                      <figcaption>犬の行動チャート(犬語)</figcaption>
                      <img src="{{ asset('assets/img/guide/guide-content04-img08.gif') }}" width="227" height="211" alt="犬の行動チャート(犬語)"/>
                    </figure>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content05">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>準  備</h2>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_container">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num01.png') }}" width="78" height="78" alt="1"/></div>
              <div class="content-box__body_container_title">
                <h3>環境の見直し</h3>
                <p>犬にとって危険なものがないかをチェック<br>
                  子犬が安心して過ごせる環境を作ってあげましょう。</p>
              </div>
              <div class="content-box__body_container_article">
                <article>
                  <h4>家の中</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img01.jpg') }}" width="321" height="214" alt="玄関"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>玄関</span></h5>
                      <p>犬が直接外に出られないような脱走防止策はありますか？<br>
                        家の目の前が道路の場合、玄関から外に出てしまい事故に遭って…</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img02.jpg') }}" width="321" height="214" alt="高さのあるソファやベッド、階段"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>高さのあるソファやベッド、階段</span></h5>
                      <p>乗り降りを繰り返すと足腰の負担となり、少しずつダメージが増えていってしまいます。<br>
                      特に小型犬では膝蓋骨脱臼パテラ になってしまったり、<br>
                      高さがあれば骨折してしまうことがあります。<br>
                      ダックスフンドやコーギーのように短足で胴長の子体高が低い子は、<br>
                      腰の負担が特に大きいので注意してください。</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img03.jpg') }}" width="321" height="214" alt="滑りやすい床"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>滑りやすい床</span></h5>
                      <p>フローリングなどの滑りやすいツルツルとした床は、転んでケガをする恐れがあり、<br>
                      犬にとっては歩きにくいので足腰に負担がかかってしまいます。<br>
                      ワンちゃんが行動する範囲だけでも、滑らないシートやマットを敷いてあげましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>キッチン</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img04.jpg') }}" width="321" height="214" alt="キッチン"/></figure>
                    <div class="content-box__body_container_article_text">
                      <p>ゴミ袋を漁る能性があり、興味が強い子だと簡単にゴミ袋を破ってしまいます。<br>
                      イタズラをされないよう、蓋付きのごみ箱に入れておくなどの対策が必要です。<br>
                      人間の食べ物は犬にとって危険なものがあるので、きちんと見直しましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>リビング</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img05.jpg') }}" width="321" height="214" alt="コードやコンセント"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>食事中、床にこぼれた物</li>
                        <li><i class="bi bi-check"></i>人間と同じご飯を与えてはいけません</li>
                      </ul>
                      <h5><span>コードやコンセント</span></h5>
                      <p>出しっぱなしや補強されていないコンセントは、犬の脚がコードにひっかかる可能性があり、かじってしまった場合には感電してしまう恐れもあります。</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img06.jpg') }}" width="321" height="214" alt="観葉植物や花"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>観葉植物や花</span></h5>
                      <p>犬が中毒を起こす植物には、観葉植物や花などを含め多くの種類があります。<br>
                      中毒症状は植物によって異なり、軽度の皮膚症状や消化器症状が現れるものもあれば、<br>
                      神経症状や心臓、呼吸器の症状など重症になる例もみられます。<br>
                      症状の軽度は、植物の種類や量によります。<br>
                      犬は身の回りに植物があると、興味がわいたときや退屈したときなどに、<br>
                      噛んだり口に入れて食べてしまったりすることがあります。</p>
                      <p><strong>散歩の際にも、屋外では植物に殺虫剤や除草剤がかかっていることもあるので、注意が必要です。</strong></p>
                      <p>万が一、口にしてしまった際はすぐに動物病院に行きましょう。
                      この時、慌てず「 どんな植物をどのくらい食べたか」を覚えておき、
                      獣医師に伝えられるようにしましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>ベランダや庭</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img07.jpg') }}" width="321" height="214" alt="ベランダや庭"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>家の中と同じく、植物や花には注意が必要です。</li>
                      </ul>
                      <h5><span>逃走のキケンがないか</span></h5>
                      <p>犬は小さな隙間もすり抜けることができます。<br>
                      お庭の場合、木や植物で見えないようなところは特に注意し確認してみましょう。<br>
                      ベランダの場合は、柵の幅が大きいと落下の危険性が伴いますので、<br>
                      板でふさぐなどの対策が必要になります。</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="content-box__body_container">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num02.png') }}" width="78" height="78" alt="2"/></div>
              <div class="content-box__body_container_title">
                <h3>必要なグッズをそろえる</h3>
              </div>
              <div class="content-box__body_container_article">
                <article>
                  <h4>サークル</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img08.jpg') }}" width="321" height="214" alt="サークル"/></figure>
                    <div class="content-box__body_container_article_text">
                      <p><strong>Uターンができ、楽にフセもできるくらいの大きさのものを用意しましょう。</strong><br>
                      ベッドとトイレが近すぎると、犬のきれい好きな習性的に寝る場所に近いところでは<br>
                      トイレをしたくないことが多く、お部屋であまりしなくなってしまうことがあるので、<br>
                      ベッドとトイレは少し離せるくらいの大きさにすることをおすすめします。<br>
                      なるべく人が通らないスペースにお部屋を設置してあげましょう。</p>
                      <p><strong>扉の横や、ソファの近くの場合は人がよく行き来するのであまり落ち着けません。
                        人の通りが少ない部屋の隅などがオススメです。</strong></p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>トイレ</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img09.jpg') }}" width="321" height="214" alt="トイレ"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>基本的にはペットシーツのみでトイレは可能</li>
                        <li><i class="bi bi-check"></i>シーツを噛みちぎってしまう場合は、トイレトレーを使用する</li>
                        <li><i class="bi bi-check"></i>サイズが小さいと体がはみ出でしまいトイレの失敗につながるため、大きめサイズをチョイスしましょう。</li>
                      </ul>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row_image">
                    <ul>
                      <li>
                        <figure>
                          <figcaption>ベッド</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img10.jpg') }}" width="321" height="214" alt="ベッド"/>
                        </figure>
                      </li>
                      <li>
                        <figure>
                          <figcaption>クレート</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img11.jpg') }}" width="321" height="214" alt="クレート"/>
                        </figure>
                      </li>
                      <li>
                        <figure>
                          <figcaption>フード</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img12.jpg') }}" width="321" height="214" alt="フード"/>
                        </figure>
                      </li>
                    </ul>
                  </div>
                </article>
                <article>
                  <h4>お散歩グッズ</h4>
                  <div class="content-box__body_container_article_row_image2">
                    <h5>リード・ハーネス・散歩バッグ・うんち袋・水入れ</h5>
                    <ul>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img13.jpg') }}" width="321" height="214" alt="リード・ハーネス"/></li>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img14.jpg') }}" width="321" height="214" alt="散歩バッグ・うんち袋"/></li>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img15.jpg') }}" width="321" height="214" alt="水入れ"/></li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
            <div class="content-box__body_container">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num03.png') }}" width="78" height="78" alt="3"/></div>
              <div class="content-box__body_container_title">
                <h3>あると便利なもの</h3>
              </div>
              <div class="content-box__body_container_goods">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img16.png') }}" width="321" height="214" alt="コング"/>
                      <figcaption>コング</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img17.png') }}" width="321" height="214" alt="グルーミング用品(スリッカー・コーム・歯ブラシ)"/>
                      <figcaption>グルーミング用品<small>(スリッカー・コーム・歯ブラシ)</small></figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img18.png') }}" width="321" height="214" alt="爪切り"/>
                      <figcaption>爪切り</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img19.png') }}" width="321" height="214" alt="犬用の食器"/>
                      <figcaption>犬用の食器</figcaption>
                    </figure>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-box__body_container">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num04.png') }}" width="78" height="78" alt="4"/></div>
              <div class="content-box__body_container_title">
                <h3>もしもの時を考える</h3>
              </div>
              <div class="content-box__body_container_memo">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon02.png') }}" width="321" height="214" alt="病院"/>
                      <figcaption>病院</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon03.png') }}" width="321" height="214" alt="預かってくれるところがあるか"/>
                      <figcaption>預かってくれる<br>
                        ところがあるか</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon04.png') }}" width="321" height="214" alt="災害時"/>
                      <figcaption>災害時</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon05.png') }}" width="321" height="214" alt="逃げてしまった行方不明"/>
                      <figcaption>逃げてしまった<br>
                        行方不明</figcaption>
                    </figure>
                  </li>
                </ul>
                <div class="content-box__body_container_memo_c">
                  <figure><img src="{{ asset('assets/img/guide/guide-content05-icon06.png') }}" width="321" height="214" alt="マイクロチップ"/></figure>
                  <p><strong>マイクロチップを検討してみるのもアリ!</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="pagetop"><a href="#wrapper"><i class="bi bi-arrow-bar-up"></i></a></div>
      
  </main>
  
  <footer>
    <div class="inner">
      <div class="footer-row">
        <div class="footer-logo"><a href=""><img src="{{ asset('assets/img/guide/logo.png') }}" width="305" height="40" alt="Animalline"/></a></div>
        <div class="footer-link">
          <a href="">会社概要</a>｜<a href="">特定商取引法に基づく表記</a>｜<a href="">プライバシーポリシー</a>
        </div>
      </div>
      <div class="copyright"><small>Copyright ●● 2021 All right reserved.</small></div>
    </div>
  </footer>
  
  <div id="side-menu">
    <div class="side-menu__count">
      <div class="header-count__dogs"><span>子犬掲載数</span><strong><i>2,652</i>頭</strong></div>
      <div class="header-count__breeders"><span>ブリーダー数</span><strong><i>2,562</i>人</strong></div>
    </div>
    <div class="side-menu__list">
      <ul>
        <li class="member">
          <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          <span>会員登録</span>
          </a>
        </li>
        <li class="breeder">
          <a href="">
            <i><img src="{{ asset('assets/img/guide/icon-bone2.png') }}" width="16" height="9" alt="ブリーダー登録"/></i>
            <span>ブリーダー登録</span>
          </a>
        </li>
        <li class="adoption">
          <a href="">
            <i><img src="{{ asset('assets/img/guide/icon-care.png') }}" width="12" height="12" alt="保護団体登録"/></i>
            <span>保護団体登録</span>
          </a>
        </li>
        <li class="login">
          <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
          <span>ログイン</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/jquery.matchHeight.js') }}"></script>
<script src="{{ asset('assets/js/common.js') }}"></script>
</body>
</html>
