{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="guide-mv">
      <div class="guide-mv__title">
        <h2><img src="{{ asset('assets/img/guide/guide-mv-dog.png') }}" width="346" height="346" alt="お迎えガイド(犬の場合)"/></h2>
      </div>
      <div class="guide-mv__link">
        <a href="{{url('breeder_guide_cat')}}"><img src="{{ asset('assets/img/guide/guide-mv-link-cat.png') }}" width="123" height="123" alt="猫の場合はこちら"/></a>
      </div>
    </section>
    
    <section id="guide-nav">
      <div class="inner">
        <div class="guide-nav_row">
          <h2>目次</h2>
          <div class="guide-nav_content">
            <h3><span>1</span><br>
              子犬の選び方</h3>
            <ul>
              <li><a href="#guide-content01"><i class="bi bi-arrow-right-circle"></i>自分に（または家族に）合うワンちゃんを探す</a></li>
              <li><a href="#guide-content01_2"><i class="bi bi-arrow-right-circle"></i>中～大型犬を飼うメリット・注意点</a></li>
            </ul>
          </div>
          <div class="guide-nav_content">
            <h3><span>2</span><br>
              子犬を迎える前に</h3>
            <ul>
              <li><a href="#guide-content02"><i class="bi bi-arrow-right-circle"></i>飼い主としての心得</a></li>
              <li><a href="#guide-content04"><i class="bi bi-arrow-right-circle"></i>犬のことを知ろう!</a></li>
              <ul class="child">
                <li><a href="#guide-content04"><i class="bi bi-chevron-right"></i>犬と人の年齢の比較</a></li>
                <li><a href="#guide-content04_2"><i class="bi bi-chevron-right"></i>子犬の成長期(ライフステージ)</a></li>
                <li><a href="#guide-content04_3"><i class="bi bi-chevron-right"></i>犬の健康を保つ5つの基礎</a></li>
              </ul>
              <li><a href="#guide-content05"><i class="bi bi-arrow-right-circle"></i>準備</a></li>
              <ul class="child">
                <li><a href="#guide-content05"><i class="bi bi-chevron-right"></i>環境の見直し</a></li>
                <li><a href="#guide-content05_2"><i class="bi bi-chevron-right"></i>必要なグッズをそろえる</a></li>
                <li><a href="#guide-content05_3"><i class="bi bi-chevron-right"></i>あると便利なもの</a></li>
                <li><a href="#guide-content05_4"><i class="bi bi-chevron-right"></i>もしもの時を考える</a></li>
              </ul>
            </ul>
          </div>
          <div class="guide-nav_content">
            <h3><span>3</span><br>子犬のしつけ</h3>
            <ul>
              <li><a href="{{ url("ani_dctn_info") }}"><i class="bi bi-arrow-right-circle"></i>パピーのしつけは、はじめが大切!</a></li>
              <li><a href="{{ url("ani_dctn_info") }}#trainer-content03"><i class="bi bi-arrow-right-circle"></i>オンラインしつけトレーニング</a></li>
              <li><a href="{{ url("ani_dctn_info") }}#trainer-content07"><i class="bi bi-arrow-right-circle"></i>出張しつけトレーニング<br>
                (関東地域限定)
              <small>※エリア順次拡大</small></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content01">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__num"><img src="{{ asset('assets/img/guide/guide-num01.png') }}" width="132" height="132" alt="1"/></div>
          <div class="content-box__title">
            <h2>子犬の選び方</h2>
            <p>〜自分に（または家族に）合うワンちゃんを探す〜</p>
          </div>
          <div class="content-box__body">
            <dl>
              <dt>初心者におすすめ</dt>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>パピヨン</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
            </dl>
            <dl>
              <dt>室内飼いにおすすめ</dt>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>パピヨン</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
            </dl>
            <dl>
              <dt>お手入れがラク</dt>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>ペキニーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
            </dl>
            <dl>
              <dt>運動量が少なめ</dt>
              <dd><i class="bi bi-chevron-right"></i>チワワ</dd>
              <dd><i class="bi bi-chevron-right"></i>ヨークシャーテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>ペキニーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>マルチーズ</dd>
              <dd><i class="bi bi-chevron-right"></i>ポメラニアン</dd>
              <dd><i class="bi bi-chevron-right"></i>ミニチュアダックスフンド</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
            </dl>
            <dl>
              <dt>温厚で大人しい</dt>
              <dd><i class="bi bi-chevron-right"></i>シーズー</dd>
              <dd><i class="bi bi-chevron-right"></i>トイプードル</dd>
              <dd><i class="bi bi-chevron-right"></i>パグ</dd>
              <dd><i class="bi bi-chevron-right"></i>フレンチブルドッグ</dd>
              <dd><i class="bi bi-chevron-right"></i>ゴールデンレトリバー</dd>
              <dd><i class="bi bi-chevron-right"></i>ラブラドールレトリバー</dd>
            </dl>
            <dl>
              <dt>アクティブで運動が好き!</dt>
              <dd><i class="bi bi-chevron-right"></i>ジャックラッセルテリア</dd>
              <dd><i class="bi bi-chevron-right"></i>コーギー</dd>
              <dd><i class="bi bi-chevron-right"></i>柴犬</dd>
              <dd><i class="bi bi-chevron-right"></i>ボーダーコリー</dd>
              <dd><i class="bi bi-chevron-right"></i>シェットランドシープドッグ</dd>
            </dl>
          </div>
          <div class="content-box__merit" id="guide-content01_2">
            <h3>大型犬を飼うメリット・飼う上での注意点</h3>
            <div class="content-box__merit_body">
              <article>
                <h4>メリット</h4>
                <p><span>①</span>穏やかな性格で社交的な犬種が多いため、初心者でも飼いやすく、お年寄りや赤ちゃんがいるご家庭でもうまく馴染むことができます</p>
                <p><span>②</span>運動量があるため、スポーツを一緒に楽しむことができます</p>
                <p><span>③</span>賢く知能が高い</p>
                <p><span>④</span>多頭飼いに向いている犬種が多く、たくさんの犬に囲まれて暮らしたいという方におすすめ</p>
              </article>
              <article>
                <h4>飼う上での注意点</h4>
                <p><span>①</span>運動量が多いため、毎日の散歩が必須になります（1時間以上を1日2回に加え、ドッグランや庭での運動をプラスすることが望ましい）</p>
                <p><span>②</span>しつけに関して勉強をする覚悟があること。<br>
小型犬であればお散歩でのリードの引っ張りなどもある程度の力で制御することができますが、大型犬はそうはいきません。ケガなどのトラブルにならないよう、子犬の頃からの“しつけ”が重要になってきます。</p>
                <p><span>③</span>小型犬に比べるとコストがかかります（食費、医療費、トリミング代など）</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content02">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__num"><img src="{{ asset('assets/img/guide/guide-num02.png') }}" width="132" height="132" alt="2"/></div>
          <div class="content-box__title">
            <h2>子犬を迎える前に</h2>
            <h3>飼い主として必要な心得</h3>
            <h4>犬を迎える前に知ってほしい「犬の十戒」</h4>
            <p><strong>飼い主への「10の願い」</strong>を描いた、作者不明の短編詩です。<br>
              原文は英語なので、翻訳によって違いはありますが、犬を飼っている人の多くに知れ渡っています。<br>
              家族の一員になるその命に、最後まで幸せにする覚悟を持てますか？<br>
              <strong>その子の幸せは、私たち人間に委ねられていること</strong>を忘れないでください。
            </p>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_tag"><h3>犬の十戒</h3></div>
            <div class="content-box__body_list">
              <ul>
                <li><span>1.</span>私の一生は10年から15年くらいしかありません。<br>
                  あなたと離れることが1番つらいことなのです。できるだけ私と一緒にしてください。</li>
                <li><span>2.</span>あなたが何を求めているかを理解するまで時間がかかるかもしれませんが、気長に付き合ってください。</li>
                <li><span>3.</span>私のことを信じてください。あなたが信じてくれることがなによりの幸せなのです。</li>
                <li><span>4.</span>長い間叱ったり、閉じ込めたりしないでください。<br>
                  あなたには仕事や学校、楽しみもあると思います。でも、私にはあなたしかいません。</li>
                <li><span>5.</span>たくさん話しかけてください。言葉は話せなくても、ちゃんと気持ちは届いています。</li>
                <li><span>6.</span>私にも心があります。あなたがどんな風に接してくれたかを私は絶対に忘れません。</li>
                <li><span>7.</span>私を叩いたりしないでください。本気になったら私の方が強いけれど、私は本気を出していません。<br>
                  私を叩く前に思い出してください。私の歯で、あなたを傷つけることができるけれど、私はあなたを噛まないようにして傷つけないと決めているのです。</li>
                <li><span>8.</span>私が言うことを聞かないときには、理由があります。<br>
                  怒ったりする前に、ご飯に問題がないか、年を取ってきたからじゃないか、と原因を考えてみてください。</li>
                <li><span>9.</span>年を取っても、どうかお世話をしてください。私も、あなたと同じように年を取ります。</li>
                <li><span>10.</span>最後の旅立ちの時には、そばにいて私を見守ってください。<br>
                  「見ているのはつらいから」とか「私のいないところで逝かせてあげて」なんて言わないでください。<br>
                  あなたがそばにいてくれるだけで、安らかに逝くことができます。<br>
                  そして忘れないでください、私はあなたを一番愛しています。</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content03">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>飼い主に必要な条件</h2>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_list">
              <ul>
                <li>
                  <div class="content-box__body_list_num"><span>1</span></div>
                  <h3>家族全員の同意があること</h3>
                  <p>ワンちゃんを迎える際には、家族全員が合意していることが必須です。<br>
                  10年以上は一緒に暮らしていくことになりますが、その間には生活環境が変わることがあるかもしれません。<br>
                  引越し、自分またはご家族の病気、家族構成など様々な変化が起こることも考えられます。<br>
                  何が起きたとしても、ワンちゃんへの対応は家族全員で考えてあげてください。<br>
                  また、一人暮らしの方や高齢の方が飼う場合、飼えなくなった際はどうするか決めておくことをおすすめします。<br>
                  病気や不慮の事故など、さまざまな事情で飼えなくなってしまう事があるかもしれません。<br>
                  万が一を考え、自分に何かあった際は代わりに飼ってくれる人がいるかどうかを考えておくことも重要です。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>2</span></div>
                  <h3>犬アレルギーの有無</h3>
                    <p>自身またはご家族の中に犬アレルギーのある方はいらっしゃいませんか？<br>
お迎え後にアレルギーが発覚してしまった際、最悪の場合には手放せざるを得ないという事態になりかねません。<br>
未然に防ぐ為、事前のアレルギー検査をおすすめします。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>3</span></div>
                  <h3>ペットを飼える住宅環境かどうか</h3>
                    <p>「ペット可」の物件に住んでいることは必須条件となります。<br>
いくら可愛い子と出会ったとしても、安心して飼える環境になるまでは我慢が必要です。こっそり飼うのは契約違反になり、トラブルの原因となります。ワンちゃんを不幸にしない為にも、周辺の環境を今一度確認してみてください。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>4</span></div>
                  <h3>最期（寿命）まで飼育する覚悟があること</h3>
                    <p>迎えたその日から、食餌や水を与え、トイレの掃除、散歩、健康管理、しつけ、定期的なトリミング（犬種による）などのお世話を続けることになります。<br>
お世話をする時間と体力があるかどうか、きちんと考えてみてください。<br>
また、ワンちゃんは10年以上生きることができる動物です。<br>
高齢になれば人間と同じように介護が必要になるかもしれませんので、心構えが必要になります。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>5</span></div>
                  <h3>経済的に余裕があること</h3>
                  <p>食餌代や生活用品、医療費、トリミング代など、様々な費用がかかります。<br>
動物病院での医療費に関しては、ペット保険に加入しておくことで負担額が減ることはありますが、ケガや病気によっては高額になる事もあります。<br>
自分たちの生活で精一杯の場合には、ワンちゃんが適切な生活を送ることができませんので、余裕ができるまで飼うことはおすすめできません。</p>
                </li>
                <li>
                  <div class="content-box__body_list_num"><span>6</span></div>
                  <h3>しつけの必要性を理解していること</h3>
                    <p>しつけは犬のためでもあり、人と仲良く生活していくために必要な『マナー』です。<br>
「これはあなたの物だけど人の物は取ってはいけないよ」「トイレはここ」「お留守番のときはこういう時間を過ごしてね」などの一般的な生活のルールは人が教えてあげないと、犬は何が良くて何が悪いのかが分かりません。ルールを守ってもらうための“しつけ”を教える事で、犬が怒られてしまった、または行動を制限されるなどの不自由なことが少なくなります。<br>
ルールを身につけるからこそ自由にできることが増えていきます。</p>
                </li>
              </ul>
              <div class="content-box__body_list_ex">
                <figure><img src="{{ asset('assets/img/guide/guide-content03-img01.jpg') }}" alt="しつけの必要性を理解していること" /></figure>
                <p>
                  しつけ+αで、<strong>「一緒に車に乗ってお出かけしたい」「ショッピングモールに連れて行きたい」「テラス席で食事がしたい」</strong>などの、一般的な生活レベルのしつけだけではできないような要望があるのであれば、<strong>“トレーニング”をする必要があります。</strong><br>
                  犬のできることが増えれば、人間とできることの幅がどんどん広がっていきます。<br>
                  それは、いい犬だからできる訳ではなく<strong>「きちんとしつけをされている犬だから」</strong>なのです。<br>
                  <strong>最低でも「おすわり」「ふせ」「まて」「おいで」の指示が聞けるワンちゃんを育てていくことが重要</strong>になります。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content04">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>犬のことを知ろう</h2>
          </div>
          <div class="content-box__body">
            <article>
              <h3>犬と人の年齢の比較</h3>
              <div class="content-box__body_row">
                <div class="content-box__body_text">
                  <p>小型犬は生後1 年半で人間の20歳となり、<br>
                  その後は1年で4歳増えていきます。<br>
                  大型犬は生後2 年で人間の20歳となり、<br>
                  その後は1年で7歳増えていく計算になります。<br>
                  成犬期の途中までは小型犬の方が成長が早いのに対し、<br>
                  成犬期以降の老化は大型犬の方が早いのです。<br>
                  平均寿命は<strong>「小型犬15歳前後 」「 大型犬13歳前後 」</strong><br>
                  といわれています。</p>
                </div>
                <div class="content-box__body_table">
                  <table>
                    <tr>
                      <th></th>
                      <th>犬の年齢</th>
                      <th>人間の年齢【小型犬】</th>
                      <th>人間の年齢【大型犬】</th>
                    </tr>
                    <tr>
                      <th rowspan="4">子犬期</th>
                      <td>1ヶ月</td>
                      <td>1歳</td>
                      <td>1歳</td>
                    </tr>
                    <tr>
                      <td>3ヶ月</td>
                      <td>5歳</td>
                      <td>2歳</td>
                    </tr>
                    <tr>
                      <td>6ヶ月</td>
                      <td>9歳</td>
                      <td>6歳</td>
                    </tr>
                    <tr>
                      <td>1歳</td>
                      <td>15歳</td>
                      <td>12歳</td>
                    </tr>
                    <tr>
                      <th rowspan="5">成長期</th>
                      <td>2歳</td>
                      <td>24歳</td>
                      <td>19歳</td>
                    </tr>
                    <tr>
                      <td>3歳</td>
                      <td>28歳</td>
                      <td>26歳</td>
                    </tr>
                    <tr>
                      <td>4歳</td>
                      <td>32歳</td>
                      <td>33歳</td>
                    </tr>
                    <tr>
                      <td>5歳</td>
                      <td>36歳</td>
                      <td>40歳</td>
                    </tr>
                    <tr>
                      <td>6歳</td>
                      <td>40歳</td>
                      <td>47歳</td>
                    </tr>
                    <tr>
                      <th rowspan="2">中高年期</th>
                      <td>7歳</td>
                      <td>44歳</td>
                      <td>54歳</td>
                    </tr>
                    <tr>
                      <td>10歳</td>
                      <td>56歳</td>
                      <td>75歳</td>
                    </tr>
                    <tr>
                      <th rowspan="2">高齢期</th>
                      <td>12歳</td>
                      <td>64歳</td>
                      <td>89歳</td>
                    </tr>
                    <tr>
                      <td>15歳</td>
                      <td>76歳</td>
                      <td>110歳</td>
                    </tr>
                  </table>
                  <p>※上記はあくまで目安です。<br>
                  犬種や飼育環境によって個体差があります。</p>
                </div>
              </div>
            </article>
            <article id="guide-content04_2">
              <h3>子犬の成長期（ライフステージ）</h3>
              <div class="content-box__body_list">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex01.png') }}" width="268" height="196" alt="新生児期"/></figure>
                    <h4>新生児期<br>
                      出生～生後2週齢</h4>
                    <p>まだ目が見えず、耳も聞こえません<br>
                      母犬に完全に依存した状態です</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex02.png') }}" width="268" height="196" alt="移行期"/></figure>
                    <h4>移行期<br>
                      生後2〜3週齢齢</h4>
                    <p>目が見えるようになり、耳も聞こえるようになります<br>
                      （外界の刺激に気づいて反応するようになる）<br><br>
                      乳歯が生え始め、兄弟同士の遊びも開始します</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex03.png') }}" width="268" height="196" alt="社会化期"/></figure>
                    <h4>社会化期<br>
                    生後4〜13 週齢<br>
                    （1ヵ月～3ヶ月）</h4>
                    <p><strong>性格の基礎をつくる1番大切な時期です</strong><br>
                      コミュニケーション力を養い、様々な刺激にも慣れやすいです<br>
                      この<strong>不安が少なく好奇心旺盛な時期</strong>のうちに、積極的に色んな物や人を見せ、音を聞かせておけばすぐに慣れることができます<br><br>
                      混合ワクチン2回目終了後は、狂犬病ワクチンを打っていなくても、他の人や犬に触れないように注意していれば外で歩かせても問題ありません<br>
                      怖がるようであれば、地面の感触に慣らす程度にしましょう<br>
                      それまでは、<strong>抱っこの状態でお散歩</strong>に行ってあげてください</p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex04.png') }}" width="268" height="196" alt="若齢期"/></figure>
                    <h4>若齢期<br>
                    13週～6ヵ月齢<br>
                    （3ヵ月～6ヵ月）<br>
                    出生～生後2週齢</h4>
                    <p>歯が生え変わります（乳歯から大人の歯へ）<br>
                      運動能力が発達<br><br>
                      <strong>4ヶ月を過ぎた頃から警戒心が芽生えてきてしまう</strong>ので、社会化期と同様、慣らす為の経験をさせていくことが大切です<br><br>
                      この時期に性格の構成が完成すると言われています
                    </p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex05.png') }}" width="268" height="196" alt="青年期"/></figure>
                    <h4>青年期<br>
                    6ヵ月～1歳半くらい</h4>
                    <p>力も強くなり、頭で考え理解ができるようになってきます<br>
                      <strong>フードを1日2回</strong>に切り替えてもいい頃です<br>
                      ※オスはマーキング、メスはヒート（生理）が始まります
                      獣医に相談し、避妊・去勢の手術を検討し始めましょう
                    </p>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content03-ex06.png') }}" width="268" height="196" alt="成犬期"/></figure>
                    <h4>成犬期<br>
                    1歳半～7歳くらい</h4>
                    <p>精神的にも、身体的にも落ち着いてきます<br><br>
                      避妊・去勢をすると消費カロリーが減り太りやすくなるので、体重管理に気を付けましょう<br><br>
                      人と同じで病気の発症も心配になってきます<br>
                      動物病院で定期的な健康診断を受けることをオススメします</p>
                  </li>
                </ul>
              </div>
            </article>
            <article id="guide-content04_3">
              <h3>犬の健康を保つ5つの基礎</h3>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon01.png') }}" width="150" height="150" alt="食事"/></span></div>
              <div class="content-box__body_text_center">
                <p><strong>子犬の食事は1日3回、生後半年頃から1日2回</strong>へと回数を減らしていきます。<br><br>
                  子犬用フードから成犬フードへの切り替えは<br>
                  <strong>小型犬が9ヶ月～12ヶ月頃、大型犬は12ヶ月過ぎた頃</strong>が目安になります。<br><br>
                  子犬の頃は消化吸収をよくするために<strong>お湯でふやかしてから</strong>与えますが、<br>
                  <strong>生後3ヶ月頃からカリカリフード</strong>へと切り替えていきます。<br><br>
                  切り替えの際はいきなり硬いのをそのまま与えるのではなく、<br>
                  お湯の量を徐々に減らし硬さを調節していく必要があります。<br>
                  こうする事で慣らしながら与えられるので、カリカリフードへの抵抗力も少なくなります。<br><br>
                  ※上記の時期はあくまでも目安になります。<br>
                  迷った時にはお迎えしたブリーダーさんや獣医さんに相談してみましょう。<br><br>
                  その他にオヤツを与えることもありますが、基本的にはドッグフードが主な食べ物です。<br>
                  人間の食べ物の中には犬に害のあるものがありますし、栄養が偏ってしまうこともあります。<br>
                  人間の食べ物はカロリーが高いので肥満の原因にもなりますので<br>
                  犬の健康を守るため、犬が欲しがったとしても人間の食べ物は与えない方が望ましいです。
                </p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_food">
                  <h4>犬に害のある食べ物</h4>
                  <ul>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food01.png') }}" width="181" height="134" alt="チョコレート"/>
                        <figcaption>チョコレート</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food02.png') }}" width="181" height="134" alt="ネギ類"/>
                        <figcaption>ネギ類<br>
                          (たまねぎ・ねぎ・ニラなど)</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food03.png') }}" width="181" height="134" alt="レーズンやぶどう"/>
                        <figcaption>レーズンやぶどう</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food04.png') }}" width="181" height="134" alt="コーヒー"/>
                        <figcaption>コーヒー</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food05.png') }}" width="181" height="134" alt="アルコール類"/>
                        <figcaption>アルコール類</figcaption>
                      </figure>
                    </li>
                    <li>
                      <figure>
                        <img src="{{ asset('assets/img/guide/guide-content04-food06.png') }}" width="181" height="134" alt="火の通った骨など"/>
                        <figcaption>火の通った骨など</figcaption>
                      </figure>
                    </li>
                  </ul>
                  <div class="content-box__body_corner_food_notice">
                    <p>これらの物は、<strong>犬には絶対に与えてはいけません。</strong><br>
                      小型犬の場合は少量だとしてもひどい嘔吐や下痢などの症状が出てしまう事がありますし、<br>
                      最悪の場合には死に至ってしまうこともありますので十分注意が必要です。<br>
                      もし愛犬の食欲がない、いつもと様子が違うといったことがある時には<br>
                      体に異変がある可能性があるのでよく観察し、何か変化があればすぐに動物病院へ受診しましょう。</p>
                  </div>
                </div>
                <div class="content-box__body_corner_fat">
                  <h4>肥満による犬への影響</h4>
                  <div class="content-box__body_corner_fat_article">
                    <figure><img src="{{ asset('assets/img/guide/guide-content04-img01.png') }}" width="374" height="315" alt="肥満による犬への影響"/></figure>
                    <p><strong>犬の肥満は、様々な病気を引き起こす原因となってしまいます。</strong><br>
                      太りすぎてしまうと関節に負担がかかるだけでなく、心臓や呼吸器にまで負担をかけてしまいます。<br>
                      犬の肥満の原因は、エサを与える人間なのです。適切な質と量の食べ物さえ与えていれば、肥満になることはありません。<br>
                      人間がきちんと管理を行い、肥満を予防してあげましょう。<br>
                      定期的に体重を計り、「ボディコンディションスコア」を参考に、適正体重を維持しましょう。</p>
                  </div>
                </div>
                <div class="content-box__body_corner_fat2">
                  <h4><span>愛犬が太ってきたら…</span></h4>
                  <div class="content-box__body_corner_fat2_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon03.png') }}" width="216" height="210" alt="フードの量を減らす"/></figure>
                        <h5>フードの量を減らす</h5>
                        <p>毎日与えているフードの量を<br>
                          少し減らしましょう。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon04.png') }}" width="216" height="210" alt="フードの質を見直す"/></figure>
                        <h5>フードの質を見直す</h5>
                        <p>フードの袋の後ろには成分表記があります。<br>
                        量を減らしたくない場合は、<br>
                        現在与えているフードの成分よりも<br>
                        タンパク質や脂質が低いものを選び、<br>
                        運動量を増やしましょう。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon05.png') }}" width="216" height="210" alt="運動量を増やす"/></figure>
                        <h5>運動量を増やす</h5>
                        <p>フードの量や質を変えたくない場合は、<br>
                          運動量を増やしましょう。</p>
                      </li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_fat2_article">
                    <h4>ボディ・コンディション・スコア(BCS)</h4>
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat01.png') }}" width="326" height="194" alt="BCS1"/></figure>
                        <small>BCS1</small>
                        <h5>痩せすぎ</h5>
                        <p>肋骨や肋骨や腰骨が浮き出ているのが目ではっきりと見える。<br>
                          体脂肪率5％以下で、上から見ると腰にくびれがあり砂時計のような体型になっている。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat02.png') }}" width="326" height="194" alt="BCS2"/></figure>
                        <small>BCS2</small>
                        <h5>痩せている</h5>
                        <p>痩せすぎまではいかないものの、肋骨がやや浮き出ているのが目で見て分かる。<br>
                          体脂肪率5～15％で、ごく薄い脂肪で覆われているが、ウエストは細く華奢である。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat03.png') }}" width="326" height="194" alt="BCS3"/></figure>
                        <small>BCS3</small>
                        <h5>理想的</h5>
                        <p>適度な脂肪に覆われ、なでると肋骨に触れることができる。<br>
                          上から見た時にはゆるやかなくびれがあり、横から見た場合にはお腹周りが程よく引き締まっている。<br>
                          体脂肪率は15～25％あること。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat04.png') }}" width="326" height="194" alt="BCS4"/></figure>
                        <small>BCS4</small>
                        <h5>やや肥満</h5>
                        <p>見ただけでは肋骨が分からないほど皮下脂肪がついており、体脂肪率は25～35％である。<br>
                          上から見た時には多少のくびれがあり、横から見た時はお腹周りの引き締まりはあまり見られない。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-fat05.png') }}" width="326" height="194" alt="BCS5"/></figure>
                        <small>BCS5</small>
                        <h5>肥満</h5>
                        <p>厚い脂肪に覆われており、見た目だけでなく触っても肋骨が確認できない状態。<br>
                          上から見ても横から見ても、くびれはなく丸々としています。<br>
                          体重の基準は上回り、体脂肪率は35％以上になります。</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon06.png') }}" width="150" height="150" alt="睡眠"/></span></div>
              <div class="content-box__body_text_center">
                <p><strong>快適に過ごせる空間作りを心がけましょう。</strong><br>
                  安心できる場所だと思うとよく眠るようになりますが、<br>
                  安心できない場合には睡眠時間が減少しストレスが増加してしまいます。<br><br>
                  例えば、リビングには犬用のベッドを置き、<br>
                  クレート内にはマットを敷いてあげるなど、安らげる場所をいくつか作ってあげます。<br>
                  また、夏には室内温度が上がりすぎないよう設置場所にも配慮してください。</p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_sleep">
                  <h4>クレートもしくはケージ内で<br>
                    大人しく過ごせるようにする</h4>
                  <p>日々の生活の中でクレートやケージを使用するかどうかはご家庭によって異なるかと思いますが、<br>
                    クレートの中でいる一定の時間を過ごすことに犬を慣れさせておけば<br>
                    いざという時に犬の安全を確保するための有効な手段として使用することができます。</p>
                  <div class="content-box__body_corner_sleep_list">
                    <h5>クレートの仕様用途</h5>
                    <div class="content-box__body_corner_sleep_list_row">
                      <ul>
                        <li><i class="bi bi-check"></i>就寝時</li>
                        <li><i class="bi bi-check"></i>留守番の時</li>
                        <li><i class="bi bi-check"></i>車や電車などの移動時</li>
                        <li><i class="bi bi-check"></i>災害避難時</li>
                        <li><i class="bi bi-check"></i>犬が苦手な人が来客する時など</li>
                      </ul>
                    </div>
                  </div>
                  <p>クレートトレーニングにおいて重要なことは、<br>
                    犬が<strong>「クレート内は自分だけの心地いい場所である」</strong>と思ってもらうことです。<br>
                    その為には、クレートに入れるときはオヤツや犬の好きなオモチャをハウスに入れるなど工夫をしながら、<br>
                    クレート内で過ごす習慣をつけましょう。</p>
                  <figure><img src="{{ asset('assets/img/guide/guide-content04-img02-2.png') }}" width="1010" height="360" alt="クレートトレーニング"/></figure>
                  <p>きちんとしつけをされた犬であれば、室内で自由にしていても<br>
                    イタズラやトイレの失敗をすることなくお留守番ができますが、子犬の場合にはそうはいきません。<br>
                    子犬の「イタズラ癖」や「トイレの失敗癖」は一度身についてしまうと、<br>
                    その癖を改善するのは非常に難しくなってしまいます。<br><br>
                    3時間（クレート内でお留守番ができる時間）以上のお留守番をさせなければいけない場合は、<br>
                    子犬がイタズラできないよう、専用の排泄スペースのある空間の「子犬のお部屋」を作りその中でお留守番させましょう。<br>
                    そして子犬が成長するにつれて、室内でのお留守番が徐々に上手になっていきます。</p>
                  <div class="content-box__body_corner_sleep_list2">
                    <ul>
                      <li><i class="bi bi-check"></i>子犬がペットシーツで遊ぶ場合は、専用のトレーを使用する</li>
                      <li><i class="bi bi-check"></i>オモチャは子犬が破壊できないもの、誤飲の恐れがない大きさのものを選ぶ</li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_sleep_list3">
                    <h5><span>上手にお留守番させるには…</span></h5>
                    <ul>
                      <li><strong>人がいないことに慣れさせる</strong><br>
                        小さい頃から1人で過ごすことに慣らしていくことが大切です。<br>
                        まずは30分～1時間くらいからスタートし、徐々に時間を延ばしていきます。<br>
                        定期的にお留守番させる時間をつくり、お留守番の練習をしましょう。</li>
                      <li><strong>イタズラをさせない</strong><br>
                        子犬の頃は、何が正しくて何が間違っているのか自分では判断できません。<br>
                        イタズラをされて怒るのではなく、怒らないで済むよう未然に防ぐことが重要です。<br>
                        ゴミ箱、テーブルの上の食べ物、スリッパなどはあらかじめ片付けておきましょう。</li>
                      <li><strong>運動で体力を消耗させておく</strong><br>
                        お留守番の前には、散歩や遊びなどで体力を消耗しておくことをオススメします。<br>
                        疲れていればイタズラする体力もなくなり、寝て過ごしてくれるというメリットがあります。</li>
                      <li><strong>飽きない工夫を考える</strong><br>
                        犬用の知育玩具などを使い、退屈しない工夫をしてあげましょう。<br>
                        誤飲のしないような物を選びつつ、危険性のないおもちゃやガムを与えるのも方法の一つです。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon08.png') }}" width="150" height="150" alt="トイレ"/></span></div>
              <div class="content-box__body_text_center">
              <p><strong>子犬を迎えてから多くの方が悩まされるのは、トイレの問題かと思います。</strong><br>
              ブリーダーさんの元ではきちんとできていたとしても、環境が変わると失敗する可能性がでてきます。<br>
              失敗を繰り返させないことが大切です。覚えるまでは根気強く教えてあげましょう。</p>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_toilet">
                  <h4>トイレのタイミング</h4>
                  <div class="content-box__body_corner_toilet_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon10.png') }}" width="131" height="111" alt="朝起きた時"/>
                          <figcaption>朝起きた時</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon11.png') }}" width="131" height="111" alt="食事のあと"/>
                          <figcaption>食事のあと</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon12.png') }}" width="131" height="111" alt="運動または遊んだ(興奮した)あと"/>
                          <figcaption>運動または<br>
                            遊んだ(興奮した)あと</figcaption>
                        </figure>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon13.png') }}" width="131" height="111" alt="床のニオイを嗅ぎ始めた時"/>
                          <figcaption>床のニオイを<br>
                            嗅ぎ始めた時</figcaption>
                        </figure>
                      </li>
                    </ul>
                    <p><strong>上記はあくまで目安です。</strong><br>
                      基本的に子犬は2〜3時間に1回トイレをすることを頭に入れておきましょう。</p>
                  </div>
                  <div class="content-box__body_corner_toilet_list2">
                    <h5><span>トイレを教えるときのポイント…</span></h5>
                    <ul>
                      <li><strong>タイミングを見計らってトイレに連れて行く</strong><br>
                        上記の「トイレのタイミング」を見計らって、ペットシーツの上や、トイレトレーの上などの、してほしい場所まで誘導してあげます。<br>
                        はじめのうちは抱っこで連れて行き、自分からトイレに行きそうな時には「ここだよ」と指をさす、などの補助程度でいいので教えてあげると、子犬も理解しやすくなります。</li>
                      <li><strong>トイレのニオイを嗅がせる</strong><br>
                        犬はニオイを嗅ぐことで「ここがトイレの場所だ」ということを認識しています。<br>
                        ニオイを嗅いでいる間にコマンド（＝合図）を出し、この合図を聞くとトイレをしたくなるように印象付けます。<br>
                        「ワンツー
                        ワンツー」「ちっち」など言い方は様々ですが、トイレ中に何度も同じ合図を繰り返すことで、コマンド（＝合図）を聞くとトイレをしたくなるようになっていきます。出先などで「今のうちにオシッコをさせたいな」「このあと行くところでオシッコされると困る」という時にトイレを促すことができるようになります。
                      </li>
                      <li><strong>トイレが成功したら、たくさん褒めてあげてください</strong><br>
                        褒めてもらうことで、「喜んでもらえるなら次も同じことしよう！」と思ってくれるようになります。<br>
                        褒められて嬉しかったという経験を何度も積み重ねていけば、自らトイレに行けるようになっていきます。<br>
                        ※糞はできるだけすぐに処理をしましょう。（食糞防止）</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon14.png') }}" width="150" height="150" alt="運動"/></span></div>
              <div class="content-box__body_text_center">
                <p><strong>運動が不十分になった時に起こる悪い影響は数多くありますが、一番困るのは問題行動を起こすことです。</strong><br>
                  「よく吠える」「家具をかじる」など、ドッグトレーナーが飼い主から相談を受ける様々な問題行動は、<br>
                  運動不足によるストレスが原因である可能性があります。<br>
                  ストレスの解消は、犬のため、そして飼い主のためにもなります。<br>
                  お散歩などの運動の時間は毎日しっかりとつくってあげる必要があります。</p>
                <div class="content-box__body_text_center_merit">
                  <h4>お散歩(運動)によるメリット</h4>
                  <figure><img src="{{ asset('assets/img/guide/guide-content04-img05.png') }}" width="651" height="380" alt="肥満防止・ストレス解消・脳の活性化・よく眠れる"/></figure>
                </div>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_sports">
                  <div class="content-box__body_corner_sports_list">
                    <h5><span>お散歩中の注意点</span></h5>
                    <ul>
                      <li>犬の排泄物は放置してはいけません。<br>
                        犬がオシッコやフンをした場合には、きちんと処理をしたうえで水をかけておくなど、<br>
                        放置せずきちんと対処しましょう。</li>
                      <li>散歩の途中でマーキング（オシッコを色々なところにする行動）をする子も中にはいると思います。<br>
                        毎回マーキングをしてしまう場合は、癖になってしまっているので治すには時間がかかりますが、<br>
                        他人の家の敷地内や歩道にはしないように気をつけながら歩いてください。</li>
                      <li>人通りが多い、車もよく通るといった場所や道路では、リードは短く持ちましょう。<br>
                        車 バイク 自転車などが近づいてきたら、犬を自分に近づけ<br>
                        通り過ぎるまで端に寄るようにしてください。<br>
                        万が一犬が急に動いてしまった、などの予測不能な動きをした場合<br>
                        リードを緩く持ったままでは対処が遅れてしまって事故に遭う可能性があります。</li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
            <article>
              <div class="content-box__body_icon"><span><img src="{{ asset('assets/img/guide/guide-content04-icon15.png') }}" width="150" height="150" alt="トリミング・グルーミング"/></span>
              <h4>トリミング・グルーミング</h4></div>
              <div class="content-box__body_text_center_row">
                <div class="content-box__body_text_center_desc">
                  <dl>
                    <dt>トリミング</dt>
                    <dd>毛のカットをおこなうこと</dd>
                  </dl>
                  <dl>
                    <dt>グルーミング</dt>
                    <dd>爪切りや耳掃除など、犬のお手入れ全般</dd>
                  </dl>
                </div>
              </div>
              <div class="content-box__body_corner">
                <div class="content-box__body_corner_trimming">
                  <h4>トリミングの必要性</h4>
                  <div class="content-box__body_corner_trimming_list">
                    <ul>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon17.png') }}" width="190" height="146" alt="体の清潔を保つ"/></figure>
                        <h5>体の清潔を保つ</h5>
                        <p>人間のように毎日する必要はありませんが、日々の汚れは蓄積されていきます。<br>
                          洗いすぎはよくないですが、定期的なケアが必要になります。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon18.png') }}" width="190" height="146" alt="身体の触られることに慣らす"/></figure>
                        <h5>身体を触られても平気な子になる</h5>
                        <p>子犬の頃から定期的なお手入れをしておくことで、だんだんと触られることへの抵抗感が少なくなっていきます。触られることに慣らしておけば犬の負担も少ないですし、動物病院では診察しやすいというメリットがあります。</p>
                      </li>
                      <li>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-icon19.png') }}" width="190" height="146" alt="健康チェック"/></figure>
                        <h5>健康チェック</h5>
                        <p>定期的にトリミングやグルーミングを行うことで、体調の変化に気づきやすくなります。<br>
                          いつもより毛が抜ける、肌荒れしている、傷がある、などの小さな変化をいち早く発見することができます 。</p>
                      </li>
                    </ul>
                  </div>
                  <div class="content-box__body_corner_trimming_list2">
                    <div class="content-box__body_corner_trimming_list2_text">
                      <h5><span>愛犬のグルーミングに挑戦してみよう!</span></h5>
                    </div>
                    <figure><img src="{{ asset('assets/img/guide/guide-content04-img07.png') }}" width="227" height="211" alt="グルーミング"/></figure>
                  </div>
                  <div class="content-box__body_corner_trimming_list2_body">
                    <article>
                      <div class="content-box__body_corner_trimming_list2_body_head">
                        <h6>シャンプー</h6>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>1</span>
                        <p>お湯は37～38℃くらいにしてあげましょう。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <p class="content-box__body_corner_trimming_list2_body_flow_main">まずは体全体を濡らします。</p>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f01.png') }}" alt="シャンプー" /></figure>
                        <p><strong>シャワーの音に驚く子が多いので、勢いは出しすぎないように！</strong><br>
                          体にシャワーヘッドをつけながら濡らすと落ち着いてくれます。<br>
                          顔は嫌がる子が多いので、シャワーが難しければ手でかけるかスポンジにお湯を含ませながら濡らしてあげましょう。<br>
                          立ち耳の子は下から手を回し、耳を塞いであげてから濡らします。</p>
                        <div class="content-box__body_corner_trimming_list2_body_flow_point">
                          <span>ポイント</span>
                          <p>表面だけではなく皮膚までしっかり濡らすと、シャンプーの泡立ちも良くなります。</p>
                        </div>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>2</span>
                        <p>桶にシャンプー剤と少しのお湯を加え、<br>スポンジで泡立たせます。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f02.png') }}" alt="シャンプー" /></figure>
                        <p>あらかじめ泡立たせてから身体につけることでシャンプー剤の浸透率が上がりますし、皮膚にも優しい洗い方です。<br>
                          ※身体の汚れがひどい子には、原液で使用可能なシャンプー剤であれば直接かけて洗っても大丈夫です。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>3</span>
                        <p>指の腹を使い、毛と皮膚を揉み洗いします。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f03.png') }}" alt="シャンプー" /></figure>
                        <p>足先や、お腹周りもしっかりと洗ってあげましょう。<br>
                          ※目に入らないよう気をつけながら、顔もできる範囲で洗ってあげます。<br>
                          耳は外側の表面だけ洗います。中まで洗う必要はありません。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>4</span>
                        <p>軽く洗い流す</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <p>シャンプーの泡がなくなるまで洗い流します。<br>
                          最後にリンスをするのであれば、そこまできっちりと洗い流さなくても大丈夫です。</p>
                        <p><strong>ワンちゃんは基本2度洗いするので、②～④のセットを2回繰り返します</strong></p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>5</span>
                        <p>リンスをかける。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <p>桶に体全体にかけられるくらいのお湯を張り、リンスを少しだけいれ、薄めて使用します。<br>
                          リンスは顔にかけなくて大丈夫です。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>6</span>
                        <p>最後にしっかりと洗い流す。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <p>リンスのぬめり気がなくなるまでしっかりとすすぎます。<br>
                          肌荒れの原因になってしまいますので、流し残しがないように気をつけましょう。</p>
                      </div>
                    </article>
                    <article>
                      <div class="content-box__body_corner_trimming_list2_body_head">
                        <h6>乾かす</h6>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>1</span>
                        <p>タオルドライ</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f04.png') }}" alt="タオルドライ" /></figure>
                        <p>タオルでなるべく水気を取ってあげるとドライヤーの時間が短縮できます。<br>
                          繰り返し使える吸水タオルを使用するのもおすすめです。</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text">
                        <span>2</span>
                        <p>ドライヤー</p>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_flow">
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f05.png') }}" alt="タオルドライ" /></figure>
                        <p>犬専用のブラシを使用しながら乾かしていきます。</p>
                        <p>まずは弱め温風からスタートします。<br>
                          顔回りは嫌がることが多いので、体の後ろ部分から始め、徐々に前の部分を乾かしていきます。<br>
                          犬が風に慣れてきたら強風にしてみましょう。<br>
                          この時、ドライヤーの距離が近すぎると危険ですので少し離しながら風を当てていきます。<br>
                          顔が濡れているのが苦手な子が多いため、ドライヤーに慣れている子であれば顔から乾かしてあげてみてください。</p>
                        <p>※水分を含んだまま時間が経つとまっすぐに乾かしにくくなり、<br>
                          放置すると毛玉の原因にもなってしまいますので、きちんと乾かしてあげましょう。</p>
                      </div>
                    </article>
                    <article>
                      <div class="content-box__body_corner_trimming_list2_body_head">
                        <h6>爪切り</h6>
                      </div>
                      <div class="content-box__body_corner_trimming_list2_body_text2">
                        <p>爪の中には血管が通っていて、切りすぎてしまうと出血してしまいます。</p>
                        <p>犬の爪は円柱状なので、1回でバチンと切るだけだと角が鋭くなってしまいます。<br>
                          爪が当たっても痛みを少なくする為、角を取るように角度を変えながら少しずつ切るのがポイントです。<br>
                          こうすることで爪先が丸く仕上がります。<br>
                          嫌がらないのであれば、やすりがけもしてあげましょう。</p>
                        <p>爪が白い子の場合は、血管が透けて見えるので、血管の数ミリ手前で切るようにします。<br>
                          爪が黒い子の場合は、地面に足をつけている時に爪が地面についてしまっている伸びた部分は切ってあげて大丈夫ですが、<br>
                          長さの目安は切断面が白から透明のような色に変わったところです。<br>
                          どんな色の爪でも、慣れるまでは少しずつ切るようにしましょう。</p>
                        <figure><img src="{{ asset('assets/img/guide/guide-content04-f06.png') }}" alt="爪切り" /></figure>
                        <p>爪切りが苦手で抵抗してしまう子に1人で爪切りをするのは難易度が高いので、<br>
                          抑える人と切る人に分かれて2人で行うことをおすすめします。<br>
                          爪切りのタイプはいくつかありますので、ご自分に合った扱いやすいものを使用してください。</p>
                        <ul>
                          <li>
                            <h6>初心者でも扱いやすい<br>
                              <strong>「ニッパータイプ」</strong>
                            </h6>
                            <figure><img src="{{ asset('assets/img/guide/guide-content04-f07.png') }}" alt="ニッパータイプ" /></figure>
                            <p>工具のニッパーのような形で、初心者の方でも使いやすいニッパータイプ。<br>
                              爪切りに慣れていないワンちゃんや、飼い主様におすすめです。<br><br>
                              爪のサイズが大きい大型犬には使いづらさを感じる場合もありますが、<br>
                              切る時の音も静かなので、大きな音が苦手な子にも向いています。</p>
                          </li>
                          <li>
                            <h6>効率的で切れ味の良い<br>
                              <strong>「ギロチンタイプ」</strong>
                            </h6>
                            <figure><img src="{{ asset('assets/img/guide/guide-content04-f08.png') }}" alt="ギロチンタイプ" /></figure>
                            <p>ある程度爪切りに慣れている場合や、素早く作業を終わらせたい場合はギロチンタイプの爪切りを選びましょう。<br>
                              プロのトリマーが業務で使用するタイプであり、切れ味がいいので素早く爪を切ることができます。<br><br>
                  
                              短時間で終わらせることができるので犬のストレスも軽減されますが、軽い力でも切れてしまうので、爪切りに不慣れな場合はあまりおすすめできません。<br><br>
                  
                              基本的にどの犬種にも向いている爪切りのタイプではありますが、ダックスフンドや柴犬、それ以上の大きさの犬などの爪がしっかりしている犬種にも使用できるほど、切れ味はいいです。</p>
                          </li>
                          <li>
                            <h6>子犬・小型犬向けの<br>
                              <strong>「ハサミタイプ」</strong>
                            </h6>
                            <figure><img src="{{ asset('assets/img/guide/guide-content04-f09.png') }}" alt="ハサミタイプ" /></figure>
                            <p>ハサミタイプの爪切りは、細く柔らかい子犬や小型犬の爪を切るのに向いています。抱っこした状態で作業すると特に切りやすいでしょう。<br>
                              通常のハサミよりもかなりこぶりのものが多く、力が入りにくいので切れ味はあまりよくありません。<br>
                              また、男性の場合は指を通す穴が小さいこともあるので、サイズには注意が必要です。</p>
                          </li>
                        </ul>
                      </div>
                    </article>
                  </div>
                  <div class="content-box__body_corner_trimming_list3">
                      <h5><span>犬の気持ちを理解する</span></h5>
                      <p>犬たちは自分の気持ちを言葉で伝える代わりに、体の動きで表現します。<br>
                        犬が何を求めているか、どういう気持ちでいるか、耳の代わりに目を向けてあげてください。</p>
                    <figure>
                      <figcaption>犬の行動チャート(犬語)</figcaption>
                      <img src="{{ asset('assets/img/guide/guide-content04-img08.gif') }}" width="227" height="211" alt="犬の行動チャート(犬語)"/>
                    </figure>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    
    <section id="guide-content05">
      <div class="inner">
        <div class="content-box">
          <div class="content-box__title">
            <h2>準  備</h2>
          </div>
          <div class="content-box__body">
            <div class="content-box__body_container">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num01.png') }}" width="78" height="78" alt="1"/></div>
              <div class="content-box__body_container_title">
                <h3>環境の見直し</h3>
                <p>犬にとって危険なものがないかをチェック<br>
                  子犬が安心して過ごせる環境を作ってあげましょう。</p>
              </div>
              <div class="content-box__body_container_article">
                <article>
                  <h4>家の中</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img01.jpg') }}" width="321" height="214" alt="玄関"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>玄関</span></h5>
                      <p>犬が直接外に出られないような脱走防止策はありますか？<br>
                        家の目の前が道路の場合、玄関から外に出てしまい事故に遭って…</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img02.jpg') }}" width="321" height="214" alt="高さのあるソファやベッド、階段"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>高さのあるソファやベッド、階段</span></h5>
                      <p>乗り降りを繰り返すと足腰の負担となり、少しずつダメージが増えていってしまいます。<br>
                      特に小型犬では膝蓋骨脱臼パテラ になってしまったり、<br>
                      高さがあれば骨折してしまうことがあります。<br>
                      ダックスフンドやコーギーのように短足で胴長の子体高が低い子は、<br>
                      腰の負担が特に大きいので注意してください。</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img03.jpg') }}" width="321" height="214" alt="滑りやすい床"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>滑りやすい床</span></h5>
                      <p>フローリングなどの滑りやすいツルツルとした床は、転んでケガをする恐れがあり、<br>
                      犬にとっては歩きにくいので足腰に負担がかかってしまいます。<br>
                      ワンちゃんが行動する範囲だけでも、滑らないシートやマットを敷いてあげましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>キッチン</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img04.jpg') }}" width="321" height="214" alt="キッチン"/></figure>
                    <div class="content-box__body_container_article_text">
                      <p>ゴミ袋を漁る能性があり、興味が強い子だと簡単にゴミ袋を破ってしまいます。<br>
                      イタズラをされないよう、蓋付きのごみ箱に入れておくなどの対策が必要です。<br>
                      人間の食べ物は犬にとって危険なものがあるので、きちんと見直しましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>リビング</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img05.jpg') }}" width="321" height="214" alt="コードやコンセント"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>食事中、床にこぼれた物</li>
                        <li><i class="bi bi-check"></i>人間と同じご飯を与えてはいけません</li>
                      </ul>
                      <h5><span>コードやコンセント</span></h5>
                      <p>出しっぱなしや補強されていないコンセントは、犬の脚がコードにひっかかる可能性があり、かじってしまった場合には感電してしまう恐れもあります。</p>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img06.jpg') }}" width="321" height="214" alt="観葉植物や花"/></figure>
                    <div class="content-box__body_container_article_text">
                      <h5><span>観葉植物や花</span></h5>
                      <p>犬が中毒を起こす植物には、観葉植物や花などを含め多くの種類があります。<br>
                      中毒症状は植物によって異なり、軽度の皮膚症状や消化器症状が現れるものもあれば、<br>
                      神経症状や心臓、呼吸器の症状など重症になる例もみられます。<br>
                      症状の軽度は、植物の種類や量によります。<br>
                      犬は身の回りに植物があると、興味がわいたときや退屈したときなどに、<br>
                      噛んだり口に入れて食べてしまったりすることがあります。</p>
                      <p><strong>散歩の際にも、屋外では植物に殺虫剤や除草剤がかかっていることもあるので、注意が必要です。</strong></p>
                      <p>万が一、口にしてしまった際はすぐに動物病院に行きましょう。
                      この時、慌てず「 どんな植物をどのくらい食べたか」を覚えておき、
                      獣医師に伝えられるようにしましょう。</p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>ベランダや庭</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img07.jpg') }}" width="321" height="214" alt="ベランダや庭"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>家の中と同じく、植物や花には注意が必要です。</li>
                      </ul>
                      <h5><span>逃走のキケンがないか</span></h5>
                      <p>犬は小さな隙間もすり抜けることができます。<br>
                      お庭の場合、木や植物で見えないようなところは特に注意し確認してみましょう。<br>
                      ベランダの場合は、柵の幅が大きいと落下の危険性が伴いますので、<br>
                      板でふさぐなどの対策が必要になります。</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="content-box__body_container" id="guide-content05_2">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num02.png') }}" width="78" height="78" alt="2"/></div>
              <div class="content-box__body_container_title">
                <h3>必要なグッズをそろえる</h3>
              </div>
              <div class="content-box__body_container_article">
                <article>
                  <h4>サークル</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img08.jpg') }}" width="321" height="214" alt="サークル"/></figure>
                    <div class="content-box__body_container_article_text">
                      <p><strong>Uターンができ、楽にフセもできるくらいの大きさのものを用意しましょう。</strong><br>
                      ベッドとトイレが近すぎると、犬のきれい好きな習性的に寝る場所に近いところでは<br>
                      トイレをしたくないことが多く、お部屋であまりしなくなってしまうことがあるので、<br>
                      ベッドとトイレは少し離せるくらいの大きさにすることをおすすめします。<br>
                      なるべく人が通らないスペースにお部屋を設置してあげましょう。</p>
                      <p><strong>扉の横や、ソファの近くの場合は人がよく行き来するのであまり落ち着けません。
                        人の通りが少ない部屋の隅などがオススメです。</strong></p>
                    </div>
                  </div>
                </article>
                <article>
                  <h4>トイレ</h4>
                  <div class="content-box__body_container_article_row">
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img09.jpg') }}" width="321" height="214" alt="トイレ"/></figure>
                    <div class="content-box__body_container_article_text">
                      <ul>
                        <li><i class="bi bi-check"></i>基本的にはペットシーツのみでトイレは可能</li>
                        <li><i class="bi bi-check"></i>シーツを噛みちぎってしまう場合は、トイレトレーを使用する</li>
                        <li><i class="bi bi-check"></i>サイズが小さいと体がはみ出でしまいトイレの失敗につながるため、大きめサイズをチョイスしましょう。</li>
                      </ul>
                    </div>
                  </div>
                  <div class="content-box__body_container_article_row_image">
                    <ul>
                      <li>
                        <figure>
                          <figcaption>ベッド</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img10.jpg') }}" width="321" height="214" alt="ベッド"/>
                        </figure>
                      </li>
                      <li>
                        <figure>
                          <figcaption>クレート</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img11.jpg') }}" width="321" height="214" alt="クレート"/>
                        </figure>
                      </li>
                      <li>
                        <figure>
                          <figcaption>フード</figcaption>
                          <img src="{{ asset('assets/img/guide/guide-content05-img12.jpg') }}" width="321" height="214" alt="フード"/>
                        </figure>
                      </li>
                    </ul>
                  </div>
                </article>
                <article>
                  <h4>お散歩グッズ</h4>
                  <div class="content-box__body_container_article_row_image2">
                    <h5>リード・ハーネス・散歩バッグ・うんち袋・水入れ</h5>
                    <ul>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img13.jpg') }}" width="321" height="214" alt="リード・ハーネス"/></li>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img14.jpg') }}" width="321" height="214" alt="散歩バッグ・うんち袋"/></li>
                      <li><img src="{{ asset('assets/img/guide/guide-content05-img15.jpg') }}" width="321" height="214" alt="水入れ"/></li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
            <div class="content-box__body_container" id="guide-content05_3">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num03.png') }}" width="78" height="78" alt="3"/></div>
              <div class="content-box__body_container_title">
                <h3>あると便利なもの</h3>
              </div>
              <div class="content-box__body_container_goods">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img16.png') }}" width="321" height="214" alt="コング"/>
                      <figcaption>コング</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img17.png') }}" width="321" height="214" alt="グルーミング用品(スリッカー・コーム・歯ブラシ)"/>
                      <figcaption>グルーミング用品<small>(スリッカー・コーム・歯ブラシ)</small></figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img18.png') }}" width="321" height="214" alt="爪切り"/>
                      <figcaption>爪切り</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-img19.png') }}" width="321" height="214" alt="犬用の食器"/>
                      <figcaption>犬用の食器</figcaption>
                    </figure>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content-box__body_container" id="guide-content05_4">
              <div class="content-box__body_container_num"><img src="{{ asset('assets/img/guide/guide-content05-num04.png') }}" width="78" height="78" alt="4"/></div>
              <div class="content-box__body_container_title">
                <h3>もしもの時を考える</h3>
              </div>
              <div class="content-box__body_container_memo">
                <ul>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon02.png') }}" width="321" height="214" alt="病院"/>
                      <figcaption>病院</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon03.png') }}" width="321" height="214" alt="預かってくれるところがあるか"/>
                      <figcaption>預かってくれる<br>
                        ところがあるか</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon04.png') }}" width="321" height="214" alt="災害時"/>
                      <figcaption>災害時</figcaption>
                    </figure>
                  </li>
                  <li>
                    <figure><img src="{{ asset('assets/img/guide/guide-content05-icon05.png') }}" width="321" height="214" alt="逃げてしまった行方不明"/>
                      <figcaption>逃げてしまった<br>
                        行方不明</figcaption>
                    </figure>
                  </li>
                </ul>
                {#
                <div class="content-box__body_container_memo_c">
                  <figure><img src="{{ asset('assets/img/guide/guide-content05-icon06.png') }}" width="321" height="214" alt="マイクロチップ"/></figure>
                  <p><strong>マイクロチップを検討してみるのもアリ!</strong></p>
                </div>
                #}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block javascript %}

{% endblock %}

