{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ '基本情報入力'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('breeder_baseinfo') }}">
                    {{ form_widget(form._token) }}
                    <p>{{ '下記の内容で登録してもよろしいでしょうか？
よろしければ、一番下の「会員登録をする」ボタンをクリックしてください。
'|trans|nl2br }}</p>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.breeder_name.vars.data }}
                                {{ form_widget(form.breeder_name, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.breeder_kana.vars.data }}
                                {{ form_widget(form.breeder_kana, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.addr, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {# 郵便番号 #}
                                <span>{{ '〒'|trans }}</span>{{ form.breeder_zip.vars.data }}
                                {{ form_widget(form.breeder_zip, { type : 'hidden' }) }}
                                {# 都道府県・住所 #}
                                {{ form.addr.breeder_pref.vars.data }} {{ form.addr.breeder_city.vars.data }} {{ form.addr.breeder_address.vars.data }}
                                {{ form_widget(form.addr.breeder_pref, { type : 'hidden' }) }}
                                {{ form_widget(form.addr.breeder_city, { type : 'hidden' }) }}
                                {{ form_widget(form.addr.breeder_address, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>{{ form.breeder_tel.vars.data }}
                                {{ form_widget(form.breeder_tel, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.breeder_fax.vars.data }}
                                {{ form_widget(form.breeder_fax, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.pr_text, '自己PR', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form_widget(form.pr_text, { type : 'hidden' }) }}
                                {{ form_widget(form.pr_text, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.regal_effort, '動物愛護法改正への対応', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.regal_effort.vars.data }}
                                {{ form_widget(form.regal_effort, { type: 'hidden'}) }}
                            </dd>
                        </dl>
                        <h2 style="border-bottom:1px dotted #ccc">動物取扱業登録証情報</h2>
                        <dl>
                            <dt>
                                {{ form_label(form.license_name, '運営責任者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_name.vars.data }}
                                {{ form_widget(form.license_name, { type: 'hidden'}) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_no, '登録証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_no.vars.data }}
                                {{ form_widget(form.license_no, { type: 'hidden'}) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_house_name, '動物取扱者事業所の名称', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_house_name.vars.data }}
                                {{ form_widget(form.license_house_name, { type: 'hidden'}) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_manager_name, '動物取扱者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_manager_name.vars.data }}
                                {{ form_widget(form.license_manager_name, { type: 'hidden'}) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_regist_date, '登録年月日', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_regist_date.vars.data ? form.license_regist_date.vars.data|date_day() }}
                                {{ form_widget(form.license_regist_date.year, { type : 'hidden' }) }}
                                {{ form_widget(form.license_regist_date.month, { type : 'hidden' }) }}
                                {{ form_widget(form.license_regist_date.day, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_expire_date, '有効期間の末日', { 'label_attr': {'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                {{ form.license_expire_date.vars.data ? form.license_expire_date.vars.data|date_day() }}
                                {{ form_widget(form.license_expire_date.year, { type : 'hidden' }) }}
                                {{ form_widget(form.license_expire_date.month, { type : 'hidden' }) }}
                                {{ form_widget(form.license_expire_date.day, { type : 'hidden' }) }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_type, '動物取扱業の種別', { 'label_attr': {'class': 'ec-label' }}) }}
                            </dt>
                            <dd>{{ form.license_type.vars.data }}
                                {{ form_widget(form.license_type, { type: 'hidden'}) }}
                            </dd>
                        </dl>

                        {# エンティティ拡張の自動出力 #}
                        {% for f in form if f.vars.eccube_form_options.auto_render %}
                            {% if f.vars.eccube_form_options.form_theme %}
                                {% form_theme f f.vars.eccube_form_options.form_theme %}
                                {{ form_row(f) }}
                            {% else %}
                                <dl>
                                    <dt>
                                        {{ form_label(f) }}
                                    </dt>
                                    <dd>
                                        <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                            {{ f.vars.data }}
                                            {{ form_widget(f, { type: 'hidden'}) }}
                                        </div>
                                    </dd>
                                </dl>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit" name="mode"
                                        value="complete">{{ '会員登録をする'|trans }}</button>
                                <button>{{ '戻る'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
