{% form_theme form 'Form/form_div_layout.twig' %}
{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="ec-pageHeader">
        <h1>{{ '基本情報入力'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <form method="post" action="{{ url('breeder_baseinfo') }}" novalidate class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                <h2>ブリーダー情報</h2>
                {{ form_widget(form._token) }}
                <div class="ec-borderedDefs">
                    <div class="mb-5">
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.breeder_name) ? ' error' }}">
                                    {{ form_widget(form.breeder_name, { 'attr': { 'placeholder': 'お名前' }}) }}
                                    {{ form_errors(form.breeder_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.breeder_kana) ? ' error' }}">
                                    {{ form_widget(form.breeder_kana, { 'attr': { 'placeholder': 'お名前（カナ）' }}) }}
                                    {{ form_errors(form.breeder_kana) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.addr, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.breeder_zip) ? ' error' }}">
                                    <span>{{ '〒'|trans }}</span>
                                    {{ form_widget(form.breeder_zip) }}
                                    <div class="ec-zipInputHelp">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img
                                                        src="/html/template/default/assets/icon/question-white.svg"
                                                        alt="">
                                            </div>
                                        </div>
                                        <a href="https://www.post.japanpost.jp/zipcode/"
                                           target="_blank"><span>郵便番号検索</span></a>
                                    </div>
                                    {{ form_errors(form.breeder_zip) }}
                                </div>
                                <div class="ec-select{{ has_errors(form.addr.breeder_pref) ? ' error' }}">
                                    {{ form_widget(form.addr.breeder_pref) }}
                                    {{ form_errors(form.addr.breeder_pref) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.addr.breeder_city) ? ' error' }}">
                                    {{ form_widget(form.addr.breeder_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                    {{ form_errors(form.addr.breeder_city) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.addr.breeder_address) ? ' error' }}">
                                    {{ form_widget(form.addr.breeder_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                    {{ form_errors(form.addr.breeder_address) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.breeder_tel) ? ' error' }}">
                                    {{ form_widget(form.breeder_tel) }}
                                    {{ form_errors(form.breeder_tel) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.breeder_fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.breeder_fax) ? ' error' }}">
                                    {{ form_widget(form.breeder_fax) }}
                                    {{ form_errors(form.breeder_fax) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.pr_text, '自己PR', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.pr_text) ? ' error' }}">
                                    {{ form_widget(form.pr_text) }}
                                    {{ form_errors(form.pr_text) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.regal_effort, '動物愛護法改正への対応', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.regal_effort) ? ' error' }}">
                                    {{ form_widget(form.regal_effort) }}
                                    {{ form_errors(form.regal_effort) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="mb-5">
                        <h2 style="border-bottom:1px dotted #ccc">動物取扱業登録証情報</h2>
                        <dl>
                            <dt>
                                {{ form_label(form.license_name, '運営責任者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.license_name) ? ' error' }}">
                                    {{ form_widget(form.license_name,  { 'attr': { 'placeholder': '営責任者氏名' }}) }}
                                    {{ form_errors(form.license_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_no, '登録証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.license_no) ? ' error' }}">
                                    {{ form_widget(form.license_no,  { 'attr': { 'placeholder': '登録証番号' }}) }}
                                    {{ form_errors(form.license_no) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_addr, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.license_zip) ? ' error' }}">
                                    <span>{{ '〒'|trans }}</span>
                                    {{ form_widget(form.license_zip) }}
                                    <div class="ec-zipInputHelp">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img
                                                        src="/html/template/default/assets/icon/question-white.svg"
                                                        alt="">
                                            </div>
                                        </div>
                                        <a href="https://www.post.japanpost.jp/zipcode/"
                                           target="_blank"><span>郵便番号検索</span></a>
                                    </div>
                                    {{ form_errors(form.license_zip) }}
                                </div>
                                <div class="ec-select{{ has_errors(form.license_addr.license_pref) ? ' error' }}">
                                    {{ form_widget(form.license_addr.license_pref) }}
                                    {{ form_errors(form.license_addr.license_pref) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.license_addr.license_city) ? ' error' }}">
                                    {{ form_widget(form.license_addr.license_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                    {{ form_errors(form.license_addr.license_city) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.license_addr.license_address) ? ' error' }}">
                                    {{ form_widget(form.license_addr.license_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                    {{ form_errors(form.license_addr.license_address) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_house_name, '動物取扱者事業所の名称', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.license_house_name) ? ' error' }}">
                                    {{ form_widget(form.license_house_name,  { 'attr': { 'placeholder': '動物取扱者事業所の名称' }}) }}
                                    {{ form_errors(form.license_house_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_manager_name, '動物取扱者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.license_manager_name) ? ' error' }}">
                                    {{ form_widget(form.license_manager_name,  { 'attr': { 'placeholder': '動物取扱者氏名' }}) }}
                                    {{ form_errors(form.license_manager_name) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_regist_date, '登録年月日', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-birth{{ has_errors(form.license_regist_date) ? ' error' }}">
                                    {{ form_widget(form.license_regist_date.year) }}<span>/</span>
                                    {{ form_widget(form.license_regist_date.month) }}<span>/</span>
                                    {{ form_widget(form.license_regist_date.day) }}
                                    {{ form_errors(form.license_regist_date) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_expire_date, '有効期間の末日', { 'label_attr': {'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-birth{{ has_errors(form.license_expire_date) ? ' error' }}">
                                    {{ form_widget(form.license_expire_date.year) }}<span>/</span>
                                    {{ form_widget(form.license_expire_date.month) }}<span>/</span>
                                    {{ form_widget(form.license_expire_date.day) }}
                                    {{ form_errors(form.license_expire_date) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.license_type, '動物取扱業の種別', { 'label_attr': {'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-select{{ has_errors(form.license_type) ? ' error' }}">
                                    {{ form_widget(form.license_type) }}
                                    {{ form_errors(form.license_type) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="ec-registerRole__actions">
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
        