{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
    <div class="ec-pageHeader">
    <h1>{{ '犬舎・猫舎審査項目登録'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            {{ form_start(form) }}
                {% if isEdit %}
                    <input hidden id="form-edit">
                {% endif %}
                <span class="p-country-name" style="display:none;">Japan</span>
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label required">血統書発行団体情報</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                {{ form_widget(form.pedigree_organization) }}
                                {{ form_errors(form.pedigree_organization) }}
                                <div class="ec-radio">
                                    {{ form_widget(form.group_organization) }}
                                    {{ form_errors(form.group_organization) }}
                                </div>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-input">
                                    {{ form_widget(form.pedigree_organization_other) }}
                                    {{ form_errors(form.pedigree_organization_other) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">飼育・保有している犬の総数</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                {{ form_widget(form.breeding_pet_count) }}
                                {{ form_errors(form.breeding_pet_count) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">親犬頭数</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label>
                                        <span>1～3歳</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_count_1) }}
                                    {{ form_errors(form.parent_pet_count_1) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label>
                                        <span>4～6歳</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_count_2) }}
                                    {{ form_errors(form.parent_pet_count_2) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label>
                                        <span>7歳以上</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_count_3) }}
                                    {{ form_errors(form.parent_pet_count_3) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">親犬の購入先</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label for="ParentPetBuyFrom_1">
                                        <span>ブリーダー</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_buy_place_1) }}
                                    {{ form_errors(form.parent_pet_buy_place_1) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label for="ParentPetBuyFrom_2">
                                        <span>ショップ</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_buy_place_2) }}
                                    {{ form_errors(form.parent_pet_buy_place_2) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <label for="ParentPetBuyFrom_3">
                                        <span>その他</span>
                                    </label>
                                </div>
                                <div class="ec-select">
                                    {{ form_widget(form.parent_pet_buy_place_3) }}
                                    {{ form_errors(form.parent_pet_buy_place_3) }}
                                </div>
                                <span class="ml-1">頭</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">飼育スタッフ構成</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                <label class="ec-label required mr-2">犬舎運営者</label>
                                <span>1名</span>
                            </div>
                            <div class="row offset-md-0">
                                <label class="required">平均労働時間：</label>
                                <div class="ec-select">
                                    {{ form_widget(form.owner_worktime_ave) }}
                                    {{ form_errors(form.owner_worktime_ave) }}
                                </div>
                                <span class="ml-1">時間/1週間あたり</span>
                            </div>

                            <div class="row offset-md-0">
                                <label class="ec-label required mr-2">家族</label>
                                <div class="ec-select">
                                    {{ form_widget(form.family_staff_count) }}
                                    {{ form_errors(form.family_staff_count) }}
                                </div>
                                <span class="ml-1">名</span>
                            </div>
                            <div class="row offset-md-0">
                                <label class="required">一人あたり平均労働時間：</label>
                                <div class="ec-select">
                                    {{ form_widget(form.family_staff_worktime_ave) }}
                                    {{ form_errors(form.family_staff_worktime_ave) }}
                                </div>
                                <span class="ml-1">時間/1週間あたり</span>
                            </div>

                            <div class="row offset-md-0">
                                <label class="ec-label required mr-2">社員</label>
                                <div class="ec-select">
                                    {{ form_widget(form.fulltime_staff_count) }}
                                    {{ form_errors(form.fulltime_staff_count) }}
                                </div>
                                <span class="ml-1">名</span>
                            </div>
                            <div class="row offset-md-0">
                                <label class="required">一人あたり平均労働時間：</label>
                                <div class="ec-select">
                                    {{ form_widget(form.fulltime_staff_worktime_ave) }}
                                    {{ form_errors(form.fulltime_staff_worktime_ave) }}
                                </div>
                                <span class="ml-1">時間/1週間あたり</span>
                            </div>

                            <div class="row offset-md-0">
                                <label class="ec-label required mr-2">パート・アルバイト</label>
                                <div class="ec-select">
                                    {{ form_widget(form.parttime_staff_count) }}
                                    {{ form_errors(form.parttime_staff_count) }}
                                </div>
                                <span class="ml-1">名</span>
                            </div>
                            <div class="row offset-md-0">
                                <label class="required">一人あたり平均労働時間：</label>
                                <div class="ec-select">
                                    {{ form_widget(form.parttime_staff_worktime_ave) }}
                                    {{ form_errors(form.parttime_staff_worktime_ave) }}
                                </div>
                                <span class="ml-1">時間/1週間あたり</span>
                            </div>

                            <div class="row offset-md-0">
                                <label class="ec-label required mr-2">その他</label>
                                <div class="ec-select">
                                    {{ form_widget(form.other_staff_count) }}
                                    {{ form_errors(form.other_staff_count) }}
                                </div>
                                <span class="ml-1">名</span>
                            </div>
                            <div class="row offset-md-0">
                                <label class="required">一人あたり平均労働時間：</label>
                                <div class="ec-select">
                                    {{ form_widget(form.other_staff_worktime_ave) }}
                                    {{ form_errors(form.other_staff_worktime_ave) }}
                                </div>
                                <span class="ml-1">時間/1週間あたり</span>
                            </div>

                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">ブリーディング歴</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                <div class="ec-select">
                                    {{ form_widget(form.breeding_exp_year) }}
                                    {{ form_errors(form.breeding_exp_year) }}
                                </div>
                                <span class="ml-1">年</span>
                                <div class="ec-select ml-1">
                                    {{ form_widget(form.breeding_exp_month) }}
                                    {{ form_errors(form.breeding_exp_month) }}
                                </div>
                                <span class="ml-1">ヶ月</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">ショー参加経験</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-radio">
                                <div class="ec-radio">
                                    {{ form_widget(form.is_participate_show) }}
                                    {{ form_errors(form.is_participate_show) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">親犬のケージ</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-checkbox">
                                <label>
                                    {{ form_widget(form.cage_size_1) }}
                                </label>
                                <br>
                                <label>
                                    {{ form_widget(form.cage_size_2) }}
                                </label>
                                <br>
                                <label>
                                    {{ form_widget(form.cage_size_3) }}
                                </label>
                                <div class="ec-input">
                                    {{ form_widget(form.cage_size_other) }}
                                    {{ form_errors(form.cage_size_other) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">親犬の運動状況</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-checkbox">
                                <label>
                                {{ form_widget(form.exercise_status) }}
                                {{ form_errors(form.exercise_status) }}
                                </label>
                                <div class="ec-input">
                                    {{ form_widget(form.exercise_status_other) }}
                                    {{ form_errors(form.exercise_status_other) }}
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">現時点で掲載可能な子犬</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                {{ form_widget(form.is_now_publising) }}
                                {{ form_errors(form.is_now_publising) }}
                                <div class="ec-radio">
                                    {{ form_widget(form.publish_pet_count) }}
                                    {{ form_errors(form.publish_pet_count) }}
                                </div>
                            </div>
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label required">自身での繁殖経験</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            {{ form_widget(form.breeding_experience) }}
                            {{ form_errors(form.breeding_experience) }}
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label required">直接の販売経験</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            {{ form_widget(form.selling_experience) }}
                            {{ form_errors(form.selling_experience) }}
                        </dd>
                    </dl>

                    {#
                    <dl>
                        <dt>
                            <label class="ec-label required">自家繁殖以外の生体の販売</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="CanBePostedPet_1" name="CanBePostedPet" value="1" />
                                    <label for="CanBePostedPet_1">
                                        <span>あり</span>
                                    </label>
                                </div>
                                <div class="ec-select">     
                                    <select>
                                        <option value="">----</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <span>割</span>
                                </div>
                            </div>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="CanBePostedPet_2" name="CanBePostedPet" value="2" />
                                    <label for="CanBePostedPet_2">
                                        <span>なし</span>
                                    </label>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">現在の販路</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <label class="ec-label required">生体販売をしている自己所有の店舗</label>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="SaleShop_1" name="SaleShop" value="1" />
                                    <label for="SaleShop_1">
                                        <span>あり</span>
                                    </label>
                                    <input type="radio"  id="SaleShop_2" name="SaleShop" value="2" />
                                    <label for="SaleShop_2">
                                        <span>なし</span>
                                    </label>
                                </div>
                            </div>
                            <label class="ec-label required">ペットショップへの販売</label>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="SaleForPetShop_1" name="SaleForPetShop" value="1" />
                                    <label for="SaleForPetShop_1">
                                        <span>あり</span>
                                    </label>
                                    <input type="radio"  id="SaleForPetShop_2" name="SaleForPetShop" value="2" />
                                    <label for="SaleForPetShop_2">
                                        <span>なし</span>
                                    </label>
                                </div>
                            </div>
                            <label class="ec-label required">ペットオークションへの販売</label>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="SaleForPetAuction_1" name="SaleForPetAuction" value="1" />
                                    <label for="SaleForPetAuction_1">
                                        <span>あり</span>
                                    </label>
                                    <input type="radio"  id="SaleForPetAuction_2" name="SaleForPetAuction" value="2" />
                                    <label for="SaleForPetAuction_2">
                                        <span>なし</span>
                                    </label>
                                </div>
                            </div>
                            <label class="ec-label required">他仲介サイトの利用</label>
                            <div class="row offset-md-0">
                                <div class="ec-radio">
                                    <input type="radio"  id="MediationSite_1" name="MediationSite" value="1" />
                                    <label for="MediationSite_1">
                                        <span>あり</span>
                                    </label>
                                    <input type="radio"  id="MediationSite_2" name="MediationSite" value="2" />
                                    <label for="MediationSite_2">
                                        <span>なし</span>
                                    </label>
                                </div>
                            </div>
                            <label class="ec-label required">その他の販路</label>
                            <div class="ec-input">
                                <input type="text"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">専業または兼業</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-radio">
                                <input type="radio"  id="FullTimeFlag_1" name="FullTimeFlag" value="1" />
                                <label for="FullTimeFlag_1">
                                    <span>専業</span>
                                </label>
                                <input type="radio"  id="FullTimeFlag_2" name="FullTimeFlag" value="2" />
                                <label for="FullTimeFlag_2">
                                    <span>兼業</span>
                                </label>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">かかりつけの動物病院名</label>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <input type="text"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">ホームページのURL</label>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <input type="text"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">SNSのURL</label>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <input type="text"/>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">当サイトを使いたいと思った理由</label><span class="ec-required">必須</span>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <textarea required="required" class="form-control"></textarea>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">その他補足、事務局へのコメント</label>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <textarea required="required" class="form-control"></textarea>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label required">紹介者</label>
                        </dt>
                        <dd>
                            <div class="ec-input">
                                <input type="text"/>
                            </div>
                        </dd>
                    </dl>
                    #}
                </div>
                <div class="ec-registerRole__actions">
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="{{ asset('assets/js/examinationinfo.js') }}"></script>
{% endblock %}