{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="main-container col-12">
                <h1>取引メッセージ</h1>
                <div class="m-2 p-2"></div>

                {# ペット情報 #}
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-12 col-sm-10">
                        <h2>ペット情報</h2>
                        <div class="m-1 p-1"></div>
                        <div class="col-12 py-3 breeder-border bg-white">
                            <div class="row">
                                <div class="breeder-img col-sm-4">
                                    <a href="{{ url('breeder_pet_detail', {'id': rootMessage.getPet.Id}) }}"
                                       class="w-100">
                                        <img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (rootMessage.getPet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                             class="w-100 mb-4 mb-sm-0" alt="...">
                                    </a>
                                </div>
                                <div class="breeder-info col-sm-8">
                                    <h2 class="font-weight-500 color-gray-500">{{ rootMessage.getPet.BreedsType.breedsName ?? '' }}</h2>
                                    <div class="m-1 p-1"></div>
                                    <div class="d-flex font-weight-500">
                                        <h4>性別：</h4>
                                        <h4>{{ rootMessage.getPet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                    </div>
                                    <div class="m-1 p-1"></div>
                                    <div class="d-flex">
                                        <h4>色：</h4>
                                        <h4>{{ rootMessage.getPet.CoatColor.coatColorName ?? '' }}</h4>
                                    </div>
                                    <div class="m-1 p-1"></div>
                                    <div class="d-flex">
                                        <h4>成犬時予想体重：</h4>
                                        <h4>{{ rootMessage.getPet.futureWait }}kg</h4>
                                    </div>
                                    <div class="m-1 p-1"></div>
                                    <div class="d-flex">
                                        <h4>PR：</h4>
                                        <h4>{{ rootMessage.getPet.prComment }}</h4>
                                    </div>
                                    <div class="m-1 p-1"></div>
                                    <div class="d-flex">
                                        <h4>誕生日：</h4>
                                        <h4>{{ rootMessage.getPet.petBirthday|date('Y年m月d日') }}生</h4>
                                    </div>
                                    <div class="m-2 p-2"></div>
                                    <a href="{{ url('breeder_pet_detail', {'id': rootMessage.getPet.Id}) }}">
                                        <h4 class="color-breeder">ペット詳細ページへ</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-2 p-2"></div>

                {# ブリーダー情報 #}
                <div class="row mb-2">
                    <div class="col-1"></div>
                    <div class="col-12 col-sm-10">
                        {% if rootMessage.Customer.isbreeder == 0 %}
                            <h2>ブリーダー情報</h2>
                            <div class="m-1 p-1"></div>
                            <div class="col-12 py-3 breeder-border bg-white">
                                <div class="row">
                                    <div class="breeder-img col-sm-4">
                                        <img alt="..."
                                             src="{{ asset('assets/img/testUser.png') | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                             class="w-100 mb-4 mb-sm-0">
                                    </div>
                                    <div class="breeder-info col-sm-8">
                                        <div class="m-1 p-1"></div>
                                        <div class="m-1 p-1"></div>
                                        <div class="m-1 p-1"></div>
                                        <div class="m-1 p-1"></div>
                                        <div class="m-1 p-1"></div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h2>ユーザー情報</h2>
                            <div class="m-1 p-1"></div>
                            <div class="col-12 py-3 breeder-border bg-white">
                                <div class="row">
                                    <div class="col-sm-8">
                                        何を表示するか要検討
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="m-2 p-2"></div>

                {# お問い合わせ内容 #}
                <div class="row mb-4">
                    <div class="col-1"></div>
                    <div class="col-12 col-sm-10">
                        <h2 class="mb-2">お問い合わせ内容</h2>
                        <div class="m-1 p-1"></div>
                        <div class="col-12 py-3 breeder-border bg-white">
                            <div class="ml-3">
                                <h2 class="mb-2">{{ rootMessage.getContactTitle() }}</h2>
                                <h4 class="mb-2 font-weight-400">{{ rootMessage.getContactDescription() }}</h4>
                                <h4 class="mb-2 font-weight-400">{{ rootMessage.getBookingRequest() }}</h4>
                            </div>
                        </div>
                    </div>
                </div>

                {% for message in messages %}
                    {% if (message.messageFrom == constant('Customize\\Config\\AnilineConf::MESSAGE_FROM_USER')) %}
                        <div class="row">
                            <div class="col-1 user-img">
                                <img src="{{ asset('assets/img/testUser.png') }}">
                            </div>
                            <div class="col-10">
                                <h4 style="text-align: right;">{{ message.sendDate | date('Y/m/d H:i') }}</h4>
                                <div class="col-12 balloon-left py-3 breeder-border">
                                    <div class="ml-3">
                                        {{ message.contactDescription }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-10">
                                <h4 style="text-align: right;">{{ message.sendDate | date('Y/m/d H:i') }}</h4>
                                <div class="col-8 balloon-right py-3 breeder-border">
                                    <div class="ml-3">
                                        {{ message.contactDescription }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 breeder-img">
                                <img src="{{ rootMessage.Breeder.thumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}"
                                     style="width: 40px; height:40px; border-radius: 50%;">
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <p class="text-center">結果が０件です。</p>
                {% endfor %}

                {# 返信欄・ボタン #}
                {% if (rootMessage.contractStatus  not in [constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_CONTRACT'), constant('Customize\\Config\\AnilineConf::CONTRACT_STATUS_NONCONTRACT')]) %}
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-12 col-sm-10">
                            <div class="py-3">
                                <form action="{{ path('breeder_configration_messages', {'contact_id': rootMessage.id}) }}"
                                      method="post">
                                <textarea {{ isScroll ? 'autofocus' }} aria-label="dialog-chat" class="col-12" rows="5" name="reply_message"
                                          placeholder="返信メッセージ"></textarea>
                                    <button type="submit" class="ec-blockBtn--cancel mt-2 mb-4" name="mode"
                                            value="submit" id="submit">
                                        送信
                                    </button>

                                    <div class="d-flex">
                                        <button type="button" class="ec-blockBtn--action mt-2 mr-2" id="contract" {{ rootMessage.getBreederCheck() ? 'disabled' }}>成約
                                        </button>
                                        <button type="button" class="ec-blockBtn--cancel mt-2 ml-2" id="cancel">
                                            取引をキャンセルする
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <form action="{{ url('breeder_configration_messages', {'contact_id': rootMessage.id}) }}" method="post"
          name="contract-cancel-form">
        {{ include('animalline/components/_modal_contract_cancel.twig') }}
    </form>
    <form action="{{ url('breeder_configration_messages', {'contact_id': rootMessage.id}) }}" method="post"
          name="contract-accept-form">
        <input type="hidden" name="accept-contract" value="1">
        {{ include('animalline/components/_modal_contract.twig') }}
    </form>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.getElementById("cancel").onclick = function() {
    $('#modal_cancel').modal('show');
};
    let el = document.getElementById("contract");
    if (el) {
    document.getElementById("contract").onclick = function () {
        $('#modal_contract').modal('show');
    };
}
    $("#confirm-yes-cancel").click(function (e) {
    $("form[name='contract-cancel-form']").submit();
});
    $("#confirm-yes").click(function (e) {
    $("form[name='contract-accept-form']").submit();
});
</script>
{% endblock %}