{% form_theme form 'Form/form_div_layout.twig' %}
{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="ec-pageHeader">
                <h1>{{ '基本情報入力'|trans }}</h1>
            </div>
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form method="post" novalidate name="update-baseinfo-form">
                        <h2>ブリーダー情報</h2>
                        {{ form_widget(form._token) }}
                        <div class="ec-borderedDefs">
                            <div class="mb-5">
                                <dl>
                                    <dt>
                                        {{ form_label(form.breeder_name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.breeder_name) ? ' error' }}">
                                            {{ form_widget(form.breeder_name, { 'attr': { 'placeholder': 'お名前' }}) }}
                                            {{ form_errors(form.breeder_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.breeder_kana, 'お名前(カナ)', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.breeder_kana) ? ' error' }}">
                                            {{ form_widget(form.breeder_kana, { 'attr': { 'placeholder': 'お名前（カナ）' }}) }}
                                            {{ form_errors(form.breeder_kana) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.handling_pet_kind, '取り扱いペット種別', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.handling_pet_kind) ? ' error' }}">
                                            {{ form_widget(form.handling_pet_kind) }}
                                            {{ form_errors(form.handling_pet_kind) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.breeder_address, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <p style="font-size:14px;color:#DE5D50;">〒は'-'を入れずに入力してくだい</p>
                                    </dt>
                                    <dd class="h-adr">
                                        <span class="p-country-name" style="display:none;">Japan</span>
                                        <div class="ec-zipInput{{ has_errors(form.breeder_zip) ? ' error' }}">
                                            <span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.breeder_zip) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="/html/template/default/assets/icon/question-white.svg"
                                                                alt="">
                                                    </div>
                                                </div>
                                                <a href="https://www.post.japanpost.jp/zipcode/"
                                                   target="_blank"><span>郵便番号検索</span></a>
                                            </div>
                                            {{ form_errors(form.breeder_zip) }}
                                        </div>
                                        <div class="ec-select{{ has_errors(form.PrefBreeder) ? ' error' }}">
                                            {{ form_widget(form.PrefBreeder) }}
                                            {{ form_errors(form.PrefBreeder) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.breeder_city) ? ' error' }}">
                                            {{ form_widget(form.breeder_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            {{ form_errors(form.breeder_city) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.breeder_address) ? ' error' }}">
                                            {{ form_widget(form.breeder_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            {{ form_errors(form.breeder_address) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.breeder_tel, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <p style="font-size:14px;color:#DE5D50;">'-'を入れずに入力してくだい</p>
                                    </dt>
                                    <dd>
                                        <div class="ec-telInput{{ has_errors(form.breeder_tel) ? ' error' }}">
                                            {{ form_widget(form.breeder_tel) }}
                                            {{ form_errors(form.breeder_tel) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.breeder_fax, 'FAX番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <p style="font-size:14px;color:#DE5D50;">'-'を入れずに入力してくだい</p>
                                    </dt>
                                    <dd>
                                        <div class="ec-telInput{{ has_errors(form.breeder_fax) ? ' error' }}">
                                            {{ form_widget(form.breeder_fax) }}
                                            {{ form_errors(form.breeder_fax) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.pr_text, '自己PR', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.pr_text) ? ' error' }}">
                                            {{ form_widget(form.pr_text ,  { 'attr': { 'placeholder': 'ブリーダー様の自己紹介文をご記入ください。' }}) }}
                                            {{ form_errors(form.pr_text) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.regal_effort, '動物愛護法改正への対応', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.regal_effort) ? ' error' }}">
                                            {{ form_widget(form.regal_effort,  { 'attr': { 'placeholder': 'ブリーダー様にて動物愛護法に対応している内容があればご記入ください。' }}) }}
                                            {{ form_errors(form.regal_effort) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.thumbnail_path, 'ブリーダー画像', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="media-body">
                                            <img id="img_thumbnail"
                                                 class="img_preview mb-2 {{ breederData.thumbnailPath ? '' : 'hidden' }}"
                                                 src="{{ breederData.thumbnailPath }}" alt="..."
                                                 style="width: 200px; border: 1px solid #ddd;"/>
                                            {{ form_widget(form.thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;', class : 'thumbnail_path'  } }) }}
                                            {{ form_errors(form.thumbnail_path) }}
                                            <input type="hidden" name="thumbnail_path" id="breeder_src_path">
                                        </div>
                                        <a class="btn btn-ec-regular mr-2"
                                           onclick="$('#breeders_thumbnail_path').click()"
                                           style="background: #f0f0f0; border: 1px solid black;">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>
                                        <div class="ec-input" id="breeder_img_error">
                                            <p class="ec-errorMessage">ブリーダー様のプロフィール写真をアップロードください。</p>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="mb-5">
                                {# <div class="d-flex" style="border-bottom:1px dotted #ccc"> #}
                                <div style="border-bottom:1px dotted #ccc">
                                    <h2 class="mt-1">動物取扱業登録証情報</h2>
                                    <button class="btn btn-ec-regular btn-secondary mt-2 mb-2" id="copy" type="button">
                                        ブリーダー情報コピー
                                    </button>
                                </div>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_name, '運営責任者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.license_name) ? ' error' }}">
                                            {{ form_widget(form.license_name,  { 'attr': { 'placeholder': '運営責任者氏名' }}) }}
                                            {{ form_errors(form.license_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_thumbnail_path, '動物取扱業登録証画像', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="media-body">
                                            <img id="img_license_thumbnail"
                                                 class="img_preview mb-2 {{ breederData.licenseThumbnailPath ? '' : 'hidden' }}"
                                                 src="{{ breederData.licenseThumbnailPath }}" alt="..."
                                                 style="width: 200px; border: 1px solid #ddd;"/>
                                            {{ form_widget(form.license_thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;', class : 'thumbnail_path'  } }) }}
                                            {{ form_errors(form.license_thumbnail_path) }}
                                            <input type="hidden" name="license_thumbnail_path" id="breeder_license_src_path">
                                        </div>
                                        <a class="btn btn-ec-regular mr-2"
                                           onclick="$('#breeders_license_thumbnail_path').click()"
                                           style="background: #f0f0f0; border: 1px solid black;">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>
                                        <div class="ec-input" id="breeder_license_img_error">
                                            <p class="ec-errorMessage">動物取扱業登録証の画像をアップロードお願いします。</p>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_no, '登録証番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.license_no) ? ' error' }}">
                                            {{ form_widget(form.license_no,  { 'attr': { 'placeholder': '登録証番号' }}) }}
                                            {{ form_errors(form.license_no) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_address, '所在地', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        <p style="font-size:14px;color:#DE5D50;">〒は'-'を入れずに入力してくだい</p>
                                    </dt>
                                    <dd class="h-adr">
                                        <span class="p-country-name" style="display:none;">Japan</span>
                                        <div class="ec-zipInput{{ has_errors(form.license_zip) ? ' error' }}">
                                            <span>{{ '〒'|trans }}</span>
                                            {{ form_widget(form.license_zip) }}
                                            <div class="ec-zipInputHelp">
                                                <div class="ec-zipInputHelp__icon">
                                                    <div class="ec-icon"><img
                                                                src="/html/template/default/assets/icon/question-white.svg"
                                                                alt="">
                                                    </div>
                                                </div>
                                                <a href="https://www.post.japanpost.jp/zipcode/"
                                                   target="_blank"><span>郵便番号検索</span></a>
                                            </div>
                                            {{ form_errors(form.license_zip) }}
                                        </div>
                                        <div class="ec-select{{ has_errors(form.PrefLicense) ? ' error' }}">
                                            {{ form_widget(form.PrefLicense) }}
                                            {{ form_errors(form.PrefLicense) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.license_city) ? ' error' }}">
                                            {{ form_widget(form.license_city, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                            {{ form_errors(form.license_city) }}
                                        </div>
                                        <div class="ec-input{{ has_errors(form.license_address) ? ' error' }}">
                                            {{ form_widget(form.license_address,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                            {{ form_errors(form.license_address) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_house_name, '事業所の名称', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.license_house_name) ? ' error' }}">
                                            {{ form_widget(form.license_house_name,  { 'attr': { 'placeholder': '動物取扱者事業所の名称' }}) }}
                                            {{ form_errors(form.license_house_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_manager_name, '動物取扱者氏名', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-halfInput{{ has_errors(form.license_manager_name) ? ' error' }}">
                                            {{ form_widget(form.license_manager_name,  { 'attr': { 'placeholder': '動物取扱者氏名' }}) }}
                                            {{ form_errors(form.license_manager_name) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_regist_date, '登録年月日', { 'label_attr': { 'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-birth{{ has_errors(form.license_regist_date) ? ' error' }}">
                                            {{ form_widget(form.license_regist_date.year) }}<span>/</span>
                                            {{ form_widget(form.license_regist_date.month) }}<span>/</span>
                                            {{ form_widget(form.license_regist_date.day) }}
                                            {{ form_errors(form.license_regist_date) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        {{ form_label(form.license_expire_date, '有効期間の末日', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-birth{{ has_errors(form.license_expire_date) ? ' error' }}">
                                            {{ form_widget(form.license_expire_date.year) }}<span>/</span>
                                            {{ form_widget(form.license_expire_date.month) }}<span>/</span>
                                            {{ form_widget(form.license_expire_date.day) }}
                                            {{ form_errors(form.license_expire_date) }}
                                        </div>
                                    </dd>
                                </dl>
                                {# 20211015 動物取扱業の種別の削除 #}
                                {# <dl>
                                    <dt>
                                        {{ form_label(form.license_type, '動物取扱業の種別', { 'label_attr': {'class': 'ec-label' }}) }}
                                    </dt>
                                    <dd>
                                        <div class="ec-select{{ has_errors(form.license_type) ? ' error' }}">
                                            {{ form_widget(form.license_type) }}
                                            {{ form_errors(form.license_type) }}
                                        </div>
                                    </dd>
                                </dl> #}
                            </div>
                        </div>
                        <div class="ec-registerRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <input type="hidden" name="return_path" value="{{ return_path }}"/>
                                    <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{ include('animalline/components/_modal_confirm.twig') }}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
<script src="{{ asset('assets/js/baseinfo.js') }}"></script>

<script>
    document.getElementById("copy").onclick = function() {
        // ブリーダー情報をライセンス情報にコピー
        document.getElementById("breeders_license_name").value = document.getElementById("breeders_breeder_name").value 
        document.getElementById("breeders_license_zip").value = document.getElementById("breeders_breeder_zip").value 
        document.getElementById("breeders_PrefLicense").value = document.getElementById("breeders_PrefBreeder").value 
        document.getElementById("breeders_license_city").value = document.getElementById("breeders_breeder_city").value 
        document.getElementById("breeders_license_address").value = document.getElementById("breeders_breeder_address").value 
    };
</script>
{% endblock %}
        