{% set site_type = 'breeder' %}
{% set params = app.request.query.all %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column">
        <div class="inner">
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
                <div class="breeder-column__main_section_title">
                    <h2>取引メッセージ</h2>
                </div>
                <div class="breeder-column__main_section_body">
                    <div class="breeder_section_header">
                        <i class="fas fa-paw"></i>
                        ペット情報
                    </div>
                    <div class="row mb-4 mt-4">
                        <div class="col-md-3 col-sm-4">
                            <a class="w-100" target="_blank" href="{{ url('breeder_pet_detail', {'id': message.getPet.Id}) }}">
                                <img src="{{ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (message.getPet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
                                    class="w-100 mb-4 mb-sm-0" alt="...">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="font-weight-500 color-gray-500 mb-4">{{ pet.BreedsType.breedsName ?? '' }}</h3>
                            <div class="d-flex mb-2">
                                <h6>誕生日：{{ pet.petBirthday|date('Y年m月d日') }}生</h6>
                            </div>
                            <div class="d-flex mb-2">
                                <h6>色：{{ pet.getCoatColor() ?? '' }}</h6>
                            </div>
                            <div class="d-flex mb-2">
                                <h6>性別：{{ message.getPet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h6>
                            </div>
                            <div class="d-flex mb-2">
                                <h6>価格：{{ pet.price }}円</h6>
                            </div>
                            <a target="_blank" href="{{ url('breeder_pet_detail', {'id': pet.id}) }}">
                                <h4 class="color-breeder d-inline-block">ペット詳細ページへ</h4>
                            </a>
                        </div>
                    </div>

                    {# <div class="breeder_section_header">
                        <i class="fas fa-paw"></i>
                        顧客情報
                    </div>
                    <div class="breeder-info col-12">
                        <h3 class="font-weight-500 color-gray-500 mb-4">{{ Customer.name01 }}{{ Customer.name02 }}</h3>
                    </div> #}

                    <div class="breeder_section_header">
                        {% if message.contactType == 1 %}
                        お問い合わせ
                        {% elseif message.contactType == 2 %}
                        見学希望
                        {% endif %}
                    </div>
                    <div style="background:#fff3dd; border:#388e3c 1px solid">
                        <div class="p-2">
                            <div class="ml-3">
                                <h3 class="mb-2" style="border-bottom: 1px dotted #cd8362;">{{ message.contactTitle }}</h3>
                                <h5 class="mb-2 font-weight-400">{{ message.contactDescription|nl2br }}</h5>
                                {% if message.contactType == 2 %}
                                <h5 class="mb-2 font-weight-400">{{ message.bookingRequest }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <h6 class="text-right">{{ message.sendDate | date('Y/m/d h:i')}}</h6>
                    <div class="m-2 p-2"></div>

                    {# 返信メッセージ #}
                    {% for listMessage in listMsg %}
                        {# 保護団体からの返信 #}
                        {% if listMessage.messageFrom == constant('Customize\\Config\\AnilineConf::MESSAGE_FROM_MEMBER') %}
                            <div class="balloon">
                                <div class="chatting">
                                    <div class="message message-right">
                                        {{ listMessage.contactDescription|nl2br }}
                                    </div>
                                </div>
                                {# <div class="icon">
                                    <img src="{{ rootMessage.Conservation.thumbnailPath | default('/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ '/noimage_plugin_list.png') }}">  
                                </div> #}
                                <h6 class="text-right" style="padding-right:24px;">{{ listMessage.sendDate | date('Y/m/d H:i') }}</h6>
                            </div>
                        {# ユーザーからの返信 #}
                        {% else %}
                            <div class="balloon">
                                <div class="icon">
                                    <img src="{{ asset('assets/img/testUser.png') }}">  
                                </div>
                                <div class="chatting">
                                    <div class="message message-left">
                                        {{ listMessage.contactDescription|nl2br }}
                                    </div>
                                </div>
                                <h6 class="text-right">{{ listMessage.sendDate | date('Y/m/d H:i') }}</h6>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# 返信欄・ボタン #}
                    {% if message.contractStatus not in constant('Customize\\Config\\AnilineConf::CONTRACT_STATUSES_ENABLE') %}
                        <div class="row">
                            <div class="col-12">
                                <div class="py-3">
                                    <form action="{{ url('breeder_breeder_message', {'id': message.id}) }}" method="post" name="breeder-msg-form">
                                        <textarea {{ params.isScroll is defined ? 'autofocus' }} aria-label="dialog-chat" class="col-12 p-2" rows="5" name="reply_message"
                                            placeholder="返信メッセージ"></textarea>
                                        <button type="submit" class="ec-blockBtn--cancel mt-2 mb-4">返信メッセージ送信</button>
                                        ・取引が成立した場合は“取引成約”ボタンを押してください<br />
                                        ・取引が成立しなかった場合は“取引不成約”ボタンを押してください<br />
                                        オーナー様、ブリーダー様双方からの取引成約を確認した時点で取引成立となります。
                                        <div class="d-flex flex-sm-column flex-md-row justify-content-between">
                                            <button type="button" {{ message.breederCheck ? 'disabled' }} class="ec-blockBtn--action mt-2" id="contract">取引成約</button>
                                            <button type="button" {{ message.breederCheck ? 'disabled' }} class="ec-blockBtn--cancel mt-2" id="cancel">
                                                取引不成約
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <form action="{{ url('breeder_breeder_message', {'id': message.id}) }}" method="post" name="contract-cancel-form">
        {{ include('animalline/components/_modal_contract_cancel.twig') }}
    </form>
    <form action="{{ url('breeder_breeder_message', {'id': message.id}) }}" method="post" name="contract-accept-form">
        <input type="hidden" name="accept-contract" value="1">
        {{ include('animalline/components/_modal_contract.twig') }}
    </form>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <style>
        @media (max-width: 576px) {
            .flex-sm-column {
                -ms-flex-direction: column !important;
                flex-direction: column !important;
            }
        }
        .d-flex>button {
            flex: 0 0 49%;
        }
    </style>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    if (document.getElementById("cancel")) {
        document.getElementById("cancel").onclick = function () {
            $('#modal_cancel').modal('show');
        };
    }
    if (document.getElementById("contract")) {
        document.getElementById("contract").onclick = function () {
            $('#modal_contract').modal('show');
        };
    }

    $("#confirm-yes-cancel").click(function (e) {
        $("form[name='contract-cancel-form']").submit();
    });
    $("#confirm-yes").click(function (e) {
        $("form[name='contract-accept-form']").submit();
    });
</script>
{% endblock %}