{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'マイページ'|trans }}/{{ '会員情報編集(完了)'|trans }}</h1>
            </div>
        </div>
        <div class="ec-registerCompleteRole">
            <div class="ec-off2Grid ec-text-ac">
                <div class="ec-off2Grid__cell">
                    <div class="ec-reportHeading">
                        <h2>{{ '会員登録内容の変更が完了いたしました'|trans }}</h2>
                    </div>
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel"
                                                          href="{{ url('breeder_mypage') }}">{{ '戻る'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
