{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block main %}
    <section id="breeder-column">
        <div class="inner">
            <div class="ec-registerRole">
                <div class="ec-pageHeader">
                    <h1>ブリーダーを評価</h1>
                </div>
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <form method="post" action="{{ url('breeder_contract', {'pet_id': pet_id}) }}" novalidate
                            name="contract-form">
                            {{ form_widget(form._token) }}
                            <p class="ec-para-nomal">
                                お取引をしたブリーダーについて、お客様のご感想をお聞かせください。
                            </p>
                            <div class="ec-borderedDefs">
                                <dl>
                                    <dt>
                                        <label class="ec-label required">おすすめレベル</label>
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd class="ec-radio{{ has_errors(form.evaluation_value) ? ' error' }}">
                                        {{ form_widget(form.evaluation_value) }}
                                        {{ form_errors(form.evaluation_value) }}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label class="ec-label required">タイトル</label>
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.evaluation_title) ? ' error' }}">
                                            {{ form_widget(form.evaluation_title) }}
                                            {{ form_errors(form.evaluation_title) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label class="ec-label required">コメント</label>
                                        <span class="ec-required">必須</span>
                                    </dt>
                                    <dd>
                                        <div class="ec-input{{ has_errors(form.evaluation_message) ? ' error' }}">
                                            {{ form_widget(form.evaluation_message) }}
                                            {{ form_errors(form.evaluation_message) }}
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label class="ec-label" for="breeders_thumbnail_path">画像</label>
                                    </dt>
                                    <dd>
                                        <div class="media-body">
                                            <img id="img_thumbnail"
                                                class="img_preview mb-2 {{ not thumbnail_path ? 'hidden' }}"
                                                src="{{ thumbnail_path }}" style="width: 200px; border: 1px solid #ddd;"/>
                                            {{ form_widget(form.thumbnail_path, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                            {{ form_errors(form.thumbnail_path) }}
                                            <input type="hidden" name="thumbnail_path" value="{{ thumbnail_path }}">
                                        </div>
                                        <a class="btn btn-ec-regular mr-2"
                                        onclick="$('#breeder_evaluations_thumbnail_path').click()" style="background: #f0f0f0; border: 1px solid black;">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="ec-registerRole__actions">
                                <div class="ec-off4Grid">
                                    <div class="ec-off4Grid__cell">
                                        <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">確認ページへ
                                        </button>
                                        <a class="ec-blockBtn--cancel" href="{{ url('breeder_message', {'id': msg_id}) }}">戻る</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modal-crop" tabindex="-1"
         role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalLabel">画像切り抜き</h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container row">
                        <div class="col-md-6 col-12 d-flex">
                            <!--  default image where we will set the src via jquery-->
                            <div style="flex-grow: 1">
                                <img id="image">
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-center align-items-center">
                            <div class="preview"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" id="crop">切り抜き</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <style>
        .ec-radio .form-check {
            display: flex;
            align-items: center;
        }

        .ec-radio #breeder_evaluations_evaluation_value {
            display: flex;
            flex-direction: column-reverse;
        }

        img#image {
            display: block;
            max-width: 100%;
        }

        .preview {
            overflow: hidden;
            width: 200px !important;
            height: 200px !important;
        }
    </style>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script src="{{ asset('assets/js/contract.js') }}"></script>
{% endblock %}
