{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>ブリーダー登録申請</h1>

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-md-12">
                    <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{url('breeder_baseinfo')}}'"> 
                        Step1 - 基本情報入力
                    </button>
                </div>
            </div>

            <input type="hidden" id="step" value="{{ step }}">
            {% if step > 1 %}
                {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 1 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('breeder_house_info',{'pet_type': 1 })}}'"> 
                                Step2 - 犬舎情報登録
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 2 %}
                    <div class="row">
                    <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('breeder_house_info',{'pet_type': 2 })}}'"> 
                                Step2 - 猫舎情報登録
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if step > 2 %}
                {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 1 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('breeder_examination_info',{'pet_type': 1})}}'"> 
                                Step3 - 犬舎審査項目登録
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 2 %}
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 col-md-12">
                            <button type="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('breeder_examination_info',{'pet_type': 2})}}'"> 
                                Step3 - 猫舎審査項目登録
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if step > 3 %}
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        {# <button type="button" id="button" name="examination_link" class="btn btn-warning btn-block mt-3" onclick="location.href='{{path('breeder_examination_submit')}}'">  #}
                        <button type="button" id="submit" name="examination_link" class="btn btn-warning btn-block mt-3"> 
                            Step4 - 審査情報提出
                        </button>
                    </div>
                </div>
            {% endif %}
            {% if step > 4 %}
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 col-md-12">
                        <div class="mt-3">        
                            <span>現在登録内容を確認中です。登録の完了はメールにて完了通知をお送り致します。<br />登録が完了するとマイページよりペット情報の登録が可能となります。<br />登録完了までしばらくお待ち下さい。</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{{ include('animalline/components/_modal_submit_confirm.twig') }}

{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    step = document.getElementById('step').value
    if( step > 4){
        $('.btn-warning').attr('disabled', true);
    }

    document.getElementById("submit").onclick = function() {
        $('#modal').modal('show');
    };
    
    $("#confirm-yes").click(function (e) {
        window.location.href = "{{url('breeder_examination_submit')}}"
    });

</script>
{% endblock %}