{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block main %}
	<section id="breeder-column" class="breeder-column_dog">
		<div class="inner">
			<div class="ec-pageHeader">
				<h1>{{ '犬舎・' ~ petType ~ '舎審査項目登録'|trans }}</h1>
			</div>
			<div class="ec-off1Grid">
				<div class="ec-off1Grid__cell">
					{{ form_start(form) }}
					{% if isEdit %}
						<input hidden id="form-edit">
					{% endif %}
					<span class="p-country-name" style="display:none;">Japan</span>
					<div class="ec-borderedDefs">
						<dl>
							<dt>
								<label class="ec-label required">血統書発行団体情報</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="input-group-append">
									{{ form_widget(form.pedigree_organization[0]) }}
									<div class="ec-select ml-4">  
										{{ form_widget(form.group_organization) }}
										{{ form_errors(form.group_organization) }}
									</div>
								</div>
								{{ form_errors(form.pedigree_organization) }}
								{{ form_widget(form.pedigree_organization[1]) }}
								{{ form_widget(form.pedigree_organization[2]) }}
								<div class="ec-select">  
									{{ form_widget(form.pedigree_organization_other) }}
									{{ form_errors(form.pedigree_organization_other) }}
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label class="ec-label required">飼育・保有している{{ petType }}の総数</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.breeding_pet_count) }}
										{{ form_errors(form.breeding_pet_count) }}
									</div>
									<label class="ml-2">頭</label>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label class="ec-label required">親{{ petType }}頭数</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											1～3歳                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_count_1) }}
												{{ form_errors(form.parent_pet_count_1) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											4～6歳                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_count_2) }}
												{{ form_errors(form.parent_pet_count_2) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
								<!--
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											7歳以上                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_count_3) }}
												{{ form_errors(form.parent_pet_count_3) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
								-->
							</dd>
						</dl>
						<!--
						<dl>
							<dt>
								<label class="ec-label required">親{{ petType }}の購入先</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											ブリーダー                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_buy_place_1) }}
												{{ form_errors(form.parent_pet_buy_place_1) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											ショップ                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_buy_place_2) }}
												{{ form_errors(form.parent_pet_buy_place_2) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="row">
										<div class="col-4">
											その他                                                          
										</div>
										<div class="col-8 input-group-append">
											<div class="ec-select">
												{{ form_widget(form.parent_pet_buy_place_3) }}
												{{ form_errors(form.parent_pet_buy_place_3) }}
											</div>
											<label class="ml-2">頭</label>
										</div>
									</div>
								</div>
							</dd>
						</dl>
						-->
						<dl>
							<dt>
								<label class="ec-label required">飼育スタッフ構成</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<label class="ec-label required mr-2">{{ petType }}舎運営者　1名</label><br />
								
								<!--
								<label class="ec-label required">一人あたり平均労働時間</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.owner_worktime_ave) }}
										{{ form_errors(form.owner_worktime_ave) }}
									</div>
									<label class="ml-2">時間/1週間</label>
								</div>
													
								<label class="ec-label required mr-2">家族</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.family_staff_count) }}
										{{ form_errors(form.family_staff_count) }}
									</div>
									<label class="ml-2">名</label>
								</div>

								<label class="ec-label required">一人あたり平均労働時間</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.family_staff_worktime_ave) }}
										{{ form_errors(form.family_staff_worktime_ave) }}
									</div>
									<label class="ml-2">時間/1週間</label>
								</div>
								-->
								<label class="ec-label required mr-2">社員</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.fulltime_staff_count) }}
										{{ form_errors(form.fulltime_staff_count) }}
									</div>
									<label class="ml-2">名</label>
								</div>
								<!--
								<label class="ec-label required">一人あたり平均労働時間</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.fulltime_staff_worktime_ave) }}
										{{ form_errors(form.fulltime_staff_worktime_ave) }}
									</div>
									<label class="ml-2">時間/1週間</label>
								</div>
								-->
								<label class="ec-label required mr-2">パート・アルバイト</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.parttime_staff_count) }}
										{{ form_errors(form.parttime_staff_count) }}
									</div>
									<label class="ec-label required ml-2">名</label>
								</div>
								<!--
								<label class="ec-label required">一人あたり平均労働時間</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.parttime_staff_worktime_ave) }}
										{{ form_errors(form.parttime_staff_worktime_ave) }}
									</div>
									<label class="ml-2">時間/1週間</label>
								</div>
								-->
								<label class="ec-label required mr-2">その他</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.other_staff_count) }}
										{{ form_errors(form.other_staff_count) }}
									</div>
									<label class="ml-2">名</label>
								</div>
								<!--
								<label class="ec-label required">一人あたり平均労働時間</label>
								<div class="input-group-append">
									<div class="ec-input">
										{{ form_widget(form.other_staff_worktime_ave) }}
										{{ form_errors(form.other_staff_worktime_ave) }}
									</div>
									<label class="ml-2">時間/1週間</label>
								</div>
								-->
							</dd>
						</dl>
						<dl>
							<dt>
								<label class="ec-label required">ブリーディング歴</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="input-group-append">
									<div class="ec-input mt-1" style="width: 100px;">
										{{ form_widget(form.breeding_exp_year) }}
										{{ form_errors(form.breeding_exp_year) }}
									</div>
									<span>年</span>
									<div class="ec-select ml-1">
										{{ form_widget(form.breeding_exp_month) }}
										{{ form_errors(form.breeding_exp_month) }}
									</div>
									<span>ヶ月</span>
								</div>
							</dd>
						</dl>
						<!--
						<dl>
							<dt>
								<label class="ec-label required">ショー参加経験</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="ec-radio">
									<div class="ec-radio">
										{{ form_widget(form.is_participate_show) }}
										{{ form_errors(form.is_participate_show) }}
									</div>
								</div>
							</dd>
						</dl>
						
						<dl>
							<dt>
								<label class="ec-label required">親{{ petType }}のケージ</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="ec-checkbox">
									<label>
										{{ form_widget(form.cage_size_1) }}
									</label>
									<br>
									<label>
										{{ form_widget(form.cage_size_2) }}
									</label>
									<br>
									<label>
										{{ form_widget(form.cage_size_3) }}
									</label>
									<div class="ec-input">
										{{ form_widget(form.cage_size_other) }}
										{{ form_errors(form.cage_size_other) }}
									</div>
								</div>
							</dd>
						</dl>
						-->
						<dl>
							<dt>
								<label class="ec-label required">親{{ petType }}の運動状況</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="ec-checkbox">
									<label>
										{{ form_widget(form.exercise_status) }}
										{{ form_errors(form.exercise_status) }}
									</label>
									<div class="ec-input">
										{{ form_widget(form.exercise_status_other) }}
										{{ form_errors(form.exercise_status_other) }}
									</div>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label class="ec-label required">現時点で掲載可能な子{{ petType }}</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								<div class="input-group-append">
									{{ form_widget(form.is_now_publising[0]) }}
									<div class="ec-input ml-3 mr-1">
										{{ form_widget(form.publish_pet_count) }}
										{{ form_errors(form.publish_pet_count) }}
									</div>
									<label class="ml-2">頭</label>
								</div>

								{{ form_widget(form.is_now_publising[1]) }}
								{{ form_errors(form.is_now_publising) }}
							</dd>
						</dl>
						<!--
						<dl>
							<dt>
								<label class="ec-label required">自身での繁殖経験</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								{{ form_widget(form.breeding_experience) }}
								{{ form_errors(form.breeding_experience) }}
							</dd>
						</dl>

						<dl>
							<dt>
								<label class="ec-label required">直接の販売経験</label>
								<span class="ec-required">必須</span>
							</dt>
							<dd>
								{{ form_widget(form.selling_experience) }}
								{{ form_errors(form.selling_experience) }}
							</dd>
						</dl>
						-->
					</div>
					<div class="ec-registerRole__actions">
						<div class="ec-off4Grid">
							<div class="ec-off4Grid__cell">
								<button class="ec-blockBtn--action" data>登録</button>
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
    {{ include('animalline/components/_modal_confirm.twig') }}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}

{% block javascript %}
<script>
	$(document).ready(function() {
		var pet_type = {{ petTypeId }}
			 const isEdit = !!$('#form-edit').length;
        	if (isEdit) {
            pedigree = $('#breeder_examination_info_group_organization').val();
       		}
			$.ajax({
				type: 'get',
				url: '/breeder_pedigree_data_by_pet_kind',
				dataType: 'json',
				data: {
						pet_kind: pet_type
					}
			})
			.done(function (data) {
				const { pedigrees } = data;
				$('#breeder_examination_info_group_organization').empty();
				pedigrees.forEach(pedigree => {
				$('#breeder_examination_info_group_organization').append(new Option(pedigree.name, pedigree.id));
				});
			})
			.fail(function (err) {
				console.error(err);
		})
	});
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ asset('assets/js/examinationinfo.js') }}"></script>
{% endblock %}