{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
<div class="main">
    <div class="page-inner">
    
        {% if user.is_breeder == 1 %}
            <div style="text-align: center;background-color: #eee8aa"><a href="#information">▼▼　年末年始の検体送付について　▼▼</a></div>
        {% endif %}
        <div id="mypage-menu">
            <h1>マイページ</h1>
            <div class="mypage-menu_list">
                <ul>
                    {% if user.regist_type == 0 %}
                    
                        <li><a href="{{url('breeder_favorite')}}"><i class="bi bi-heart"></i>お気に入り一覧</a>{# <span class="budge">123</span> #}</li>
                        <li><a href="{{url('breeder_all_message')}}"><i class="bi bi-chat-right-quote-fill"></i>取引メッセージ</a>{% if customer_newmsg == 1 %}<span class="budge">New!</span>{% endif %}</li>
                        {% if canBenefits %}<li><a href="{{url('breeder_benefits')}}"><i class="bi bi-gift-fill"></i>ご成約特典</a></li>{% endif %}
                    
                    {% endif %}
                    {% if user.is_breeder == 0 and user.regist_type == 1 %}
                        <li><a href="{{url('breeder_examination')}}"><i class="bi bi-pencil-fill"></i>ブリーダー申請を行う</a></li>
                    {% endif %}
                    {% if user.is_breeder == 1 %}
                        <li><a href="{{url('breeder_examination_kit')}}"><i class="fas fa-dna"></i>DNA検査キット請求<br /><p>生体掲載をご希望の方はこちら</p></a></li>
                        
                        <li><a href="{{url('breeder_examination_status')}}"><i class="fas fa-dna"></i>DNA検査状況確認<br /><p>　</p></a></li>
                        <li><a href="{{url('breeder_pet_list')}}"><i class="fas fa-paw"></i>ペット管理<br /><p>　</p></a></li>
                        {# <li><a href="{{url('breeder_all_breeder_message')}}"><i class="bi bi-chat-right-quote-fill"></i>お問い合わせ対応<br /><p>　</p></a>{% if breeder_newmsg == 1 %}<span class="budge">New!</span>{% endif %}</li> #}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="mypage-menu">
            <h1>会員情報管理</h1>
            <div class="mypage-menu_list">
                <ul>
                    <li><a href="{{ url('breeder_change') }}"><i class="bi bi-pencil-fill"></i>会員情報編集<br /><p>メールアドレス・パスワード変更の方はこちら</p></a></li>
                    
                    {% if user.is_breeder == 1 %}
                        <li><a href="{{url('breeder_baseinfo',{'return_path': "breeder_mypage"})}}"><i class="bi bi-pencil-fill"></i>基本情報編集<br /><p>　</p></a></li>
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 1 %}
                            <li><a href="{{path('breeder_house_info',{'pet_type': 1 ,'return_path': "breeder_mypage"})}}"><i class="bi bi-pencil-fill"></i>犬舎情報編集<br /><p>　</p></a></li>
                        {% endif %}
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 2 %}
                            <li><a href="{{path('breeder_house_info',{'pet_type': 2, 'return_path': "breeder_mypage" })}}"><i class="bi bi-pencil-fill"></i>猫舎情報編集<br /><p>　</p></a></li>
                        {% endif %}
                        <li><a href="{{url('breeder_bank_regist')}}"><i class="bi bi-pencil-fill"></i>口座登録<br /><p>弊社からのインセンティブ支払先をこちらからご登録ください</p></a></li>
                        {# <li><a href="{{ url('breeder_site_sample_menu') }}"><i class="bi bi-bell-fill"></i>検索サイトイメージ</a></li> #}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

     {% if user.is_breeder == 1 %}
        <a id="information"></a>
        <div style="margin: 2rem 0 0 0;padding:0 1rem 0 1rem; background-color:#eee8aa">お知らせ<br />DNA検体の送付について</div>
        <div style="background-color:#f5f5dc;padding:1rem 1rem 1rem 1rem;">
        平素よりAnimallineをご利用いただき誠にありがとうございます。<br />
        年末年始の遺伝病DNA検査に関してお伝えさせて頂きます。<br />
        <br />
        12月11日（土）迄に投函された分については本年内に検査結果をお伝えさせて頂きます。<br />
        12月12日（日）以降に投函された分については来年に検査結果をお伝えさせて頂きます。<br />
        <br />
        また12月25日（土）から1月3日（月）に検体を投函された場合、<br />
        DNA検体の保管ができかねますので<br />
        お手数ですが1月4日（火）以降の投函をお願い致します。<br />
        <br />
        今後ともAnimallineを宜しくお願い致します。<br />
        </div>

         <div class="row">
            <div class="col-lg-8 col-md-12" style="margin: 5rem auto 0 auto;">
                <img src="{{ asset('assets/img/reg/pet_regist_info.png') }}" alt="ペット情報掲載までの流れ"/>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}