{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>マイページ</h1>

            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('breeder_favorite')}}" class="btn btn-warning btn-block mt-3" role="button">お気に入り一覧</a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('breeder_all_message')}}" class="btn btn-warning btn-block mt-3" role="button">取引メッセージ</a>
                </div>
            </div>
            <div class="m-2 p-2"></div>
            {% if user.is_breeder == 0 %}
            <h3>ブリーダー登録申請</h3>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('breeder_examination')}}" class="btn btn-warning btn-block mt-3" role="button">ブリーダー申請を行う</a>
                </div>
            </div>
            {% endif %}

            {% if user.is_breeder == 1 %}
                <div class="m-2 p-2"></div>
                <h1>ブリーダー様管理メニュー</h1>

                {% if breeder %}
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <a href="{{url('breeder_baseinfo',{'return_path': "breeder_mypage"})}}" class="btn btn-warning btn-block mt-3" role="button">基本情報編集</a>
                        </div>
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 1 %}
                            <div class="col-lg-4 col-md-12">
                                <a href="{{path('breeder_house_info',{'pet_type': 1 ,'return_path': "breeder_mypage"})}}" class="btn btn-warning btn-block mt-3" role="button">犬舎情報登録</a>
                            </div>
                        {% endif %}
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 2 %}
                            <div class="col-lg-4 col-md-12">
                                <a href="{{path('breeder_house_info',{'pet_type': 2, 'return_path': "breeder_mypage" })}}" class="btn btn-warning btn-block mt-3" role="button">猫舎情報登録</a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_all_message')}}" class="btn btn-warning btn-block mt-3" role="button">問い合わせ対応</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_pet_list')}}" class="btn btn-warning btn-block mt-3" role="button">ペット管理</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{path('breeder_examination_kit')}}" class="btn btn-warning btn-block mt-3" role="button">DNA検査キット請求</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_examination_status')}}" class="btn btn-warning btn-block mt-3" role="button">検査状況確認</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}