{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>マイページ</h1>
            {% if user.is_breeder == 1 %}
            <div style="text-align: center;background-color: #eee8aa"><a href="#information">▼▼　年末年始の検体送付について　▼▼</a></div>
            {% endif %}
            
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('breeder_favorite')}}" class="btn btn-warning btn-block mt-3" role="button">お気に入り一覧</a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <a href="{{url('breeder_all_message')}}" class="btn btn-warning btn-block mt-3" role="button">取引メッセージ</a>
                </div>
            </div>

            <div class="m-2 p-2"></div>
            {% if user.is_breeder == 0 %}
                <h3>ブリーダー登録申請</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_examination')}}" class="btn btn-warning btn-block mt-3" role="button">ブリーダー申請を行う</a>
                    </div>
                </div>
            {% endif %}
            {% if user.is_breeder == 1 %}
                <div class="m-2 p-2"></div>
                <h1>ブリーダー様管理メニュー</h1>
                <div class="row">
                    <div class="col-lg-4 col-md-12 text-center">
                        <a href="{{url('breeder_examination_kit')}}" class="btn btn-success btn-block mt-3" role="button">DNA検査キット請求</a>
                        <span style="color: red;">生体掲載をご希望の方はこちら</span>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_examination_status')}}" class="btn btn-success btn-block mt-3" role="button">DNA検査状況確認</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_pet_list')}}" class="btn btn-success btn-block mt-3" role="button">ペット管理</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <a href="{{url('breeder_all_breeder_message')}}" class="btn btn-warning btn-block mt-3" role="button">お問い合わせ対応</a>
                    </div>
                </div>
                {% if breeder %}
                    <div class="m-2 p-2"></div>
                    <h1>登録情報編集</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <a href="{{url('breeder_baseinfo',{'return_path': "breeder_mypage"})}}" class="btn btn-primary btn-block mt-3" role="button">基本情報編集</a>
                        </div>
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 1 %}
                            <div class="col-lg-4 col-md-12">
                                <a href="{{path('breeder_house_info',{'pet_type': 1 ,'return_path': "breeder_mypage"})}}" class="btn btn-primary btn-block mt-3" role="button">犬舎情報編集</a>
                            </div>
                        {% endif %}
                        {% if breeder.getHandlingPetKind() == 0 or breeder.getHandlingPetKind() == 2 %}
                            <div class="col-lg-4 col-md-12">
                                <a href="{{path('breeder_house_info',{'pet_type': 2, 'return_path': "breeder_mypage" })}}" class="btn btn-primary btn-block mt-3" role="button">猫舎情報編集</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {#
                        <div class="col-lg-4 col-md-12">
                            <a href="{{url('password_change')}}" class="btn btn-primary btn-block mt-3" role="button">パスワード変更</a>
                        </div>
                        #}
                        <div class="col-lg-4 col-md-12 text-center">
                            <a href="{{ url('breeder_change') }}" class="btn btn-primary btn-block mt-3" role="button">会員情報編集</a>
                            <span style="color: red;">メールアドレス・パスワード変更の方はこちら</span>
                        </div>
                    </div>

                    <div class="m-2 p-2"></div>
                    <h1>サイトサンプル</h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 text-center">
                            <a href="{{ url('breeder_site_sample_menu') }}" class="btn btn-info btn-block mt-3" role="button">検索サイトイメージ</a>
                            <span style="color: red;">お客様用の検索ページのイメージをご覧いただけます。</span>
                        </div>
                    </div>
                    <a id="information"></a>
                    <div style="margin: 2rem 0 0 0;padding:0 1rem 0 1rem; background-color:#eee8aa">お知らせ<br />DNA検体の送付について</div>
                    <div style="background-color:#f5f5dc;padding:1rem 1rem 1rem 1rem;">
                    平素よりAnimallineをご利用いただき誠にありがとうございます。<br />
                    年末年始の遺伝病DNA検査に関してお伝えさせて頂きます。<br />
                    <br />
                    12月11日（土）迄に投函された分については本年内に検査結果をお伝えさせて頂きます。<br />
                    12月12日（日）以降に投函された分については来年に検査結果をお伝えさせて頂きます。<br />
                    <br />
                    また12月25日（土）から1月3日（月）に検体を投函された場合、<br />
                    DNA検体の保管ができかねますので<br />
                    お手数ですが1月4日（火）以降の投函をお願い致します。<br />
                    <br />
                    今後ともAnimallineを宜しくお願い致します。<br />
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-8 col-md-12" style="margin: 5rem auto 0 auto;">
                        <img src="{{ asset('assets/img/reg/pet_regist_info.png') }}" alt="ペットの家庭教師"/>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}