{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="mypage-service_list__table">
        <div class="mypage-service_list__table_body">
            <table>
                <tr>
                    <th></th>
                    <th>犬種/猫種</th>
                    <th>登録日時</th>
                    <th></th>
                </tr>
                {% for pet in pets %}
                    <tr>
                        <td class="image">
                            <a href="{{ url('breeder_pets_edit', {'id': pet['bp_id']}) }}">
                                <figure>
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet['bp_thumbnail_path'] | default('/noimage_plugin_list.png')) }}"
                                         class="card-img-top" alt="Pet-image">
                                </figure>
                                <p>ID {{ pet['bp_id'] }}</p>
                            </a>
                        </td>
                        <td class="name">
                            <a href="{{ url('breeder_pets_edit', {'id': pet['bp_id']}) }}">
                                {{ pet['breeds_name'] ?? '' }}
                            </a>
                        </td>
                        <td class="time">{{ pet['bp_pet_birthday']|date('Y/m/d H:i') }}</td>
                        <td class="receive">
                            {% if pet['check'] %}
                                <a href="{{ url('breeder_breeder_message', {'id':pet['bch_id']}) }}">
                                    <div class="receive-icon">
                                        {% if pet['message'].isReading == constant('Customize\\Config\\AnilineConf::RESPONSE_REPLIED') %}
                                            <i class="bi bi-envelope-open"></i>
                                        {% elseif pet['message'].isReading == constant('Customize\\Config\\AnilineConf::RESPONSE_UNREPLIED') %}
                                            <i class="bi bi-envelope"></i>
                                            <span class="budge">1</span>
                                        {% endif %}
                                    </div>
                                    <p>{{ pet['last_msg'] ? pet['last_msg']|date('Y/m/d H:i') : 'なし' }}</p>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <span class="mb-2">
                        結果が０件です。
                    </span>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}