{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">アニマルラインTOP</a></li>
                <li><i class="bi bi-chevron-right"></i>マイページ</li>
            </ul>
        </div>
        <div id="mypage-menu">
            <h1><i class="bi bi-heart"></i>ペット管理</h1>
        </div>
        <div class="mypage-service_list__table">
            <div class="mypage-service_list__table_body">
                <table>
                    <tr>
                        <th></th>
                        <th>検体番号</th>
                        <th>犬種/猫種</th>
                        <th>誕生日</th>
                        <th>金額</th>
                        <th>動画</th>
                        <th>お問い合わせ</th>
                    </tr>
                    {% for pet in pets %}
                        <tr>
                            <td class="image">
                                {% if pet['contract_status'] > 0 or pet['is_delete'] == 1 or pet['bp_is_contract'] == 1 %}
                                        <figure>
                                            <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet['bp_thumbnail_path'] | default('/noimage_plugin_list.png')) }}"
                                                class="card-img-top" alt="Pet-image">
                                        </figure>
                                        <p style="color: #F00">[成約済み]</p>
                                {% elseif pet['contract_status'] > 0 and pet['bp_is_contract'] == 0 %}
                                        <figure>
                                                <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet['bp_thumbnail_path'] | default('/noimage_plugin_list.png')) }}"
                                                    class="card-img-top" alt="Pet-image">
                                            </figure>
                                            <p style="color: #F00">[成約手続中]</p>
                                {% else %}
                                    <a href="{{ url('breeder_pets_edit', {'id': pet['bp_id']}) }}">
                                        <figure>
                                            <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet['bp_thumbnail_path'] | default('/noimage_plugin_list.png')) }}"
                                                class="card-img-top" alt="Pet-image">
                                        </figure>
                                        <p>閲覧数：{{ pet['bp_view_count']}} </p>
                                        <p style="color: #F00">
    
                                        {% if pet['bp_dna_check_result'] == 0 %}
                                            {% if pet['bp_is_active'] == 2 or pet['bp_is_active'] == 0 %}
                                                [掲載停止中]
                                            {% else %}
                                                [掲載中]
                                            {% endif %}
                                            {% if pet['bp_is_contact'] == 1 %}
                                                [商談中]
                                            {% endif %}
                                        {% elseif pet['bp_dna_check_result'] == 1 %}
                                            {% if pet['bp_is_active'] == 2 %}
                                                [掲載停止中]
                                            {% else %}
                                                [掲載中]
                                            {% endif %}
                                             {% if pet['bp_is_contact'] == 1 %}
                                                [商談中]
                                            {% endif %}
                                        {% elseif pet['bp_dna_check_result'] == 2 %}
                                            [DNA検査NG]
                                        {% endif %}
                                        </p>
                                    </a>
                                {% endif %}
                                {% if pet['bp_is_active'] == 1 %}
                                    <a href="{{ url('breeder_pet_detail', {'id': pet['bp_id']}) }}" target="_blank">掲載ページ確認</a>
                                {% endif %}
                            </td>
                            <td class="time" data-label="検体番号">{{ pet['bp_pet_code'] }}</td>

                            <td class="name" data-label="犬種/猫種">
                                {% if pet['contract_status'] > 0 %}
                                    {{ pet['breeds_name'] ?? '' }}
                                {% else %}
                                    <a href="{{ url('breeder_pets_edit', {'id': pet['bp_id']}) }}">
                                        {{ pet['breeds_name'] ?? '' }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="time" data-label="誕生日">{{ pet['bp_pet_birthday']|date('Y/m/d') }}</td>
                            <td class="time" data-label="金額">{{ pet['bp_price']|number_format(0) }}円</td>
                            
                            <td class="time">
                                    {% if pet['contract_status'] == 0 and pet['is_delete'] != 1 %}
                                        {% if pet['movie_file'] %}
                                            <a href="{{ url('movie_upload', {'pet_id': pet['bp_id']}) }}" class="btn btn-primary">
                                            動画更新
                                            </a>
                                        {% else %}
                                            <a href="{{ url('movie_upload', {'pet_id': pet['bp_id']}) }}" class="btn btn-success">
                                            動画追加
                                            </a>
                                        {% endif %}
                                    {% endif %}
                            </td>

                            <td class="receive">
                                {% if pet['bch_id'] %}
                                    <a href="{{ url('user_all_message', {'pet_id':pet['bp_id']}) }}">
                                        <div class="receive-icon">
                                            {% if pet['check'] %}
                                                <i class="bi bi-envelope"></i>
                                                <span class="budge">1</span>
                                            {% else %}
                                                <i class="bi bi-envelope-open"></i>
                                            {% endif %}
                                        </div>
                                        <p>{{ pet['last_msg'] ? pet['last_msg']|date('Y/m/d H:i') : 'なし' }}</p>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <span class="mb-2">
                        結果が０件です。
                    </span>
                    {% endfor %}
                </table>
            </div>
            <div class="navigation float-right pt-4">
                {{ knp_pagination_render(pets, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>

            {#
            <div class="mypage-footer">
                <div class="polocy">
                    <figure><img src="{{ asset('assets/img/mypage/privacy_d.gif') }}" alt="プライバシーマーク"/></figure>
                    <p>〇〇〇〇は、個人情報の適切な管理をするプライバシーマーク付与事業者として認定されています。</p>
                </div>
            </div>
            #}
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}?v=20230131">
    <link rel="stylesheet" href="{{ asset('assets/css/mypage.css') }}?v=20230131">
{% endblock %}
{% block javascript %}{% endblock %}