{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="breeder-column__main_section_title" style="text-align: center">
                <h3>テンプレート編集</h3>
            </div>
            <div class="breeder-column__main_section_body">
                <form method="post" novalidate action="">
                    {{ form_widget(form._token) }}
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="ec-label required"
                                   for="breeder_petinfo_template_guarantee">生体保障内容</label>
                        </div>
                        <div class="col-md-8 ec-input">
                            {{ form_widget(form.guarantee) }}
                            {{ form_errors(form.guarantee) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="ec-label required" style="padding: 0.375rem 0"
                                   for="breeder_petinfo_template_delivery_way">引き渡し方法</label>
                            <span class="ec-required">必須</span>
                        </div>
                        <div class="col-md-8 ec-input">
                            {{ form_widget(form.delivery_way) }}
                            {{ form_errors(form.delivery_way) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="ec-label required" style="padding: 0.375rem 0"
                                   for="breeder_petinfo_template_payment_method">支払方法</label>
                            <span class="ec-required">必須</span>
                        </div>
                        <div class="col-md-8 ec-input">
                            {{ form_widget(form.payment_method) }}
                            {{ form_errors(form.payment_method) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="ec-label required" style="padding: 0.375rem 0"
                                   for="breeder_petinfo_template_reservation_fee">予約金</label>
                        </div>
                        <div class="col-md-8 ec-input">
                            {{ form_widget(form.reservation_fee) }}
                            {{ form_errors(form.reservation_fee) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="ec-blockBtn--action mt-4 mb-4" type="submit">登録する</button>
                            <a class="ec-blockBtn--cancel" href={{ url('breeder_mypage') }}>戻る</a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    
