{% extends '@admin/default_frame.twig' %}

{% set menus = ['customer', 'monthly_invoice'] %}

{% block title %}{% endblock %}
{% block sub_title %}請求・支払一覧{% endblock %}
{% set params = app.request.query.all %}
{% set month = params.month is defined ? params.month : 'now'|date('m') %}
{% set year = params.year is defined ? params.year : 'now'|date('Y') %}
{% set type = params.type is defined ? params.type : 1 %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
    <style type="text/css">
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/csv.js') }}"></script>
    <script>
        const CSV_FILE_NAME = 'monthly_invoices.csv';

        $(function(){
            $(".month").val(parseInt('{{ month }}'));
            $(".year").val('{{ year }}');
            $(".type").val('{{ type }}');
            $('#btn-csv-download').click(function () {
                var html = document.querySelector("table").outerHTML;
                htmlToCSV(html, CSV_FILE_NAME);
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
    <form id="search" name="search" method="get" action="{{ url('admin_monthly_invoice') }}">
        <div class="form-group">
            <label for="sel1">処理日時</label>
            <select class="col-1 year" name="year">
                <option>2022</option>
            </select>
            <label>年</label>
            <select class="col-1 month" name="month">
                {% for i in range(1, 12) %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
            <label>月</label>
        </div>
        <div class="form-group">
            <label for="sel1">サイト種別</label>
            <select class="col-1 type" name="type">
                <option value="1">ブリーダー </option>
                <option value="2">保護団体</option>
            </select>
            <button type="submit">検索</button>
        </div>
    </form>
    <div class="float-right">
        <button id="btn-csv-download">CSV Download</button>
    </div>
    <table class="table">
        <thead class="thead-darkt">
        <tr>
            <th>ブリーダー/保護団体名</th>
            <th>成約件数</th>
            <th>成約手数料</th>
            <th>EC販売件数</th>
            <th>ECインセンティブ</th>
            <th>請求/支払額</th>
        </tr>
        </thead>
        <tbody>
        {% for monthlyInvoice in listMonthlyInvoice %}
        <tr>
            <td>{{ monthlyInvoice.name01 }} {{ monthlyInvoice.name02 }}</td>
            <td>{{ monthlyInvoice.monthlyInvoice.contract_count }}</td>
            <td>{{ monthlyInvoice.monthlyInvoice.contract_commission }}</td>
            <td>{{ monthlyInvoice.monthlyInvoice.ec_count }}</td>
            <td>{{ monthlyInvoice.monthlyInvoice.ec_incentive }}</td>
            <td>{{ monthlyInvoice.monthlyInvoice.total_incentive }}</td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">結果が０件です。</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation float-right">
        {{ knp_pagination_render(listMonthlyInvoice) }}
    </div>
{% endblock %}
