{% extends 'animalline/veqta/frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>検査対象ペット一覧</h1>
            <table class="table table-sm dna-table text-center">
                <thead>
                    <tr class="heading">
                        <th class="border-top-0 pt-2 pb-2">No.</th>
                        <th class="border-top-0 pt-2 pb-2">犬種</th>
                        <th class="border-top-0 pt-2 pb-2">生年月日</th>
                        <th class="border-top-0 pt-2 pb-2">ペット情報登録日時</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dna in dnas %}
                        <tr>
                            <td class="id" data-label="No">{{ dna.dna_id }}</td>
                            <td data-label="犬種">{{ dna.breeds_name ? dna.breeds_name : '_' }}</td>
                            <td data-label="生年月日">{{ dna.pet_birthday ? dna.pet_birthday | date('Y/m/d') : '_' }}</td>
                            <td data-label="ペット情報登録日時">{{ dna.kit_pet_register_date ? dna.kit_pet_register_date | date('Y/m/d H:i') : '_' }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">結果が０件です。</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <div class="navigation float-right">
            {{ knp_pagination_render(dnas) }}
        </div>
        </div>
    </div>
</div>
{% endblock %}