{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <h1>Breeds</h1>
    <br>
    <a href="{{ path('breeds_index') }}">< back to list</a>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ breed.id }}</td>
        </tr>
        <tr>
            <th>Pet_kind</th>
            <td>{{ breed.petKind }}</td>
        </tr>
        <tr>
            <th>Breeds_name</th>
            <td>{{ breed.breedsName }}</td>
        </tr>
        <tr>
            <th>Sort_order</th>
            <td>{{ breed.sortOrder }}</td>
        </tr>
        </tbody>
    </table>
    {{ include('test/breeds/_delete_form.html.twig') }}
{% endblock %}

