{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['benefits', 'benefits_delivery_status'] %}
{% set check_status = {1:'受付', 2:'出荷指示中', 3:'出荷済'} %}
{% set params = app.request.query.all %}

{% block title %}{{ '発送状況管理'|trans }}{% endblock %}
{% block sub_title %}{{ '特典管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form' method="get" action="">
            <div class="c-outsideBlock__contents">
                <div class="row justify-content-start">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col">
                                <label class="col-form-label">サイト種別</label>
                                <select id="site_type" name="site_type" class="form-control">
                                    {% set siteTypes = ['すべて', 'ブリーダー', '保護団体'] %}
                                    {% for key, value in siteTypes %}
                                        <option value="{{ key }}" {{ params.site_type is defined and params.site_type==key
                                        ? 'selected' }}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label class="col-form-label">受付日時</label>
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <input type="datetime-local" id="create_date_from" name="create_date_from"
                                               class="form-control"
                                               value="{{ params.create_date_from is defined ? params.create_date_from : '' }}"/>
                                    </div>
                                    <div class="col-auto text-center">〜</div>
                                    <div class="col">
                                        <input type="datetime-local" id="create_date_to" name="create_date_to"
                                               class="form-control"
                                               value="{{ params.create_date_to is defined ? params.create_date_to : '' }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label class="col-form-label">発送状況</label>
                                <select class="ec-select form-control" name="check_status">
                                    <option value="">選択してください</option>
                                    {% for key, value in check_status %}
                                        <option value="{{ key }}" {{ params.check_status is defined and params.check_status==key
                                        ? 'selected' }}>{{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label class="col-form-label">出荷日</label>
                                <div class="form-row align-items-center">
                                    <div class="col">
                                        <input type="date" id="benefits_shipping_date_from"
                                               name="benefits_shipping_date_from" class="form-control"
                                               value="{{ params.benefits_shipping_date_from is defined ? params.benefits_shipping_date_from : '' }}"/>
                                    </div>
                                    <div class="col-auto text-center">〜</div>
                                    <div class="col">
                                        <input type="date" id="benefits_shipping_date_to"
                                               name="benefits_shipping_date_to"
                                               class="form-control"
                                               value="{{ params.benefits_shipping_date_to is defined ? params.benefits_shipping_date_to : '' }}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-outsideBlock__contents mb-5">
                <button class="btn btn-ec-conversion px-5" type="submit">検索</button>
                <span class="font-weight-bold ml-2">検索結果：{{ benefits.count() }}件が該当しました</span>
            </div>
            {% if(params.check_status is defined and params.check_status ) %}
                <div class="c-outsideBlock__contents mb-5">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold">発送状況:&nbsp;</span>{{ check_status[params.check_status] }}
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="c-outsideBlock__contents mb-5">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold">発送状況:&nbsp;</span>全て
                        </li>
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <form id="form_bulk" method="post" action="">
                    {# <input type="hidden" name="dna-id" value="">
                    <input type="hidden" name="change-status-id" value="">
                    <div class="row justify-content-between mb-2">
                        <div class="col-6">
                            <div id="btn_bulk" class="d-none">
                                <label class="mr-2">一括操作</label>
                                <button class="btn btn-ec-regular mr-2 action-submit">検査キット再請求</button>
                            </div>
                        </div>
                        <div class="col-5 text-right">
                            <div class="d-inline-block mr-2">
                                <div>
                                    <select class="custom-select" onchange="location = this.value;">
                                        {% for i in range(10, 60, 10) %}
                                            <option value="{{ url('admin_dna_examination_status',
                                                params|merge({'item': i})) }}" {{ params.item is defined ?
                                            (params.item==i ? 'selected' ) : (i==50 ? 'selected' ) }}>{{ i }}件
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> #}
                    <div class="card rounded border-0 mb-4 d-block">
                        <div class="card-body p-0">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th class="border-top-0 pt-2 pb-2"></th>
                                    <th class="border-top-0 pt-2 pb-2">ID</th>
                                    <th class="border-top-0 pt-2 pb-2">配送先宛名</th>
                                    <th class="border-top-0 pt-2 pb-2">発送状況</th>
                                    <th class="border-top-0 pt-2 pb-2">受付日時</th>
                                    <th class="border-top-0 pt-2 pb-2 text-nowrap">出荷日</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for benefit in benefits %}
                                    <tr>
                                        <td></td>
                                        <td class="align-middle">{{ benefit.id }}</td>
                                        <td class="align-middle">
                                            {{ benefit.shipping_name ?? '-' }}
                                        </td>
                                        <td class="align-middle">
                                            {{ check_status[benefit.shipping_status] }}
                                        </td>
                                        <td class="align-middle">
                                            {{ benefit.create_date | date('Y/m/d H:i') }}</td>
                                        <td class="align-middle">{{ benefit.benefits_shipping_date is empty ? '_' : benefit.benefits_shipping_date
                                            | date('Y/m/d') }}</td>
                                        {# <td class="align-middle pr-3" colspan="3"> #}
                                        {# <div class="text-right"> #}
                                        {# <div class="px-1 d-inline-block text-center" data-tooltip="true" #}
                                        {# data-placement="top" title="検査キット再送付"> #}
                                        {# <a class="btn btn-ec-actionIcon" {{ #}
                                        {# benefit.checkStatus==constant('Customize\\Config\\AnilineConf::ANILINE_DNA_CHECK_STATUS_SPECIMEN_ABNORMALITY') #}
                                        {# ? 'onclick=change(' ~benefit.id~')' : 'disabled' }}> #}
                                        {# <i class="fa fa-vial fa-lg text-secondary" aria-hidden="true"></i> #}
                                        {# </a> #}
                                        {# </div> #}
                                        {# <div class="px-1 d-inline-block text-center" data-tooltip="true" #}
                                        {# data-placement="top" title="公開ステータス変更"> #}
                                        {# <a class="btn btn-ec-actionIcon" {{ #}
                                        {# benefit.checkStatus==constant('Customize\\Config\\AnilineConf::ANILINE_DNA_CHECK_STATUS_PASSED') #}
                                        {# ? 'onclick=changeStatus(' ~benefit.id~')' : 'disabled' }}> #}
                                        {# <i class="fa fa-eye fa-lg text-secondary" aria-hidden="true"></i> #}
                                        {# </a> #}
                                        {# </div> #}
                                        {# </div> #}
                                        {# </td> #}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="navigation float-right">
                {{ knp_pagination_render(benefits, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
    $(".btn-ec-conversion").on('click', function () {
    setTimeout(function () {
        $('#confirm-modal').modal('hide');
    }, 2000);
});
</script>
{% endblock %}