{{ form_start(form) }}
    {{ form_label(form.user_id, 'User id', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.user_id) }}
    {{ form_errors(form.user_id) }}

    {{ form_label(form.conservation_house_name, 'Conservation house name', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_name) }}
    {{ form_errors(form.conservation_house_name) }}

    {{ form_label(form.owner_name, 'Owner name', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.owner_name) }}
    {{ form_errors(form.owner_name) }}

    {{ form_label(form.owner_kana, 'Owner kana', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.owner_kana) }}
    {{ form_errors(form.owner_kana) }}

    {{ form_label(form.conservation_house_zip, 'Conservation house zip', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_zip) }}
    {{ form_errors(form.conservation_house_zip) }}

    {{ form_label(form.conservation_house_pref, 'Conservation house pref', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_pref) }}
    {{ form_errors(form.conservation_house_pref) }}

    {{ form_label(form.conservation_house_city, 'Conservation house city', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_city) }}
    {{ form_errors(form.conservation_house_city) }}

    {{ form_label(form.conservation_house_address, 'Conservation house address', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_address) }}
    {{ form_errors(form.conservation_house_address) }}

    {{ form_label(form.conservation_house_building, 'Conservation house building', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_building) }}
    {{ form_errors(form.conservation_house_building) }}

    {{ form_label(form.conservation_house_tel, 'Conservation house tel', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_tel) }}
    {{ form_errors(form.conservation_house_tel) }}

    {{ form_label(form.conservation_house_fax, 'Conservation house fax', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_house_fax) }}
    {{ form_errors(form.conservation_house_fax) }}

    {{ form_label(form.homepage_url, 'Homepage url', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.homepage_url) }}
    {{ form_errors(form.homepage_url) }}

    {{ form_label(form.sns_url, 'Sns url', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.sns_url) }}
    {{ form_errors(form.sns_url) }}

    {{ form_label(form.is_active, 'Is active', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.is_active) }}
    {{ form_errors(form.is_active) }}

    {{ form_label(form.examination_status, 'Examination status', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.examination_status) }}
    {{ form_errors(form.examination_status) }}

    {{ form_label(form.regist_reason, 'Regist reason', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.regist_reason) }}
    {{ form_errors(form.regist_reason) }}

    {{ form_label(form.free_comment, 'Free comment', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.free_comment) }}
    {{ form_errors(form.free_comment) }}

    {{ form_label(form.can_publish_count, 'Can publish count', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.can_publish_count) }}
    {{ form_errors(form.can_publish_count) }}

    {{ form_label(form.pet_exercise_env, 'Pet exercise env', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.pet_exercise_env) }}
    {{ form_errors(form.pet_exercise_env) }}

    {{ form_label(form.cage_size, 'Cage size', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.cage_size) }}
    {{ form_errors(form.cage_size) }}

    {{ form_label(form.conservation_exp_year, 'Conservation exp year', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.conservation_exp_year) }}
    {{ form_errors(form.conservation_exp_year) }}

    {{ form_label(form.staff_count_1, 'Staff count 1', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.staff_count_1) }}
    {{ form_errors(form.staff_count_1) }}

    {{ form_label(form.staff_count_2, 'Staff count 2', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.staff_count_2) }}
    {{ form_errors(form.staff_count_2) }}

    {{ form_label(form.staff_count_3, 'Staff count 3', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.staff_count_3) }}
    {{ form_errors(form.staff_count_3) }}

    {{ form_label(form.staff_count_4, 'Staff count 4', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.staff_count_4) }}
    {{ form_errors(form.staff_count_4) }}

    {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

    {{ form_label(form.password, 'Password', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}

    {{ form_label(form.salt, 'Salt', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.salt) }}
    {{ form_errors(form.salt) }}

    {{ form_label(form.secret_key, 'Secret key', { 'label_attr': {'class': 'ec-label' }}) }}
    {{ form_widget(form.secret_key) }}
    {{ form_errors(form.secret_key) }}

<button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}