{% extends 'default_frame.twig' %}

{% set mypageno = 'regular_list' %}
{% set regular_mypage_no = 'regular_shipping' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% set body_class = 'mypage' %}

{% block stylesheet %}
    {{ include('@EccubePaymentLite4/default/Mypage/RegularNav/style.twig') }}
{% endblock stylesheet %}

{% block main %}
    <div class="ec-mypageRole">
        <div class="ec-pageHeader">
            <h1>{{ 'front.mypage.title'|trans }}/{{ 'gmo_epsilon.front.mypage.regular_shipping'|trans }}</h1>
        </div>
        {{ include('Mypage/navi.twig') }}
    </div>
    <div class="ec-mypageRole">
        <div class="ec-navlistRole">
            <ul class="ec-navlistRole__navlist" id="gmoEpsilonRegularNavList">
            </ul>
        </div>
    </div>
    <div class="ec-mypageRole">
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post"
                      action="{{ url('eccube_payment_lite4_mypage_regular_shipping', { id: RegularOrder.id }) }}"
                      novalidate
                      class="h-adr">
                    <div class="ec-editRole">
                        <div class="ec-off1Grid">
                            <div class="ec-off1Grid__cell">
                                <span class="p-country-name" style="display:none;">Japan</span>
                                {{ form_widget(form._token) }}
                                <div class="ec-borderedDefs">
                                    <dl>
                                        <dt>
                                            <label class="ec-label required">お名前</label>
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error'}}">
                                                {{ form_widget(form.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                                {{ form_widget(form.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                                {{ form_errors(form.name.name01) }}
                                                {{ form_errors(form.name.name02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label class="ec-label required">お名前(カナ)</label>
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error'}}">
                                                {{ form_widget(form.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                                {{ form_widget(form.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                                {{ form_errors(form.kana.kana01) }}
                                                {{ form_errors(form.kana.kana02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label class="ec-label" for="shipping_company_name">会社名</label>
                                        </dt>
                                        <dd>
                                            <div class="ec-halfInput{{ has_errors(form.company_name) ? ' error' }}">
                                                {{ form_widget(form.company_name) }}
                                                {{ form_errors(form.company_name) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label class="ec-label required">住所</label>
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}">
                                                <span>{{ 'common.postal_symbol'|trans }}</span>
                                                {{ form_widget(form.postal_code) }}
                                                <div class="ec-zipInputHelp">
                                                    <div class="ec-zipInputHelp__icon">
                                                        <div class="ec-icon">
                                                            <img
                                                                src="{{ asset('assets/icon/question-white.svg') }}"
                                                                alt="" />
                                                        </div>
                                                    </div>
                                                    <a href="https://www.post.japanpost.jp/zipcode/" target="_blank">
                                                        <span>{{ 'common.search_postal_code'|trans }}</span>
                                                    </a>
                                                </div>
                                                {{ form_errors(form.postal_code) }}
                                            </div>
                                            <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                                {{ form_widget(form.address.pref) }}
                                                {{ form_errors(form.address.pref) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                                {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                                {{ form_errors(form.address.addr01) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                                {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                                {{ form_errors(form.address.addr02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label class="ec-label required" for="shipping_phone_number">電話番号</label>
                                            <span class="ec-required">必須</span>
                                        </dt>
                                        <dd>
                                            <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                                {{ form_widget(form.phone_number) }}
                                                {{ form_errors(form.phone_number) }}
                                            </div>
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                        <div class="ec-RegisterRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit" class="ec-blockBtn--cancel">登録する</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}
