{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
      <div class="inner">
            <div class="breeder-column__main_section" id="breeder-column__main_section_dog_new">
              <div class="breeder-column__main_section_title">
                <h3>お気に入り一覧</h3>
              </div>
              <div class="breeder-column__main_section_body">
                <ul>
                    {% for pet in pets %}
                        <li>
                            <a href="{{ url('adoption_pet_detail', {'id': pet.id}) }}">
                            <figure>
                              <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath | default('/noimage_plugin_list.png')) }}"
                            class="card-img-top" alt="Pet-image">
                          　</figure>
                            <h4>{{ pet.getBreedsType().getBreedsName() ?? '' }}</h4>
                            <div class="birthday">{{ pet.petBirthday|date('Y年m月d日') }}生</div>
                            <div class="type"><span>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</span><span>茶色</span></div>
                            <div class="publish">掲載日：2021年09月15日</div>
                            <div class="price">{{ pet.price|number_format(0) }}円（税込）</div>
                            <p>{{ pet.prComment|nl2br }}</p>
                            </a>
                        </li>
                    {% else %}
                        <span class="mb-2">結果が０件です。</span>
                    {% endfor %}
                </ul>
              </div>
              <div class="navigation">
                {{ knp_pagination_render(pets) }}
              </div>
            </div>
      </div>
  </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}