{% set site_type = 'adoption' %}

{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="search-area bg-section rounded-lg">
        <div class="main">
            {% if petKind == constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG') %}
                <nav class="nav nav-pills search-nav m-2 d-none d-sm-flex">
                    <a class="nav-item nav-link active bg-adoption px-5 py-2"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h2 class="text-white px-5">犬を探す</h2>
                    </a>
                    <a class="nav-item nav-link px-5 py-2 border bg-white"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                        <h2 class="color-gray-300 px-5">猫を探す</h2>
                    </a>
                </nav>
                <nav class="nav nav-pills search-nav m-4 d-flex d-sm-none">
                    <a class="nav-item nav-link active bg-adoption px-4 py-4"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h4 class="text-white px-5">犬を探す</h4>
                    </a>
                    <a class="nav-item nav-link px-4 py-4 border bg-white"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                        <h4 class="color-gray-300 px-5">猫を探す</h4>
                    </a>
                </nav>
            {% else %}
                <nav class="nav nav-pills search-nav m-2 d-none d-sm-flex">
                    <a class="nav-item nav-link px-5 py-2 border bg-white"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h2 class="color-gray-300 px-5">犬を探す</h2>
                    </a>
                    <a class="nav-item nav-link active bg-adoption px-5 py-2"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                        <h2 class="text-white px-5">猫を探す</h2>
                    </a>
                </nav>
                <nav class="nav nav-pills search-nav m-4 d-flex d-sm-none">
                    <a class="nav-item nav-link px-4 py-4 border bg-white"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_DOG')}) }}">
                        <h4 class="color-gray-300 px-5">犬を探す</h4>
                    </a>
                    <a class="nav-item nav-link active bg-adoption px-4 py-4"
                       href="{{ url('adoption_top', {'pet_kind': constant('Customize\\Config\\AnilineConf::ANILINE_PET_KIND_CAT')}) }}">
                        <h4 class="text-white px-5">猫を探す</h4>
                    </a>
                </nav>
            {% endif %}
            <div class="m-2 p-2"></div>
            <form action="{{ url('adoption_pet_search_result') }}" method="get">
                <input type="hidden" name="pet_kind" value="{{ petKind }}">

                <div class="row">
                    <div class="col-lg-5 select-container mb-2 mb-sm-none">
                        <select class="form-control bg-primary w-100 p-2 h-15" id="formControlSelect1"
                                name="breed_type">
                            <option value="">犬種</option>
                            {% for breed in breeds %}
                                <option value="{{ breed.id }}">{{ breed.breedsName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3 select-container mb-2 mb-sm-none">
                        <select class="form-control bg-primary w-100 p-2 h-15" id="formControlSelect2" name="gender">
                            <option value="">性別</option>
                            <option value="1">男の子</option>
                            <option value="2">女の子</option>
                        </select>
                    </div>
                    <div class="col-lg-3 select-container">
                        <select class="form-control bg-primary w-100 p-2 h-15" id="formControlSelect3" name="region">
                            <option value="">地域</option>
                            {% for region in regions %}
                                <option value="{{ region.id }}">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    <div class="col-12">
                        <a data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                           aria-controls="collapseExample" class="text-align-center">
                            <h4>詳細検索</h4>
                        </a>
                    </div>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-sm-5 select-container mb-2 mb-sm-none">
                            詳細検索条件１
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-sm-5 select-container mb-2 mb-sm-none">
                            詳細検索条件２
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                </div>
                <div class="m-2 p-2"></div>
                <div class="row">
                    {# <div class="col-4"></div> #}
                    <div class="col-sm-6" style="margin: 0 auto;">
                        <a href="#">
                            <button class="btn basic-btn accent-btn bg-accent text-align-center">検索する</button>
                        </a>
                    </div>
                    {# <div class="col-4"></div> #}
                </div>
            </form>
        </div>
    </div>
    <div class="bg-primary">
        <div class="m-2 p-2"></div>
        <div class="row">
            {% include 'side.twig' %}
            <div class="main-container col-md-9">
                <div class="sub-title d-flex justify-content-between align-items-end">
                    <h2>新着</h2>
                    <a class="d-flex" href="category.html">
                        <h3 class=" color-gray-300">もっと見る</h3>
                        <div class="m-1 p-1"></div>
                        <img src="{{ asset('assets/img/arrow-icon.svg') }}">
                    </a>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    {% for pet in newPets %}
                        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
                            <div class="catalog-card new-band">
                                <a href="{{ url('adoption_pet_detail', {'id': pet.id}) }}">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                         class="card-img-top" alt="...">
                                </a>
                                <div class="card-body bg-white">
                                    <h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                    <div class="m-4"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                                        <h4>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                    </div>
                                    <div class="mb-2"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-3">{{ pet.getConservationId().getConservationHousePref() ?? '' }}</h4>
                                        <h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
                                    </div>
                                    <div class="m-2"></div>
                                    <h4>{{ pet.prComment }}</h4>
                                    <div class="m-2"></div>
                                    <h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4>
                                    <div class="m-4"></div>
                                    <h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        メッセージが見つかりません。
                    {% endfor %}
                </div>
                <div class="m-2 p-2"></div>
                {# <div class="m-4 p-4"></div> #}
                <div class="sub-title d-flex justify-content-between align-items-end">
                    <h2>注目のペット</h2>
                    <a class="d-flex" href="category.html">
                        <h3 class=" color-gray-300">もっと見る</h3>
                        <div class="m-1 p-1"></div>
                        <img src="{{ asset('assets/img/arrow-icon.svg') }}">
                    </a>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    {% for pet in favoritePets %}
                        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
                            <div class="catalog-card">
                                <a href="{{ url('adoption_pet_detail', {'id': pet.id}) }}">
                                    <img src="{{ app.request.schemeAndHttpHost ~ '/' ~ constant('Customize\\Config\\AnilineConf::ANILINE_IMAGE_URL_BASE') ~ (pet.thumbnailPath ?? '/noimage_plugin_list.png') }}"
                                         class="card-img-top" alt="...">
                                </a>
                                <div class="card-body bg-white">
                                    <h3 class="color-gray-500 font-weight-600">{{ pet.getBreedsType().getBreedsName() ?? '' }}</h3>
                                    <div class="m-4"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-2">{{ pet.petBirthday|date('Y年m月d日') }}生</h4>
                                        <h4>{{ pet.petSex == constant('Customize\\Config\\AnilineConf::ANILINE_PET_SEX_MALE') ? '男の子' : '女の子' }}</h4>
                                    </div>
                                    <div class="mb-2"></div>
                                    <div class="d-flex">
                                        <h4 class="mr-3">{{ pet.getConservationId().getConservationHousePref() ?? '' }}</h4>
                                        <h4>{{ pet.getCoatColor().getCoatColorName() ?? '' }}</h4>
                                    </div>
                                    <div class="m-2"></div>
                                    <h4>{{ pet.prComment }}</h4>
                                    <div class="m-2"></div>
                                    <h4>掲載日{{ pet.releaseDate|date('Y年m月d日') }}</h4>
                                    <div class="m-4"></div>
                                    <h3 class="color-gray-500 font-weight-600">{{ pet.price|number_format(0) }}<span>円（税込）</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        メッセージが見つかりません。
                    {% endfor %}
                </div>
                <div class="m-2 p-2"></div>
                {# <div class="m-4 p-4"></div> #}
                <div class="sub-title d-flex justify-content-between align-items-end">
                    <h2>犬種から探す</h2>
                    <a class="d-flex" href="category.html">
                        <h3 class=" color-gray-300">もっと見る</h3>
                        <div class="m-1 p-1"></div>
                        <img src="{{ asset('assets/img/arrow-icon.svg') }}">
                    </a>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">トイプードル</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">チワワ</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">チワワ（ロング）</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">タイニープードル</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">フレンチブルドック</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">ポメラニアン</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">柴犬</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">ミニチュア<br>ダックスフンド</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">ティーカッププードル</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">豆柴</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">フレンチブルドック</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card col-6 col-sm-4 col-md-2 border-0 bg-none">
                        <div class="breed-card">
                            <a href="category.html">
                                <img src="{{ asset('assets/img/blank.png') }}" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body text-align-center">
                                <h4 class="color-gray-500 font-weight-600">ポメラニアン</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-2 p-2"></div>
                {# <div class="m-4 p-4"></div> #}
                <div class="sub-title d-flex justify-content-between align-items-end">
                    <h2>サイズから探す</h2>
                    <a class="d-flex" href="category.html">
                        <h3 class=" color-gray-300">もっと見る</h3>
                        <div class="m-1 p-1"></div>
                        <img src="{{ asset('assets/img/arrow-icon.svg') }}">
                    </a>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                        <a href="category.html">
                            <div class="size-card bg-white">
                                <div class="card-img w-100 text-align-center">
                                    <img src="{{ asset('assets/img/dog-silhouette-xs.svg') }}"
                                         class="d-inline-block  vertical-align-middle">
                                </div>
                                <div class="card-body">
                                    <h4 class="text-align-center font-weight-600 color-gray-500">超小型犬</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                        <a href="category.html">
                            <div class="size-card bg-white">
                                <div class="card-img w-100 text-align-center">
                                    <img src="{{ asset('assets/img/dog-silhouette-s.svg') }}"
                                         class="d-inline-block  vertical-align-middle">
                                </div>
                                <div class="card-body">
                                    <h4 class="text-align-center font-weight-600 color-gray-500">小型犬</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-6 col-md-3 border-0 bg-none mb-4 mb-md-0">
                        <a href="category.html">
                            <div class="size-card bg-white">
                                <div class="card-img w-100 text-align-center">
                                    <img src="{{ asset('assets/img/dog-silhouette-m.svg') }}"
                                         class="d-inline-block  vertical-align-middle">
                                </div>
                                <div class="card-body">
                                    <h4 class="text-align-center font-weight-600 color-gray-500">中型犬</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card col-6 col-md-3 border-0 bg-none">
                        <a href="category.html">
                            <div class="size-card bg-white">
                                <div class="card-img w-100 text-align-center">
                                    <img src="{{ asset('assets/img/dog-silhouette-l.svg') }}"
                                         class="d-inline-block  vertical-align-middle">
                                </div>
                                <div class="card-body">
                                    <h4 class="text-align-center font-weight-600 color-gray-500">大型犬</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="m-3 p-3"></div>
            </div>
        </div>
        {# <div class="m-4 p-4"></div> #}
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}

{% block javascript %}
<script>
    let area = ['Hokkaido', 'Tohoku', 'Kanto', 'Tokai', 'Kosinetsu', 'Kansai', 'Shikoku', 'Chugoku', 'Kyushu'];
    for (let i = 0; i
    < area.length
    ; i++) {
    const area1 = document.getElementById(area[i]);
    area1.addEventListener('mouseover', () => {
    area1.setAttribute('style', 'opacity: 0.5');
})
    area1.addEventListener('mouseleave', () => {
    area1.setAttribute('style', 'opacity: 1');
})
}

    $(function () {
    $("h4:contains('男の子')").css("color", "blue");
    $("h4:contains('女の子')").css("color", "red");
});
</script>
{% endblock %}
    