{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
<div class="page-inner">
    
      <section id="page-mv__adoption_detail" class="page-mv_detail">
          <div class="wrap">
            <div class="text">
              <h2><img src="{{ asset('assets/img/adoption/mv-logo.png') }}" alt="Animalline Adoption"/></h2>
              <p><img src="{{ asset('assets/img/adoption/mv-copy.png') }}" alt="安全・安心のサポート"/></p>
              <ul>
                <li><a href="#content01"><img src="{{ asset('assets/img/adoption/mv-img01.png') }}" alt="社会貢献"/></a></li>
                <li><a href="#content02"><img src="{{ asset('assets/img/adoption/mv-img02.png') }}" alt="保護団体をサポート"/></a></li>
              </ul>
            </div>
          </div>
      </section>
      
      <section id="page-detail-content01">
        <div class="page-detail-content01__title"><h3><img src="{{ asset('assets/img/adoption/title01.png') }}" alt="アニマルラインとは"/></h3>
        </div>
        <div class="page-detail-content01__body">
          <p>アニマルラインは飼い主のいない保護犬猫の里親を探している方と、<br>
            保護犬猫の里親になりたい方をつなぐマッチングサイトです。<br>
            動物保護団体等の皆様を継続的に応援するとともに、<br>
            <strong>保護犬猫と里親様、双方に寄り添うサポート</strong>を実施いたします。</p>
        </div>
      </section>
      
      <section id="page-detail-content02" class="page-detail-content02_adoption">
        <div class="page-detail-content02__body">
          <article id="content01">
            <div class="text">
              <h3 class="color03">社会貢献<small>譲渡のお手伝いを通じ社会貢献に努めます</small></h3>
              <p>動物愛護センター（保健所）や保護団体へ飼い主に持ち込まれたり、捨てられてしまう犬や猫などの動物が毎年多数発生しています。</p>
              <p>動物愛護先進国と呼ばれる欧米などでは、ペットを迎える主な手段は「ブリーダー直販」と「里親としてペットを迎える」という2つの方法です。<br>
              しかし日本では里親としてペットを迎えた方は犬7.4%、猫11.6%とまだまだ主な選択肢ではない状況です。</p>
              <p>年間3.8万匹もの犬猫が家族が見つからず殺処分されているという現状に目を背けず、一頭でも多くの保護犬猫が救われ、社会的な<strong>殺処分問題の解決につなげる</strong>ことを目指します。</p>
              <p>保護犬猫と里親様が<strong>“一生の家族”</strong>として結ばれ、<strong>一頭でも多く温かな家族に導けるようお手伝い</strong>をしていきます。</p>
            </div>
            <figure><img src="{{ asset('assets/img/adoption/adoption-img01.jpg') }}" alt="社会貢献"/></figure>
          </article>
          <article class="rev" id="content02">
            <div class="text">
              <h3 class="color01">保護団体をサポート<small>寄付による保護団体の運営をサポートします</small></h3>
              <p>里親様による商品購入やサービスの利用が、<strong>動物保護活動のサポートにつながるプログラムを導入</strong>しています。<br>
                里親様が<strong>アニマルライン内のECサイトをご利用</strong>いただくと、その<strong>売上の一部を寄付金としてお迎えされた保護団体へお支払い</strong>します。</p>
            </div>
            <figure><img src="{{ asset('assets/img/adoption/adoption-img02.jpg') }}" alt="保護団体をサポート"/></figure>
          </article>
          <div class="image"><img src="{{ asset('assets/img/adoption/adoption-img03.png') }}" alt="アニマルラインのサポート"/></div>
        </div>
      </section>
      
      <div class="page-detail_btn"><a href="{{ url("adoption_top") }}"><i class="bi bi-arrow-right-circle-fill"></i>検索TOPページへ</a></div>

    </div>
    
    <div class="pageback">
      <a href="./"><i class="bi bi-arrow-return-left"></i></a>
    </div>
    <div class="pagetop">
      <a href="#wrapper"><i class="bi bi-arrow-bar-up"></i></a>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/info/page.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}