{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
<div>
    <div class="w-100 position-relative">
        <img src="{{ asset('assets/img/lp-adoption-main-image.png') }}" class="w-100 vh-100 object-fit">
        <div class="main-image-view position-absolute text-white">
            <h1 class="text-white">テキストテキスト</h1>
        </div>
    </div>
    <div class="m-4 p-4"></div>
    <div class="row w-100 position-relative">
    <div class="col-md-8">
        <img src="{{ asset('assets/img/lp-adoption-image-1.png') }}" class="w-100">
    </div>
    <div class="position-absolute absolute-container bg-white p-5 d-md-block d-none">
        <div class="m-2 p-2"></div>
        <h2 class="color-adoption">Animallineの概要・役割</h2>
        <div class="m-2 p-2"></div>
        <h4 class="font-weight-500">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </h4>
        <div class="m-2 p-2"></div>
    </div>
    <div class="col-12 col-md-5 bg-white p-5 d-md-none d-block">
        <h3 class="color-adoption">Animallineの概要・役割</h3>
        <div class="m-2 p-2"></div>
        <h5 class="font-weight-500">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </h5>
    </div>
</div>
<div class="bg-primary">
    <div class="m-4 p-4"></div>
    <div class="row max-w-1200 m-auto">
        <div class="col-sm-5 p-5 d-md-block d-none">
            <div class="p-5">
                <h2 class="color-adoption">社会貢献</h2>
                <div class="m-2 p-2"></div>
                <h4 class="font-weight-500">
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                </h4>
            </div>
        </div>
        <div class="d-md-none d-block m-auto">
            <h2 class="color-adoption">社会貢献</h2>
            <div class="m-4 p-4"></div>
        </div>
        <div class="col-md-7 w-100">
            <img src="{{ asset('assets/img/lp-adoption-image-2.png') }}" class="w-100">
        </div>
        <div class="d-md-none d-block m-auto">
            <div class="m-4 p-4"></div>
            <h4 class="font-weight-500 p-4 text-align-center">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </h4>
        </div>
    </div>
</div>
<div class="row max-w-1200 m-auto">
    <div class="d-md-none d-block m-auto">
        <h2 class="color-adoption">里親に対しての安全・安心感</h2>
        <div class="m-4 p-4"></div>
    </div>
    <div class="col-md-7 w-100">
            <img src="{{ asset('assets/img/lp-adoption-image-2.png') }}" class="w-100">
    </div>
    <div class="col-sm-5 p-5 d-md-block d-none">
        <div class="p-5">
            <h2 class="color-adoption">里親に対しての安全・安心感</h2>
            <div class="m-2 p-2"></div>
            <h4 class="font-weight-500">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </h4>
        </div>
    </div>
    <div class="d-md-none d-block m-auto">
        <div class="m-4 p-4"></div>
        <h4 class="font-weight-500 p-4 text-align-center">
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        </h4>
    </div>
</div>
<div class="bg-primary">
    <div class="row max-w-1200 m-auto">
        <div class="col-sm-3"></div>
        <div class="col-md-6 text-align-center">
            <h2 class="color-adoption">寄付・提供による保護団体の運営サポート</h2>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="m-2 p-2"></div>
    <div class="row max-w-1200 m-auto">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <img src="{{ asset('assets/img/lp-adoption-image-2.png') }}" class="w-100">
    </div>
        <div class="col-md-3"></div>
    </div>
    <div class="m-2 p-2"></div>
    <div class="row max-w-1200 m-auto">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4 class="font-weight-500 text-align-center">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </h4>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
    <div class="row max-w-1200 m-auto">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h4 class="font-weight-500 text-align-center">
                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </h4>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="m-2 p-2"></div>
    <div class="row max-w-1200 m-auto">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-align-center">
            <a href="#"><button class="accent-btn basic-btn">保護犬を探す</button></a>
        </div>
        <div class="col-sm-4"></div>
    </div>
<div class="m-2 p-2"></div>
</body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}