<!doctype html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MV61KYPL0X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MV61KYPL0X');
</script>
<meta charset="UTF-8">
<meta name="description" content="安心・安全のペットライフをご提供します">
<meta name="viewport" content="width=device-width">
<title>アニマルライン | 保護団体新規登録</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" media="all" href="{{ asset('assets/css/reg/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="{{ asset('assets/js/reg/script.js') }}"></script>
</head>

<body id="top">
<div id="mainImg">
	<img src="{{ asset('assets/img/reg/title.png') }}" alt="">
</div>
<div class="imgFull">
	<img src="{{ asset('assets/img/reg/adoption_img01.jpg') }}" alt="" style="margin-top: 2rem">
</div>
<!-- サイト説明 -->
<section id="sec01" class="top_margin_l">
	<div class="SiteDescription">
		アニマルラインは飼い主のいない保護犬猫の里親を探している方と、保護犬猫の里親になりたい方をつなぐ<b>マッチングサイト</b>です。<br /><br />動物保護団体等の皆さまを継続的に応援するとともに、保護犬猫と里親さん、双方に寄り添うサポートを実施致します。
	</div>
	<div class="" style="margin: 3rem 1rem">
		<img src="{{ asset('assets/img/reg/adoption_schema.png') }}" alt="">
	</div>
</section>


<section id="sec01" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/animalline_info_title.png') }}" alt="">
	</div>
	<div class="innerSBlue">
	<h2>ペットと人の絆に　安心・安全を！</h2>
		<p>「保護団体から譲受する」「ブリーダーから登録する」犬猫のペットオーナーになるための２つの異なるラインを、それぞれマッチングさせて運営する新しいプラットフォームです。<br /><br />
		アニマルラインでは犬猫の遺伝病発症リスクの分かる遺伝病ＤＮＡ検査を実施しており、<u>里親希望者から検査依頼があった場合</u>、「里親希望者の費用負担」で譲渡後に検査を行っていただきます。<br />
		疾患のリスクを知ることで最適な飼育・対処法の準備ができ、里親様にもペットにも安心・安全な譲渡を提供します。
		</p>
	</div>
</section>
<section id="sec02" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/adoption_chart.png') }}" alt="">
	</div>
</section>
<!-- // STORY -->
<!-- サイト説明 -->

<section id="sec01"  class="top_margin_xl">
	<img src="{{ asset('assets/img/reg/reg_title.png') }}" alt="">
</section>

<div class="buttonReg" style="margin: 3rem 0 3rem 0">
	<a href="{{url('entry')}}?ReturnPath=adoption_mypage" class="btn btn--brown">新規登録<br />（ペットを掲載する）</a>
</div>

<!-- MESSAGE -->
<section id="sec01">
	<img src="{{ asset('assets/img/reg/section.png') }}" style="margin-top:2rem" alt="">

	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/adoption_toku1.png') }}" alt="">
	</div>
	<div class="innerBorder">
		<p>保護犬猫と里親が<b>“一生の家族”</b>として結ばれ、社会的な<u>殺処分問題を解決につなげること</u>を目指して。<br />
		ペットを伴侶動物（コンパニオン・アニマル）として迎え入れる飼い主の意識をさらに高め、<b>一頭でも多くの温かな家庭に導けるようお手伝い</b>をしていきます。
		</p>
	</div>
	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/adoption_toku2.png') }}" alt="">
	</div>
	<div class="innerBorder">
		<p>譲渡後、犬猫の遺伝病発症リスクが分かる遺伝病ＤＮＡ検査が実施可能です。<br />
		<u>里親希望者が遺伝病ＤＮＡ検査を希望する場合に限り</u>、里親希望者の費用負担で行います。<br />
		<b>●疾患リスクを事前に理解しておくことで、最適な飼育方法や対処法の準備ができます。</b>
		</p>
	</div>
	<div class="buttonS"">
		<a href="{{ url('ani_dna_info') }}" target="_blank"><img src="{{ asset('assets/img/reg/veqta_link.png') }}" alt=""></a>
	</div>
	<div class="titleImg">
		<img src="{{ asset('assets/img/reg/adoption_toku3.png') }}" alt="">
	</div>
	<div class="innerBorder">
		<p>里親さんによる商品購入やサービスの利用が、動物保護活動の<u>サポートにつながるプログラム</u>を導入しています。<br />
		アニマルライン内のＥＣサイトご利用で、その<b>売上の一部を寄付金として保護団体の皆様にお支払い</b>します。
		</p>
	</div>
	
</section>
<!-- // MESSAGE -->

<!-- GALLERY -->
<section id="sec02">
	<header>
		<h2><span>Gallery</span></h2>
	</header>
	<ul id="gallery">
		<li><img src="{{ asset('assets/img/reg/adoption_img02.jpg') }}" width="426" height="418" alt=""></li>
        <li><img src="{{ asset('assets/img/reg/adoption_img03.jpg') }}" width="426" height="418" alt=""></li>
		<li><img src="{{ asset('assets/img/reg/adoption_img04.jpg') }}" width="426" height="418" alt=""></li>
	</ul>
</section>
<!-- // GALLERY -->
<section id="sec02"></section>
<!-- GALLERY -->
<section id="sec02">
	<div class="buttonReg" style="margin: 3rem 0 3rem 0">
		<a href="{{url('entry')}}?ReturnPath=adoption_mypage" class="btn btn--brown">新規登録<br />（ペットを掲載する）</a>
	</div>
</section>
<!-- BRAND --> 


<!-- PROJECT -->
<section id="sec03" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/adoption_site_image.png') }}" alt="">
	</div>
</section>
<section id="sec03" class="top_margin_xl">
	<div class="innerImg">
		<img src="{{ asset('assets/img/reg/adoption_navi.png') }}" alt="">
	</div>
</section>
<!-- // PROJECT -->
<div class="buttonReg">
	<a href="{{url('entry')}}?ReturnPath=adoption_mypage" class="btn btn--brown">新規登録<br />（ペットを掲載する）</a>
</div>
<div class="buttonReg">
	<a href="{{url('adoption_login')}}?ReturnPath=adoption_mypage" class="btn btn--white">ログイン<br />（既に登録している方)</a>
</div>
<!-- COMPANY -->
<section id="mainImg">
	<img src="{{ asset('assets/img/reg/animalline_footer.png') }}" alt="">
</section>

<section id="sec05" style="margin-top: 5rem">
	<header>
		<h2>運営会社</h2>
	</header>
	<div class="companyS">
		<ul class="col2">
			<li>
				<p><a href="https://www.gbjapan.jp" target="_blank">グローバル・ブリッジ・ジャパン株式会社</a></p>
				<p>東京都中野区南台3-37-20</p>
				<p>TEL.03-5316-2125</p>
				<p>FAX.03-3290-1332</p>
				<p>営業時間　9:30～18:30<br>日曜・祝日を除く</p>
				<p><a href="https://www.gbjapan.jp" target="_blank">https://www.gbjapan.jp/</a></p>
			</li>
		</ul>
	</div>
</section>
<!-- // COMPANY -->


<footer id="footer">
	Copyright © 2021 Animalline All Rights Reserved.
</footer>

</body>
</html>
