{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    ダッシュボード<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <div class="sub-title">
                <h1>保護団体名 - 管理ページ</h1>
            </div>
            <div class="m-2 p-2"></div>
            <div class="sub-title d-flex justify-content-between align-items-end">
                <h2>交渉中のお取引</h2>
            </div>
            {% for message in rootMessages %}
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-sm-flex justify-content-between py-3 border adoption-border rounded">
                            <div class="ml-5">
                                <h3>{{ message.Conservation.conservationHouseName ?? '' }}</h3>
                                <h3><a href={{ path('adoption_configration_messages', {'contact_id': message.id}) }}>{{ message.contactTitle }}</a></h3>
                            </div>
                            <h4 class="mr-sm-5 ml-5">返信日時：{{ lastReplies[message.id].format('Y年m月d日 H:i') ?? 'なし。' }}</h4>
                        </div>
                    </div>
                </div>
            {% else %}
                メッセージが見つかりません。
            {% endfor %}
        </div>
    </div>
    <h2 class="py-2">掲載中のペット</h2>
    <a href={{ path('adoption_configuration_pets_new', {'conservation_id': conservation.id}) }} class="btn basic-btn accent-btn bg-accent text-align-center my-1">追加</a>

    <div class="row">
        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
            <div class="catalog-card">
                <a href="http://animalline.local/adoption/configration/pet/edit/1">
                    <img src="/html/template/default/assets/img/thumbnail.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body bg-white">
                    <h3 class="color-gray-500 font-weight-600">柴犬（標準）</h3>
                    <div class="m-4"></div>
                    <div class="d-flex">
                        <h4 class="mr-2">2020年12月25日生</h4>
                        <h4 style="color: red;">女の子</h4>
                    </div>
                    <div class="mb-2"></div>
                    <div class="d-flex">
                        <h4 class="mr-3">埼玉県</h4>
                        <h4>茶色</h4>
                    </div>
                    <div class="m-2"></div>
                    <h4>元気な子です！明るい性格です。</h4>
                    <div class="m-2"></div>
                    <h4>掲載日 2020年00月00日</h4>
                    <div class="m-4"></div>
                    <h3 class="color-gray-500 font-weight-600">200,000<span>円（税込）</span></h3>
                </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
            <div class="catalog-card">
                <a href="http://animalline.local/adoption/configration/pet/edit/1">
                    <img src="/html/template/default/assets/img/thumbnail.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body bg-white">
                    <h3 class="color-gray-500 font-weight-600">柴犬（標準）</h3>
                    <div class="m-4"></div>
                    <div class="d-flex">
                        <h4 class="mr-2">2020年12月25日生</h4>
                        <h4 style="color: red;">女の子</h4>
                    </div>
                    <div class="mb-2"></div>
                    <div class="d-flex">
                        <h4 class="mr-3">埼玉県</h4>
                        <h4>茶色</h4>
                    </div>
                    <div class="m-2"></div>
                    <h4>元気な子です！明るい性格です。</h4>
                    <div class="m-2"></div>
                    <h4>掲載日2020年00月00日</h4>
                    <div class="m-4"></div>
                    <h3 class="color-gray-500 font-weight-600">200,000<span>円（税込）</span></h3>
                </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
            <div class="catalog-card">
                <a href="http://animalline.local/adoption/configration/pet/edit/1">
                    <img src="/html/template/default/assets/img/thumbnail.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body bg-white">
                    <h3 class="color-gray-500 font-weight-600">柴犬（標準）</h3>
                    <div class="m-4"></div>
                    <div class="d-flex">
                        <h4 class="mr-2">2020年12月25日生</h4>
                        <h4 style="color: blue;">男の子</h4>
                    </div>
                    <div class="mb-2"></div>
                    <div class="d-flex">
                        <h4 class="mr-3">埼玉県</h4>
                        <h4>茶色</h4>
                    </div>
                    <div class="m-2"></div>
                    <h4>元気な子です！明るい性格です。</h4>
                    <div class="m-2"></div>
                    <h4>掲載日2020年00月00日</h4>
                    <div class="m-4"></div>
                    <h3 class="color-gray-500 font-weight-600">200,000<span>円（税込）</span></h3>
                </div>
            </div>
        </div>
        <div class="card col-sm-6 col-md-3 border-0 bg-none mb-4">
            <div class="catalog-card">
                <a href="http://animalline.local/adoption/configration/pet/edit/1">
                    <img src="/html/template/default/assets/img/thumbnail.png" class="card-img-top" alt="...">
                </a>
                <div class="card-body bg-white">
                    <h3 class="color-gray-500 font-weight-600">柴犬（標準）</h3>
                    <div class="m-4"></div>
                    <div class="d-flex">
                        <h4 class="mr-2">2020年12月25日生</h4>
                        <h4 style="color: blue;">男の子</h4>
                    </div>
                    <div class="mb-2"></div>
                    <div class="d-flex">
                        <h4 class="mr-3">埼玉県</h4>
                        <h4>茶色</h4>
                    </div>
                    <div class="m-2"></div>
                    <h4>元気な子です！明るい性格です。</h4>
                    <div class="m-2"></div>
                    <h4>掲載日2020年00月00日</h4>
                    <div class="m-4"></div>
                    <h3 class="color-gray-500 font-weight-600">200,000<span>円（税込）</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
