{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    ダッシュボード<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <div class="sub-title">
                <h1>保護団体名 - 管理ページ</h1>
            </div>
            <div class="m-2 p-2"></div>
            <div class="sub-title d-flex justify-content-between align-items-end">
                <h2>交渉中のお取引</h2>
            </div>
            {% for message in rootMessages %}
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-sm-flex justify-content-between py-3 border adoption-border rounded">
                            <div class="ml-5">
                                <h3>{{ message.Conservation.conservationHouseName ?? '' }}</h3>
                                <h3><a href={{ path('adoption_configration_messages', {'contact_id': message.id}) }}>{{ message.contactTitle }}</a></h3>
                            </div>
                            <h4 class="mr-sm-5 ml-5">返信日時：{{ lastReplies[message.id].format('Y年m月d日 H:i') ?? 'なし。' }}</h4>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="text-align-center">メッセージが見つかりません。</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
